<!--
  ~  © 2021. NHN Commerce Corp. All rights reserved.
  ~  NHN Corp. PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  ~
  ~  @author choisohyun
  ~  @since 2021.7.5
  -->

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>비밀번호 변경</title>
    </head>

    <body>
        <header id="header"></header>
        <div id="contents">
            <div class="page_top_area">
                <div class="navi_g">
                    <ul>
                        <li>홈</li>
                        <li>비밀번호 변경</li>
                    </ul>
                </div>
                <div class="sub_top">
                    <div class="sub_top_left">
                        <a id="goBack"></a>
                    </div>
                    <h2><a href="#" class="js_page_reload">비밀번호 변경</a></h2>
                </div>
            </div>
            <main class="sub_content">
                <div class="content_box">
                    <div class="member_pwd_wrap">
                        <div class="my_page_password addPage">
                            <div class="invisible" id="changePasswordTitle">
                                <p class="text_tit">회원님의 쇼핑몰 비밀번호를 변경해 주세요.</p>
                                <p class="text">
                                    정기적인 비밀번호 변경으로 <br />
                                    회원님의 개인정보를 보호해 주세요.
                                </p>
                                <p class="text_caution">
                                    본 화면에서 변경되는 비밀번호는<br />{{mallName}} 에서 별도로 지정한 비밀번호입니다.<br />소셜 로그인 계정의 비밀번호는
                                    변경되지 않습니다.
                                </p>
                            </div>
                            <div class="password_change_input">
                                <input type="hidden" name="mode" id="mode" value="changePassword" aria-required="true" class="valid" />
                                <div class="passwordWrap">
                                    <dl class="pw line">
                                        <dt><label for="oldPassword">현재 비밀번호</label></dt>
                                        <dd><input type="password" name="oldPassword" id="oldPassword" placeholder="현재 비밀번호" /></dd>
                                    </dl>
                                    <dl class="pw new_password">
                                        <dt><label for="password">새 비밀번호</label></dt>
                                        <dd class="member_warning">
                                            <input type="password" name="password" id="password" placeholder="새 비밀번호" data-pattern="password" />
                                            <div class="warning_message"></div>
                                        </dd>
                                    </dl>
                                    <dl class="pw new_password">
                                        <dt><label for="passwordChk">새 비밀번호 확인</label></dt>
                                        <dd class="member_warning">
                                            <input type="password" name="passwordChk" id="passwordChk" placeholder="새 비밀번호 확인" />
                                            <div class="warning_message"></div>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="btn_wrap">
                                <ul>
                                    <li><a href="javascript:void(0);" id="btnLater" class="btn_change_nt">다음에 변경</a></li>
                                    <li><a href="javascript:void(0);" id="btnChange" class="join_ok_btn btn_change">비밀번호 변경</a></li>
                                </ul>
                            </div>
                            <div class="top_wrap">
                                <img src="/assets/img/icon/icon_tip.png" alt="tip" />
                                <span class="txt_tip">• 비밀번호는 영문, 숫자, 특수문자를 모두 조합하여 8자 ~20자로 입력하세요.</span>
                                <span class="txt_tip"
                                    >• 연속적인 숫자나 생일, 전화번호 등 추측하기 쉬운 개인 정보 및 아이디와 비슷한 비밀번호는 사용하지 않는 것을
                                    권합니다.</span
                                >
                                <span class="txt_tip">• 비밀번호 변경 시 이전 사용한 비밀번호와 동일하게 사용 하실 수 없습니다.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <footer id="footer"></footer>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/login/change-password.js"></script>
        <div id="popups-area"></div>
    </body>
</html>
