<!--
  ~  © 2021. NHN Commerce Corp. All rights reserved.
  ~  NHN Corp. PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  ~
  ~  @author choisohyun
  ~  @since 2021.7.5
  -->

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>휴면회원 해제</title>
    </head>

    <body>
        <header id="header"></header>
        <div id="contents" class="visible">
            <div class="page_top_area">
                <div class="navi_g">
                    <ul>
                        <li>홈</li>
                        <li>휴면회원 해제</li>
                    </ul>
                </div>
                <div class="sub_top">
                    <div class="sub_top_left">
                        <a id="goBack"></a>
                    </div>
                    <h2><a href="#" class="js_page_reload">휴면회원 해제</a></h2>
                </div>
            </div>
            <div class="content_box">
                <div class="member_wrap">
                    <!-- 휴면해제 안내 -->
                    <div class="member_cont">
                        <div class="wake_base_box">
                            <div class="wake">
                                <p class="guide">현재 접속하신 계정은 휴면회원으로 전환된 상태입니다.</p>
                                <ul class="wake_date" id="dormantDateInfo">
                                    <li>최초가입일 : {{joinDate}}</li>
                                    <li>최종접속일 : {{lastLoginDate}}</li>
                                    <li>휴면처리일 : {{dormantDate}}</li>
                                </ul>
                                <p class="msg">
                                    ※ 정보통신망법 이용촉진 및 정보보호 등에 관한 법률에 의거하여, 장기간 접속하지 않으신 회원님들의 개인정보가 휴면처리
                                    상태입니다.
                                </p>
                                <div class="btn_box">
                                    <button type="button" class="wake_btn" id="btnNextStep">해지하기</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 휴면해제 완료 -->
                    <div class="member_cont hide" id="completeDormantRelease">
                        <div class="wake_complete_box">
                            <div class="wake_complete">
                                <p class="complete">
                                    정상적으로
                                    <strong>휴면해제</strong>
                                    처리되었습니다.
                                </p>
                            </div>
                            <button type="button" class="wake_btn" id="btnConfirm">확인</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer id="footer"></footer>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/login/dormant.js"></script>
        <div id="popups-area"></div>
    </body>
</html>
