<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>Login</title>
    </head>

    <body>
        <header id="header"></header>
        <div id="contents">
            <main class="sub_content">
                <div class="page_top_area">
                    <div class="navi_g">
                        <ul>
                            <li>홈</li>
                            <li>로그인</li>
                        </ul>
                    </div>
                    <div class="sub_top">
                        <div class="sub_top_left">
                            <a id="goBack"></a>
                        </div>
                        <h2><a href="#" class="js_page_reload">로그인</a></h2>
                    </div>
                </div>

                <div class="login">
                    <div class="login_box">
                        <div class="member_cont">
                            <div class="member_login_box">
                                <div class="login_input_sec">
                                    <dl>
                                        <dt>
                                            <label for="memberId">아이디</label>
                                        </dt>
                                        <dd>
                                            <input type="text" id="memberId" name="member-id" placeholder="아이디" />
                                        </dd>
                                    </dl>
                                    <dl><label for="password"></label><input type="password" id="password" name="member-password" placeholder="비밀번호" /></dl>
                                    <div class="inp_chk">
                                        <input type="checkbox" id="saveId" name="save-id" value="y" />
                                        <label for="saveId" class="">아이디 저장</label>
                                    </div>
                                    <div class="submit">
                                        <button type="button" name="member-login-btn" id="member-login-btn" class="member_login_order_btn">
                                            로그인
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div id="captcha"></div>
                            <!-- //login_box -->
                            <div id="openIdMethod" class="sns_login member_sns_login invisible">
                                {{#each providers}}
                                <a href="#" class="{{provider}} js_btn_{{provider}}_login" data-action="oauth" data-provider="{{provider}}">
                                    {{img url '' '' title}}
                                </a>
                                {{/each}}
                            </div>
                            <ul class="login_find">
                                <li><a href="/pages/join/method.html">회원가입</a></li>
                                <li><a href="/pages/find-id/find-id.html">아이디찾기</a></li>
                                <li><a href="/pages/find-password/find-password.html">비밀번호찾기</a></li>
                            </ul>
                            <!-- //btn_login_box -->
                            <!-- //nonmember_join_box -->
                            <div id="nonMemberOrder" class="guest_order_box invisible">
                                <!-- url?next-url=ordersheetno -->
                                {{#if orderSheetNo}}
                                <p class="guest_txt">
                                    <strong>비회원 주문</strong>
                                </p>
                                <button type="button" class="member_login_order_btn" id="guestOrder">
                                    비회원 주문하기
                                </button>
                                {{else}}
                                <p class="guest_txt">
                                    <strong>비회원 주문조회</strong>
                                </p>
                                {{#if includesPreviousOrder}}
                                <div class="guest_order_search_type" id="guestOrderSearchType">
                                    <button id="normalOrder" class="active" type="button" data-search-type="NORMAL">{{ mallTransferYmd }}이후 주문</button>
                                    <button id="previousOrder" type="button" data-search-type="PREVIOUS">{{ mallTransferYmd }}이전 주문</button>
                                </div>
                                {{/if}}
                                <dl>
                                    <dt><label for="guestOrderNo">주문번호</label></dt>
                                    <dd>
                                        <input type="text" id="guestOrderNo" name="guestOrderNo" placeholder="주문번호" />
                                    </dd>
                                </dl>
                                <dl>
                                    <dt><label for="guestPassword">비밀번호</label></dt>
                                    <dd>
                                        <input type="password" id="guestPassword" name="guestPassword" placeholder="주문 비밀번호 입력" />
                                    </dd>
                                </dl>
                                <button type="button" class="member_login_order_btn" id="btnfindOrdersWithGuest">
                                    주문 조회
                                </button>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <footer id="footer"></footer>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/login/login.js"></script>
        <div id="popups-area"></div>
    </body>
</html>
