<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>주문완료</title>
    </head>
    <body>
        <header id="header"></header>
        <div id="contents">
            <div class="contents_wrap">
                <div class="page_top_area">
                    <div class="navi_g">
                        <ul>
                            <li>홈</li>
                            <li>주문완료</li>
                        </ul>
                    </div>
                    <div class="sub_top">
                        <div class="sub_top_left">
                            <a id="goBack"></a>
                        </div>
                        <h2><a href="/pages/order/order-complete.html">주문완료</a></h2>
                    </div>
                </div>
                <div class="order_end invisible" id="orderInfoTable">
                    <div class="order_end_box">
                        {{#if hasOrderData}}
                        <h2>주문번호 <strong>{{orderNo}}</strong></h2>
                        <div class="tx">
                            <ul>
                                <li>
                                    금액 :
                                    <span class="prc">{{toCurrencyString lastOrderAmount.chargeAmt}}</span>
                                </li>
                                <li>
                                    결제수단 : {{payTypeLabel}}
                                </li>
                                {{#if hasBankInfo}}
                                <li>입금은행 : {{bankInfo.bankName}}</li>
                                <li>입금계좌 : {{bankInfo.account}}</li>
                                <li>예금주명 : {{bankInfo.depositorName}}</li>
                                <li>입금금액 : <span class="prc">{{toCurrencyString bankInfo.bankAmt}}</span></li>
                                <li>입급자명 : {{bankInfo.remitterName}}</li>
                                {{/if}} {{#if hasVirtualInfo}}
                                <li>입금은행 : {{bankInfo.bankName}}</li>
                                <li>가상계좌 : {{bankInfo.account}}</li>
                                <li>예금자명 : {{bankInfo.depositorName}}</li>
                                <li>송금일자 : {{bankInfo.paymentExpirationYmdt}}</li>
                                <li>입금금액 : <span class="prc">{{toCurrencyString bankInfo.bankAmt}}</span></li>
                                {{/if}}
                            </ul>
                        </div>
                        {{else}} {{#if orderNo}}
                        <h2>주문번호 <strong>{{orderNo}}</strong></h2>
                        {{/if}}
                        <p>{{orderEndCompletion.mainMessage}}</p>
                        <p>
                            결제가 정상적으로 이루어지지 않았습니다. 다시 결제 진행을 해주시기 바랍니다. <br />지속적으로 문제가 발생될 경우 관리자에게 문의
                            하시기 바랍니다.
                        </p>
                        {{/if}}
                    </div>
                    {{#if hasBankInfo}}
                    <p class="tx2">
                        <span>
                            <strong>입금 후 구매가 확정됩니다.</strong>
                            <br />입금이 늦어질 경우<br />해당 상품이 품절될 수 있습니다.
                        </span>
                    </p>
                    {{/if}}
                    <ul class="btn_pay_wrap">
                        <li>
                            <a href="/" class="order_home_btn">홈으로 가기</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <footer id="footer"></footer>
        <div id="popups-area"></div>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/order/order-complete.js"></script>
    </body>
</html>
