<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>Order</title>
    </head>

    <body>
        <header id="header"></header>
        <div id="contents">
            <div class="contents_wrap">
                <div class="page_top_area">
                    <div class="navi_g">
                        <ul>
                            <li>홈</li>
                            <li>주문서 작성 / 결제</li>
                        </ul>
                    </div>
                    <div class="sub_top">
                        <div class="sub_top_left">
                            <a id="goBack"></a>
                        </div>
                        <h2><a href="/pages/order/order.html">주문서 작성 / 결제</a></h2>
                    </div>
                </div>

                <div class="order">
                    <div class="pay">
                        <div class="cart_cont_list" id="orderProducts">
                            <div id="orderProductsTable" data-template-id="orderProductsTableTemplate">
                                <script type="text/x-handlebars-template" id="orderProductsTableTemplate">
                                    <button class="js-order_tit order_tit on">주문 상품</button>
                                    <div class='my_goods_box cart_cont_list'>
                                        {{#each deliveryGroups}}
                                        <ul class="my_goods">
                                            {{#each orderProducts}}
                                                <li>
                                                    <div class='info order-goods-layout'>
                                                        <a href="../../pages/product/view.html?productNo={{productNo}}">
                                                        <div>
                                                            <div class='itemhead'>
                                                                <div class="thmb_box">
                                                                    <div class="thmb">
                                                                        {{img imageUrl 0 0 productName 'middle'}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class='itembody'>
                                                                <p class="name">{{safeString productName}}</p>
                                                                <p style="margin-bottom:5px;color:#000;">
                                                                    {{safeString optionTitle}}
                                                                    {{#each optionInputs}}
                                                                        <br />
                                                                        {{safeString inputLabel}}: {{safeString inputValue}}
                                                                    {{/each}}
                                                                </p>
                                                                <p>수량 : {{orderCnt}}</p>
                                                                <div>
                                                                    <strong class="prc">
                                                                        {{toCurrencyString productTotalAmt}}원
                                                                        <del>{{toCurrencyString standardAmt}}원</del>
                                                                    </strong>
                                                                </div>
                                                            </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </li>
                                            {{/each}}
                                        </ul>
                                        <div class="delivery_money">
                                            {{#ifNe deliveryAmt 0}}
                                                <p>
                                                    배송비 {{toCurrencyString deliveryAmt}} 원<br/>
                                                    ({{deliveryPayType}})
                                                </p>
                                            {{else}}
                                                <p>무료</p>
                                            {{/ifNe}}
                                        </div>
                                        {{/each}}
                                </script>
                            </div>
                        </div>

                        <!-- order_view_info -->
                        <div class="order_info invisible" id="orderForm">
                            <div class="order_box">
                                <h2 class="order_tit">주문자 정보</h2>
                                <fieldset>
                                    <legend>주문고객 정보 영역</legend>
                                    <div class="table_box">
                                        <table id="ordererInfo" class="table_style4">
                                            <tbody>
                                                <tr>
                                                    <th scope="row">
                                                        <span class="important">
                                                            주문하시는 분
                                                        </span>
                                                    </th>
                                                    <td>
                                                        <input type="text" name="ordererName" value="{{ordererInfo.ordererName}}" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">
                                                        <span class="important">
                                                            휴대폰번호
                                                        </span>
                                                    </th>
                                                    <td>
                                                        <input
                                                            type="text"
                                                            class="required"
                                                            name="ordererContact1"
                                                            placeholder="-없이 숫자만 입력"
                                                            value="{{ordererInfo.ordererContact1}}"
                                                            maxlength="11"
                                                            inputmode="text"
                                                            data-pattern="notNumber"
                                                        />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">
                                                        전화번호
                                                    </th>
                                                    <td>
                                                        <input
                                                            type="text"
                                                            name="ordererContact2"
                                                            placeholder="-없이 숫자만 입력"
                                                            value="{{ordererInfo.ordererContact2}}"
                                                            inputmode="text"
                                                            maxlength="11"
                                                            data-pattern="notNumber"
                                                        />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">
                                                        <span class="important">
                                                            이메일
                                                        </span>
                                                    </th>
                                                    <td class="member_email">
                                                        <input type="text" name="ordererEmail" value="{{ordererInfo.ordererEmail}}" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">
                                                        주문 메모
                                                    </th>
                                                    <td>
                                                        <input type="text" name="orderMemo" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </fieldset>
                            </div>
                            <!-- 주문자 정보 -->

                            <!-- 비회원 주문자 정보 -->
                            <div id="tempPasswordContainer" class="order_box">
                                {{#ifLogined}}{{else}}
                                <fieldset>
                                    <legend>비회원 주문 비밀번호</legend>
                                </fieldset>
                                <div class="table_box">
                                    <table class="table_style4" id="tempPasswordTable">
                                        <caption>
                                            정보입력
                                        </caption>
                                        <tbody>
                                            <tr>
                                                <td class="noMember_txt" colspan="2">
                                                    <p>비회원주문 조회 시 사용할 비밀번호를 영문/숫자/특수문자 모두 조합하여 8~20자 이내로 입력해주세요.</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    <span class="important">비밀번호 입력</span>
                                                </th>
                                                <td>
                                                    <input
                                                        id="tempPassword"
                                                        type="password"
                                                        name="password"
                                                        maxlength="20"
                                                        placeholder="영문, 숫자, 특수문자 중 3개 이상 조합하여 8~20자 입력"
                                                    />

                                                    <div class="error c_red" id="tempPasswordErrorMessage" style="display: none;">
                                                        영문, 숫자, 특수문자를 3종류 모두 조합하여 8~20자로 입력해주세요.
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    <span class="important">비밀번호확인 입력</span>
                                                </th>
                                                <td>
                                                    <input
                                                        id="tempPasswordConfirm"
                                                        type="password"
                                                        name="passwordConfirm"
                                                        maxlength="20"
                                                        placeholder="비밀번호 한번 더 입력"
                                                    />
                                                    <div class="error c_red" id="tempPasswordConfirmErrorMessage" style="display: none;">
                                                        비밀번호와 비밀번호 확인 값이 일치하지 않습니다.
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                {{/ifLogined}}
                            </div>

                            <!-- 배송 정보 -->
                            <div class="order_box">
                                <h2 class="order_tit">배송정보</h2>

                                <div class="delivery_box" id="shippingInfo">
                                    {{#ifLogined}}
                                    <div class="tab_menu">
                                        <div class="radio_tab">
                                            <div class="item">
                                                <input type="radio" name="shipping" value="default" checked />
                                                <label>기본 배송지</label>
                                            </div>
                                            <div class="item">
                                                <input type="radio" name="shipping" value="shipping-list" />
                                                <label>배송지 목록</label>
                                            </div>
                                            <div class="item">
                                                <input type="radio" name="shipping" value="new" />
                                                <label>신규 배송지</label>
                                            </div>
                                        </div>
                                    </div>
                                    {{/ifLogined}}

                                    <div id="shippingSameCheckContainer" class="member_chk_box1">
                                        <div class="inp_chk">
                                            <input type="checkbox" id="shippingSameCheck" class="require" />
                                            <label for="shippingSameCheck">
                                                주문자 정보와 동일
                                            </label>
                                        </div>
                                    </div>

                                    <div class="table_box">
                                        <table class="table_style4" style="border-top: none;">
                                            <tbody>
                                                <tr>
                                                    <th scope="row">배송지 이름</th>
                                                    <td>
                                                        <input type="text" name="addressName" value="{{addressName}}" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row"><span class="important">받으실분</span></th>
                                                    <td>
                                                        <input type="text" name="receiverName" value="{{receiverName}}" maxlength="20" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row"><span class="important">주소</span></th>
                                                    <td>
                                                        <div class="zipcode_box">
                                                            <div class="zipcode_top">
                                                                <div class="zipcode_num">
                                                                    <input type="text" name="receiverZipCd" readonly="readonly" value="{{receiverZipCd}}" />
                                                                </div>
                                                                <div class="zipcode_btn_box">
                                                                    <button type="button" class="zipcode_btn1 post_search btn_post_search" id="postSearch">
                                                                        주소찾기
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <input type="text" name="receiverAddress" readonly="readonly" value="{{receiverAddress}}" />
                                                            <input type="text" name="receiverDetailAddress" value="{{receiverDetailAddress}}" />
                                                            <input type="hidden" name="receiverJibunAddress" value="{{receiverJibunAddress}}" />
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row"><span class="important">휴대폰번호</span></th>
                                                    <td>
                                                        <input
                                                            type="text"
                                                            name="receiverContact1"
                                                            value="{{receiverContact1}}"
                                                            placeholder="-없이 숫자만 입력"
                                                            inputmode="text"
                                                            data-pattern="notNumber"
                                                            maxlength="11"
                                                        />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">전화번호</th>
                                                    <td>
                                                        <input
                                                            type="text"
                                                            name="receiverContact2"
                                                            value="{{receiverContact2}}"
                                                            placeholder="-없이 숫자만 입력"
                                                            inputmode="text"
                                                            maxlength="11"
                                                            data-pattern="notNumber"
                                                        />
                                                    </td>
                                                </tr>
                                                <!--                                                    {{#if requireCustomsIdNumber}}-->
                                                <tr>
                                                    <th scope="row">
                                                        <span class="important">개인통관고유부호</span>
                                                    </th>
                                                    <td>
                                                        <input
                                                            type="text"
                                                            name="customsIdNumber"
                                                            value="{{customsIdNumber}}"
                                                            maxlength="13"
                                                            data-pattern="customsId"
                                                            placeholder="P로 시작하는 13자리"
                                                        />
                                                        개인통관고유부호 발급
                                                        <a href="https://unipass.customs.go.kr/csp/persIndex.do" target="_blank">바로가기> </a>
                                                    </td>
                                                </tr>
                                                <!--                                                    {{/if}}-->
                                                <!---->
                                                <tr>
                                                    <th scope="row">배송 메모</th>
                                                    <td>
                                                        <input type="text" name="deliveryMemo" />
                                                    </td>
                                                </tr>

                                                <!--{{#ifLogined}}-->
                                                <tr>
                                                    <th scope="row">회원정보 반영</th>
                                                    <td>
                                                        <div class="inp_chk">
                                                            <input type="checkbox" name="updateMember" id="updateMember" />
                                                            <label for="updateMember" class="check_s">배송지의 주소를 회원정보에 반영합니다.</label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <!--{{/ifLogined}}-->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- 배송 정보 -->

                            <!-- 결제 정보 -->
                            <div class="payment_info" id="paymentInfo">
                                <div class="order_box">
                                    <h2 class="order_tit">결제정보</h2>
                                    <fieldset>
                                        <div class="table_box">
                                            <table class="table_style5">
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">상품 금액</th>
                                                        <td>
                                                            <strong class="order_payment_sum format_currency">{{toCurrencyString totalStandardAmt}}</strong>원
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">배송비</th>
                                                        <td><span class="format_currency">{{toCurrencyString deliveryAmt}}</span>원</td>
                                                    </tr>
                                                    <!--{{#if remoteDeliveryAmt}}-->
                                                    <tr>
                                                        <th scope="row">지역별 배송비</th>
                                                        <td><span class="format_currency">{{toCurrencyString remoteDeliveryAmt}}</span>원</td>
                                                    </tr>
                                                    <!--{{/if}}-->
                                                    <!---->
                                                    <tr>
                                                        <th scope="row">할인 및 적립</th>
                                                        <td>
                                                            <div class="pay_benefits">
                                                                <p class="sale">
                                                                    할인 :
                                                                    <strong>
                                                                        (-) <b class="total-member-dc-price">{{toCurrencyString totalDiscountAmt}}원</b>
                                                                    </strong>
                                                                    <br />
                                                                    (즉시할인
                                                                    <span class="member-dc-price">{{toCurrencyString instantDiscount}}원</span>
                                                                    + 상품쿠폰할인
                                                                    <span class="member-dc-price">{{toCurrencyString productCouponAmt}}원</span>
                                                                    + 주문쿠폰 할인
                                                                    <span class="goods-coupon-dc-price">{{toCurrencyString cartCouponAmt}}원</span>
                                                                    )
                                                                </p>
                                                                {{#ifLogined}}{{#unless useAccumulation}}
                                                                <p class="mileage">
                                                                    적립 :
                                                                    <strong>
                                                                        (+)
                                                                        <b class="toal-member-mileage"
                                                                            >{{toCurrencyString accumulationAmtWhenBuyConfirm}}{{accumulationUnit}}</b
                                                                        >
                                                                    </strong>
                                                                </p>
                                                                {{/unless}}{{/ifLogined}}
                                                            </div>
                                                        </td>
                                                    </tr>

                                                    <!--{{#ifLogined}}-->
                                                    <tr>
                                                        <th scope="row">쿠폰 사용</th>
                                                        <td>
                                                            <ul class="benefit_list dn">
                                                                <!--[D] 사용 안할 시 class 에 dn 추가, 사용 시 dn 삭제 -->
                                                            </ul>
                                                            <span class="btn_gray_list"
                                                                ><button type="button" class="btn_open_layer coupon_search_apply_btn" id="btnApplyCoupons">
                                                                    <span>쿠폰 조회 및 적용</span>
                                                                </button></span
                                                            >
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">적립금 사용</th>
                                                        <td>
                                                            <div class="all_money_box">
                                                                <div class="money_left">
                                                                    <input id="accumulation" type="text" name="subPayAmt" value="{{subPayAmt}}" />
                                                                </div>
                                                                <div class="money_right">
                                                                    <button type="button" class="coupon_search_apply_btn" id="useAllAccumulation">
                                                                        전액 사용
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="point_view">
                                                                <p>
                                                                    보유 적립금 :
                                                                    <span>{{toCurrencyString accumulationAmt}}원</span>
                                                                </p>
                                                                <p>
                                                                    사용가능 적립금 :
                                                                    <span>{{toCurrencyString availableMaxAccumulationAmt}}원</span>
                                                                </p>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <!--{{/ifLogined}}-->
                                                </tbody>
                                            </table>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="order_box">
                                    <div class="sum_prc_wrap">
                                        <dl class="sum_prc">
                                            <dt>최종 결제 금액</dt>
                                            <dd class="c_red"><strong>{{toCurrencyString paymentAmt}}</strong>원</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="payment_progress">
                                <div class="how_to_pay">
                                    <div class="js_pay_content">
                                        <div class="order_box">
                                            <div class="payment_progress_list zeroPay" id="paymentProgressList">
                                                <h2 class="order_tit">
                                                    <span>
                                                        <img src="/assets/img/etc/payment_check_on.png" alt="일반결제" class="js_payment_check_general" />
                                                    </span>
                                                    결제 수단 선택
                                                </h2>
                                                <div id="escrow">
                                                    {{#if isEscrow}} ※ 고객님은 안전거래를 위해 현금으로 결제시 저희 쇼핑몰에서 가입한 구매안전서비스인
                                                    이지페이의 구매안전(에스크로)서비스를 이용하실 수 있습니다. {{/if}}
                                                </div>
                                                <ul class="pay_mth" id="payMethodList">
                                                    {{#each payMethods}}
                                                    <li>
                                                        <span class="inp_rdo">
                                                            <input
                                                                type="radio"
                                                                class="paymethods"
                                                                id="paymethod-{{payType}}"
                                                                name="payType"
                                                                value="{{payType}}"
                                                                data-value="{{payType}}"
                                                                data-pg-type="{{pgType}}"
                                                            />
                                                            <label for="paymethod-{{payType}}" class="choice_s">
                                                                {{#ifEq payType 'PAYCO'}}<img src="/assets/img/order/logo_payco_simple_payment.png" />
                                                                {{else}} {{#ifEq payType 'KCP-PAYCO'}}
                                                                <img src="/assets/img/order/logo_payco.png" />
                                                                {{else}} {{#ifEq payType 'NAVER_EASY_PAY'}}
                                                                <img src="/assets/img/order/m_npay.png" />
                                                                {{else}} {{title}} {{/ifEq}} {{/ifEq}} {{/ifEq}}
                                                            </label>
                                                        </span>
                                                    </li>
                                                    {{else}}
                                                    <div style="text-align: center; width: 100%;">
                                                        결제 가능한 수단이 존재하지 않습니다.
                                                    </div>
                                                    {{/each}}
                                                </ul>

                                                <div class="order_box" id="accountDetailInfo" style="display: none;">
                                                    <h2 class="order_tit">
                                                        (무통장 입금의 경우 입금확인 후부터 배송단계가 진행됩니다.)
                                                    </h2>

                                                    <table class="table_style4">
                                                        <tbody>
                                                            <tr>
                                                                <th scope="row">입금자명</th>
                                                                <td>
                                                                    <input type="text" name="remitter" maxlength="30" />
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">계좌번호</th>
                                                                <td>
                                                                    <span class="inp_sel">
                                                                        <select name="bankAccount">
                                                                            {{#each accountBankList}}
                                                                            <option
                                                                                value="{{bankAccount}}"
                                                                                data-bank-code="{{bankCode}}"
                                                                                data-bank-depositor-name="{{bankDepositorName}}"
                                                                                >{{bankName}} {{bankAccount}} {{bankDepositorName}}</option
                                                                            >
                                                                            {{/each}}
                                                                        </select>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <!-- payment_final -->
                                            <div class="order_box join_agreement" id="paymentFinal">
                                                <h2 class="order_tit">약관동의</h2>

                                                <div class="payment_final_check privacy_big_box" id="termsChecks">
                                                    {{#each agreementList}} {{#if required}} {{#if used}} {{#ifEq key 'TRANSFER_AGREE'}}{{#if
                                                    ../deliveryInternational}}
                                                    <div class="privacy_box">
                                                        <dl>
                                                            <dt>
                                                                <span class="inp_chk">
                                                                    <input
                                                                        type="checkbox"
                                                                        id="agreeCheckbox-{{key}}"
                                                                        data-term-id="{{key}}"
                                                                        name="agreeCheckbox"
                                                                        value="{{key}}"
                                                                        class="{{#if required}}require{{else}}option{{/if}}"
                                                                    />
                                                                    <label for="agreeCheckbox-{{key}}" class="check_s">
                                                                        <em><b>{{#if required}}[필수]{{else}}[선택]{{/if}}</b> {{label}}</em>
                                                                    </label>
                                                                </span>
                                                            </dt>
                                                            <dd>
                                                                {{#if contents}}
                                                                <span class="agreement_detail" data-term-id="{{key}}">보기 &gt;</span>
                                                                {{/if}}
                                                            </dd>
                                                        </dl>
                                                    </div>
                                                    <br />
                                                    {{/if}}{{else}}
                                                    <div class="privacy_box">
                                                        <dl>
                                                            <dt>
                                                                <span class="inp_chk">
                                                                    <input
                                                                        type="checkbox"
                                                                        id="agreeCheckbox-{{key}}"
                                                                        data-term-id="{{key}}"
                                                                        name="agreeCheckbox"
                                                                        value="{{key}}"
                                                                        class="{{#if required}}require{{else}}option{{/if}}"
                                                                    />
                                                                    <label for="agreeCheckbox-{{key}}" class="check_s">
                                                                        <em><b>{{#if required}}[필수]{{else}}[선택]{{/if}}</b> {{label}}</em>
                                                                    </label>
                                                                </span>
                                                            </dt>
                                                            <dd>
                                                                {{#if contents}}
                                                                <span class="agreement_detail" data-term-id="{{key}}">보기 &gt;</span>
                                                                {{/if}}
                                                            </dd>
                                                        </dl>
                                                    </div>
                                                    <br />{{/ifEq}} {{/if}} {{/if}} {{/each}}
                                                    <div class="form_element">
                                                        <input
                                                            type="checkbox"
                                                            id="agreeCheckbox-ORDER_DEFAULT"
                                                            data-term-id="ORDER_DEFAULT"
                                                            name="agreeCheckbox"
                                                            value="ORDER_DEFAULT"
                                                            class="require"
                                                        />
                                                        <label for="agreeCheckbox-ORDER_DEFAULT" class="check_s"
                                                            ><em><b>[필수]</b> 구매하실 상품의 결제정보를 확인하였으며, 구매진행에 동의합니다.</em></label
                                                        >
                                                    </div>
                                                    <br />
                                                    {{#each agreementList}}{{#unless required}} {{#if used}}
                                                    <div class="form_element inp_chk">
                                                        <input
                                                            type="checkbox"
                                                            id="agreeCheckbox-{{key}}"
                                                            data-term-id="{{key}}"
                                                            name="agreeCheckbox"
                                                            value="{{key}}"
                                                            class="{{#if required}}require{{else}}option{{/if}}"
                                                        />
                                                        <label for="agreeCheckbox-{{key}}" class="check_s"
                                                            ><em><b>{{#if required}}[필수]{{else}}[선택]{{/if}}</b> {{label}}</em></label
                                                        >
                                                        {{#if contents}}
                                                        <span class="agreement_detail" data-term-id="{{key}}">보기 &gt;</span>
                                                        {{/if}}
                                                    </div>
                                                    <br />
                                                    {{/if}} {{/unless}} {{/each}}
                                                </div>
                                                <div class="btn_pay_wrap">
                                                    <button class="order_payment_btn" id="orderBuy">
                                                        <em>결제하기</em>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer id="footer"></footer>
        <div id="popups-area"></div>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/order/order.js"></script>
    </body>
</html>
