<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>비밀번호 찾기</title>
    </head>

    <body>
        <header id="header"></header>
        <div id="contents">
            <main class="sub_content">
                <div class="page_top_area">
                    <div class="navi_g">
                        <ul>
                            <li>홈</li>
                            <li>로그인</li>
                            <li>비밀번호 찾기</li>
                        </ul>
                    </div>
                    <div class="sub_top">
                        <div class="sub_top_left">
                            <a id="goBack"></a>
                        </div>
                        <h2><a href="/pages/find-password/find-password.html" class="js_page_reload">비밀번호 찾기</a></h2>
                    </div>
                </div>

                <!-- 1단계: 아이디 입력 -->
                <div id="userIdForm" class="find_password">
                    <p class="find_txt">
                        <strong>비밀번호를 분실하셨나요?</strong>
                        아이디를 입력해주세요.
                    </p>

                    <dl>
                        <dd>
                            <input type="text" id="memberId" name="memberId" placeholder="아이디" />
                            <div class="warning_message"></div>
                        </dd>
                    </dl>

                    <span class="notice_txt">아이디를 모르시나요? <a href="/pages/find-id/find-id.html" class="find_id_btn1">아이디 찾기</a></span>

                    <div class="pwsubmit">
                        <button type="button" id="btnMemberCertify" class="find_password_btn">다음</button>
                    </div>
                </div>

                <!-- 2단계: 인증수단 선택 -->
                <div id="userCertification" class="user_certification hide">
                    <p class="find_txt">
                        <strong>인증수단 선택</strong>
                        본인인증 방법을 선택해 주세요.<br />
                        가입 시 등록한 정보로 인증번호가 발송됩니다.
                    </p>

                    {{#if isCertification}}
                    <div>
                        {{#ifNe email ""}}
                        <div class="inp_tx">
                            <span class="inp_rdo">
                                <input type="radio" id="authEmail" name="authType" value="EMAIL" checked />
                                <label class="choice" for="authEmail">등록된 이메일로 찾기</label>
                            </span>
                        </div>
                        {{/ifNe}} {{#ifNe mobileNo ""}}
                        <div class="inp_tx">
                            <span class="inp_rdo">
                                <input type="radio" id="authSms" name="authType" value="SMS" />
                                <label class="choice" for="authSms">등록된 휴대폰번호로 찾기</label>
                            </span>
                        </div>
                        {{/ifNe}} {{#if isAuthPhoneConfig}}
                        <div class="inp_tx">
                            <span class="inp_rdo">
                                <input type="radio" id="authPhone" name="authType" value="MOBILE" />
                                <label class="choice" for="authPhone">본인인증하여 찾기</label>
                            </span>
                        </div>
                        {{/if}}
                    </div>
                    {{else}}
                    <div>
                        인증 가능한 수단이 존재하지 않습니다. <br />
                        비밀번호 찾기는 고객센터로 문의해주세요
                    </div>
                    {{/if}}

                    <div class="pwsubmit">
                        <a href="#" id="btnMemberCertifyConfirm" class="find_password_btn">다음</a>
                    </div>
                </div>

                <!-- 3단계: 인증번호 입력 -->
                <div id="userCertificationConfirm" class="user_certification_confirm hide">
                    <p class="find_txt">
                        <strong>인증번호 입력</strong>
                        수신된 {{authTypeText}}의 인증번호를 입력해 주세요.
                    </p>

                    <div class="inp_tx">
                        <input type="text" id="inputCertify" name="inputCertify" placeholder="인증번호 입력" />
                        <p class="fc_red" style="margin-top: 5px;">유효시간 <span class="timer"></span></p>

                        <div id="guideMsg" class="hide">
                            <p class="notice_text">
                                인증번호가 도착하지 않았나요?
                                <a href="#" class="btnAgain" id="btnCertifyAgain">인증번호 다시받기</a>
                            </p>
                        </div>
                        <div id="captcha"></div>
                    </div>

                    <div class="find_password_box">
                        <div class="btn_center_box" style="display: flex; justify-content: space-between;">
                            <button type="button" id="btnCancel" class="pw_find_confirm_btn" style="width: 49%; background-color: #fff; color: #111;">
                                이전
                            </button>
                            <button type="submit" id="btnPasswordReset" class="pw_find_confirm_btn" style="width: 49%;">확인</button>
                        </div>
                    </div>
                </div>

                <!-- 4단계: 비밀번호 변경 -->
                <div class="find_password_reset hide" id="userPasswordChange">
                    <p class="find_txt">
                        <strong>비밀번호 변경</strong>
                        새로운 비밀번호를 등록해 주세요.
                    </p>
                    <div id="passwordForm">
                        <div class="inp_tx">
                            <input
                                type="password"
                                id="password"
                                name="password"
                                class="require"
                                autocomplete="new-password"
                                minlength="8"
                                maxlength="20"
                                data-pattern="password"
                                placeholder="영문,숫자,특수문자 모두 조합 8~20자"
                            />
                            <div class="warning_message"></div>
                        </div>
                        <div class="inp_tx">
                            <input
                                type="password"
                                id="passwordChk"
                                name="passwordChk"
                                class="require"
                                autocomplete="off"
                                minlength="8"
                                maxlength="20"
                                placeholder="새 비밀번호 확인"
                            />
                            <div class="warning_message"></div>
                        </div>
                    </div>
                    <button class="pw_find_confirm_btn" type="button" id="btnChangePassword">확인</button>
                </div>

                <!-- 5단계: 완료 -->
                <div class="find_password_complete hide" id="completeFindPassword">
                    <div class="find_password_complete_box">
                        <p class="tit">비밀번호가 정상적으로 변경되었습니다.</p>
                        <a href="/pages/login/login.html" id="goLogin" class="login_ok_btn">로그인</a>
                    </div>
                </div>
            </main>
        </div>
        <footer id="footer"></footer>
        <script src="/js/pages/find-password/find-password.js"></script>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <div id="popups-area"></div>
    </body>
</html>
