<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>아이디 찾기</title>
    </head>

    <body>
        <header id="header"></header>
        <div id="contents">
            <main class="sub_content">
                <div class="page_top_area">
                    <div class="navi_g">
                        <ul>
                            <li>홈</li>
                            <li>로그인</li>
                            <li>아이디 찾기</li>
                        </ul>
                    </div>
                    <div class="sub_top">
                        <div class="sub_top_left">
                            <a id="goBack"></a>
                        </div>
                        <h2><a href="/pages/find-id/find-id.html" class="js_page_reload">아이디 찾기</a></h2>
                    </div>
                </div>
                <div id="findIdBox" class="find_wrap invisible">
                    <div class="find_id">
                        <p class="find_txt">
                            <strong>아이디를 분실하셨나요?</strong>
                            이름과 가입 시 이메일 또는 휴대폰번호를 입력해주세요.
                        </p>

                        <div class="find_id_sec">
                            <div class="form_element">
                                <span class="inp_rdo">
                                    <input type="radio" id="findIdEmail" name="findIdFl" value="email" data-find-type="EMAIL" checked />
                                    <label for="findIdEmail" class="choice_s">이메일</label>
                                    <input type="radio" id="findIdPhone" name="findIdFl" value="mobileNo" data-find-type="SMS" />
                                    <label for="findIdPhone" class="choice_s">휴대폰번호</label>
                                    {{#if isAuthPhoneConfig}}
                                    <input type="radio" id="findIdCertify" name="findIdFl" value="certify" data-find-type="MOBILE" />
                                    <label for="findIdCertify" class="choice_s">본인인증</label>
                                    {{/if}}
                                </span>
                            </div>
                            <dl>
                                <dd>
                                    <input type="text" id="userName" name="userName" placeholder="이름" />
                                </dd>
                            </dl>
                            <dl>
                                <dd>
                                    <div id="email" class="find_email">
                                        <input type="text" id="userId" name="email" placeholder="가입 메일주소" />
                                        <span>@</span>
                                        <input type="text" id="userDomain" name="email" />
                                    </div>
                                    <input
                                        type="text"
                                        style="display: none;"
                                        id="userCellPhoneNum"
                                        name="userCellPhoneNum"
                                        placeholder="가입 휴대폰번호"
                                        maxlength="12"
                                        data-pattern="notNumber"
                                    />
                                </dd>
                            </dl>
                            <dl>
                                <dd>
                                    {{#if isAuthPhoneConfig}}
                                    <a href="#" id="btnAuthKCP" class="btnAuthKCP" style="display: none;">휴대폰 본인인증</a>
                                    {{/if}}
                                </dd>
                            </dl>
                        </div>

                        <p class="hide error" id="cautionMsg"></p>

                        <button type="submit" class="find_id_btn" id="btnFindId">
                            아이디 찾기
                        </button>
                    </div>
                </div>
                <div id="resultBox" class="find_id hide">
                    <div class="find_id_msg" id="findCompleteBox"></div>
                    <a href="/pages/login/login.html" class="find_id_btn btn_login">로그인</a>
                </div>
            </main>
        </div>
        <footer id="footer"></footer>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/find-id/find-id.js"></script>
        <div id="popups-area"></div>
    </body>
</html>
