<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script src="/js/core/shopby.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <title>쿠폰</title>
    </head>
    <body>
        <header id="header"></header>

        <div id="contents">
            <main class="sub_content">
                <div class="content_box">
                    <div class="page_top_area">
                        <div class="sub_top">
                            <div class="sub_top_left">
                                <a id="goBack"></a>
                            </div>
                            <h2><a href="#" class="js_page_reload">쿠폰</a></h2>
                        </div>
                    </div>
                </div>

                <div class="content">
                    <div class="coupon">
                        <h3>쿠폰 등록</h3>
                        <div class="my_coupon">
                            <div class="add_copuon_box">
                                <div class="inp_tx">
                                    <input type="hidden" name="mode" value="couponOfflineRegist" />
                                    <input type="text" maxlength="20" id="couponNumber" placeholder="프로모션 코드를 입력하세요." required />
                                </div>
                                <div class="btn"><button id="addCoupon" class="coupon_ok_btn">등록하기</button></div>
                            </div>
                        </div>

                        <h3>쿠폰 내역</h3>
                        <div class="mypage_lately_info">
                            <div class="mypage_table_type order_list">
                                <div class="mypage_breakdown_tab">
                                    <div class="tab_menu">
                                        <ul id="couponTabMenu"></ul>
                                    </div>
                                </div>
                                <script id="coupons" type="text/x-handlebars-template">
                                    <ul class='coupon_bx'>
                                        {{#each this}}
                                            <li class='coupon-li'>
                                                <dl>
                                                    <dt>
                                                        <span class='elp'>
                                                            {{#if unusableReason}}
                                                                [{{unusableReason}}]
                                                            {{/if}}{{couponName}}
                                                        </span>
                                                    </dt>
                                                    <dd class='amount_type'>
                                                        {{#if discountAmt}}
                                                            {{toCurrencyString discountAmt}}원
                                                        {{/if}}
                                                        {{#if discountRate}}
                                                            {{discountRate}}%
                                                        {{/if}}
                                                        {{#ifEq couponType 'PRODUCT'}}
                                                            상품
                                                        {{/ifEq}}

                                                        {{#ifEq couponType 'CART'}}
                                                            주문
                                                        {{/ifEq}}
                                                        쿠폰
                                                    </dd>
                                                    {{#if used}}
                                                        <dd class='limit'>
                                                            <strong>
                                                                사용일자
                                                            </strong>{{useYmdt}}
                                                        </dd>
                                                    {{else}}
                                                        <dd class='limit'>
                                                            <strong>
                                                                만료일자
                                                            </strong>{{useEndYmdt}}
                                                        </dd>
                                                    {{/if}}
                                                    <dd>
                                                        <strong>
                                                            발급일자
                                                        </strong>{{issueYmdt}}
                                                    </dd>
                                                    <dd>
                                                        <a
                                                            href="#lyUseCase{{couponIssueNo}}"
                                                            class='detail'
                                                            style='display:inline-block;'
                                                            data-coupon-target-type="{{couponTargetType}}"
                                                            data-coupon-no="{{couponNo}}"
                                                            data-coupon-issue-no="{{couponIssueNo}}"
                                                            data-id='couponDetailToggle'
                                                        >
                                                            사용/제한조건
                                                        </a>
                                                    </dd>
                                                </dl>
                                                <div id="detail{{couponNo}}"></div>
                                            </li>
                                        {{else}}
                                            <li>
                                                <p class='no_data'>
                                                    발급된 쿠폰 내역이 없습니다.
                                                </p>
                                            </li>
                                        {{/each}}
                                    </ul>
                                </script>
                            </div>
                            <div id="btnMoreCoupons"></div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <footer id="footer"></footer>
        <div id="popups-area"></div>
        <script id="coupon-detail" type="text/x-handlebars-template">
            <div id="lyUseCase{{couponIssueNo}}" class='ly_pop ly_effect_3' data-id='couponDetailContent'>
                <div class='layer_option'>
                    <div class='ly_ct'>
                        <div class='ly_head'>
                            <h1 class='h_tit'>
                                사용/제한 조건
                            </h1>
                        </div>
                        <div class='ly_ct'>
                            <div class='view_box'>
                                <dl>
                                    <dt>
                                        사용 가능 플랫폼
                                    </dt>
                                    <dd>
                                        {{platform}}
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        최소 기준금액
                                    </dt>
                                    <dd>
                                        {{toCurrencyString minSalePrice}}원 이상 구매 시 사용 가능
                                    </dd>
                                </dl>
                                {{#ifEq fixedAmt false}}
                                    <dl>
                                        <dt>
                                            최대 할인금액
                                        </dt>
                                        <dd>
                                            최대 {{toCurrencyString maxDiscountAmt}}원 할인
                                        </dd>
                                    </dl>
                                {{/ifEq}}
                                {{#if availableCategories}}
                                    <dl>
                                        <dt>
                                            사용가능 카테고리
                                        </dt>
                                        {{#each couponTargets}}
                                            <dd>
                                                {{this}}
                                            </dd>
                                        {{/each}}
                                    </dl>
                                {{/if}}
                                {{#if availableProducts}}
                                    <dl>
                                        <dt>
                                            사용가능 상품
                                        </dt>
                                        <dd>
                                            {{safeString availableProducts}}
                                        </dd>
                                    </dl>
                                {{/if}}
                                {{#if memberGradeNames}}
                                    <dl>
                                        <dt>
                                            사용가능 회원등급
                                        </dt>
                                        <dd>
                                            {{memberGradeNames}}
                                        </dd>
                                    </dl>
                                {{/if}}
                                {{#if unusableProduct}}
                                    <dl>
                                        <dt>
                                            사용불가 상품
                                        </dt>
                                        <dd>
                                            {{safeString unusableProduct}}
                                        </dd>
                                    </dl>
                                {{/if}}
                                {{#if isLimit}}
                                    <dl>
                                        <dt>
                                            사용 시 혜택 제한
                                        </dt>
                                        {{#if skipsAccumulation}}
                                            <dd>
                                                적립금 적립 불가
                                            </dd>
                                        {{/if}}
                                        {{#unless cartCouponUsable}}
                                            <dd>
                                                {{limitCouponTypeLabel}} 쿠폰 사용 불가
                                            </dd>
                                        {{/unless}}
                                        {{#unless productCouponUsable}}
                                            <dd>
                                                {{limitCouponTypeLabel}} 쿠폰 사용 불가
                                            </dd>
                                        {{/unless}}
                                    </dl>
                                {{/if}}
                            </div>
                        </div>
                        <div class='close_btn'>
                            <button type='button' class='lys_close_btn ly_btn_close' data-id='couponDetailHide'>
                                닫기
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </script>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/my/coupons.js"></script>
    </body>
</html>
