<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <link type="text/css" rel="stylesheet" href="/lib/date-picker/tui-date-picker.css" />
        <script src="/lib/date-picker/tui-date-picker.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>1:1 문의</title>
    </head>

    <body>
        <header id="header"></header>
        <div id="contents">
            <main class="sub_content">
                <div class="content_box">
                    <div class="page_top_area">
                        <div class="sub_top">
                            <div class="sub_top_left">
                                <a id="goBack"></a>
                            </div>
                            <h2><a href="#" id="inquiriesName" class="invisible">{{name}}</a></h2>
                            <div class="sub_top_right">
                                <a href="/pages/my/inquiries.html" class="btn_board_list">목록</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content">
                    <div class="board_zone_cont invisible" id="inquiryDetail">
                        <div class="board_zone_view">
                            <div>
                                <div class="view_qa">
                                    <div class="goods_area">
                                        <h3>
                                            {{inquiryTitle}}
                                        </h3>
                                        <div id="boardContent" class="view_wrap">
                                            <div class="view_box">
                                                <div class="view_info_box">
                                                    <div class="view_info wirte_area">
                                                        <span class="writer">{{issuerName}}</span>
                                                        <span class="date">{{registerYmdt}}</span>
                                                    </div>
                                                    <div class="view_info">
                                                        <span class="qa_type_tit">문의유형</span>
                                                        <span class="qa_type">{{inquiryType.inquiryTypeName}}</span>
                                                    </div>
                                                </div>

                                                <div class="view_body">
                                                    <div class="contents_holder">{{{inquiryContent}}}</div>
                                                </div>
                                            </div>
                                            <div class="add_file_area">
                                                <ul>
                                                    {{#each imageUrls}}
                                                    <li class="vis_mode">
                                                        <div>
                                                            {{img this '' '' '첨부파일'}}
                                                            <span class="zoom"><img src="/assets/img/icon/icon_view_add_file.png" alt="보기" /></span>
                                                        </div>
                                                    </li>
                                                    {{/each}}
                                                </ul>
                                            </div>
                                            {{#if answer}}
                                            <div class="question">
                                                <div class="a">
                                                    <strong class="item">A.</strong>
                                                    <div class="admin_info">
                                                        <div class="info">
                                                            <strong>관리자<span>{{answer.answerRegisterYmdt}}</span></strong>
                                                        </div>
                                                        <div>
                                                            {{{answer.answerContent}}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {{/if}} {{#ifEq answer null}}
                                            <div class="btn_wish_bx">
                                                <ul class="btn_bx">
                                                    <li><button type="button" class="write_cancel_btn" data-type="delete">삭 제</button></li>
                                                    <li><button type="submit" class="write_save_btn" data-type="edit">수 정</button></li>
                                                </ul>
                                            </div>
                                            {{/ifEq}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <footer id="footer"></footer>
        <div id="popups-area"></div>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/my/components/mypage-components.js"></script>
        <script src="/js/pages/my/inquiry.js"></script>
    </body>
</html>
