<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <link type="text/css" rel="stylesheet" href="/lib/date-picker/tui-date-picker.css" />
        <script src="/lib/date-picker/tui-date-picker.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>1:1 문의 리스트</title>
    </head>

    <body>
        <header id="header"></header>
        <div id="contents">
            <main class="sub_content">
                <div class="content_box">
                    <div class="page_top_area">
                        <div class="sub_top">
                            <div class="sub_top_left">
                                <a id="goBack"></a>
                            </div>
                            <h2><a href="#" id="inquiriesName">{{name}}</a></h2>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="list_qa">
                        <div id="boardlist" class="boardlist">
                            <a href="#" id="btnWrite" class="board_btn btn_write">1:1 문의하기</a>
                            <div class="board_search">
                                <input type="hidden" name="searchType" value="ALL" />
                                <div class="search_input">
                                    <input type="search" name="keyword" id="inquiryKeyword" value="" placeholder="검색어를 입력해 주세요." />
                                </div>
                                <div class="search_btn"><button type="button" class="board_search_btn">검 색</button></div>
                            </div>

                            <div class="goods_area">
                                <div>
                                    <script id="myInquiries" type="text/x-handlebars-template">
                                        <ul class="notice_list">
                                        {{#each items}}
                                            <li data-product-no="{{productNo}}" data-inquiry-no="{{inquiryNo}}" data-product-name="{{productName}}">
                                                <a href="/pages/my/inquiry.html?inquiryNo={{inquiryNo}}">
                                                <div class="board_qa_noimg">
                                                    <div class="notice_img">
                                                        {{img (getFirstImageWithDefault imageUrls) '' '' (getFirstImageWithDefault originalImageUrls) '' 'width:100%;height:auto;' }}
                                                    </div>
                                                    <div>
                                                        <div class="notice_title">
                                                          <span class="text">
                                                              <img src="/assets/img/icon/icon_board_secret.png" alt='비밀글'>
                                                              [{{inquiryType.inquiryTypeName}}]{{inquiryTitle}}
                                                            {{badge 'new' registerYmdt}}
                                                            {{badge 'hot' viewCount}}
                                                          </span>
                                                        </div>
                                                        <div class="notice_bottom">
                                                          <span class="notice_data">
                                                            <span>{{issuerName}}</span><time>{{substring registerYmdt 0 10}}</time>
                                                          </span>
                                                        </div>
                                                        <div class="notice_info">
                                                            <span class="{{#ifEq inquiryStatus "ANSWERED"}}reply_complete{{/ifEq}}">{{#ifEq inquiryStatus "ANSWERED"}}답변완료{{else}}답변대기{{/ifEq}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                </a>
                                            </li>
                                        {{else}}
                                            <li>
                                                <div class="no_list">게시글이 존재하지않습니다.</div>
                                            </li>
                                        {{/each}}
                                        </ul>
                                    </script>
                                </div>
                                <div id="btnMoreMyInquiries"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <footer id="footer"></footer>
        <div id="popups-area"></div>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/my/components/mypage-components.js"></script>
        <script src="/js/pages/my/inquiries.js"></script>
    </body>
</html>
