<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>적립금 조회</title>
    </head>
    <body>
        <header id="header"></header>

        <div id="contents">
            <main class="sub_content">
                <div class="content_box">
                    <div class="page_top_area">
                        <div class="sub_top">
                            <div class="sub_top_left">
                                <a id="goBack"></a>
                            </div>
                            <h2><a href="#" id="accumulationTitle" class="invisible">{{accumulationName}}</a></h2>
                        </div>
                    </div>
                </div>

                <div class="content">
                    <div class="mypage_main">
                        <div class="mileage">
                            <div class="accumulation_top_box invisible">
                                <div class="my_money">
                                    <p class="tit">사용 가능한 {{accumulationName}}</p>
                                    <p class="money">{{toCurrencyString totalAmt}} {{accumulationUnit}}</p>
                                </div>

                                <h3>{{accumulationName}} 내역</h3>
                                <div class="money_search">
                                    <div id="component_datepicker"></div>
                                </div>
                            </div>
                            <div class="money_history">
                                <div id="dateSelector"></div>
                                <table width="100%" cellspacing="0" cellpadding="0" class="table_style1">
                                    <caption>
                                        <span>적립금 내역</span>
                                    </caption>
                                    <colgroup>
                                        <col style="width: 105px;" />
                                        <col />
                                        <col style="width: 110px;" />
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th scope="col">일자</th>
                                            <th scope="col">내용</th>
                                            <th scope="col">지급/차감</th>
                                        </tr>
                                    </thead>
                                    <script id="mileages" type="text/x-handlebars-template">
                                        <tbody>
                                        {{#each this}}
                                            <tr>
                                                <td>{{substring registerYmdt 0 16}}</td>
                                                <td class="contx">
                                                    {{reasonDetail}}<br />
                                                    {{#ifEq operator "+"}}
                                                        {{#if isNoExpirationDate}}
                                                            <span class="expiration">(만료일 제한없음)</span>
                                                        {{else}}
                                                            <span class="expiration">(<time>{{substring expireYmdt 0 10}}<time> 만료 예정)</span>
                                                        {{/if}}
                                                    {{/ifEq}}
                                                </td>
                                                <td class="mileage_status {{#ifEq operator "+"}}c_blue{{else}}c_red{{/ifEq}}">{{operator}} {{toCurrencyString accumulationAmt}}{{../customAccumulationMenuUnit}}</td>
                                            </tr>
                                        {{else}}
                                            <tr>
                                                <td></td>
                                                <td>조회 내역이 없습니다</td>
                                                <td></td>
                                            </tr>
                                        {{/each}}
                                        </tbody>
                                    </script>
                                </table>
                                <div id="btnMoreMileages"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <footer id="footer"></footer>
        <div id="popups-area"></div>

        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/my/mileages.js"></script>
    </body>
</html>
