<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>Join</title>
    </head>

    <body>
        <header id="header"></header>
        <div id="contents">
            <div class="page_top_area">
                <div class="navi_g">
                    <ul>
                        <li>홈</li>
                        <li>마이페이지</li>
                        <li>회원정보변경</li>
                    </ul>
                </div>
                <div class="sub_top">
                    <div class="sub_top_left">
                        <a id="goBack"></a>
                    </div>
                    <h2><a href="/pages/my/modify-member.html" class="js_page_reload">회원정보변경</a></h2>
                </div>
            </div>

            <main class="my_page join_agreement">
                <!-- 비밀번호 재확인 -->
                <div id="certifyPassword" class="my_page_password invisible">
                    <p class="text">회원님의 정보를 안전하게 보호하기 위해 비밀번호를 다시 한번 확인해 주세요.</p>
                    <div class="id_pw_cont" id="member-cont">
                        <dl>
                            <dt>아이디</dt>
                            <dd><strong>{{memberId}}</strong></dd>
                        </dl>
                        <dl class="pw">
                            <dt><label for="confirmPassword">비밀번호</label></dt>
                            <dd>
                                <input type="password" name="confirmPassword" id="confirmPassword" placeholder="비밀번호" maxlength="20" value="" />
                            </dd>
                        </dl>
                    </div>
                    <div class="btn_center_box">
                        <button type="button" id="btnPwCertify" class="pw_confirm_btn">
                            인증하기
                        </button>
                    </div>
                    <div id="captcha"></div>
                </div>
                <!-- 회원정보 변경 폼 -->
                <script id="modifyMember" data-template-id="modifyMember" type="text/x-handlebars-template">
                    <div class="modify_content_box">
                        <div class="modify_content">
                            <div class="join_content_box">
                                <div class="join_content">
                                    <div class="join_view">
                                        <span class="required">표시는 필수입력 항목입니다.</span>
                                        <div class="base_info_sec">
                                            <input type="hidden" id="ci" name="ci" value="{{kcpAuth.ci}}"/>
                                            <div id="memberRegisterForm" class="memberInfo">
                                                <div class="input_wrap">
                                                    <div class="input_title {{#ifEq memberJoinConfig.memberId 'REQUIRED'}}required{{/ifEq}}">
                                                        <span>아이디</span>
                                                    </div>
                                                    <div class="input_content">
                                                        <div>{{userInfo.memberId}}</div>
                                                    </div>
                                                </div>
                                                <div class="input_wrap">
                                                    <div class="input_title {{#ifEq memberJoinConfig.password 'REQUIRED'}}required{{/ifEq}}">
                                                        <span>비밀번호</span>
                                                    </div>
                                                    <div>
                                                        <div class="btn_gray_list">
                                                            <button class="btn_gray_big js_password_change" id="passwordChange"><span>비밀번호 변경</span></button>
                                                        </div>

                                                        <div class="password_wrap hide" id="passwordWrap">
                                                            <div class="input_content">
                                                                <input type="password" id="password" name="password" {{#ifEq memberJoinConfig.password 'REQUIRED'}}class="require"{{/ifEq}}
                                                                       autocomplete="new-password" minlength="8"  maxlength="20" data-pattern="password" placeholder="영문,숫자,특수문자 중 3개 이상 조합하여 8~20자 입력"/>
                                                                <div class="warning_message"></div>
                                                            </div>
                                                            <div class="input_content">
                                                                <input type="password" id="passwordChk" name="passwordChk" {{#ifEq memberJoinConfig.password 'REQUIRED'}}class="require"{{/ifEq}}
                                                                       autocomplete="off" minlength="8"  maxlength="20" placeholder="비밀번호 한 번 더 입력"/>
                                                                <div class="warning_message"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="input_wrap">
                                                    <div class="input_title {{#ifEq memberJoinConfig.memberName 'REQUIRED'}}required{{/ifEq}}"><span>이름</span></div>
                                                    <div class="input_content">
                                                            <input type="text" id="memberName" name="memberName" maxlength="30" {{#ifEq memberJoinConfig.memberName 'REQUIRED'}}class="require"{{/ifEq}}
                                                                   value="{{userInfo.memberName}}" placeholder="이름 입력" data-pattern="noSpecialSpace"
                                                                {{#ifEq mallJoinConfig.authenticationType 'AUTHENTICATION_BY_PHONE'}}{{#ifEq userInfo.certificationType 'MOBILE'}}disabled{{/ifEq}}{{/ifEq}}
                                                            />
                                                            <div class="warning_message"></div>
                                                            <span class="auth_phone_type">
                                                                {{#ifEq mallJoinConfig.authenticationType 'AUTHENTICATION_BY_PHONE'}}
                                                                    <a class="btn_certification" id="mobileReAuth" style="margin-top:5px">{{#ifEq userInfo.certificationType 'MOBILE'}}재인증{{else}}휴대폰 본인인증{{/ifEq}}</a>
                                                                {{/ifEq}}
                                                            </span>
                                                    </div>
                                                </div>
                                                <div class="input_wrap">
                                                    <div class="input_title {{#ifEq memberJoinConfig.nickname 'REQUIRED'}}required{{/ifEq}}"><span>닉네임</span></div>
                                                    <div class="input_content">
                                                        <input type="text" id="nickname" name="nickname" {{#ifEq memberJoinConfig.nickname 'REQUIRED'}}class="require"{{/ifEq}}
                                                               maxlength="20" value="{{userInfo.nickname}}" data-user-info="{{userInfo.nickname}}" data-pattern="noSpecialSpace" />
                                                        <div class="warning_message"></div>
                                                    </div>
                                                </div>
                                                <div class="input_wrap">
                                                    <div class="input_title {{#ifEq memberJoinConfig.email 'REQUIRED'}}required{{/ifEq}}"><span>이메일</span></div>
                                                    <div class="email_box input_content">
                                                        <input type="text" name="email" id="emailId" {{#ifEq memberJoinConfig.email 'REQUIRED'}}class="require"{{/ifEq}}
                                                               data-pattern="noPartSpecial" value="{{userInfo.emailId}}" data-user-info="{{userInfo.email}}"
                                                            {{#ifEq mallJoinConfig.authenticationType 'AUTHENTICATION_BY_EMAIL'}}{{#ifEq userInfo.certificationType 'EMAIL'}}disabled{{/ifEq}}{{/ifEq}}
                                                        />
                                                        <span class="at">@</span>
                                                        <input type="text" name="email" id="emailDomain" {{#ifEq memberJoinConfig.email 'REQUIRED'}}class="require"{{/ifEq}}
                                                               data-pattern="noPartSpecial" value="{{userInfo.emailDomain}}" data-user-info="{{userInfo.email}}"
                                                            {{#ifEq mallJoinConfig.authenticationType 'AUTHENTICATION_BY_EMAIL'}}{{#ifEq userInfo.certificationType 'EMAIL'}}disabled{{/ifEq}}{{/ifEq}}
                                                        />
                                                        <div class="warning_message"></div>
                                                    </div>

                                                    {{#ifEq mallJoinConfig.authenticationType 'AUTHENTICATION_BY_EMAIL'}}
                                                        <span class="btn_auth_email">
                                                            <span class="btn_left_box">
                                                                <button class="btn_send_email" name="sendAuth" data-auth-type="email">{{#ifEq userInfo.certificationType 'EMAIL'}}재인증{{else}}인증번호 발송{{/ifEq}}</button>
                                                            </span>
                                                        </span>
                                                    {{/ifEq}}

                                                    <div class="auth_email hide">
                                                        <div>
                                                            <input type="text" id="authEmail" class="shop_input" name="auth_email" placeholder="인증번호를 입력하세요." data-pattern="notNumber"/>
                                                            <span>유효시간 <span class="timer"></span></span>
                                                        </div>
                                                        <div class="warning_message"></div>
                                                        <button class="btn_confirm_email" name="confirmAuth" data-auth-type="email">확인</button>
                                                    </div>
                                                </div>
                                                <div id="emailCaptcha"></div>
                                                <div class="input_wrap">
                                                    <div class="input_title"></div>
                                                    <div class="input_content">
                                                        <div class="description">
                                                            <span class="inp_chk">
                                                                <input type="checkbox" name="direct-mail-agreed" id="directMailAgreed" {{#if userInfo.directMailAgreed}}checked{{/if}}>
                                                            <label for="directMailAgreed" class="check_s">메일 수신 동의</label>
                                                            </span>
                                                            <div>( {{#if userInfo.directMailAgreed}}동의 {{userInfo.directMailAgreeYmdt}}{{else}}거부 {{userInfo.directMailDisagreeYmdt}}{{/if}} ) </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="input_wrap">
                                                    <div class="input_title {{#ifEq memberJoinConfig.mobileNo 'REQUIRED'}}required{{/ifEq}}"><span>휴대폰번호</span></div>
                                                    <div class="sms_box input_content">
                                                        <input type="text" id="mobileNo" name="mobileNo" maxlength="11"
                                                               {{#ifEq memberJoinConfig.mobileNo 'REQUIRED'}}class="require"{{/ifEq}} placeholder="휴대폰번호 – 없이 입력"
                                                               value="{{userInfo.mobileNo}}" data-pattern="notNumber"
                                                            {{#ifEqOne mallJoinConfig.authenticationType 'SMS_AUTHENTICATION' 'AUTHENTICATION_BY_PHONE'}}{{#ifEqOne userInfo.certificationType 'SMS' 'MOBILE'}}disabled{{/ifEqOne}}{{/ifEqOne}}
                                                        >
                                                    <div class="warning_message"></div>
                                                    </div>

                                                    {{#ifEq mallJoinConfig.authenticationType 'SMS_AUTHENTICATION'}}
                                                        <span class="btn_auth_sms">
                                                            <span class="btn_left_box">
                                                                <button class="btn_send_sms" name="sendAuth" data-auth-type="sms">{{#ifEq userInfo.certificationType 'SMS'}}재인증{{else}}인증번호 발송{{/ifEq}}</button>
                                                            </span>
                                                        </span>

                                                        <div class="auth_sms hide">
                                                            <input type="text" id="authSMS"  class="shop_input" name="auth_sms" placeholder="인증번호를 입력하세요." data-pattern="notNumber"/>
                                                            <span>유효시간 <span class="timer"></span></span>
                                                            <div class="warning_message"></div>
                                                            <button class="btn_confirm_sms" name="confirmAuth" data-auth-type="sms">확인</button>
                                                        </div>
                                                    {{/ifEq}}
                                                </div>
                                                <div id="smsCaptcha"></div>
                                                <div class="input_wrap">
                                                    <div class="input_title"></div>
                                                    <div class="input_content">
                                                        <div class="description">
                                                            <span class="inp_chk">
                                                                <input type="checkbox" name="direct-sms-agreed" id="smsAgreed" {{#if userInfo.smsAgreed}}checked{{/if}}>
                                                            <label for="smsAgreed" class="check_s">SMS 수신 동의</label>
                                                            </span>
                                                            <div>( {{#if userInfo.smsAgreed}}동의 {{userInfo.smsAgreeYmdt}}{{else}}거부 {{userInfo.smsDisagreeYmdt}}{{/if}} ) </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="input_wrap">
                                                    <div class="input_title {{#ifEq memberJoinConfig.phoneNo 'REQUIRED'}}required{{/ifEq}}"><span>전화번호</span></div>
                                                    <div class="input_content">
                                                        <input type="text" id="telephoneNo" name="telephoneNo" {{#ifEq memberJoinConfig.phoneNo 'REQUIRED'}}class="require"{{/ifEq}}
                                                               maxlength="12" placeholder="전화번호 - 없이 입력"
                                                               value="{{userInfo.telephoneNo}}" data-pattern="notNumber"/>
                                                    </div>
                                                </div>
                                                <div class="input_wrap">
                                                    <div class="input_title {{#ifEq memberJoinConfig.address 'REQUIRED'}}required{{/ifEq}}"><span>주소</span></div>
                                                    <div class="input_content">
                                                        <div class="zipcode_box">
                                                            <div class="zipcode_top">
                                                                <div class="zipcode_num">
                                                                    <input type="text" name="zipCd" id="zipCd" readonly="readonly" {{#ifEq memberJoinConfig.address 'REQUIRED'}}class="require"{{/ifEq}}
                                                                           value="{{userInfo.zipCd}}"/>
                                                                    <div class="zipcode_btn_box">
                                                                        <button type="button" id="btnPostcode" class="zipcode_btn">
                                                                            우편번호 찾기
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="address_input">
                                                                <div>
                                                                    <input type="text" name="address" id="address" readonly="readonly" disabled
                                                                           value="{{userInfo.address}}"/>
                                                                    <input type="hidden" name="jibunAddress" id="jibunAddress"
                                                                           value="{{userInfo.jibunAddress}}"/>
                                                                </div>
                                                                <div class="js_address_sub">
                                                                    <input type="text" name="detailAddress" value="{{userInfo.detailAddress}}"/>
                                                                    <input type="hidden" name="jibunDetailAddress" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="input_wrap">
                                                    <div class="input_title {{#ifEq memberJoinConfig.birthday 'REQUIRED'}}required{{/ifEq}}"><span>생년월일</span></div>
                                                   <div class="input_content member_birthday">
                                                       <div class="inp_sel">
                                                            <select name="birthYear" style="width:40%" {{#ifEq mallJoinConfig.authenticationType 'AUTHENTICATION_BY_PHONE'}}{{#ifEq userInfo.certificationType 'MOBILE'}}disabled{{/ifEq}}{{/ifEq}}>
                                                                {{#each selectOptions.yearList}}
                                                                    {{option value name ../userInfo.year}}
                                                                {{/each}}
                                                            </select>
                                                            <select name="birthMonth" style="width:25%" {{#ifEq mallJoinConfig.authenticationType 'AUTHENTICATION_BY_PHONE'}}{{#ifEq userInfo.certificationType 'MOBILE'}}disabled{{/ifEq}}{{/ifEq}}>
                                                                {{#each selectOptions.monthList}}
                                                                    {{option value name ../userInfo.month}}
                                                                {{/each}}
                                                            </select>
                                                            <select name="birthDay" style="width:32%" {{#ifEq mallJoinConfig.authenticationType 'AUTHENTICATION_BY_PHONE'}}{{#ifEq userInfo.certificationType 'MOBILE'}}disabled{{/ifEq}}{{/ifEq}}>
                                                                {{#each selectOptions.dayList}}
                                                                    {{option value name ../userInfo.day}}
                                                                {{/each}}
                                                            </select>
                                                            <div class="warning_message"></div>
                                                       </div>
                                                    </div>
                                                </div>
                                                <div class="input_wrap">
                                                    <div class="input_title {{#ifEq memberJoinConfig.sex 'REQUIRED'}}required{{/ifEq}}"><span>성별</span></div>
                                                    <div class="input_content">
                                                        <div class="form_element">
                                                            <ul class="gender_list">
                                                                <li class="inp_rdo">
                                                                    <input type="radio" name="sex" id="sexNon" {{{checked "X" userInfo.sex}}} {{#ifEq mallJoinConfig.authenticationType 'AUTHENTICATION_BY_PHONE'}}{{#ifEq userInfo.certificationType 'MOBILE'}}disabled{{/ifEq}}{{/ifEq}}>
                                                                    <label for="sexNon" class="choice_s">선택 안 함</label>
                                                                </li>
                                                                <li>
                                                                    <input type="radio" name="sex" id="sexMan" {{{checked "M" userInfo.sex}}} {{#ifEq mallJoinConfig.authenticationType 'AUTHENTICATION_BY_PHONE'}}{{#ifEq userInfo.certificationType 'MOBILE'}}disabled{{/ifEq}}{{/ifEq}}>
                                                                    <label for="sexMan" class="choice_s">남자</label>
                                                                </li>
                                                                <li>
                                                                    <input type="radio" name="sex" id="sexWoman" {{{checked "F" userInfo.sex}}} {{#ifEq mallJoinConfig.authenticationType 'AUTHENTICATION_BY_PHONE'}}{{#ifEq userInfo.certificationType 'MOBILE'}}disabled{{/ifEq}}{{/ifEq}}>
                                                                    <label for="sexWoman" class="choice_s">여자</label>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="join_agreement_wrap">
                            <h3>약관동의 현황</h3>
                            <div class="terms_wrap">
                                    <div class="join_agreement_box">
                                        <div class="all_chk">
                                            <div class="inp_chk">
                                                <input type="checkbox" id="allAgree" name="termAllTem" {{#if isAllChecked}}checked{{/if}} />
                                                <label class="check" for="allAgree">
                                                    <em>{{mallName}}의 모든 약관을 확인하고 전체동의합니다.<br />(전체동의, 선택항목도 포함됩니다.)</em></label
                                                >
                                            </div>
                                        </div>
                                    </div>
                                    <!-- //join_agreement_box -->
                                    <div class="privacy_big_box">
                                        <div class="privacy_box">
                                            {{#each agreements}}
                                                <dl>
                                                    <dt>
                                                        <span class="inp_chk">
                                                            <input type="checkbox" id="agreeCheckbox-{{key}}" name="termItem"
                                                                   class="{{#if required}}require{{else}}option{{/if}}" data-term-id="{{key}}"
                                                                {{#if checked}}checked{{/if}}
                                                                {{#if required}}disabled{{/if}}
                                                            >
                                                            <label for="agreeCheckbox-{{key}}" class="check_s">
                                                                <em><b>{{#if required}}[필수]{{else}}[선택]{{/if}}</b>{{label}}</em>
                                                            </label>
                                                        </span>
                                                    </dt>
                                                    <dd>
                                                        {{#if contents}}
                                                            <button class="agreement_detail" data-term-id="{{key}}">보기</button>
                                                        {{/if}}
                                                    </dd>
                                                </dl>
                                            {{/each}}
                                        </div>
                                        <div class="privacy_box">
                                            <dl>
                                                <dt>
                                                    <span class="inp_chk">
                                                        <input type="checkbox" id="agreeCheckbox-JOIN_POSSIBLE_AGE" name="termItem"
                                                               class="require" data-term-id="JOIN_POSSIBLE_AGE" checked disabled>
                                                        <label class="check_s" for="agreeCheckbox-JOIN_POSSIBLE_AGE">
                                                            <em><b>[필수]</b>본인은 만 14세 이상입니다.</em>
                                                        </label>
                                                    </span>
                                                </dt>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            <!-- //member_cont -->
                        </div>
                        <div class="member_confirm_btn">
                            <ul>
                                <li>
                                    <button type="button" id="btnCancel" class="join_next_btn">취소</button>
                                </li>
                                <li>
                                    <button type="button" id="btnModify" class="join_next_btn">정보수정</button>
                                </li>
                            </ul>
                        </div>
                        {{#unless openIdMember}}
                            <a href="/pages/my/withdrawal.html" class='go_dropout'>회원탈퇴 &gt;</a>
                        {{/unless}}
                    </div>
                </script>
            </main>
        </div>
        <footer id="footer"></footer>
        <div id="popups-area"></div>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/my/components/mypage-components.js"></script>
        <script src="/js/pages/my/modify-member.js"></script>
    </body>
</html>
