<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <script src="/js/pages/my/components/mypage-components.js"></script>
        <title>취소/반품/교환 신청</title>
    </head>
    <body>
        <header id="header"></header>

        <div id="contents">
            <main class="contents_wrap" id="orderClaimTemplate">
                <div class="page_top_area">
                    <div class="navi_g">
                        <ul>
                            <li>홈</li>
                            <li>마이페이지</li>
                            <li>주문목록 / 배송조회</li>
                            <li>주문/배송상세</li>
                            <li data-bind="claimTitle"></li>
                        </ul>
                    </div>
                    <div class="sub_top">
                        <div class="sub_top_left">
                            <a id="goBack"></a>
                        </div>
                        <h2><a href="/pages/my/order-claim.html" data-bind="claimTitle"></a></h2>
                    </div>
                </div>

                <!-- 마크업 확인 필요 -->
                <div class="order-view">
                    <div class="order_table_body">
                        <div class="order_goods_list">
                            <script id="orderTable" type="text/x-handlebars-template">
                                                                <div class='orderlist_wrap'>
                                                                    {{#each this}}
                                                                        {{#if @first}}
                                                                        <div class='order_number_box'>
                                                                            <div class='order_number'>
                                                                                <div class='order_number_left'>
                                                                                    주문번호
                                                                                    <span>
                                                                                        {{orderNo}}
                                                                                    </span>
                                                                                </div>
                                                                                {{#if showAllCheckbox}}
                                                                                <div class='order_number_right'>
                                                                                    <div class="inp_chk">
                                                                                        <input type="checkbox" id="allChecked" name="all" />
                                                                                        <label for="allChecked" style="font-weight:normal">전체선택</label>
                                                                                    </div>
                                                                                </div>
                                                                                {{/if}}
                                                                            </div>
                                                                        </div>
                                                                        {{/if}}
                                                                        <ul class='my_goods'>
                                                                            <li>
                                                                                <div class="btn_list">
                                                                                    <div class="inp_chk"  data-order-no="{{orderNo}}" data-order-option-no="{{orderOptionNo}}" data-product-count="{{orderCnt}}">
                                                                                        <input type="checkbox" name="optionItem" id="check-{{orderOptionNo}}" {{#ifEq defaultOrderOptionNo orderOptionNo}}checked{{/ifEq}} {{#if isEscrow}}checked{{/if}} {{#if isEscrow}}disabled{{/if}}>
                                                                                        <label for="check-{{orderOptionNo}}" class="check_s"></label>
                                                                                    </div>
                                                                                    <div class="select_del_box">
                                                                                        <a href="#" class="btn_cart_del btn_order_choice_del" data-action="deleteItem" data-cart-no="52429">삭제</a> <!-- TODO : 구현안됨 -->
                                                                                    </div>
                                                                                </div>
                                                                                <div class='info'>
                                                                                    <div class='itemhead'>
                                                                                        <a href="/pages/product/view.html?productNo={{productNo}}">
                                                                                        <div class='img'>
                                                                                            <img
                                                                                                src="{{imageUrl}}"
                                                                                                alt="{{productName}}"
                                                                                                title="{{productName}}"
                                                                                                class='middle'
                                                                                            />
                                                                                        </div>
                                                                                        </a>
                                                                                    </div>
                                                                                    <div class='itembody'>
                                                                                        <dl>
                                                                                            <dt class='prd_name product_name'>
                                                                                                {{{productName}}}
                                                                                            </dt>
                                                                                            {{#ifNe productName optionName}}
                                                                                                <dd class='prd_option'>
                                                                                                <span>
                                                                                                    {{{optionTextInfo}}}
                                                                                                </span>
                                                                                                </dd>
                                                                                            {{/ifNe}}
                                                                                        </dl>
                                                                                    </div>
                                                                                    <div class='order_info'>
                                                                                        <div class='info_box order-claim-info_box'>
                                                                                            <div class='info2'>
                                                                                                수량: {{toCurrencyString orderCnt}}<span>
                                                                                                {{toCurrencyString buyAmt}}원
                                                                                            </span>
                                                                                            </div>
                                                                                            <span class="order-claim-info__order-cnt" data-order-no="{{orderNo}}" data-product-count="{{orderCnt}}">
                                                                                                <label class="cancel-toggle">
                                                                                                    <input type="checkbox" {{#if isEscrow}}checked{{/if}}>
                                                                                                    <span class="cancel-toggle__txt">{{claimType}}</span>
                                                                                                </label>
                                                                                                <span id="orderCountBtns" class="order-claim__count count">
                                                                                                    <button
                                                                                                        type="button"
                                                                                                        class="detail_down_btn down goods_cnt"
                                                                                                        data-action-type="down"
                                                                                                        title="감소"
                                                                                                        {{#if isEscrow}}disabled{{/if}}
                                                                                                       >
                                                                                                        감소
                                                                                                    </button>
                                                                                                    <input
                                                                                                        type="number"
                                                                                                        class="text"
                                                                                                        title="수량"
                                                                                                        data-stock="0"
                                                                                                        data-value="1"
                                                                                                        name="claimCount"
                                                                                                        value="{{orderCnt}}"
                                                                                                      />
                                                                                                    <button
                                                                                                        type="button"
                                                                                                        class="detail_up_btn up goods_cnt"
                                                                                                        data-action-type="up"
                                                                                                        title="증가"
                                                                                                        {{#if isEscrow}}disabled{{/if}}
                                                                                                        >
                                                                                                        증가
                                                                                                    </button>
                                                                                                </span>
                                                                                                </span>
                                <!--                                                            <div class='ing_chk'>-->
                                <!--                                                                {{{nextActionText}}}-->
                                <!--                                                            </div>-->
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    {{/each}}
                                                                    {{#ifEq this.length 0}}
                                                                        <p class="no_data">주문상품이 존재하지않습니다.</p>i>
                                                                    {{/ifEq}}
                                                                </div>
                            </script>
                        </div>
                        <div class="order_view order_view_info_main">
                            <script id="claimInfo" data-template-id="claimInfo" type="text/x-handlebars-template">
                                <h3>
                                    {{claimType}} 사유
                                </h3>
                                <div class='table_box'>
                                    <table class='table_style4'>
                                        <tbody>
                                            {{#ifNe orderStatusType 'DEPOSIT_WAIT'}}
                                                {{#ifEq isEscrow false}}
                                                    <tr>
                                                        <th scope='row'>
                                                            <span class='important'>
                                                                귀책 대상
                                                            </span>
                                                        </th>
                                                        <td>
                                                            <div class='input_content'>
                                                                <div class='inp_sel'>
                                                                    <select name='responsibilityTarget'>
                                                                        <option value=''>
                                                                            선택해 주세요.
                                                                        </option>
                                                                        {{#each responsibleObjectTypes}}
                                                                            <option value="{{responsibleObjectType}}">
                                                                                {{label}}
                                                                            </option>
                                                                        {{/each}}
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope='row'>
                                                            <span class='important'>
                                                                사유
                                                            </span>
                                                        </th>
                                                        <td>
                                                            <div class='input_content'>
                                                                <div class='inp_sel'>
                                                                    <select class='chosen-select' name='claimReasonType'>
                                                                        <option value=''>
                                                                            사유를 선택해 주세요.
                                                                        </option>
                                                                        {{#each claimReasonTypes}}
                                                                            <option value="{{claimReasonType}}">
                                                                                {{label}}
                                                                            </option>
                                                                        {{/each}}
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {{/ifEq}}
                                            {{/ifNe}}
                                            <tr>
                                                <th scope='row'>
                                                    <span {{#ifEq isEscrow false}}class='important'{{/ifEq}}>
                                                      {{#ifEq isEscrow false}}
                                                        상세 사유
                                                      {{else}}
                                                          메모
                                                       {{/ifEq}}
                                                    </span>
                                                </th>
                                                <td class='input_wrap'>
                                                    <div class='input_content' style='display:block;width:100%;'>
                                                        <textarea name='claimReasonDetail' {{#ifEq isEscrow false}}placeholder='상세 사유를 입력해 주세요.'{{/ifEq}} maxlength='160'></textarea>
                                                    </div>
                                                </td>
                                            </tr>
                                            {{#if isAttachments}}
                                                <tr>
                                                    <th scope='row'>
                                                        첨부파일
                                                    </th>
                                                    <td>
                                                        <div class='file_upload_sec'>
                                                            <div class='btn_upload_box'>
                                                                <input
                                                                    type='file'
                                                                    id='imageAttachments'
                                                                    name='attachments'
                                                                    class='file'
                                                                    title='파일찾기'
                                                                    accept='image/png,image/jpeg,image/gif,image/jpg,image/bmp'
                                                                    multiple
                                                                />
                                                            </div>
                                                        </div>
                                                        <div class='add_file_area'>
                                                            <ul id='attachedImages'></ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {{/if}}
                                        </tbody>
                                    </table>
                                    <div style='padding: 0 20px;'>
                                        {{#ifEq claimType '취소'}}
                                            고객님의 귀책사유로 취소처리 시 비용이 발생될 수 있습니다.
                                        {{else}}
                                            고객님의 귀책사유로 상품 등이 훼손 또는 멸실 된 경우
                                    반품/교환 제한(불가) 및 비용이 발생될 수 있습니다.
                                        {{/ifEq}}
                                    </div>
                                </div>
                                {{#if isAccountInfo}}
                                    <h3 style='margin-top:20px'>
                                        {{claimType}} 정보
                                    </h3>
                                    <div class='table_box'>
                                        <table class='table_style4'>
                                            <tbody>
                                                <tr>
                                                    <th scope='row'>
                                                        <span class='important'>
                                                            은행
                                                        </span>
                                                    </th>
                                                    <td>
                                                        <div class='inp_content'>
                                                            <div class='inp_sel'>
                                                                <select name='bank'>
                                                                    {{#each bankList}}
                                                                        <option value="{{bank}}" data-bank-name="{{label}}">
                                                                            {{label}}
                                                                        </option>
                                                                    {{/each}}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope='row'>
                                                        <span class='important'>
                                                            계좌번호
                                                        </span>
                                                    </th>
                                                    <td>
                                                        <input
                                                            class='text_input'
                                                            type='text'
                                                            name='bankAccount'
                                                            value=''
                                                            maxlength='20'
                                                            placeholder='-를 제외한 숫자'
                                                            data-pattern='notNumber'
                                                            class='valueValidation'
                                                        />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope='row'>
                                                        <span class='important'>
                                                            예금주
                                                        </span>
                                                    </th>
                                                    <td>
                                                        <input
                                                            class='text_input'
                                                            type='text'
                                                            name='bankDepositorName'
                                                            value=''
                                                            maxlength='30'
                                                            data-pattern='bankDepositorName'
                                                            class='valueValidation'
                                                        />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class='chk_none' style='padding: 0 20px;'>
                                            결제하신 수단에 따라 취소 방법이 다를 수 있습니다.
                                        </div>
                                    </div>
                                {{/if}}
                            </script>
                        </div>
                        <div class="order_view order_view_delivery order_view_info">
                            <script id="shippingInfo" type="text/x-handlebars-template">
                                <div style="margin-top:20px">
                                    <input name='exchangeType' type='hidden' value="{{orderStatusType}}" />
                                    {{#if isReturnShippingInfo}}
                                        <h3>반품수거정보</h3>
                                        <div class='table_box'>
                                                <table class='table_style4'>
                                                    <tbody>
                                                        <tr>
                                                            <th scope='row'>
                                                                <span class='important'>
                                                                    반품수거방법
                                                                </span>
                                                            </th>
                                                            <td>
                                                                <div style="margin-bottom:10px">
                                                                    <div class="inp_rdo">
                                                                        <input type='radio' id='returnSeller' class='radio' name='returnType' value='SELLER_COLLECT' />
                                                                        <label for='returnSeller' class='choice_s'>
                                                                            판매자 수거요청
                                                                        </label>
                                                                    </div>
                                                                 <div class="inp_rdo">
                                                                    <input
                                                                        type='radio'
                                                                        id='returnBuyer'
                                                                        class='radio'
                                                                        name='returnType'
                                                                        value='BUYER_DIRECT_RETURN'
                                                                    />
                                                                    <label for='returnBuyer' class='choice_s'>
                                                                        구매자 직접반품
                                                                    </label>
                                                                    </div>
                                                                <div>
                                                                    <strong>
                                                                        반품수거안내
                                                                    </strong>
                                                                    <ul id='pickUpGuide'>
                                                                        {{#ifEq returnType 'SELLER_COLLECT'}}
                                                                            <li>
                                                                                반품상황에 따라 (반품)택배비를 차감할 수 있습니다.
                                                                            </li>
                                                                            <li>
                                                                                반품신청이 완료되면 입력하신 수거지주소로 반품수거가 진행됩니다.
                                                                            </li>
                                                                            <li>
                                                                                {{deliveryCompanyTypeLabel}}택배기사가 1~2일 내에 직접 방문합니다.
                                                                            </li>
                                                                            <li>
                                                                                반품등록일 오후 5시까지 접수분은 익일로 반품접수 됩니다.
                                                                            </li>
                                                                            <li>
                                                                                단, 토/일/공휴일은 다음 근무일에 처리 됩니다.
                                                                            </li>
                                                                        {{else}}
                                                                            <li>
                                                                                반품상황에 따라 (반품)택배비를 차감할 수 있습니다.
                                                                            </li>
                                                                            <li>
                                                                                반품신청이 완료되면 구매자가 반품할 상품을 반품주소로 직접 보내주셔야 합니다. (착불 불가)
                                                                            </li>
                                                                            <li>
                                                                                반품주소 : {{returnWarehouse.summary}}
                                                                            </li>
                                                                        {{/ifEq}}
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        {{#ifEq returnType 'SELLER_COLLECT'}}
                                                            <tr>
                                                                <th scope='row'>
                                                                    <span class='important'>
                                                                        반품자명
                                                                    </span>
                                                                </th>
                                                                <td>
                                                                    <input type='text' class="text_input" name='returnReceiverName' value="{{returnAddress.receiverName}}" />
                                                                    {{#if logined}}
                                                                    <button class='openShippingAddressManager inline_button' data-type='return' style="margin-top:5px;">
                                                                        배송지 목록에서 수거지 선택
                                                                    </button>
                                                                    {{/if}}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope='row'>
                                                                    <span class='important'>
                                                                        수거지 주소
                                                                    </span>
                                                                </th>
                                                                <td class='member_address'>
                                                                    <div class="zipcode_box">
                                                                        <div class="zipcode_top">
                                                                            <div id='return_zipCd' class='zipcode_num'>
                                                                                <input
                                                                                    type='text'
                                                                                    name='returnReceiverZipCd'
                                                                                    readonly='readonly'
                                                                                    value="{{returnAddress.receiverZipCd}}"
                                                                                    class="text_input"
                                                                                />
                                                                                <div class="zipcode_btn_box">
                                                                                    <button type='button' class='btn_post_search zipcode_btn' data-type='return'>
                                                                                        주소찾기
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div id='return_address' class='address_input'>
                                                                            <input
                                                                                type='text'
                                                                                name='returnReceiverAddress'
                                                                                value="{{returnAddress.receiverAddress}}"
                                                                                class="text_input"
                                                                            />
                                                                            <input
                                                                                type='text'
                                                                                name='returnReceiverDetailAddress'
                                                                                value="{{returnAddress.receiverDetailAddress}}"
                                                                                class="text_input"
                                                                            />
                                                                            <input
                                                                                type='hidden'
                                                                                name='returnReceiverJibunAddress'
                                                                                value="{{returnAddress.receiverJibunAddress}}"
                                                                            />
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope='row'>
                                                                    <span class='important'>
                                                                        휴대폰번호
                                                                    </span>
                                                                </th>
                                                                <td>
                                                                    <input
                                                                        type='text'
                                                                        name='returnReceiverContact1'
                                                                        value="{{returnAddress.receiverContact1}}"
                                                                        placeholder='-없이 숫자만 입력'
                                                                        maxlength='11'
                                                                        data-pattern='notNumber'
                                                                        class='valueValidation text_input'
                                                                    />
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope='row'>
                                                                    연락처
                                                                </th>
                                                                <td>
                                                                    <input
                                                                        type='text'
                                                                        name='returnReceiverContact2'
                                                                        value="{{returnAddress.receiverContact2}}"
                                                                        placeholder='-없이 숫자만 입력'
                                                                        maxlength='11'
                                                                        data-pattern='notNumber'
                                                                        class='valueValidation text_input'
                                                                    />
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope='row'>
                                                                    수거시 참고사항
                                                                </th>
                                                                <td>
                                                                    <input type='text' name='returnDeliveryMemo' maxlength='50' class="text_input" />
                                                                </td>
                                                            </tr>
                                                        {{else}}
                                                            <tr>
                                                                <th scope='row'>
                                                                    반품접수정보
                                                                </th>
                                                                <td>
                                                                    <select class='chosen-select' name='deliveryCompanyType'>
                                                                        <option value=''>
                                                                            택배사 선택
                                                                        </option>
                                                                        {{#each deliveryCompanyTypeWithLabels}}
                                                                            <option value="{{deliveryCompanyType}}">
                                                                                {{label}}
                                                                            </option>
                                                                        {{/each}}
                                                                    </select>
                                                                    <input
                                                                        type='text'
                                                                        class='invoiceNo valueValidation'
                                                                        name='invoiceNo'
                                                                        maxlength='50'
                                                                        value=''
                                                                        placeholder='반품 송장번호 입력'
                                                                        data-pattern='engNumber'
                                                                    />
                                                                </td>
                                                            </tr>
                                                        {{/ifEq}}
                                                    </tbody>
                                                </table>
                                                <div class='chk_none' style="padding:0 20px">
                                                    결제하신 수단에 따라 취소 방법이 다를 수 있습니다.
                                                </div>
                                        </div>
                                    {{/if}}

                                    {{#if isExchangeShippingInfo}}
                                        <h3 style="margin-top:20px">교환출고 정보</h3>
                                        <div class='table_box'>
                                            <table class='table_style4'>
                                                <tbody>
                                                    <tr>
                                                        <th scope='row'>
                                                            <span class='important'>
                                                                수령자명
                                                            </span>
                                                        </th>
                                                        <td>
                                                            <input type='text' name='exchangeReceiverName' value="{{exchangeAddress.receiverName}}" class="text_input"/>
                                                            {{#if logined}}
                                                            <button class='openShippingAddressManager inline_button' data-type='exchange' style="margin-top:5px;">
                                                                배송지 목록에서 수거지 선택
                                                            </button>
                                                            {{/if}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope='row'>
                                                            <span class='important'>
                                                                배송지 주소
                                                            </span>
                                                        </th>
                                                        <td class='member_address'>
                                                            <div class="zipcode_box">
                                                                <div class="zipcode_top">
                                                                    <div id='exchange_zipCd' class='address_postcode'>
                                                                        <input
                                                                            type='text'
                                                                            name='exchangeReceiverZipCd'
                                                                            readonly='readonly'
                                                                            value="{{exchangeAddress.receiverZipCd}}"
                                                                            class="text_input"
                                                                        />
                                                                        <div class="zipcode_btn_box">
                                                                            <button type='button' class='btn_post_search zipcode_btn' data-type='exchange'>
                                                                                주소찾기
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div id='exchange_address' class='address_input'>
                                                                    <input
                                                                        type='text'
                                                                        name='exchangeReceiverAddress'
                                                                        value="{{exchangeAddress.receiverAddress}}"
                                                                        class="text_input"
                                                                    />
                                                                    <input
                                                                        type='text'
                                                                        name='exchangeReceiverDetailAddress'
                                                                        value="{{exchangeAddress.receiverDetailAddress}}"
                                                                        class="text_input"
                                                                    />
                                                                    <input
                                                                        type='hidden'
                                                                        name='exchangeReceiverJibunAddress'
                                                                        value="{{exchangeAddress.receiverJibunAddress}}"
                                                                    />
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope='row'>
                                                            <span class='important'>
                                                                휴대폰번호
                                                            </span>
                                                        </th>
                                                        <td>
                                                            <input
                                                                type='text'
                                                                name='exchangeReceiverContact1'
                                                                value="{{exchangeAddress.receiverContact1}}"
                                                                placeholder='-없이 숫자만 입력'
                                                                data-pattern='notNumber'
                                                                class='valueValidation text_input'
                                                            />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope='row'>
                                                            연락처
                                                        </th>
                                                        <td>
                                                            <input
                                                                type='text'
                                                                name='exchangeReceiverContact2'
                                                                value="{{exchangeAddress.receiverContact2}}"
                                                                placeholder='-없이 숫자만 입력'
                                                                data-pattern='notNumber'
                                                                class='valueValidation text_input'
                                                            />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope='row'>
                                                            배송 메세지
                                                        </th>
                                                        <td>
                                                            <input type='text' name='exchangeDeliveryMemo' maxlength='50' class="text_input" />
                                                        </td>
                                                    </tr>
                                                    {{#if customsIdNumber}}
                                                        <tr class='customsIdNumber'>
                                                            <th scope='row'>
                                                                <span class='important'>
                                                                    개인통관고유부호
                                                                </span>
                                                            </th>
                                                            <td>
                                                                <input
                                                                    type='text'
                                                                    name='exchangeCustomsIdNo'
                                                                    value="{{exchangeAddress.customsIdNumber}}"
                                                                    placeholder='P로 시작하는 13자리'
                                                                    maxlength='13'
                                                                    data-pattern='customsId'
                                                                    class='valueValidation text_input'
                                                                />
                                                            </td>
                                                        </tr>
                                                    {{/if}}
                                                </tbody>
                                            </table>
                                            <div class='chk_none' style="padding:0 20px">
                                                결제하신 수단에 따라 취소 방법이 다를 수 있습니다.
                                            </div>
                                        </div>
                                    {{/if}}
                                </div>
                            </script>
                        </div>
                        <div class="btn_center_box" style="display: flex; margin-top: 25px;">
                            <button type="button" class="pg_order_cancel_btn" onclick="javascript:history.back()" style="width: 50%;">취소</button>
                            <button type="button" class="order_payment_btn btn_claim_ok" style="width: 50%;">신청</button>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <footer id="footer"></footer>
        <div id="popups-area"></div>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/my/order-claim.js"></script>
    </body>
</html>
