<!--
  ~  © 2021. NHN Commerce Corp. All rights reserved.
  ~  NHN Corp. PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  ~
  ~  @author choisohyun
  ~  @since 2021.7.19
  ~
  -->

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <title>마이페이지</title>
    </head>
    <body>
        <header id="header"></header>

        <div id="contents">
            <main class="contents_wrap">
                <div class="page_top_area">
                    <div class="navi_g">
                        <ul>
                            <li>홈</li>
                            <li>마이페이지</li>
                            <li>주문목록 / 배송조회</li>
                            <li>주문/배송상세</li>
                        </ul>
                    </div>
                    <div class="sub_top">
                        <div class="sub_top_left">
                            <a id="goBack"></a>
                        </div>
                        <h2><a href="/pages/my/order.html">주문/배송상세</a></h2>
                    </div>
                </div>

                <!-- mypage 본문 -->
                <div class="order-view">
                    <div class="order_table_body">
                        <!-- 주문/배송상세 -->
                        <div class="order_goods_list">
                            <div id="orderDetailTable" data-template-id="ordersResult">
                                <script id="ordersResult" type="text/x-handlebars-template">
                                    <div class='orderlist_wrap'>
                                        {{#each this}}
                                            <p class='order_top_date'>
                                                {{orderYmdt}} (총
                                                <strong>
                                                    {{orderOption.length}}
                                                </strong>
                                                건)
                                            </p>
                                            <div class='order_number_box'>
                                                <div class='order_number'>
                                                    <div class='order_number_left'>
                                                        주문번호
                                                        <span>
                                                            {{orderNo}}
                                                        </span>
                                                    </div>
                                                    {{#if logined}}
                                                    <div class='order_number_right'>
                                                        <button type='button' id='btn_write' class='order_ok_btn'>
                                                            <strong>
                                                                1:1문의하기
                                                            </strong>
                                                        </button>
                                                    </div>
                                                    {{/if}}
                                                </div>
                                            </div>
                                            <ul class='my_goods'>
                                                {{#each orderOption}}
                                                    <li
                                                        class='order_product'
                                                        data-order-no="{{../orderNo}}"
                                                        data-option-no="{{optionNo}}"
                                                        data-order-option-no="{{orderOptionNo}}"
                                                        data-claim-nos="{{claimNos}}"
                                                        data-order-status-type="{{orderStatusType}}"
                                                        data-pay-type="{{payType}}"
                                                        data-pg-type="{{pgType}}"
                                                    >
                                                        <div class='info'>
                                                            <div class='itemhead'>
                                                                <a href="/pages/product/view.html?productNo={{productNo}}">
                                                                    <div class='img'>
                                                                        <img src="{{imageUrl}}" alt="{{productName}}" title="{{productName}}" class='middle' />
                                                                    </div>
                                                                </a>
                                                            </div>
                                                            <div class='itembody'>
                                                                <dl>
                                                                    <dt class='prd_name product_name'>
                                                                        {{{productName}}}
                                                                    </dt>
                                                                    {{#ifNe productName optionName}}
                                                                        <dd class='prd_option'>
                                                                            <span>
                                                                                {{{optionTextInfo}}}
                                                                            </span>
                                                                        </dd>
                                                                    {{/ifNe}}
                                                                </dl>
                                                            </div>
                                                            <div class='order_info'>
                                                                <div class='info_box'>
                                                                    <div class='info2'>
                                                                        수량: {{toCurrencyString orderCnt}}<span>
                                                                            {{toCurrencyString buyAmt}}원
                                                                        </span>
                                                                    </div>
                                                                    <div class='ing_chk request-btns'>
                                                                        {{{nextActionText}}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <p class='btn_bx order-btns'>
                                                                {{{orderStatusText}}}
                                                            </p>
                                                        </div>
                                                    </li>
                                                {{/each}}
                                            </ul>
                                        {{/each}}
                                    </div>
                                </script>
                            </div>
                        </div>
                        <!-- 주문자/배송지/결제 정보 -->
                        <div class="order_view">
                            <h3>주문정보</h3>
                            <div class="view_box">
                                <div id="orderMemberInfo" data-template-id="orderMemberInfoTemplate">
                                    <script id="orderMemberInfoTemplate" type="text/x-handlebars-template">
                                        <dl>
                                            <dt>
                                                주문자 정보
                                            </dt>
                                            <dd>
                                                {{ordererName}}
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>
                                                휴대폰 번호
                                            </dt>
                                            <dd>
                                                {{ordererContact1}}
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>
                                                전화번호
                                            </dt>
                                            <dd>
                                                {{ordererContact2}}
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>
                                                이메일
                                            </dt>
                                            <dd>
                                                {{ordererEmail}}
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>
                                                주문 메모
                                            </dt>
                                            <dd>
                                                {{orderMemo}}
                                            </dd>
                                        </dl>
                                    </script>
                                </div>
                            </div>
                            <!-- //orderer_info -->

                            <h3>배송지 정보</h3>
                            <div class="view_box">
                                <div id="shippingAddressInfo" data-template-id="shippingAddressInfoTemplate">
                                    <script id="shippingAddressInfoTemplate" type="text/x-handlebars-template">
                                        <dl>
                                            <dt>
                                                받으실 분
                                            </dt>
                                            <dd>
                                                {{receiverName}}
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>
                                                주소
                                            </dt>
                                            <dd>
                                                ({{receiverZipCd}})
                                                {{receiverAddress}}
                                                {{receiverDetailAddress}}
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>
                                                휴대폰 번호
                                            </dt>
                                            <dd>
                                                {{receiverContact1}}
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>
                                                전화번호
                                            </dt>
                                            <dd>
                                                {{receiverContact2}}
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>
                                                배송 메모
                                            </dt>
                                            <dd>
                                                {{deliveryMemo}}
                                            </dd>
                                        </dl>
                                    </script>
                                </div>
                            </div>
                            <!-- //delivery_info -->

                            <h3>결제정보</h3>
                            <div class="view_box alignR">
                                <div id="paymentInfo" data-template-id="paymentInfoTemplate">
                                    <script id="paymentInfoTemplate" type="text/x-handlebars-template">
                                        <dl>
                                            <dt>
                                                상품 합계 금액
                                            </dt>
                                            <dd>
                                                <strong class='c_point'>
                                                    {{toCurrencyString firstOrderAmount.totalProductAmt}}
                                                </strong>
                                                원
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>
                                                배송비
                                            </dt>
                                            <dd>
                                                <strong class='c_point'>
                                                    {{toCurrencyString firstOrderAmount.deliveryAmt}}
                                                </strong>
                                                원
                                            </dd>
                                        </dl>
                                        {{#if firstOrderAmount.remoteDeliveryAmt}}
                                            <dl>
                                                <dt>
                                                    지역별 배송비
                                                </dt>
                                                <dd>
                                                    {{toCurrencyString firstOrderAmount.remoteDeliveryAmt}}원
                                                </dd>
                                            </dl>
                                        {{/if}}
                                        <dl>
                                            <dt>
                                                할인혜택
                                            </dt>
                                            <dd>
                                                <div class='accumulation_list'>
                                                    <ul class='benefit_list'>
                                                        <li class='benefit_sale' style='word-break: keep-all'>
                                                            할인
                                                            <strong>
                                                                : {{toCurrencyString firstOrderAmount.totalDiscountAmt}}
                                                            </strong>
                                                            원
                                                            <br />
                                                            (즉시할인 {{
                                                                toCurrencyString
                                                                firstOrderAmount.immediateDiscountAmt
                                                                '+'
                                                                firstOrderAmount.additionalDiscountAmt
                                                            }}원 + 상품쿠폰할인
                                                            {{
                                                                toCurrencyString firstOrderAmount.productCouponDiscountAmt
                                                            }}원
                                                            + 주문쿠폰 할인 {{
                                                                toCurrencyString firstOrderAmount.cartCouponDiscountAmt
                                                            }}원)
                                                        </li>
                                                        <li class='benefit_mileage'>
                                                            {{accumulationName}} 사용 :
                                                            <strong>
                                                                {{toCurrencyString firstOrderAmount.subPayAmt}}
                                                            </strong>
                                                            {{accumulationUnit}}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>
                                                총 결제 금액
                                            </dt>
                                            <dd>
                                                <strong class='total_pay_money'>
                                                    {{toCurrencyString firstOrderAmount.chargeAmt}}원
                                                </strong>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>
                                                결제수단
                                            </dt>
                                            <dd>
                                                <strong class='pay_with_list'>
                                                    {{payInfo.payTypeLabel}}
                                                </strong>
                                            </dd>
                                        </dl>
                                        {{#if payInfo.bankInfo}}
                                            {{#ifNe payInfo.payType 'NAVER_EASY_PAY'}}
                                                <dl class='showBankInfo'>
                                                    <dt>
                                                        입금정보 {{showBankInfo}}
                                                    </dt>
                                                    <dd>
                                                        <ul>
                                                            <li>
                                                                입금은행 : {{payInfo.bankInfo.bankName}}
                                                            </li>
                                                            <li>
                                                                입금계좌 : {{payInfo.bankInfo.account}}
                                                            </li>
                                                            <li>
                                                                예금주명 : {{payInfo.bankInfo.depositorName}}
                                                            </li>
                                                            <li>
                                                                입금금액 :
                                                                <strong class='deposit_money'>
                                                                    {{toCurrencyString payInfo.bankInfo.bankAmt}}원
                                                                </strong>
                                                            </li>
                                                            <li>
                                                                입금자명 : {{payInfo.bankInfo.remitterName}}
                                                            </li>
                                                        </ul>
                                                    </dd>
                                                </dl>
                                            {{/ifNe}}
                                        {{/if}}
                                        <dl>
                                            <dt>
                                                적립정보
                                            </dt>
                                            <dd>
                                                구매확정 시
                                                <strong>
                                                    {{toCurrencyString accumulationAmtWhenBuyConfirm}}{{accumulationUnit}}
                                                </strong>
                                                적립
                                            </dd>
                                        </dl>
                                    </script>
                                </div>
                            </div>

                            <div id="claimInfo" data-template-id="claimInfoTemplate">
                                <script id="claimInfoTemplate" type="text/x-handlebars-template">
                                        {{#each additionalPayInfos}}
                                        <h3>추가 결제정보</h3>
                                        <div class="view_box">
                                            <dl>
                                                <dt>교환출고상품</dt>
                                                <dd>
                                                    <div class="add_file_exchangePayAmtarea claim_file_area">
                                                        <ul>
                                                            <li>
                                                                <button class="claimInfo__btn" data-index="0"  data-refund-index="{{@index}}" data-claim-type="exchange">
                                                                    <img src="{{exchangeOrderOption.imageUrl}}" alt="{{exchangeOrderOption.productName}}">
                                                                </button>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt>교환상품금액</dt>
                                                <dd>{{toCurrencyString productAmtInfo.totalAmt}}원</dd>
                                            </dl>
                                            <dl>
                                                <dt>반품/교환배송비</dt>
                                                <dd>(+) {{toCurrencyString deliveryAmtInfo.totalAmt }}원</dd>
                                            </dl>
                                            <dl>
                                                <dt>차감금액</dt>
                                                <dd>{{toCurrencyString subtractionAmtInfo.totalAmt}}원</dd>
                                            </dl>
                                            <dl>
                                                <dt>추가결제금액</dt>
                                                <dd>{{toCurrencyString exchangePayAmt}}원</dd>
                                            </dl>
                                            <dl>
                                                <dt>결제수단</dt>
                                                {{#ifEq payType 'CASH'}}
                                                    <dd>무통장입금 - {{bankAccount.bankName}} / {{bankAccount.bankAccount}} / {{bankAccount.bankDepositorName}} </dd>
                                                {{else}}
                                                    <dd>적립금 결제</dd>
                                                {{/ifEq}}
                                            </dl>
                                        </div>
                                        {{#if returnAddress}}
                                            <h3>반품수거정보</h3>
                                            <div class="view_box">
                                                <dl>
                                                    <dt>반품수거방법</dt>
                                                    <dd>{{returnWayLabel}}</dd>
                                                </dl>
                                                {{#ifEq returnWayType 'SELLER_COLLECT'}}
                                                    <dl>
                                                        <dt>반품자명</dt>
                                                        <dd>{{returnAddress.name}}</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>수거지주소</dt>
                                                        <dd>{{returnAddress.addressStr}}</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>휴대폰번호</dt>
                                                        <dd>{{returnAddress.contact1}}</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>전화번호</dt>
                                                        <dd>{{returnAddress.contact2}}</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>수거시참고사항</dt>
                                                        <dd>{{returnAddress.note}}</dd>
                                                    </dl>
                                                {{/ifEq}}
                                                {{#ifEq returnWayType 'BUYER_DIRECT_RETURN'}}
                                                    <dl>
                                                        <dt>반품접수정보</dt>
                                                        <dd>{{refundMethod}}</dd>
                                                    </dl>
                                                {{/ifEq}}
                                                <dl>
                                                    <dt>반품 이미지</dt>
                                                    <dd>
                                                        <div class="add_file_area claim_file_area">
                                                            <ul>
                                                                {{#each claimImageUrls}}
                                                                    <li class="vis_mode" data-claim-order="{{@../index}}">
                                                                        <div style="position:relative;text-align:center;">
                                                                            <img
                                                                              src="{{@this}}"
                                                                              style="height: 100%;"
                                                                              alt="반품 이미지"
                                                                            />
                                                                            <img
                                                                              src="/assets/img/icon/icon_view_add_file.png"
                                                                              style="position:absolute;bottom:0;right:0;"
                                                                              alt="보기"
                                                                            >
                                                                        </div>
                                                                    </li>
                                                                {{/each}}
                                                            </ul>
                                                        </div>
                                                        {{#unless claimImageUrls.length}}-{{/unless}}
                                                    </dd>
                                                </dl>
                                            </div>
                                        {{/if}} {{#if exchangeAddress}}
                                            <h3>교환출고정보</h3>
                                            <div class="view_box">
                                                <dl>
                                                    <dt>교환출고 상품</dt>
                                                    <dd>
                                                        <div class="add_file_exchangePayAmtarea claim_file_area">
                                                            <ul>
                                                                <li>
                                                                    <button class="claimInfo__btn" data-index="0"  data-refund-index="{{@index}}" data-claim-type="exchange">
                                                                        <img src="{{exchangeOrderOption.imageUrl}}" alt="{{exchangeOrderOption.productName}}">
                                                                    </button>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </dd>
                                                </dl>
                                                <dl>
                                                    <dt>수령자명</dt>
                                                    <dd>{{#if exchangeAddress}}{{exchangeAddress.name}}{{else}}-{{/if}}</dd>
                                                </dl>
                                                <dl>
                                                    <dt>배송지주소</dt>
                                                    <dd>{{#if exchangeAddress}}{{exchangeAddress.addressStr}}{{else}}-{{/if}}</dd>
                                                </dl>
                                                <dl>
                                                    <dt>휴대폰번호</dt>
                                                    <dd>{{#if exchangeAddress}}{{exchangeAddress.contact1}}{{else}}-{{/if}}</dd>
                                                </dl>
                                                <dl>
                                                    <dt>전화번호</dt>
                                                    <dd>{{#if exchangeAddress}}{{exchangeAddress.contact2}}{{else}}-{{/if}}</dd>
                                                </dl>
                                                <dl>
                                                    <dt>배송메시지</dt>
                                                    <dd>{{#if exchangeAddress}}{{exchangeAddress.note}}{{else}}-{{/if}}</dd>
                                                </dl>
                                              <!--{{#if exchangeAddress.customsIdNumber}}-->
                                                <dl>
                                                    <dt>개인통관고유부호</dt>
                                                    <dd>{{exchangeAddress.customsIdNumber}}</dd>
                                                </dl>
                                              <!--{{/if}}-->
                                            </div>
                                        {{/if}}
                                        {{/each}}
                                        {{#each refundInfos}}
                                            {{#ifNe refundType 'ZERO_REFUND'}}
                                                <h3>환불정보</h3>
                                                <div class="view_box">
                                                    {{#if claimClassType }}
                                                        <dl>
                                                            <dt>환불상품</dt>
                                                            <dd style="position: relative;">
                                                                {{#each claimPopupData}}
                                                                    <span>
                                                        <button class="claimInfo__btn" data-index="{{@index}}" data-refund-index="{{@../index}}" data-claim-type="refund">
                                                            <img src="{{imageUrl}}" alt="">
                                                        </button>
                                                    </span>
                                                                {{/each}}
                                                            </dd>
                                                        </dl>
                                                    {{/if}}
                                                    <dl>
                                                        <dt>환불상품금액</dt>
                                                        <dd>{{toCurrencyString productAmtInfo.totalAmt}}원</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>환불배송비</dt>
                                                        <dd>(+) {{toCurrencyString deliveryAmtInfo.totalAmt}}원</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>환불차감금액</dt>
                                                        <dd>{{toCurrencyString subtractionAmtInfo.totalAmt}}원</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>환불적립금</dt>
                                                        <dd>{{toCurrencyString refundSubPayAmt}}원</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>환불금액</dt>
                                                        <dd>{{toCurrencyString refundMainPayAmt}}원</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>환불수단</dt>
                                                        <dd>{{refundAccountInfo}}</dd>
                                                    </dl>
                                                </div>
                                            {{/ifNe}}
                                    {{#if returnAddress}}
                                    <h3>반품수거정보</h3>
                                    <div class="view_box">
                                        <dl>
                                            <dt>반품수거방법</dt>
                                            <dd>{{returnWayLabel}}</dd>
                                        </dl>
                                        {{#ifEq returnWayType 'SELLER_COLLECT'}}
                                        <dl>
                                            <dt>반품자명</dt>
                                            <dd>{{returnAddress.name}}</dd>
                                        </dl>
                                        <dl>
                                            <dt>수거지주소</dt>
                                            <dd>{{returnAddress.addressStr}}</dd>
                                        </dl>
                                        <dl>
                                            <dt>휴대폰번호</dt>
                                            <dd>{{returnAddress.contact1}}</dd>
                                        </dl>
                                        <dl>
                                            <dt>전화번호</dt>
                                            <dd>{{returnAddress.contact2}}</dd>
                                        </dl>
                                        <dl>
                                            <dt>수거시참고사항</dt>
                                            <dd>{{returnAddress.note}}</dd>
                                        </dl>
                                        {{/ifEq}}
                                        {{#ifEq returnWayType 'BUYER_DIRECT_RETURN'}}
                                        <dl>
                                            <dt>반품접수정보</dt>
                                            <dd>{{refundMethod}}</dd>
                                        </dl>
                                        {{/ifEq}}
                                        <dl>
                                            <dt>반품 이미지</dt>
                                            <dd>
                                                <div class="add_file_area claim_file_area">
                                                    <ul>
                                                        {{#each claimImageUrls}}
                                                        <li class="vis_mode" data-claim-order="{{@../index}}">
                                                            <div style="position:relative;text-align:center;">
                                                                <img
                                                                  src="{{@this}}"
                                                                  style="height: 100%;"
                                                                  alt="반품 이미지"
                                                                />
                                                                <img
                                                                    src="/assets/img/icon/icon_view_add_file.png"
                                                                    style="position:absolute;bottom:0;right:0;"
                                                                    alt="보기"
                                                                >
                                                            </div>
                                                        </li>
                                                        {{/each}}
                                                    </ul>
                                                </div>
                                                {{#unless claimImageUrls.length}}-{{/unless}}
                                            </dd>
                                        </dl>
                                    </div>
                                    {{/if}} {{#if exchangeAddress}}
                                    <h3>교환출고정보</h3>
                                    <div class="view_box">
                                        <dl>
                                            <dt>교환출고 상품</dt>
                                            <dd>
                                                <div class="add_file_exchangePayAmtarea claim_file_area">
                                                    <ul>
                                                        <li>
                                                            <button class="claimInfo__btn" data-index="0"  data-refund-index="{{@index}}" data-claim-type="exchange">
                                                                <img src="{{exchangeOrderOption.imageUrl}}" alt="{{exchangeOrderOption.productName}}">
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>수령자명</dt>
                                            <dd>{{#if exchangeAddress}}{{exchangeAddress.name}}{{else}}-{{/if}}</dd>
                                        </dl>
                                        <dl>
                                            <dt>배송지주소</dt>
                                            <dd>{{#if exchangeAddress}}{{exchangeAddress.addressStr}}{{else}}-{{/if}}</dd>
                                        </dl>
                                        <dl>
                                            <dt>휴대폰번호</dt>
                                            <dd>{{#if exchangeAddress}}{{exchangeAddress.contact1}}{{else}}-{{/if}}</dd>
                                        </dl>
                                        <dl>
                                            <dt>전화번호</dt>
                                            <dd>{{#if exchangeAddress}}{{exchangeAddress.contact2}}{{else}}-{{/if}}</dd>
                                        </dl>
                                        <dl>
                                            <dt>배송메시지</dt>
                                            <dd>{{#if exchangeAddress}}{{exchangeAddress.note}}{{else}}-{{/if}}</dd>
                                        </dl>
                                          <!--{{#if exchangeAddress.customsIdNumber}}-->
                                        <dl>
                                            <dt>개인통관고유부호</dt>
                                            <dd>{{exchangeAddress.customsIdNumber}}</dd>
                                        </dl>
                                          <!--{{/if}}-->
                                    </div>
                                    {{/if}} {{/each}}
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <footer id="footer"></footer>
        <div id="popups-area"></div>

        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script src="/js/core/shopby.js"></script>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/my/components/mypage-components.js"></script>
        <script src="/js/pages/my/order.js"></script>
    </body>
</html>
