<!--
  ~  © 2021. NHN Commerce Corp. All rights reserved.
  ~  NHN Corp. PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  ~
  ~  @author choisohyun
  ~  @since 2021.7.19
  ~
  -->

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <title>마이페이지</title>
    </head>
    <body>
        <header id="header"></header>

        <div id="contents">
            <main class="contents_wrap">
                <div class="page_top_area">
                    <div class="navi_g">
                        <ul>
                            <li>홈</li>
                            <li>마이페이지</li>
                            <li>이전 주문목록</li>
                            <li>주문/배송상세</li>
                        </ul>
                    </div>
                    <div class="sub_top">
                        <div class="sub_top_left">
                            <a id="goBack"></a>
                        </div>
                        <h2><a href="/pages/my/previous-order-detail.html">주문/배송상세</a></h2>
                    </div>
                </div>

                <!-- mypage 본문 -->
                <div class="order-view">
                    <div class="order_table_body">
                        <!-- 주문/배송상세 -->
                        <div class="order_goods_list">
                            <div id="orderDetailTable" data-template-id="ordersResult">
                                <script id="ordersResult" type="text/x-handlebars-template">
                                    <div class='orderlist_wrap'>
                                        {{#each this}}
                                            <p class='order_top_date'>
                                                {{orderYmdt}} (총
                                                <strong>
                                                    {{toCurrencyString orderCnt}}
                                                </strong>
                                                건)
                                            </p>
                                            <div class='order_number_box'>
                                                <div class='order_number'>
                                                    <div class='order_number_left'>
                                                        주문번호
                                                        <span>
                                                            {{orderNo}}
                                                        </span>
                                                    </div>
                                                    <div class='order_number_right'>
                                                        <button type='button' id='btn_write' class='order_ok_btn inquiryBtn'>
                                                            <strong>
                                                                1:1문의하기
                                                            </strong>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <ul class='my_goods'>
                                                <li class='order_product'>
                                                    <div class='info'>
                                                        <div class='itembody'>
                                                            <dl>
                                                                <dt class='prd_name product_name'>
                                                                    {{{productName}}}
                                                                </dt>
                                                                {{#ifNe productName optionName}}
                                                                    <dd class='prd_option'>
                                                                        <span>
                                                                            {{{optionTextInfo}}}
                                                                        </span>
                                                                    </dd>
                                                                {{/ifNe}}
                                                            </dl>
                                                        </div>
                                                        <div class='order_info'>
                                                            <div class='info_box'>
                                                                <div class='info2'>
                                                                    수량: {{toCurrencyString orderCnt}}<span>
                                                                        {{toCurrencyString buyAmt}}원
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <p class='btn_bx order-btns'>
                                                            {{orderStatusTypeLabel}}
                                                        </p>
                                                    </div>
                                                </li>
                                            </ul>
                                        {{/each}}
                                    </div>
                                </script>
                            </div>
                        </div>
                        <!-- 주문자/배송지/결제 정보 -->
                        <div class="order_view">
                            <h3>주문정보</h3>
                            <div class="view_box">
                                <div id="orderMemberInfo" data-template-id="orderMemberInfoTemplate">
                                    <script id="orderMemberInfoTemplate" type="text/x-handlebars-template">
                                        <dl>
                                            <dt>
                                                주문자 정보
                                            </dt>
                                            <dd>
                                                {{ordererName}}
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>
                                                휴대폰 번호
                                            </dt>
                                            <dd>
                                                {{ordererMobileNumber}}
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>
                                                전화번호
                                            </dt>
                                            <dd>
                                                {{ordererPhoneNumber}}
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>
                                                이메일
                                            </dt>
                                            <dd>
                                                {{ordererEmail}}
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>
                                                주문 메모
                                            </dt>
                                            <dd>
                                                {{orderMemo}}
                                            </dd>
                                        </dl>
                                    </script>
                                </div>
                            </div>
                            <!-- //orderer_info -->

                            <h3>배송지 정보</h3>
                            <div class="view_box">
                                <div id="shippingAddressInfo" data-template-id="shippingAddressInfoTemplate">
                                    <script id="shippingAddressInfoTemplate" type="text/x-handlebars-template">
                                        {{#each this}}
                                        <div style='{{#ifNe @index 0}}padding-top: 10px;{{/ifNe}}'>
                                          <dl>
                                            <dt>
                                              받으실 분
                                            </dt>
                                            <dd>
                                              {{receiverName}}
                                            </dd>
                                          </dl>
                                          <dl>
                                            <dt>
                                              주소
                                            </dt>
                                            <dd>
                                              ({{receiverZipCd}})
                                              {{receiverAddress}}
                                              {{receiverDetailAddress}}
                                            </dd>
                                          </dl>
                                          <dl>
                                            <dt>
                                              휴대폰 번호
                                            </dt>
                                            <dd>
                                              {{receiverMobileNumber}}
                                            </dd>
                                          </dl>
                                          <dl>
                                            <dt>
                                              전화번호
                                            </dt>
                                            <dd>
                                              {{receiverPhoneNumber}}
                                            </dd>
                                          </dl>
                                          <dl>
                                            <dt>
                                              배송 메모
                                            </dt>
                                            <dd>
                                              {{deliveryMemo}}
                                            </dd>
                                          </dl>
                                        </div>
                                        {{/each}}
                                    </script>
                                </div>
                            </div>
                            <!-- //delivery_info -->

                            <h3>결제정보</h3>
                            <div class="view_box alignR">
                                <div id="paymentInfo" data-template-id="paymentInfoTemplate">
                                    <script id="paymentInfoTemplate" type="text/x-handlebars-template">
                                        <dl>
                                            <dt>
                                                상품 합계 금액
                                            </dt>
                                            <dd>
                                                <strong class='c_point'>
                                                    {{toCurrencyString firstPayment.mainPayAmt}}
                                                </strong>
                                                원
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>
                                                배송비
                                            </dt>
                                            <dd>
                                                <strong class='c_point'>
                                                    {{toCurrencyString firstPayment.deliveryAmt}}
                                                </strong>
                                                원
                                            </dd>
                                        </dl>
                                        {{#if firstPayment.deliveryAmt}}
                                            <dl>
                                                <dt>
                                                    지역별 배송비
                                                </dt>
                                                <dd>
                                                    {{toCurrencyString remoteDeliveryAmt}}원
                                                </dd>
                                            </dl>
                                        {{/if}}
                                        <dl>
                                            <dt>
                                                할인혜택
                                            </dt>
                                            <dd>
                                                <div class='accumulation_list'>
                                                    <ul class='benefit_list'>
                                                        <li class='benefit_sale' style='word-break: keep-all'>
                                                            할인
                                                            <strong>
                                                                : {{toCurrencyString firstPayment.discountAmt}}
                                                            </strong>
                                                            원
                                                        </li>
                                                    </ul>
                                                </div>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>
                                                총 결제 금액
                                            </dt>
                                            <dd>
                                                <strong class='total_pay_money'>
                                                    {{toCurrencyString firstPayment.payAmt}}원
                                                </strong>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>
                                                결제수단
                                            </dt>
                                            <dd>
                                                <strong class='pay_with_list'>
                                                    {{paymentMethod.payTypeLabel}}
                                                </strong>
                                            </dd>
                                        </dl>
                                        {{#if paymentMethod.payDetail}}
                                            {{#ifNe paymentMethod.payType 'NAVER_EASY_PAY'}}
                                                <dl class='showBankInfo'>
                                                    <dt>
                                                        입금정보
                                                    </dt>
                                                    <dd>
                                                        <ul>
                                                            <li>
                                                                입금은행 : {{paymentMethod.payDetail.bank}}
                                                            </li>
                                                            <li>
                                                                입금계좌 : {{paymentMethod.payDetail.account}}
                                                            </li>
                                                            <li>
                                                                예금주명 : {{paymentMethod.payDetail.accountHolder}}
                                                            </li>
                                                            <li>
                                                                입금금액 :
                                                                <strong class='deposit_money'>
                                                                    {{toCurrencyString paymentMethod.payDetail.discountAmt}}원
                                                                </strong>
                                                            </li>
                                                            <li>
                                                                입금자명 : {{paymentMethod.payDetail.depositor}}
                                                            </li>
                                                        </ul>
                                                    </dd>
                                                </dl>
                                            {{/ifNe}}
                                        {{/if}}
                                    </script>
                                </div>
                            </div>

                            <div id="claimInfo" data-template-id="claimInfoTemplate">
                                <script id="claimInfoTemplate" type="text/x-handlebars-template">
                                    {{#if refund}}
                                        {{#ifNe refund.refundType 'ZERO_REFUND'}}
                                            <h3>
                                                환불정보
                                            </h3>
                                            <div class='view_box'>
                                                <dl>
                                                    <dt>
                                                        환불금액
                                                    </dt>
                                                    <dd>
                                                        {{toCurrencyString refund.refundAmt}}원
                                                    </dd>
                                                </dl>
                                                <dl>
                                                    <dt>
                                                        환불수단
                                                    </dt>
                                                    <dd>
                                                        {{refund.refundAccountInfo}}
                                                    </dd>
                                                </dl>
                                            </div>
                                        {{/ifNe}}
                                    {{/if}}
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <footer id="footer"></footer>
        <div id="popups-area"></div>

        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script src="/js/core/shopby.js"></script>
        <script src="/js/pages/my/components/mypage-components.js"></script>
        <script src="/js/pages/my/previous-order-detail.js"></script>
    </body>
</html>
