<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <title>마이페이지</title>
    </head>
    <body>
        <header id="header"></header>

        <div id="contents">
            <main class="contents_wrap">
                <div class="page_top_area">
                    <div class="navi_g">
                        <ul>
                            <li>홈</li>
                            <li>마이페이지</li>
                            <li>이전 주문목록</li>
                        </ul>
                    </div>
                    <div class="sub_top">
                        <div class="sub_top_left">
                            <a id="goBack"></a>
                        </div>
                        <h2><a href="/pages/my/previous-list.html">이전 주문목록</a></h2>
                    </div>
                </div>

                <!-- mypage 본문 -->
                <div class="order_list">
                    <div id="dateSelector"></div>

                    <div class="mypage_main">
                        <!-- 주문목록/배송조회-->
                        <div id="myOrdersDateRangePicker"></div>
                        <div id="orderResults"></div>
                        <script id="orderResultsTemplate" type="text/x-handlebars-template">
                            <div class='order_goods_list'>
                              {{#each this}}
                                {{#each orders}}
                                  {{#ifEq @index 0}}
                                  <p class='order_top_date'>
                                    {{orderYmdt}} (총
                                    <strong>
                                      {{../orderCntSum}}
                                    </strong>
                                    건)
                                  </p>
                                  {{/ifEq}}
                                  <div class='orderlist_wrap'>
                                  {{#ifEq @index 0}}
                                    <div class='order_number_box'>
                                      <div class='order_number'>
                                        <div class='order_number_left'>
                                          주문번호
                                          <span>
                                            {{../orderNo}}
                                          </span>
                                        </div>
                                        <div class='order_number_right'>
                                          <a class='btn_order_detail_view' href="/pages/my/previous-order-detail.html?orderNo={{orderNo}}">
                                          주문 상세 보기
                                          </a>
                                        </div>
                                      </div>
                                    </div>
                                  {{/ifEq}}
                                    <ul class='my_goods' style='{{#ifNe @index 0}}padding-top: 10px;{{/ifNe}}'>
                                      <li>
                                          <div class='info'>
                                            <dd class='itembody'>
                                              <div class='ing_chk'>
                                                <strong class='order_ing_btn'>
                                                  {{orderStatusTypeLabel}}
                                                </strong>
                                              </div>
                                              <dl>
                                                <dt class='prd_name product_name'>
                                                  {{safeString productName}}
                                                </dt>
                                                {{#ifNe productName optionName}}
                                                  <dl class='prd_option'>
                                                                                                  <span>
                                                                                                    {{{optionTextInfo}}}
                                                                                                  </span>
                                                  </dl>
                                                {{/ifNe}}
                                              </dl>
                                            </dd>
                                            <div class='order_info'>
                                              <div class='info_box'>
                                                <div class='info2'>
                                                  수량: {{toCurrencyString orderCnt}}
                                                  <span>
                                                                                              {{toCurrencyString buyAmt}}원
                                                                                          </span>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </li>
                                    </ul>
                                  </div>
                                {{/each}}
                              {{/each}}
                              {{#ifEq length 0}}
                                <div class='my_goods no'>
                                  <p>
                                    최근 주문 내역이 없습니다.
                                  </p>
                                </div>
                              {{/ifEq}}
                            </div>
                        </script>
                    </div>
                    <div id="readMore"></div>
                </div>
            </main>
        </div>
        <footer id="footer"></footer>
        <div id="popups-area"></div>

        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/core/shopby.js"></script>
        <script src="/js/pages/my/components/mypage-components.js"></script>
        <script src="/js/pages/my/previous-list.js"></script>
    </body>
</html>
