<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>나의 상품 후기</title>
    </head>

    <body>
        <header id="header"></header>
        <div id="contents" class="invisible">
            <main id="myProductReviewsPage" class="sub_content">
                <div class="content_box">
                    <div class="page_top_area">
                        <div class="sub_top">
                            <div class="sub_top_left">
                                <a id="goBack"></a>
                            </div>
                            <h2><a href="#" id="boardTitle" class="js_page_reload">{{productReviewConfig.name}}</a></h2>
                        </div>
                    </div>
                </div>

                <div class="content">
                    <div class="board_zone_sec">
                        <div class="board_zone_cont">
                            <div class="board_zone_list">
                                <div class="board_list_gallery">
                                    <div class="list_card">
                                        <div id="boardlist" class="boardlist boardlist-buy-after">
                                            <div id="btnReviewRewardNotice-wrap">
                                                {{#if reviewRewardNoticeText}}
                                                <button class="btn-benefit-info">혜택 안내</button>
                                                <div class="modal-benefit-info">
                                                    <p>상품후기 혜택 안내</p>
                                                    {{reviewRewardNoticeText}}
                                                    <button class="btn-modal-benefit-info">
                                                        <span class="hidden">닫기</span>
                                                    </button>
                                                </div>
                                                {{/if}}
                                            </div>
                                            <a href="#" id="btnWriteReviewableProduct" class="board_btn btn_write">작성 가능한 후기 {{totalCount}}건</a>
                                        </div>
                                        <div class="boardlist">
                                            <div class="board_search">
                                                <input type="hidden" name="searchType" value="" />
                                                <div class="search_input">
                                                    <input type="search" name="keyword" id="reviewKeyword" value="" placeholder="검색어를 입력해 주세요." />
                                                </div>
                                                <div class="search_btn"><button type="button" class="board_search_btn">검 색</button></div>
                                            </div>
                                            <div id="productReviews" class="list_card_type" data-template-id="reviewsTemplate"></div>
                                            <script id="reviewsTemplate" type="text/x-handlebars-template">
                                                <div id='productReviews' class='list_card_type' data-template-id='reviewsTemplate'>
                                                    <ul>
                                                        {{#each items}}
                                                            <li>
                                                                <div class='card_area'>
                                                                    <!-- 공지 게시글 일 경우 import 추가 -->
                                                                    <div class='card_vis'>
                                                                        <div>
                                                                            <div>
                                                                                <a
                                                                                    href="/pages/my/product-review.html?productNo={{productNo}}&reviewNo={{
                                                                                        reviewNo
                                                                                    }}"
                                                                                >
                                                                                    {{img imageUrl}}
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class='card_con'>
                                                                        <a href="/pages/product/view.html?productNo={{productNo}}" target='_blank'>
                                                                            {{#ifEq bestReviewYn 'Y'}}
                                                                                <img src='/assets/img/goods_icon/good_icon_best.png' />
                                                                            {{/ifEq}}
                                                                            <span class='card_con_list_tit'>
                                                                                <span>
                                                                                    <a href="/pages/product/view.html?productNo={{productNo}}">
                                                                                        {{safeString productName}}
                                                                                    </a>
                                                                                    {{badge 'new' registerYmdt}}
                                                                                    {{badge 'hot' viewCount}}
                                                                                </span>
                                                                            </span>
                                                                        </a>
                                                                        {{#if orderedOption.optionUsed}}
                                                                            <p class='card_con_goods_option'>
                                                                                {{{getOptionNameAndValue orderedOption.optionName orderedOption.optionValue}}}
                                                                            </p>
                                                                        {{/if}}
                                                                        <div>
                                                                            <div class='star_box'>
                                                                                <span class='star_li' style="width:calc({{rate}} * 20%);">
                                                                                    별점 {{rate}}
                                                                                </span>
                                                                            </div>
                                                                            {{substring registerYmdt 0 10}}
                                                                        </div>
                                                                        <div class='card_con_txt'>
                                                                            <a
                                                                                href="/pages/my/product-review.html?productNo={{productNo}}&reviewNo={{
                                                                                    reviewNo
                                                                                }}"
                                                                                class='ellipsis2'
                                                                            >
                                                                                {{content}}
                                                                            </a>
                                                                            {{#if fileUrls}}
                                                                                <img class='ico_file' src='/assets/img/icon/icon_board_attach_file.png' />
                                                                            {{/if}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        {{else}}
                                                            <li class='no_data'>
                                                                게시글이 존재하지 않습니다.
                                                            </li>
                                                        {{/each}}
                                                    </ul>
                                                </div>
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="btnMoreReviews"></div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <footer id="footer"></footer>
        <div id="popups-area"></div>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/my/components/mypage-components.js"></script>
        <script src="/js/pages/my/product-reviews.js"></script>
    </body>
</html>
