<!--
  ~  © 2021. NHN Commerce Corp. All rights reserved.
  ~  NHN Corp. PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  ~
  ~  @author hyeyeon-park
  ~  @since 2021.7.15
  -->
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>나의 상품 문의</title>
    </head>
    <body>
        <header id="header"></header>
        <div id="contents">
            <main id="myProductInquiryPage" class="sub_content">
                <div class="content_box">
                    <div class="page_top_area">
                        <div class="sub_top">
                            <div class="sub_top_left">
                                <a id="goBack"></a>
                            </div>
                            <h2><a href="#" id="productInquiryName" class="js_page_reload invisible">{{productInquiryConfig.name}}</a></h2>
                            <div class="sub_top_right">
                                <a href="/pages/my/product-inquiries.html" class="btn_board_list">목록</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content contents_wrap">
                    <div id="boardViewPage" class="board_zone_sec invisible">
                        <div class="mypage_cont">
                            <div class="board_zone_cont">
                                <div>
                                    <div class="view_qa">
                                        <div class="goods_area">
                                            <div class="product_info_box">
                                                <a href="/pages/product/view.html?productNo={{myProductInquiry.productNo}}">
                                                    {{img myProductInquiry.imageUrl '' '' myProductInquiry.productName '' ''}}
                                                </a>
                                                <span><strong>{{safeString myProductInquiry.productName}}</strong></span>
                                            </div>
                                            <div id="boardContent" class="view_wrap">
                                                <div class="view_box">
                                                    <div class="view_info_box">
                                                        <div class="view_info wirte_area">
                                                            <span class="writer">{{myProductInquiry.registerName}}</span>
                                                            <span class="date">{{myProductInquiry.registerYmdt}}</span>
                                                        </div>
                                                        <div class="view_info">
                                                            <span class="qa_type_tit">문의유형</span>
                                                            <span class="qa_type">{{setProductInquiryTypesValue myProductInquiry.type}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="view_body">
                                                        <div class="contents_holder">
                                                            <p>{{{myProductInquiry.content}}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                {{#if myProductInquiry.replied}} {{#each myProductInquiry.answers}}
                                                <div class="question">
                                                    <div class="a">
                                                        <strong class="item">A.</strong>
                                                        <div class="admin_info">
                                                            <div class="info">
                                                                <strong>{{nickName}}<span>{{registerYmdt}}</span></strong>
                                                            </div>
                                                            <div>
                                                                {{{content}}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {{/each}} {{/if}}
                                                <div class="btn_wish_bx">
                                                    <ul class="btn_bx">
                                                        {{#if myProductInquiry.modifiable}}
                                                        <li><button type="button" class="view_del_btn" onclick="">삭 제</button></li>
                                                        {{/if}}
                                                        <li><button type="button" class="view_modify_btn">수 정</button></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <footer id="footer"></footer>
        <div id="popups-area"></div>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/my/components/mypage-components.js"></script>
        <script src="/js/pages/my/product-inquiry.js"></script>
    </body>
</html>
