<!--
  ~  © 2021. NHN Commerce Corp. All rights reserved.
  ~  NHN Corp. PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  ~
  ~  @author hyeyeon-park
  ~  @since 2021.7.14
  -->
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>나의 상품 후기</title>
    </head>
    <body>
        <header id="header"></header>
        <div id="contents">
            <main id="myProductReviewPage" class="sub_content">
                <div class="content_box">
                    <div class="page_top_area">
                        <div class="sub_top">
                            <div class="sub_top_left">
                                <a id="goBack"></a>
                            </div>
                            <h2><a href="#" id="reviewName" class="js_page_reload invisible">{{productReviewConfig.name}}</a></h2>
                            <div class="sub_top_right">
                                <a href="/pages/my/product-reviews.html" class="btn_board_list">목록</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content contents_wrap">
                    <div id="boardViewPage" class="board_zone_sec invisible">
                        <div class="mypage_cont">
                            <div class="board_zone_cont">
                                <div>
                                    <div class="view_card">
                                        <div class="goods_area">
                                            <div class="product_info_box">
                                                {{img myProductReview.imageUrl '' '' myProductReview.productName '' ''}}
                                                <span class="product_box_right">
                                                    <strong>{{safeString myProductReview.productName}}</strong>
                                                    {{#if myProductReview.orderedOption.optionUsed}}
                                                    <span class="option_name_value">
                                                        {{{getOptionNameAndValue myProductReview.orderedOption.optionName
                                                        myProductReview.orderedOption.optionValue}}}
                                                    </span>
                                                    {{/if}}
                                                </span>
                                                <div class="star_box">
                                                    <span class="star_li" style="width:calc({{myProductReview.rate}} * 20%);">
                                                        별점 {{myProductReview.rate}}
                                                    </span>
                                                </div>
                                            </div>
                                            <div id="boardContent" class="view_wrap">
                                                <div class="view_box">
                                                    <div class="view_info_box">
                                                        <div class="view_info wirte_area">
                                                            <span class="writer">{{myProductReview.registerName}}</span>
                                                            <span class="date">{{myProductReview.registerYmdt}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="view_body">
                                                        <div class="contents_holder">
                                                            <p>{{{myProductReview.content}}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="add_file_area">
                                                    <ul>
                                                        {{#each myProductReview.fileUrls}}
                                                        <li class="vis_mode">
                                                            <div>
                                                                {{img this '' '' '첨부파일'}}
                                                                <span class="zoom"> <img src="/assets/img/icon/icon_view_add_file.png" alt="보기" /></span>
                                                            </div>
                                                        </li>
                                                        {{/each}}
                                                    </ul>
                                                </div>
                                                <div class="btn_wish_bx">
                                                    <ul class="btn_bx">
                                                        <li><button type="button" class="view_del_btn" data-mode="del">삭 제</button></li>
                                                        <li><button type="button" class="view_modify_btn" data-mode="edit">수 정</button></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <footer id="footer"></footer>
        <div id="popups-area"></div>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/my/components/mypage-components.js"></script>
        <script src="/js/pages/my/product-review.js"></script>
    </body>
</html>
