<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>나의 상품 문의</title>
    </head>

    <body>
        <header id="header"></header>
        <div id="contents">
            <main id="myProductReviewsPage" class="sub_content">
                <div class="content_box">
                    <div class="page_top_area">
                        <div class="sub_top">
                            <div class="sub_top_left">
                                <a id="goBack"></a>
                            </div>
                            <h2><a href="#" class="js_page_reload">{{name}}</a></h2>
                        </div>
                    </div>
                </div>

                <div class="content">
                    <div class="mypage_lately_info">
                        <div class="list_qa">
                            <div id="boardlist" class="boardlist">
                                <a href="javascript:void(0); " class="board_btn btn_write" style="margin-bottom: 5px;">상품 문의하기</a>
                                <div class="board_search">
                                    <input type="hidden" name="searchType" />
                                    <div class="search_input">
                                        <input type="search" name="keyword" id="productInquiryKeyword" value="" placeholder="검색어를 입력해 주세요." />
                                    </div>
                                    <div class="search_btn"><button type="button" class="board_search_btn">검 색</button></div>
                                </div>
                                <div class="goods_area">
                                    <div>
                                        <ul class="notice_list" id="myProductInquiries" data-template-id="myProductInquiriesTemplate"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="btnMoreMyInquiries"></div>
                    </div>
                </div>
            </main>
        </div>
        <footer id="footer"></footer>
        <div id="popups-area"></div>
        <script src="/js/pages/my/components/mypage-components.js"></script>
        <script src="/js/pages/my/product-inquiries.js"></script>
        <script id="myProductInquiriesTemplate" type="text/x-handlebars-template">
            <ul class="notice_list" id="myProductInquiries" data-template-id="myProductInquiriesTemplate">
            {{#each myProductInquiries}}
            	<li data-product-no="{{productNo}}" data-inquiry-no="{{inquiryNo}}" data-product-name="{{productName}}">
                  <div class="board_qa_noimg">
                    <div class="notice_img">
                        <a href="/pages/my/product-inquiry.html?productNo={{productNo}}&inquiryNo={{inquiryNo}}">
                        <img src="{{imageUrl}}" alt="{{productName}}" title="{{productName}}" width="74" height="60" class="goodsimg"></a>
                    </div>
                    <div>
                      <div class="notice_title">
                        <span class="text">
                            <a href="/pages/my/product-inquiry.html?productNo={{productNo}}&inquiryNo={{inquiryNo}}">
                            {{#if secreted}}
                          <img src="/assets/img/icon/icon_board_secret2_on.png">
                          {{/if}}
                           [{{setProductInquiryTypesValue type}}] {{content}}
                            </a>
                          {{badge 'new' registerYmdt}}
                          {{badge 'hot' viewCount}}
                        </span>

                      </div>
                      <div>
                          <span class="notice_data"><a href="/pages/product/view.html?productNo={{productNo}}">{{safeString productName}}</a></span>
                      </div>
                      <div class="notice_bottom">
                        <span class="notice_data">
                          <span>{{memberId}}</span><time>{{substring registerYmdt 0 10}}</time>
                        </span>
                      </div>
                      <div class="notice_info">
                        <span class="{{#if replied}}reply_complete{{/if}}">{{#if replied}}답변완료{{else}}답변대기{{/if}}</span>
                      </div>
                    </div>
                  </div>

              </li>
            {{else}}
                <li>
                    <p class="no_data">게시글이 존재하지않습니다.</p>
                </li>
            {{/each}}
            </ul>
        </script>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
    </body>
</html>
