<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <title>찜리스트</title>
    </head>
    <body>
        <header id="header"></header>

        <div id="contents">
            <main class="sub_content">
                <div class="content_box">
                    <div class="page_top_area">
                        <div class="sub_top">
                            <div class="sub_top_left">
                                <a id="goBack"></a>
                            </div>
                            <h2><a href="#" class="js_page_reload">찜리스트</a></h2>
                        </div>
                    </div>
                </div>

                <div id="myPageLeftMenu" class="side_cont"></div>

                <div class="content">
                    <div class="mypage_main">
                        <div class="wish_list">
                            <div class="wish_content_box">
                                <div class="btn_wish_bx">
                                    <button type="button" id="deleteBtn" class="select_prd_del_btn">
                                        선택 삭제
                                    </button>
                                </div>
                                <div class="allchk">
                                    <div class="inp_chk">
                                        <input type="checkbox" id="allChecked" name="allChecked" />
                                        <label for="allChecked">전체선택</label>
                                    </div>
                                </div>
                                <script id="wishResults" type="text/x-handlebars-template">
                                    <ul class='my_goods' data-product-no="{{productNo}}">
                                        {{#each this}}
                                            <li data-product-no="{{productNo}}">
                                                <div class='info'>
                                                    <a href="/pages/product/view.html?productNo={{productNo}}">
                                                        <span class='itemhead'>
                                                            <span class='thmb_box'>
                                                                <span class='thmb'>
                                                                    {{img imageUrls x x productName 'middle'}}
                                                                </span>
                                                            </span>
                                                        </span>
                                                        <span class='itembody'>
                                                            {{#if invalid}}
                                                                <span class='icon_exclamationmark'>
                                                                    구매제한 상품
                                                                </span>
                                                            {{/if}}
                                                            <span class='name'>
                                                                {{safeString productName}}
                                                            </span>
                                                            <span class='prc'>
                                                                {{#if shouldShowContentsIfPausing}}
                                                                    {{contentsIfPausing}}
                                                                {{else}}
                                                                    {{toCurrencyString displayProductPrice}}원
                                                                    {{#if canDiscount}}
                                                                        <del class='add_currency'>
                                                                            {{toCurrencyString salePrice}}원
                                                                        </del>
                                                                    {{/if}}
                                                                {{/if}}
                                                            </span>
                                                        </span>
                                                    </a>
                                                    <div class='select_del_box'>
                                                        <button type='button' data-product-no="{{productNo}}" class='wish_onedel_btn btnDeleteItem'>
                                                            삭제
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class='chk_box'>
                                                    <span class='inp_chk'>
                                                        <input name='checked' id="{{productNo}}" type='checkbox' />
                                                        <label for="{{productNo}}">
                                                            상품선택
                                                        </label>
                                                    </span>
                                                </div>
                                            </li>
                                        {{else}}
                                            <li class='no_bx'>
                                                <p>
                                                    찜리스트에 담긴 상품이 없습니다
                                                </p>
                                            </li>
                                        {{/each}}
                                    </ul>
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <footer id="footer"></footer>
        <div id="popups-area"></div>

        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script src="/js/core/shopby.js"></script>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/my/components/mypage-components.js"></script>
        <script src="/js/pages/my/wishes.js"></script>
    </body>
</html>
