<!--
  ~ © NHN Commerce Corp. All rights reserved.
  ~ NHN Corp. PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  -->

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>회원탈퇴</title>
    </head>

    <body>
        <header id="header"></header>
        <div id="contents">
            <div class="page_top_area">
                <div class="navi_g">
                    <ul>
                        <li>홈</li>
                        <li>마이페이지</li>
                        <li>회원 탈퇴</li>
                    </ul>
                </div>
                <div class="sub_top">
                    <div class="sub_top_left">
                        <a id="goBack"></a>
                    </div>
                    <h2><a href="#" class="js_page_reload">회원 탈퇴</a></h2>
                </div>
            </div>
            <main class="sub_content">
                <div class="content">
                    <div class="dropOut">
                        <!-- 간편회원 재확인 -->
                        <div id="certifyOpenId" class="my_page_password hide">
                            <p class="text"><strong>회원님의 정보를 안전하게 보호하기 위해 계정을 재인증 해주세요.</strong></p>
                            <div class="sns_box member_sns_login" style="text-align: center;">
                                {{#each providerTypes}} {{#ifEq ../providerType this}}
                                <a href="#" class="btn_{{this}}_login js_btn_{{this}}_login btnLoginSns sns_{{this}}" data-provider="{{this}}">
                                    <img src="/assets/img/etc/logo_{{this}}.png" alt="{{this}}" />
                                </a>
                                {{/ifEq}} {{/each}}
                            </div>
                        </div>
                        <!-- 회원탈퇴 -->
                        <div id="withdrawalForm" class="hack_out hide">
                            <div class="mypage_unregister">
                                {{#if withdrawalGuide.used}}
                                <div class="mypage_zone_tit">
                                    <h3>회원탈퇴 안내</h3>
                                </div>
                                <div class="dropOut_terms">
                                    {{{withdrawalGuide.contents}}}
                                </div>
                                {{/if}}
                                <h3>회원탈퇴 하기</h3>
                                <div class="dropOut_form">
                                    <div class="input_wrap">
                                        <div class="input_title"><label for="reason">탈퇴사유</label></div>
                                        <div class="input_content">
                                            <textarea id="reason" class="textarea" name="reason" placeholder="탈퇴 사유 입력" maxlength="50"></textarea>
                                        </div>
                                    </div>
                                    <div class="form_element">
                                        <input type="checkbox" name="dropoutAgree" id="dropoutAgree" />
                                        <label for="dropoutAgree">회원탈퇴 시 처리사항 안내 내용을 확인하였으며, 회원탈퇴에 동의합니다.</label>
                                    </div>
                                    <div class="btn_box">
                                        <button type="button" id="btnWithdrawal" class="member_login_order_btn">탈퇴</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <footer id="footer"></footer>
        <div id="popups-area"></div>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/my/components/mypage-components.js"></script>
        <script src="/js/pages/my/mypage.js"></script>
        <script src="/js/pages/my/withdrawal.js"></script>
    </body>
</html>
