<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no" />

        <meta name="author" content="쇼핑몰명" />
        <meta name="description" content="쇼핑몰명" />
        <meta name="keywords" content="쇼핑몰명" />

        <meta property="og:type" content="website" />
        <meta property="og:title" content="쇼핑몰명" />
        <!--배너관리에 사용중인 스킨의 노출중인 로고 url-->
        <!--*현재 로고이미지를 쇼핑몰 대표 이미지로 별도 저장하고 있어 로고이미지 변경 시 쇼핑몰 대표 이미지도 변경처리되며 추후 쇼핑몰 대표 이미지 항목 추가 시 해당 항목으로 마이그레이션 예정-->
        <meta property="og:image" content="/assets/img/banner/header-logo.png" />
        <meta property="og:url" content="" />
        <!--*추후 쇼핑몰 설명 항목으로 대체-->
        <meta property="og:description" content="여기를 눌러 링크를 확인하세요." />

        <meta property="og:image:width" content="width" />
        <meta property="og:image:height" content="height" />

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="쇼핑몰명" />
        <!--*추후 쇼핑몰 설명 항목으로 대체-->
        <meta name="twitter:description" content="여기를 눌러 링크를 확인하세요." />
        <meta name="twitter:image" content="/assets/img/banner/header-logo.png" />
        <link rel="manifest" id="manifest-placeholder" href="/manifest.json" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/js/pages/ie-support-end/browser.js"></script>
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>모바일 Home</title>
    </head>
    <body>
        <header id="header"></header>
        <div id="contents">
            <main id="promotionBanner" class="sub_content invisible">
                {{#if BANNER01}}
                <div class="main_visual">
                    <div class="main_slide slider-wrap slider-banner" id="banner-BANNER01">
                        {{#each BANNER01.bannerImages}}
                        <div>
                            <a href="{{landingUrl}}" target="{{#ifEq openLocationType 'NEW'}}_blank{{/ifEq}}">
                                {{img imageUrl '' '' description '' ''}}
                            </a>
                        </div>
                        {{/each}}
                    </div>
                    {{/if}}
                </div>
                <div class="main_content">
                    <div class="both_wrap">
                        <div class="main_right_goods">
                            <!-- 메인 상품 노출 -->
                            <div class="goods_list main_wrap_1 main_goods_cont" id="goodsList-SCMO0001" style="display: none;"></div>
                        </div>
                    </div>
                    <div class="main_banner_row">
                        {{#each BANNER02.bannerImages}}
                        <div>
                            <a href="{{landingUrl}}" target="{{#ifEq openLocationType 'NEW'}}_blank{{/ifEq}}" id="banner-BANNER02">
                                {{img imageUrl '' '' description '' ''}}
                            </a>
                        </div>
                        {{/each}} {{#each BANNER03.bannerImages}}
                        <div>
                            <a href="{{landingUrl}}" target="{{#ifEq openLocationType 'NEW'}}_blank{{/ifEq}}" id="banner-BANNER03">
                                {{img imageUrl '' '' description '' ''}}
                            </a>
                        </div>
                        {{/each}}
                    </div>

                    <!-- 메인 상품 노출 -->
                    <div class="goods_list main_wrap_1 main_goods_cont marT55" id="goodsList-SCMO0002" style="display: none;"></div>
                    <div class="main_banner_row">
                        {{#each BANNER04.bannerImages}}
                        <div>
                            <a href="{{landingUrl}}" id="banner-BANNER04">
                                {{img imageUrl '' '' description '' ''}}
                            </a>
                        </div>
                        {{/each}} {{#each BANNER05.bannerImages}}
                        <div>
                            <a href="{{landingUrl}}" id="banner-BANNER05">
                                {{img imageUrl '' '' description '' ''}}
                            </a>
                        </div>
                        {{/each}}
                    </div>

                    <div class="main_banner_row">
                        {{#each BANNER06.bannerImages}}
                        <div>
                            <a href="{{landingUrl}}" id="banner-BANNER06">
                                {{img imageUrl '' '' description '' ''}}
                            </a>
                        </div>
                        {{/each}}
                    </div>

                    {{#if BANNER07}}
                    <div>
                        {{#each BANNER07.bannerImages}}
                        <div>
                            <a href="{{landingUrl}}" target="{{#ifEq openLocationType 'NEW'}}_blank{{/ifEq}}" id="banner-BANNER07">
                                {{img imageUrl '' '' description '' ''}}
                            </a>
                        </div>
                        {{/each}}
                    </div>
                    {{/if}}
                    <!-- 메인 상품 노출 -->
                    <div class="goods_list main_wrap_1 main_goods_cont marT55" id="goodsList-SCMO0003" style="display: none;"></div>
                    <div class="goods_list main_wrap_1 main_goods_cont marT55" id="goodsList-SCMO0004" style="display: none;"></div>
                    <div class="goods_list main_wrap_1 main_goods_cont marT55" id="goodsList-SCMO0005" style="display: none;"></div>

                    <!-- 플러스 리뷰 위젯 -->
                    <div class="plus-review_widget" id="plus-review-widget">
                        <div class="main_goods_cont" id="all-review"></div>
                        <div class="main_goods_cont" id="photo-review"></div>
                        <div class="main_goods_cont" id="product-review"></div>
                    </div>

                    <!-- 인스타그램 위젯 -->
                    <div id="instagram-widget" class="marT55" style="display: none;"></div>
                </div>
            </main>
        </div>
        <footer id="footer"></footer>
        <div id="popups-area"></div>
        <!-- 1. 갤러리형 -->
        <script id="product-list-type-gallery" type="text/x-handlebars-template">
            <div class="item_gallery_type">
              <ul class="goods_product_list">
                {{#each productList}}
                  <li class="goods_prd_item2 list_num_{{../displayWidth}}" data-product-no="{{productNo}}">
                    <div class="goods_prd_item2_box">
                      <div class="goods_prd_img">
                        <div class="img_box">
                          <a href="/pages/product/view.html?productNo={{productNo}}"
                            class="{{#if adult}}item_adult{{/if}}">
                              {{img listImageUrls '' '' productName 'middle' 'width:100%;height:auto'}}
                              {{#if adult}}
                              <strong class="adult_img"
                                style="background-image:url('/assets/img/goods_icon/only_adult_pc.png'); display:block;"
                              >19금</strong>
                              {{/if}}
                            {{#if isSoldOut}}
                                <strong class="soldout_img"
                                  style="background-image:url('/assets/img/icon/soldout.png'); display:block;"
                                >SOLD OUT</strong>
                            {{/if}}
                              {{#ifEq saleStatusType 'READY'}}
                                <div class="goods_selling"><span>판매<br>임박</span></div>
                              {{/ifEq}}
                              {{#ifEq saleStatusType 'FINISHED'}}
                                <div class="goods_selling"><span>판매<br>종료</span></div>
                              {{/ifEq}}
                          </a>
                            <a class="goods_wish {{#if liked}}on{{/if}}" id="wishBtn" href="#"></a>
                        </div>
                      </div>

                      <div class="goods_prd_content">
                        <div class="goods_list_info">
                          <a href="/pages/product/view.html?productNo={{productNo}}">
                            <ul class="goods_info_list">
                              <li class="prd_name">{{safeString productName}}</li>
                              {{#if promotionText}}
                                <li class="short_des">{{promotionText}}</li>
                              {{/if}}
                              <li class="price">
                                {{toCurrencyString calculatedSalePrice}}원
                                {{#ifHasDiscount immediateDiscountAmt additionDiscountAmt}}
                                  <del class="add_currency">{{toCurrencyString salePrice}}원</del>
                                {{/ifHasDiscount}}
                              </li>
                                <li class="sticker">
                                {{#each stickerInfos}}
                                    {{#ifEq type 'TEXT'}}{{label}}
                                    {{else ifEq type 'IMAGE'}}{{img label '' '' name '' ''}}
                                    {{/ifEq}}
                                {{/each}}
                                </li>
                            </ul>
                          </a>
                        </div>
                    </div>
                  </li>
                {{else}}
                <div class="goods_no_data"><strong>상품이 존재하지 않습니다.</strong></div>
                {{/each}}
              </ul>
            </div>
        </script>

        <!-- 2. 리스트형 -->
        <script id="product-list-type-list" type="text/x-handlebars-template">
            <div class="item_list_type">
              <ul>
                {{#each productList}}
                  <li class="goods_prd_item" data-product-no="{{productNo}}">
                    <div class="goods_prd_img">
                      <div class="img_box">
                        <a href="/pages/product/view.html?productNo={{productNo}}" {{#if adult}}class="item_adult"{{/if}}>
                          {{img listImageUrls '' '' productName 'middle' 'width:100%;height:auto'}}
                          {{#if adult}}
                            <strong class="adult_img" style="background-image:url(/assets/img/goods_icon/only_adult_pc.png);">19금</strong>
                          {{/if}}
                          {{#if isSoldOut}}
                              <strong class="soldout_img"
                                      style="background-image:url('/assets/img/icon/soldout.png'); display:block;"
                              >SOLD OUT</strong>
                          {{/if}}
                          {{#ifEq saleStatusType 'READY'}}<div class="goods_selling"><span>판매<br>임박</span></div>{{/ifEq}}
                          {{#ifEq saleStatusType 'FINISHED'}}<div class="goods_selling"><span>판매<br>종료</span></div>{{/ifEq}}
                          <a class="goods_wish {{#if liked}}on{{/if}}" id="wishBtn" href="#">찜하기</a>
                        </a>
                      </div>
                    </div>

                    <div class="goods_prd_content">
                        <div class="goods_list_info">
                          <a href="/pages/product/view.html?productNo={{productNo}}">
                            <ul class="goods_info_list">
                              <li class="prd_name">{{safeString productName}}</li>
                              {{#if promotionText}}
                                <li class="short_des">{{promotionText}}</li>
                              {{/if}}
                              <li class="price">
                                <span class="c_price">
                                  {{toCurrencyString calculatedSalePrice}}원
                                  {{#ifHasDiscount immediateDiscountAmt additionDiscountAmt}}
                                  <del class="add_currency">{{toCurrencyString salePrice}}원</del>
                                  {{/ifHasDiscount}}
                                </span>
                              </li>
                                <li class="sticker">
                                {{#each stickerInfos}}
                                    {{#ifEq type 'TEXT'}}{{label}}
                                    {{else ifEq type 'IMAGE'}}{{img label '' '' name '' ''}}
                                    {{/ifEq}}
                                {{/each}}
                                </li>
                            </ul>
                          </a>
                        </div>
                    </div>
                  </li>
                {{else}}
                  <div class="goods_no_data"><strong>상품이 존재하지 않습니다.</strong></div>
                {{/each}}
              </ul>
            </div>
        </script>

        <!-- 3. 스와이프형 -->
        <script id="product-list-type-swipe" type="text/x-handlebars-template">
            <div class='item_swipe_type'>
            <ul class='slider-wrap'>
              {{#each productList}}
                <li class="goods_prd_item4" data-product-no="{{productNo}}">
                    <div class="goods_prd_img">
                      <div class="img_box">
                        <a href="/pages/product/view.html?productNo={{productNo}}" class="{{#if adult}}item_adult{{/if}}">
                              <div class="img">
                                {{img listImageUrls '' '' productName 'middle' '' }}
                              </div>
                          {{#if isSoldOut}}
                              <strong class="soldout_img"
                                      style="background-image:url('/assets/img/icon/soldout.png'); display:block;"
                              >SOLD OUT</strong>
                          {{/if}}
                              {{#if adult}}
                              <span class="adult_img" title="성인상품입니다." style="background-image:url(/assets/img/goods_icon/only_adult_pc.png); display:block;">19금</strong>
                              {{/if}}
                            {{#ifEq saleStatusType 'READY'}}<div class="goods_selling">판매<br />임박</div>{{/ifEq}}
                            {{#ifEq saleStatusType 'FINISHED'}}<div class="goods_selling">판매<br />종료</div>{{/ifEq}}
                          </a>
                          <a class="goods_wish {{#if liked}}on{{/if}}" id="wishBtn" href="#"></a>
                      </div>
                    </div>
                    <div class="goods_prd_content">
                      <div class="goods_list_info">
                          <a href="/pages/product/view.html?productNo={{productNo}}" target="_self">
                              <ul class="goods_info_list">
                                  <li class="prd_name">{{safeString productName}}</li>
                                  {{#if promotionText}}
                                      <li class="short_des">{{promotionText}}</li>
                                  {{/if}}
                                  <li class="price">
                                      {{toCurrencyString calculatedSalePrice}}원
                                       {{#ifHasDiscount immediateDiscountAmt additionDiscountAmt}}
                                          <del class="add_currency">{{toCurrencyString salePrice}}원</del>
                                      {{/ifHasDiscount}}
                                  </li>
                                  <li class="sticker">
                                  {{#each stickerInfos}}
                                      {{#ifEq type 'TEXT'}}{{label}}
                                      {{else ifEq type 'IMAGE'}}{{img label '' '' name '' ''}}
                                      {{/ifEq}}
                                  {{/each}}
                                  </li>
                              </ul>
                          </a>
                      </div>
                    </div>
                </li>
              {{else}}
                <div class="goods_no_data"><strong>상품이 존재하지 않습니다.</strong></div>
              {{/each}}
            </ul>
            </div>
        </script>

        <!-- 위젯(전체, 포토) -->
        <script id="widget-list-allPhoto-template" type="text/x-handlebars-template">
            <div class="goods_list main_wrap_1 main_goods_cont marT55" id="plus-review-widget-container">
                <div class="goods_list goods_display_main">
                    <div class="goods_list_tit">
                        <h3>{{#ifEq type 'ALL'}}상품후기{{else}}포토후기{{/ifEq}}</h3>
                        <div class="btn_goods_more goods_list_box">
                            <a class="btn_goods_view_more"
                                href="/pages/board/product-reviews.html?boardType={{#ifEq type 'ALL'}}ALL{{else}}PHOTO{{/ifEq}}">
                                {{#ifEq type 'ALL'}}전체 상품후기 보기{{else}}포토 상품후기 보기{{/ifEq}}
                            </a>
                        </div>
                    </div>
                    {{#if widgetList}}
                    <ul class="plusReviewList p-list gutter">
                        {{#each widgetList}}
                        <li>
                            <div class="p-thumb">
                                <a href="javascript:;" data-review-no="{{reviewNo}}" data-product-no="{{productInfo.no}}"
                                    data-type="{{#ifEq type 'ALL'}}ALL{{else}}PHOTO{{/ifEq}}" class="photo-display-popup-open"
                                    class="temp-modal">
                                    <span class="img-frame img-frame--normal">
                                        {{#if images.length}}
                                        {{img images.[0] productInfo.name}}
                                        {{/if}} {{#if images.length}} {{#ifEq images.length 1}} {{else}}
                                        <span class="p-thumb__file-count">
                                            {{images.length}}
                                        </span>
                                        {{/ifEq}} {{/if}}
                                    </span>
                                    <div class="p-thumb-row p-thumb__desc">
                                        <p>
                                            <span class="collapse-2">
                                                {{#if isBestReview}}
                                                <em class="tag">best</em>
                                                {{/if}} {{content}}
                                            </span>
                                            <span class="p-thumb__auth">{{register.name}}</span>
                                        </p>
                                    </div>
                                </a>
                                <!-- 상품상세 페이지 이동 -->
                                <a href="/pages/product/view.html?productNo={{productInfo.no}}" class="p-thumb-row p-thumb-anchor">
                                    <span class="img-frame img-frame--sm">
                                        <img src="{{productInfo.thumbnailImage}}" alt="{{productInfo.name}}" />
                                    </span>
                                    <p>
                                        <span class="collapse-1">{{productInfo.name}}</span>
                                        <em class="em">후기: <span>{{productInfo.totalReviewCount}}</span></em>
                                    </p>
                                </a>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                    {{else}}
                    <p class="p-empty em">
                        <span class="p-empty-ico"></span>게시글이 존재하지 않습니다.
                    </p>
                    {{/if}}
                </div>
            </div>
        </script>

        <!-- 위젯(상품 후기) -->
        <script id="widget-list-reviewedProducts-template" type="text/x-handlebars-template">
            <div class='goods_list main_wrap_1 main_goods_cont marT55' id='plus-review-widget-container'>
                <div class='goods_list goods_display_main'>
                    <div class='goods_list_tit'>
                        <h3>
                            상품별 후기
                        </h3>
                        <div class='btn_goods_more goods_list_box'>
                            <a class='btn_goods_view_more' href='/pages/board/product-reviews.html?boardType=REVIEWED_PRODUCTS'>
                                전체 상품후기 보기
                            </a>
                        </div>
                    </div>
                    {{#if widgetList}}
                    <ul class='plusReviewList p-list gutter'>
                        {{#each widgetList}}
                        <li>
                            <div class='p-thumb'>
                                <a href="/pages/product/view.html?productNo={{productNo}}" class='temp-grid'>
                                    <span class='img-frame img-frame--normal'>
                                        {{#if mainImage}}
                                        {{img mainImage productName}}
                                        {{/if}}
                                    </span>
                                    <div class='p-thumb-row p-thumb__desc'>
                                        <p>
                                            <span class='collapse-1'>
                                                {{productName}}
                                            </span>
                                            <span class='p-thumb__price em'>
                                                {{toCurrencyString salePrice}} 원 | 즉시 할인가 {{toCurrencyString
                                                appliedImmediateDiscountPrice}}원
                                            </span>
                                            <span class='p-thumb__comment align-right'>
                                                <em class='em'>
                                                    후기:
                                                    <span>
                                                        {{totalReviewCount}}
                                                    </span>
                                                </em>
                                                <em class='em'>
                                                    평점:
                                                    <span>
                                                        {{reviewRate}}
                                                    </span>
                                                </em>
                                            </span>
                                        </p>
                                    </div>
                                </a>
                                {{#if reviews}}
                                {{#each reviews}}
                                <a href="javascript:;" data-review-no="{{reviewNo}}" data-product-no="{{../productNo}}"
                                    data-type="REVIEWED_PRODUCTS" class="photo-display-popup-open p-thumb-row p-thumb-anchor"
                                    role='button'>
                                    <span class='img-frame img-frame--sm'>
                                        {{#if attachedImage}}
                                        {{img attachedImage content}}
                                        {{/if}}
                                    </span>
                                    <p>
                                        <span class='collapse-2'>
                                            {{#if isBestReview}}
                                            <em class='tag'>
                                                best
                                            </em>
                                            {{/if}}
                                            {{content}}
                                        </span>
                                    </p>
                                </a>
                                {{/each}}
                                {{/if}}
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                    {{else}}
                    <p class='p-empty em'>
                        <span class='p-empty-ico'></span>
                        게시글이 존재하지 않습니다.
                    </p>
                    {{/if}}
                </div>
            </div>
        </script>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/index.js"></script>
    </body>
</html>
