<!--
  ~  © 2021. NHN Commerce Corp. All rights reserved.
  ~  NHN Corp. PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  ~
  ~  @author hyeyeon-park
  ~  @since 2021.7.26
  -->

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>게시판 리스트</title>
    </head>
    <body>
        <header id="header"></header>
        <div id="contents">
            <main id="articlesPage" class="sub_content invisible">
                <div class="content">
                    <div class="page_top_area">
                        <div class="navi_g">
                            <ul>
                                <li>홈</li>
                                <li class="board_name invisible">{{boardName}}</li>
                            </ul>
                        </div>
                        <div class="sub_top">
                            <div class="sub_top_left">
                                <a id="goBack"></a>
                            </div>
                            <h2>
                                <a href="#" class="js_page_reload"><span class="board_name invisible">{{boardName}}</span></a>
                            </h2>
                        </div>
                    </div>
                    <div>
                        <div class="list_default">
                            <div id="boardlist" class="boardlist">
                                <div class="list_qa">
                                    <div id="btnWriteBox" class="boardlist">
                                        {{#if btnWriteUsed}}
                                        <a href="#" id="btnArticleWrite" class="board_btn btn_write">글 작성하기</a>
                                        {{/if}}
                                    </div>
                                </div>

                                <div class="board_search">
                                    <div class="search_input">
                                        <input id="articleKeyword" type="search" name="keyword" value="" placeholder="검색어를 입력해 주세요." />
                                    </div>
                                    <div class="search_btn">
                                        <button type="button" id="btnArticleSearch" class="board_search_btn">
                                            검 색
                                        </button>
                                    </div>
                                </div>

                                <div class="goods_area">
                                    <div>
                                        <ul id="boardArticles" class="notice_list" data-template-id="articlesTemplate"></ul>
                                        <div id="boardMoreButton"></div>
                                    </div>
                                </div>
                            </div>
                            <div id="layerDim" class="dn">&nbsp;</div>
                        </div>
                    </div>
                </div>
            </main>
            <script id="articlesTemplate" type="text/x-handlebars-template">
                <ul id='boardArticles' class='notice_list' data-template-id='articlesTemplate'>
                    {{#each articles}}
                        <li
                            data-article-no="{{articleNo}}"
                            data-register-type="{{registerType}}"
                            data-register-no="{{registerNo}}"
                            data-modifier-no="{{modifierNo}}"
                            data-secret="{{secreted}}"
                        >
                            <a href='javascript:void(0);'>
                                <div class='notice_box'>
                                    <div class='notice_title'>
                                        <span class='text'>
                                            {{#ifEq notice true}}
                                                <span class='noti_title'>
                                                    공지
                                                </span>
                                            {{/ifEq}}
                                            {{#if secreted}}
                                                <img src='/assets/img/icon/icon_board_secret2_on.png' alt='비밀글' />
                                            {{/if}}
                                            {{#if secreted}}
                                                {{IsWriter registerType registerNo modifierNo title}}
                                            {{else}}
                                                {{title}}
                                            {{/if}}
                                            {{badge 'new' registerYmdt}}
                                            {{badge 'hot' viewCnt}}
                                        </span>
                                        <div class='notice_bottom'>
                                            <span class='notice_data'>
                                                <span>
                                                    {{registerName}}
                                                </span>
                                                <time datetime="{{registerYmdt}}">
                                                    {{substring registerYmdt 0 10}}
                                                </time>
                                            </span>
                                        </div>
                                        <div class='notice_number'>
                                            <span>
                                                조회 수 : {{viewCnt}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    {{else}}
                        <li class='no_data'>
                            <p>
                                게시글이 존재하지 않습니다.
                            </p>
                        </li>
                    {{/each}}
                </ul>
            </script>
        </div>
        <footer id="footer"></footer>
        <div id="popups-area"></div>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/board/list.js"></script>
    </body>
</html>
