<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <title>Plus review</title>
    </head>

    <body>
        <header id="header"></header>
        <div id="contents">
            <main class="contents_wrap">
                <div class="page_top_area"></div>
                <div id="p-tab">
                    <button data-type="{{tabData.type.all}}" class="{{#ifEq tabData.nowType 'ALL'}} on {{/ifEq}}">
                        전체 상품후기
                    </button>
                    <button data-type="{{tabData.type.photo}}" class="{{#ifEq tabData.nowType 'PHOTO'}} on {{/ifEq}}">
                        포토 상품후기
                    </button>
                    <button data-type="{{tabData.type.reviewedProducts}}" class="{{#ifEq tabData.nowType 'REVIEWED_PRODUCTS'}} on {{/ifEq}}">
                        상품기준 상품후기
                    </button>
                </div>
                <p class="align-right">
                    <button class="underline-btn">상품후기 작성</button>
                </p>
                <div class="options gutter">
                    <div class="option-field">
                        <span class="select-container">
                            <select id="p-sort-select" class="p-select">
                                {{#ifEq sortBtnsData.currentTab 'allPhoto'}}
                                <option value="{{sortBtnsData.type.bestReview}}">베스트순</option>
                                <option value="{{sortBtnsData.type.registerYMDT}}">등록일순</option>
                                <option value="{{sortBtnsData.type.rating}}" data-order="DESC">평점높은순</option>
                                <option value="{{sortBtnsData.type.rating}}" data-order="ASC">평점낮은순</option>
                                {{#if sortBtnsData.useRecommend}}
                                <option value="{{sortBtnsData.type.recommend}}">추천순</option>
                                {{/if}} {{else}}
                                <option value="{{sortBtnsData.type.reviewCount}}">리뷰 많은 순</option>
                                <option value="{{sortBtnsData.type.registerYMDT}}">등록일순</option>
                                <option value="{{sortBtnsData.type.reviewRate}}" data-order="DESC">평점높은순</option>
                                <option value="{{sortBtnsData.type.reviewRate}}" data-order="ASC">평점낮은순</option>
                                {{/ifEq}}
                            </select>
                            <select id="p-category-select" class="p-select">
                                {{#if categories}}
                                <option value="">전체</option>
                                {{#each categories}}
                                <option value="{{depth1CategoryNo}}">{{depth1Label}}</option>
                                {{/each}} {{/if}}
                            </select>
                        </span>
                        <button class="magnet-btn">
                            <span class="hidden">검색</span>
                        </button>
                    </div>
                    <div class="insert-keyword" hidden>
                        <span class="c-input">
                            <form id="search-form">
                                <input type="text" placeholder="키워드를 입력해주세요" id="search-keyword" />
                                <p class="c-search-text-del">
                                    <span class="hidden">취소</span>
                                </p>
                            </form>
                        </span>
                    </div>
                </div>
                <div id="plus-review-list-container" class="invisible">
                    <ul id="plusReviewList" class="p-list gutter">
                        {{#if allPhotoListItem}} {{#each allPhotoListItem}}
                        <li>
                            <div class="p-thumb">
                                <a
                                    href="javascript:;"
                                    data-review-no="{{reviewNo}}"
                                    data-product-no="{{productInfo.no}}"
                                    data-type="{{#ifEq type 'ALL'}}ALL{{else}}PHOTO{{/ifEq}}"
                                    class="photo-display-popup-open temp-modal"
                                >
                                    <span class="img-frame img-frame--normal">
                                        {{#if images.length}} {{img images.[0] productInfo.name}} {{/if}} {{#if images.length}} {{#ifEq images.length 1}}
                                        {{else}}
                                        <span class="p-thumb__file-count">
                                            {{images.length}}
                                        </span>
                                        {{/ifEq}} {{/if}}
                                    </span>
                                    <div class="p-thumb-row p-thumb__desc">
                                        <p>
                                            <span class="collapse-2">
                                                {{#if isBestReview}}
                                                <em class="tag">best</em>
                                                {{/if}} {{content}}
                                            </span>
                                            <span class="p-thumb__auth">{{register.name}}</span>
                                        </p>
                                    </div>
                                </a>
                                <!-- 상품상세 페이지 이동 -->
                                <a href="/pages/product/view.html?productNo={{productInfo.no}}" class="p-thumb-row p-thumb-anchor">
                                    <span class="img-frame img-frame--sm">
                                        {{img productInfo.thumbnailImage productInfo.name}}
                                    </span>
                                    <p>
                                        <span class="collapse-1">{{productInfo.name}}</span>
                                        <em class="em">후기: <span>{{productInfo.totalReviewCount}}</span></em>
                                    </p>
                                </a>
                            </div>
                        </li>
                        {{/each}} {{else if reviewProductItem}} {{#each reviewProductItem}}
                        <li>
                            <div class="p-thumb">
                                <a href="/pages/product/view.html?productNo={{productNo}}" class="temp-grid">
                                    <span class="img-frame img-frame--normal">
                                        {{#if mainImage}} {{img mainImage productName}} {{/if}}
                                    </span>
                                    <div class="p-thumb-row p-thumb__desc">
                                        <p>
                                            <span class="collapse-1">{{productName}}</span>
                                            <span class="p-thumb__price em">{{salePrice}} 원 | 즉시 할인가 {{appliedImmediateDiscountPrice}}원</span>
                                            <span class="p-thumb__comment align-right">
                                                <em class="em"> 후기: <span>{{totalReviewCount}}</span> </em>
                                                <em class="em"> 평점: <span>{{reviewRate}}</span> </em>
                                            </span>
                                        </p>
                                    </div>
                                </a>
                                {{#if reviews}} {{#each reviews}}
                                <a
                                    href="javascript:;"
                                    data-review-no="{{reviewNo}}"
                                    data-product-no="{{../productNo}}"
                                    data-type="REVIEWED_PRODUCTS"
                                    class="photo-display-popup-open p-thumb-row p-thumb-anchor"
                                    role="button"
                                >
                                    <span class="img-frame img-frame--sm">
                                        {{#if attachedImage}} {{img attachedImage content}} {{/if}}
                                    </span>
                                    <p>
                                        <span class="collapse-2">
                                            {{#if isBestReview}}
                                            <em class="tag">best</em>
                                            {{/if}} {{content}}
                                        </span>
                                    </p>
                                </a>
                                {{/each}} {{/if}}
                            </div>
                        </li>
                        {{/each}} {{else}}
                    </ul>
                    <p class="p-empty em"><span class="p-empty-ico"></span>작성된 리뷰가 없습니다.</p>
                    {{/if}}
                </div>
                <div id="pagination" class="pagination"></div>
            </main>
        </div>
        <footer id="footer"></footer>
        <div id="popups-area"></div>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script src="/js/core/shopby.js"></script>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/my/components/mypage-components.js"></script>
        <script src="/js/pages/board/product-reviews.js"></script>
    </body>
</html>
