<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>게시글 상세보기</title>
    </head>
    <body>
        <header id="header"></header>
        <div id="contents">
            <div class="page_top_area">
                <div class="sub_top invisible">
                    <div class="sub_top_left">
                        <a id="goBack"></a>
                    </div>
                    <h2>
                        <a href="#" class="js_page_reload"><span class="board_name">{{boardName}}</span></a>
                    </h2>
                    <div class="sub_top_right">
                        <a href="/pages/board/list.html?boardId={{boardId}}" class="btn_board_list">목록</a>
                    </div>
                </div>
            </div>
            <div id="boardViewPage" class="invisible">
                <div class="view_default notice_view">
                    <div class="goods_area">
                        <h3 class="boardContent">{{articles.title}}</h3>
                        <div id="boardContent" class="boardContent view_wrap">
                            <div class="view_box">
                                <div class="view_info_box">
                                    <div class="view_info">
                                        <span class="writer">{{articles.registerName}}</span>
                                        <span class="date">{{articles.registerYmdt}}</span>
                                    </div>
                                </div>
                                <div class="view_body"></div>
                                <div class="contents_holder">
                                    <p>{{{articles.content}}}</p>
                                </div>
                                <ul class="add_file_area">
                                    {{#each articles.attachments}}
                                    <li class="vis_mode">
                                        <div>
                                            {{img uploadedFileName}}
                                            <span class="zoom"> <img src="/assets/img/icon/icon_view_add_file.png" alt="보기" /></span>
                                        </div>
                                    </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                        <button class="openBoard up">본문 닫기<img class="board-arrow_up" src="/assets/img/icon/icon_arrow_next1.png" /></button>
                        <h3>{{reply.title}}</h3>
                        <div id="replyContent" class="view_wrap">
                            <div class="view_box">
                                <div class="view_info_box">
                                    <div class="view_info">
                                        <span class="writer">{{reply.registerName}}</span>
                                        <span class="date">{{reply.registerYmdt}}</span>
                                    </div>
                                </div>
                                <div class="view_body"></div>
                                <div class="contents_holder">
                                    <p>{{{reply.content}}}</p>
                                </div>
                                <ul class="add_file_area">
                                    {{#each reply.attachments}}
                                    <li class="vis_mode">
                                        <div>
                                            {{img uploadedFileName}}
                                            <span class="zoom"> <img src="/assets/img/icon/icon_view_add_file.png" alt="보기" /></span>
                                        </div>
                                    </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer id="footer"></footer>
        <div id="popups-area"></div>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/board/reply.js"></script>
    </body>
</html>
