<!--
  ~  © 2021. NHN Commerce Corp. All rights reserved.
  ~  NHN Corp. PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  ~
  ~  @author hyeyeon-park
  ~  @since 2021.7.26
  -->

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>게시글 상세보기</title>
    </head>
    <body>
        <header id="header"></header>
        <div id="contents">
            <div class="page_top_area">
                <div class="sub_top">
                    <div class="sub_top_left">
                        <a id="goBack"></a>
                    </div>
                    <h2>
                        <a href="#" class="js_page_reload"><span class="board_name invisible">{{boardName}}</span></a>
                    </h2>
                    <div class="sub_top_right">
                        <a class="btn_board_list">목록</a>
                    </div>
                </div>
            </div>
            <div id="boardViewPage" class="invisible">
                <div class="view_default notice_view">
                    <div class="goods_area">
                        <h3>{{articles.title}}</h3>
                        <div id="boardContent" class="view_wrap">
                            <div class="view_box">
                                <div class="view_info_box">
                                    <div class="view_info">
                                        <span class="writer">{{articles.registerName}}</span>
                                        <span class="date">{{articles.registerYmdt}}</span>
                                    </div>
                                </div>
                                <div class="view_body"></div>
                                <div class="contents_holder">
                                    <p>{{{articles.content}}}</p>
                                </div>
                                <ul class="add_file_area">
                                    {{#each articles.attachments}}
                                    <li class="vis_mode">
                                        <div>
                                            {{img uploadedFileName}}
                                            <span class="zoom"> <img src="/assets/img/icon/icon_view_add_file.png" alt="보기" /></span>
                                        </div>
                                    </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>

                        {{#if replyExposure}}
                        <h3>답글보기</h3>
                        <div class="view_wrap">
                            <div id="replies" class="comment_wrap" data-template-id="repliesTemplate"></div>
                        </div>
                        {{/if}}

                        <div id="viewMore"></div>

                        <div class="btn_wish_bx">
                            <ul class="btn_bx">
                                {{#if articles.modifiable}}
                                <li>
                                    <button type="button" id="articleDel" class="write_cancel_btn ly_btn_close btn_board_del">
                                        삭 제
                                    </button>
                                </li>
                                <li>
                                    <button type="submit" id="articleEdit" class="write_save_btn btn_board_edit">
                                        수 정
                                    </button>
                                </li>
                                {{/if}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script id="repliesTemplate" type="text/x-handlebars-template">
            <div id='replies' class='comment_wrap' data-template-id='repliesTemplate'>
                {{#each replyArticles}}
                    <div class='comment_info' data-article-no="{{articleNo}}" data-must-hidden="{{mustHidden}}">
                        <div class='comment_info-top'>
                            <span class='reply'></span>
                            {{#if secreted}}
                                <img src='/assets/img/icon/icon_board_secret.png' alt='비밀글' />
                            {{/if}}
                            <span class='title'>
                                {{title}}
                            </span>
                            {{#if imageUrl}}
                                <img class='ico_file' src='/assets/img/icon/icon_board_attach_file.png' />
                            {{/if}}

                            {{#if new}}
                                <span class='new'></span>
                            {{/if}}
                        </div>
                        <div class='comment_info-bottom'>
                            <span>
                                샵바이프로 {{registerName}}
                            </span>
                            <span>
                                {{registerYmdt}}
                            </span>
                            <span>
                                조회수 {{viewCount}}
                            </span>
                        </div>
                    </div>
                {{/each}}
            </div>
        </script>

        <footer id="footer"></footer>
        <div id="popups-area"></div>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/board/view.js"></script>
    </body>
</html>
