<!--
  ~  © 2021. NHN Commerce Corp. All rights reserved.
  ~  NHN Corp. PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  -->

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <title>성인인증 인트로</title>
    </head>

    <body>
        <div id="contents">
            <div class="adult_wrap">
                <div class="{{#ifLogined}}adult_member_cont{{else}}adult_guest_cont{{/ifLogined}}">
                    {{#ifLogined}}
                    <!-- 회원 -->
                    <div class="member_tit_box">
                        <em>{{memberName}}님, <strong>성인인증</strong> 해주셔야 서비스를 이용하실 수 있습니다.</em>
                        <p>
                            개정된 청소년 관련 법령 및 여성가족부 정책 에 따라
                            <strong>1년에 한번 성인인증</strong> 하도록 변경되었습니다. 오늘 성인인증 하시면 1년간 별도의 인증 없이 서비스를 이용하실 수
                            있습니다.
                        </p>
                    </div>
                    {{else}}
                    <!-- 비회원 -->
                    <div class="guest_tit_box">
                        <em>본 정보 내용은 청소년에게 유해한 정보를 포함하고 있어 <strong>성인인증 절차</strong>를 거쳐야 합니다.</em>
                        <p>
                            본 정보 내용은 청소년 유해매체물로서 정보통신망 이용촉진 및 정보보호등에 관한 법률 및 청소년 보호법의 규정에 의하여
                            <strong>19세 미만의 청소년</strong>이 이용할 수 없습니다.
                        </p>
                        <button class="btn_exit">19세 미만 나가기</button>
                    </div>
                    {{/ifLogined}} {{#ifLogined}}
                    <div class="member_login_wrap">
                        <div class="member_certify_box">
                            <div class="member_certify">
                                <h3>인증수단 선택</h3>
                                <ul>
                                    <li>
                                        <button class="js_auth_cellphone btnCertificationByMobile">
                                            휴대폰 인증 받기
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {{else}}
                    <div class="guest_login_wrap">
                        <div class="guest_login_box" style="width: 555px;">
                            <div class="guest_certify hide">
                                <h3>비회원 성인 인증</h3>
                                <!-- 2차 스펙 -->
                                <ul>
                                    <li>
                                        <button class="js_auth_cellphone btnCertificationByMobile">
                                            휴대폰 인증 받기
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <div class="guest_login">
                                <h3>회원 로그인</h3>
                                <div class="login_input_sec">
                                    <div>
                                        <input type="text" id="memberId" name="memberId" placeholder="아이디" />
                                        <input type="password" id="password" name="password" placeholder="비밀번호" />
                                    </div>
                                    <button type="button" name="member-login-btn" id="member-login-btn">
                                        로그인
                                    </button>
                                </div>
                                <div id="openIdMethod" class="member_sns_login">
                                    {{#each providers}}
                                    <a href="#" class="btn_{{provider}}_login js_btn_{{provider}}_login btn_login_sns" data-provider="{{provider}}">
                                        {{img url '' '' title}}
                                    </a>
                                    {{/each}}
                                </div>
                                <div class="btn" id="loginBox">
                                    <button type="button" class="guest_btn base3" id="btnJoinMember" data-action="joinMethod">
                                        <em>회원가입</em>
                                    </button>
                                    <button type="button" class="guest_btn default" id="btnFindId" data-action="findId">
                                        <em>아이디 찾기</em>
                                    </button>
                                    <button type="button" class="guest_btn default" id="btnFindPwd" data-action="findPwd">
                                        <em>비밀번호 찾기</em>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <!-- //guest_login_box -->
                        <p class="domain_url"><span></span></p>
                    </div>
                    {{/ifLogined}}
                </div>
            </div>
        </div>
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script src="/js/core/shopby.js"></script>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/intro/adult-certification.js"></script>
        <div id="popups-area"></div>
    </body>
</html>
