<!--
  ~  © 2021. NHN Commerce Corp. All rights reserved.
  ~  NHN Corp. PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  -->

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>회원탈퇴</title>
    </head>

    <body>
        <div id="contents" class="visible">
            <div class="site_ready">
                <strong>회원 전용으로 운영되는 쇼핑몰입니다.</strong>
                <p class="company-info">
                    로그인 / 회원가입 후 이용 가능합니다.
                </p>
            </div>
            <div class="content_box">
                <div class="member_wrap">
                    <div class="member_tit">
                        <h2>로그인</h2>
                    </div>
                    <div class="member_cont" id="login-content">
                        <div class="member_login_box" id="member-login-container">
                            <h3>회원 로그인</h3>
                            <div class="login_input_sec">
                                <div>
                                    <label for="memberId"></label><input type="text" id="memberId" name="member-id" placeholder="아이디" />
                                    <label for="password"></label><input type="password" id="password" name="member-password" placeholder="비밀번호" />
                                </div>
                                <button type="button" name="member-login-btn" id="member-login-btn">
                                    로그인
                                </button>
                            </div>
                            <div class="id_chk">
                                <span class="form_element">
                                    <input type="checkbox" id="saveId" name="save-id" value="y" />
                                    <label for="saveId" class="">아이디 저장</label>
                                </span>
                            </div>
                            <p class="js_caution_msg1">
                                아이디, 비밀번호가 일치하지 않습니다. 다시 입력해 주세요.
                            </p>
                        </div>
                        <!-- //login_box -->
                        <div id="openIdMethod" class="member_sns_login invisible">
                            {{#each providers}}
                            <a href="#" class="btn_{{provider}}_login js_btn_{{provider}}_login btn_login_sns" data-provider="{{provider}}">
                                {{img url '' '' title}}
                            </a>
                            {{/each}}
                        </div>
                        <div class="btn_login_box">
                            <ul>
                                <li>
                                    <button id="btnJoinMember" class="btn_member_join" data-action="joinMethod">
                                        회원가입
                                    </button>
                                </li>
                                <li>
                                    <button id="btnFindId" class="btn_member_white" data-action="findId">
                                        아이디 찾기
                                    </button>
                                </li>
                                <li>
                                    <button id="btnFindPwd" class="btn_member_white" data-action="findPwd">
                                        비밀번호 찾기
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/intro/member-only.js"></script>
        <div id="popups-area"></div>
    </body>
</html>
