<!--
  ~  © 2021. NHN Commerce Corp. All rights reserved.
  ~  NHN Corp. PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  -->

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <title>접속불가 인트로</title>
    </head>

    <body>
        <div id="contents">
            <main class="sub_content">
                <div class="content">
                    <div class="site_ready hide" id="noAccess">
                        <strong>서비스 준비중입니다.</strong>
                        <p>이용에 불편을 드려 죄송합니다.<br />빠른 시일 내에 더욱 나은 서비스로 찾아뵙겠습니다. <br />감사합니다.</p>
                        <p class="company-info">
                            현재 접속하신 <b>{{mall.mallName}}</b>의<br />
                            이용관련 문의는 <b>{{mall.serviceCenter.phoneNo}}</b>로 연락하시기 바랍니다.<br />
                            감사합니다.
                        </p>
                    </div>
                </div>
            </main>
        </div>
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script src="/js/core/shopby.js"></script>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/intro/no-access.js"></script>
    </body>
</html>
