<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>Join</title>
    </head>

    <body>
        <header id="header"></header>
        <div id="contents">
            <div class="page_top_area">
                <div class="navi_g">
                    <ul>
                        <li>홈</li>
                        <li>회원가입</li>
                    </ul>
                </div>
                <div class="sub_top">
                    <div class="sub_top_left">
                        <a id="goBack"></a>
                    </div>
                    <h2><a href="/pages/join/agreement.html" class="js_page_reload">회원가입(약관동의)</a></h2>
                </div>
            </div>

            <main class="join_agreement">
                <div class="join_step">
                    <ul>
                        <li class="on">약관동의</li>
                        <li>계정생성</li>
                        <li>가입완료</li>
                    </ul>
                </div>

                <div class="content_box">
                    <div class="join_agreement_wrap">
                        <!-- //member_tit -->
                        <div id="joinAgreement" data-template-id="joinAgreementTemplate"></div>
                        <script id="joinAgreementTemplate" type="text/x-handlebars-template">
                            <div class="terms_wrap">
                                <div class="join_agreement_box">
                                    <div class="all_chk">
                                        <span class="inp_chk">
                                            <input type="checkbox" id="allAgree" name="termAllTem" {{isAllChecked}} />
                                            <label class="check" for="allAgree">
                                                <em>{{mallName}}의 모든 약관을 확인하고 전체동의합니다.<br />(전체동의, 선택항목도 포함됩니다.)</em>
                                            </label>
                                        </span>
                                    </div>
                                </div>
                                <!-- //join_agreement_box -->
                                <div class="privacy_big_box">
                                    {{#each agreements}}
                                        <div class="privacy_box ">
                                            <dl>
                                                <dt>
                                                    <span class="inp_chk">
                                                        <input type="checkbox" id="agreeCheckbox-{{key}}" name="termItem"
                                                               class="{{#if required}}require{{else}}option{{/if}}" data-term-id="{{key}}">
                                                        <label for="agreeCheckbox-{{key}}" class="check_s">
                                                            <em><b>{{#if required}}[필수]{{else}}[선택]{{/if}}</b>{{label}}</em>
                                                        </label>
                                                    </span>
                                                </dt>
                                                <dd class="agreement_detail">
                                                    {{#if contents}}
                                                        <button class="agreement_detail" data-term-id="{{key}}">보기 > </button>
                                                    {{/if}}
                                                </dd>
                                            </dl>
                                        </div>
                                    {{/each}}
                                    <div class="privacy_box">
                                        <dl>
                                            <dt>
                                                <span class="inp_chk">
                                                    <input type="checkbox" id="agreeCheckbox-JOIN_POSSIBLE_AGE" name="termItem"
                                                           class="require" data-term-id="JOIN_POSSIBLE_AGE">
                                                    <label class="check_s" for="agreeCheckbox-JOIN_POSSIBLE_AGE">
                                                        <em><b>[필수]</b>본인은 만 14세 이상입니다.</em>
                                                    </label>
                                                </span>
                                            </dt>
                                        </dl>
                                    </div>
                                </div>


                                <div class="join_certify_box" style="text-align:center; display:none">
                                    <strong class="msg">(!) 필수항목을 체크해주세요.</strong>
                                </div>
                                <!-- //join_agreement_cont -->
                                {{#if isAuthPhoneConfig}}
                                <div class="join_certify_box">
                                    <div class="join_certify_list">
                                        <ul>
                                            <li>
                                                <a href="#" id="btnAuthKCP" class="btnAuthKCP">휴대폰 본인인증</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                {{/if}}
                                <div class="member_confirm_btn">
                                    <ul>
                                        <li>
                                            <a href="/pages/join/method.html" class="join_prev_btn">이전</a>
                                        </li>
                                        <li>
                                            <button type="button" id="nextStepBtn" class="join_next_btn">다음</button>
                                        </li>
                                    </ul>
                                </div>
                                <!-- //btn_member_sec -->
                            </div>
                            <!-- //member_cont -->
                        </script>
                    </div>
                </div>
            </main>
        </div>
        <footer id="footer"></footer>
        <div id="popups-area"></div>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/join/agreement.js"></script>
    </body>
</html>
