<!--
  ~  © 2021. NHN Commerce Corp. All rights reserved.
  ~  NHN Corp. PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  ~
  ~  @author choisohyun
  ~  @since 2021.6.29
  ~
  -->

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>Join</title>
    </head>

    <body>
        <header id="header"></header>
        <div id="contents">
            <div class="page_top_area">
                <div class="page_top_area">
                    <div class="navi_g">
                        <ul>
                            <li>홈</li>
                            <li>회원가입</li>
                        </ul>
                    </div>
                    <div class="sub_top">
                        <div class="sub_top_left">
                            <a id="goBack"></a>
                        </div>
                        <h2><a href="/pages/join/agreement.html" class="js_page_reload">회원가입</a></h2>
                    </div>
                </div>
            </div>

            <main class="join_ok">
                <div class="join_step">
                    <ul>
                        <li>약관동의</li>
                        <li>계정생성</li>
                        <li class="on">가입완료</li>
                    </ul>
                </div>

                <div class="join_content">
                    <p id="joinMemberId" class="tx invisible">
                        {{memberId}}님<br />
                        가입을 축하드립니다!
                    </p>
                </div>

                <div class="btn">
                    <button id="btnLogin" class="join_login_btn" type="button">로그인 하기</button>
                </div>
            </main>
        </div>
        <footer id="footer"></footer>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/join/complete.js"></script>
    </body>
</html>
