<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>Join</title>
    </head>

    <body>
        <header id="header"></header>
        <div id="contents">
            <div class="page_top_area">
                <div class="navi_g">
                    <ul>
                        <li>홈</li>
                        <li>회원가입</li>
                    </ul>
                </div>
                <div class="sub_top">
                    <div class="sub_top_left">
                        <a id="goBack"></a>
                    </div>
                    <h2><a href="/pages/join/agreement.html" class="js_page_reload">회원가입</a></h2>
                </div>
            </div>

            <main class="join">
                <div class="join_step">
                    <ul>
                        <li>약관동의</li>
                        <li class="on">계정생성</li>
                        <li>가입완료</li>
                    </ul>
                </div>

                <div class="join_content_box">
                    <div class="join_content">
                        <div class="join_view">
                            <span class="required">표시는 필수입력 항목입니다.</span>
                            <script id="memberRegister" data-template-id="memberRegister" type="text/x-handlebars-template">
                                <div class="memberInfo">
                                    <div class="base_info_box">
                                        <div class="base_info_sec">
                                            <input type="hidden" id="ci" name="ci" value="{{kcpAuth.ci}}"/>
                                            <div class="memberInfo" id="memberRegisterForm">
                                                <div class="input_wrap">
                                                    <div class="input_title {{#ifEq memberJoinConfig.memberId 'REQUIRED'}}required{{/ifEq}}"><label for="memberId"">아이디</label></div>
                                                    <div class="input_content">
                                                        <input type="text" id="memberId" name="memberId" {{#ifEq memberJoinConfig.memberId 'REQUIRED'}}class="require"{{/ifEq}} minlength="5"  maxlength="35" data-pattern="userid" placeholder="아이디 입력"/>
                                                        <div class="warning_message"></div>
                                                    </div>
                                                </div>
                                                <div class="input_wrap">
                                                    <div class="input_title {{#ifEq memberJoinConfig.password 'REQUIRED'}}required{{/ifEq}}"><label for="password">비밀번호</label></div>
                                                    <div class="input_content">
                                                        <div class="password_wrap">
                                                            <input type="password" id="password" name="password" {{#ifEq memberJoinConfig.password 'REQUIRED'}}class="require"{{/ifEq}}
                                                                   autocomplete="new-password" minlength="8"  maxlength="20" data-pattern="noSpace" placeholder="영문,숫자,특수문자 중 3개 이상 조합하여 8~20자 입력"/>
                                                            <div class="warning_message"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="input_wrap">
                                                    <div class="input_title {{#ifEq memberJoinConfig.password 'REQUIRED'}}required{{/ifEq}}"><label for="passwordChk">비밀번호 확인</label></div>
                                                    <div class="input_content">
                                                        <input type="password" id="passwordChk" name="passwordChk" {{#ifEq memberJoinConfig.password 'REQUIRED'}}class="require"{{/ifEq}}
                                                               autocomplete="off"  minlength="8"  maxlength="20" data-pattern="noSpace" placeholder="비밀번호 한 번 더 입력"/>
                                                        <div class="warning_message"></div>
                                                    </div>
                                                </div>
                                                <div class="input_wrap">
                                                    <div class="input_title {{#ifEq memberJoinConfig.memberName 'REQUIRED'}}required{{/ifEq}}"><label for="memberName">이름</label></div>
                                                    <div class="input_content">
                                                        {{#if kcpAuth}}
                                                            <input type="text" id="memberName" name="memberName" maxlength="30" {{#ifEq memberJoinConfig.memberName 'REQUIRED'}}class="require"{{/ifEq}}
                                                                   value="{{kcpAuth.name}}" disabled/>
                                                        {{else}}
                                                            <input type="text" id="memberName" name="memberName" maxlength="30" {{#ifEq memberJoinConfig.memberName 'REQUIRED'}}class="require"{{/ifEq}}
                                                                  placeholder="이름 입력" data-pattern="noSpecialSpace" />
                                                            <div class="warning_message"></div>
                                                        {{/if}}
                                                    </div>
                                                </div>
                                                <div class="input_wrap">
                                                    <div class="input_title {{#ifEq memberJoinConfig.nickname 'REQUIRED'}}required{{/ifEq}}"><label for="nickname">닉네임</label></div>
                                                    <div class="input_content">
                                                        <input type="text" id="nickname" name="nickname" {{#ifEq memberJoinConfig.nickname 'REQUIRED'}}class="require"{{/ifEq}} maxlength="20" value="" data-pattern="noSpecialSpace" />
                                                        <div class="warning_message"></div>
                                                    </div>
                                                </div>
                                                <div class="input_wrap">
                                                    <div class="input_title {{#ifEq memberJoinConfig.email 'REQUIRED'}}required{{/ifEq}}"><label>이메일</label></div>
                                                    <div class="email_box input_content">
                                                        <input type="text" name="email" id="emailId" {{#ifEq memberJoinConfig.email 'REQUIRED'}}class="require"{{/ifEq}}
                                                               data-pattern="noPartSpecial"/>
                                                        <span class="at">@</span>
                                                        <input type="text" name="email" id="emailDomain" {{#ifEq memberJoinConfig.email 'REQUIRED'}}class="require"{{/ifEq}}
                                                               data-pattern="noPartSpecial"/>
                                                        <div class="warning_message"></div>
                                                    </div>


                                                    <!-- 이메일 인증 시 노출 -->
                                                    {{#if needsEmailAuth}}
                                                        <span class="btn_auth_email">
                                                            <span class="btn_left_box"><button class="btn_send_email" name="sendAuth" data-auth-type="email">인증번호 발송</button></span>
                                                        </span>

                                                        <div class="auth_email hide">
                                                            <div>
                                                                <input type="text"  id="authEmail" class="shop_input" name="auth_email" placeholder="인증번호를 입력하세요." data-pattern="notNumber"/>
                                                                <span>유효시간 <span class="timer"></span></span>
                                                            </div>
                                                            <div class="warning_message"></div>
                                                            <button class="btn_confirm_email" name="confirmAuth" data-auth-type="email">확인</button>
                                                        </div>
                                                    {{/if}}
                                                </div>
                                                <div id="emailCaptcha"></div>
                                                <div class="input_wrap">
                                                    <div class="input_title"></div>
                                                    <div class="input_content">
                                                        <div class="description">
                                                            <span class="inp_chk">
                                                                <input type="checkbox" id="directMailAgreed" class="ignore" name="direct-mail-agreed">
                                                                <label for="directMailAgreed">메일 수신 동의</label>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="input_wrap">
                                                    <div class="input_title {{#ifEq memberJoinConfig.mobileNo 'REQUIRED'}}required{{/ifEq}}"><label>휴대폰번호</label></div>
                                                    <div class="sms_box input_content">
                                                        {{#if kcpAuth}}
                                                            <input type="text" id="mobileNo" name="mobileNo" maxlength="11"
                                                                   {{#ifEq memberJoinConfig.mobileNo 'REQUIRED'}}class="require"{{/ifEq}}
                                                                   value="{{kcpAuth.phone}}" disabled style="width:100%" />
                                                        {{else}}
                                                            <input type="text" id="mobileNo" name="mobileNo" maxlength="11"
                                                                   {{#ifEq memberJoinConfig.mobileNo 'REQUIRED'}}class="require"{{/ifEq}}
                                                                   placeholder="휴대폰번호 – 없이 입력" data-pattern="notNumber" style="width:100%"/>
                                                        {{/if}}
                                                        <div class="warning_message"></div>
                                                    </div>
                                                    {{#if needsSmsAuth}}
                                                        <span class="btn_auth_sms">
                                                                <span class="btn_left_box"><button class="btn_send_sms" name="sendAuth" data-auth-type="sms">인증번호 발송</button></span>
                                                            </span>

                                                        <div class="auth_sms hide">
                                                            <div>
                                                                <input type="text" id="authSMS" class="shop_input" name="auth_sms" placeholder="인증번호를 입력하세요." data-pattern="notNumber"/>
                                                                <span>유효시간 <span class="timer"></span></span>
                                                            </div>
                                                            <div class="warning_message"></div>
                                                            <button class="btn_confirm_sms" name="confirmAuth" data-auth-type="sms">확인</button>
                                                        </div>
                                                    {{/if}}
                                                </div>
                                                <div id="smsCaptcha"></div>
                                                <div class="input_wrap">
                                                    <div class="input_title"></div>
                                                    <div class="input_content">
                                                        <div class="description">
                                                            <span class="inp_chk">
                                                                <input type="checkbox" id="smsAgreed" name="direct-sms-agreed">
                                                                <label for="smsAgreed" class="check_s">SMS 수신 동의</label>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="input_wrap">
                                                    <div class="input_title {{#ifEq memberJoinConfig.phoneNo 'REQUIRED'}}required{{/ifEq}}"><span>전화번호</span></div>
                                                    <div class="input_content">
                                                        <input type="text" id="telephoneNo" name="telephoneNo" {{#ifEq memberJoinConfig.phoneNo 'REQUIRED'}}class="require"{{/ifEq}}
                                                               maxlength="12" placeholder="전화번호 - 없이 입력"
                                                               data-pattern="notNumber"/>
                                                    </div>
                                                </div>
                                                <div class="input_wrap">
                                                    <div class="input_title {{#ifEq memberJoinConfig.address 'REQUIRED'}}required{{/ifEq}}"><span>주소</span></div>
                                                    <div class="input_content">
                                                        <div class="zipcode_box">
                                                            <div class="zipcode_top">
                                                                <div class="zipcode_num">
                                                                    <input type="text" name="zipCd" id="zipCd" readonly="readonly" {{#ifEq memberJoinConfig.address 'REQUIRED'}}class="require"{{/ifEq}}
                                                                           value="{{memberAddress.zipCode}}"/>
                                                                    <div class="zipcode_btn_box">
                                                                        <button type="button" id="btnPostcode" class="zipcode_btn">
                                                                            우편번호 찾기
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="address_input">
                                                                <div>
                                                                    <input type="text" name="address" id="address" readonly="readonly" disabled
                                                                           value="{{memberAddress.address}}"/>
                                                                    <input type="hidden" name="jibunAddress" id="jibunAddress"
                                                                           value="{{memberAddress.jibunAddress}}"/>
                                                                </div>
                                                                <div class="js_address_sub">
                                                                    <input type="text" name="detailAddress"/>
                                                                    <input type="hidden" name="jibunDetailAddress"
                                                                         />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="input_wrap">
                                                    <div class="input_title {{#ifEq memberJoinConfig.birthday 'REQUIRED'}}required{{/ifEq}}"><span>생년월일</span></div>
                                                    <div class="input_content member_birthday">
                                                        <div class="inp_sel">
                                                            <select name="birthYear" {{#ifNe kcpAuth null}}disabled{{/ifNe}} style="width:40%">
                                                                {{#each selectOptions.yearList}}
                                                                    {{option value name ../year}}
                                                                {{/each}}
                                                            </select>
                                                            <select name="birthMonth" {{#ifNe kcpAuth null}}disabled{{/ifNe}} style="width:25%">
                                                                {{#each selectOptions.monthList}}
                                                                    {{option value name ../month}}
                                                                {{/each}}
                                                            </select>
                                                            <select name="birthDay" {{#ifNe kcpAuth null}}disabled{{/ifNe}} style="width:32%">
                                                                {{#each selectOptions.dayList}}
                                                                    {{option value name ../day}}
                                                                {{/each}}
                                                            </select>
                                                        </div>
                                                        <div class="warning_message"></div>
                                                    </div>
                                                </div>
                                                <div class="input_wrap">
                                                    <div class="input_title {{#ifEq memberJoinConfig.sex 'REQUIRED'}}required{{/ifEq}}"><span>성별</span></div>
                                                    <div class="input_content">
                                                        <div class="form_element">
                                                            <ul class="gender_list">
                                                                {{#if kcpAuth}}
                                                                    <li class="inp_rdo">
                                                                        <input type="radio" name="sex" id="sexNon" disabled {{{checked null kcpAuth.sexCode}}}>
                                                                        <label for="sexNon" class="choice_s">선택 안 함</label>
                                                                    </li>
                                                                    <li>
                                                                        <input type="radio" name="sex" id="sexMan" disabled {{{checked "01" kcpAuth.sexCode "M"}}}>
                                                                        <label for="sexMan" class="choice_s">남자</label>
                                                                    </li>
                                                                    <li>
                                                                        <input type="radio" name="sex" id="sexWoman" disabled {{{checked "02" kcpAuth.sexCode "F"}}}>
                                                                        <label for="sexWoman" class="choice_s">여자</label>
                                                                    </li>
                                                                {{else}}
                                                                    <li class="inp_rdo">
                                                                        <input type="radio" name="sex" id="sexNon" value="null" checked>
                                                                        <label for="sexNon" class="choice_s">선택 안 함</label>
                                                                    </li>
                                                                    <li>
                                                                        <input type="radio" name="sex" id="sexMan" value="M">
                                                                        <label for="sexMan" class="choice_s">남자</label>
                                                                    </li>
                                                                    <li>
                                                                        <input type="radio" name="sex" id="sexWoman" value="F">
                                                                        <label for="sexWoman" class="choice_s">여자</label>
                                                                    </li>
                                                                {{/if}}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </script>
                        </div>
                    </div>
                    <div class="join_agreement">
                        <div class="member_confirm_btn">
                            <ul>
                                <li>
                                    <button class="join_prev_btn">이전</button>
                                </li>
                                <li>
                                    <button type="button" id="join_submit" class="join_next_btn">가입완료</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <footer id="footer"></footer>
        <div id="popups-area"></div>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/join/join.js"></script>
    </body>
</html>
