<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>Join Method</title>
    </head>

    <body>
        <header id="header"></header>
        <div id="contents">
            <div class="page_top_area">
                <div class="navi_g">
                    <ul>
                        <li>홈</li>
                        <li>회원가입</li>
                    </ul>
                </div>
                <div class="sub_top">
                    <div class="sub_top_left">
                        <a id="goBack"></a>
                    </div>
                    <h2><a href="/pages/join/method.html" class="js_page_reload">회원가입</a></h2>
                </div>
            </div>

            <main class="join_method">
                <a href="/pages/join/agreement.html" id="btnJoin" class="shop_mall_join"><span>쇼핑몰 회원가입</span></a>
                <ul class="sns_login invisible" id="openIdMethod">
                    {{#each providers}}
                    <li>
                        <a href="#" class="{{provider}} btn_{{provider}}_login js_btn_{{provider}}_login btn_login_sns" data-provider="{{provider}}">
                            {{img url '' '' title}}
                        </a>
                    </li>
                    {{/each}}
                </ul>
            </main>
        </div>
        <footer id="footer"></footer>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/join/method.js"></script>
        <div id="popups-area"></div>
    </body>
</html>
