<!--
  ~  © 2021. NHN Commerce Corp. All rights reserved.
  ~  NHN Corp. PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  ~
  ~  @author hyeyeon-park
  ~  @since 2021.10.6
  -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <title>Access restriction</title>
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
    </head>
    <body>
        <div id="accessRestriction" class="site_ready invisible">
            <strong>이용이 제한된 쇼핑몰입니다.</strong>
            <p>
                <b>현재 접속하신 <span>{{mall.mallName}}</span>에 이용이 제한된 사용자입니다.</b>
            </p>
            <p>
                <b>{{mall.mallName}}</b> 이용관련 문의는 <b>{{mall.serviceCenter.phoneNo}}</b>로 문의바랍니다. <br />
                감사합니다.
            </p>
            <p>
                It is a limited shopping mall.
            </p>
        </div>
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script src="/js/core/shopby.js"></script>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script type="text/javascript" src="/js/pages/access-restriction.js"></script>
    </body>
</html>
