<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>Products</title>
    </head>

    <body>
        <div id="wrap">
            <header id="header"></header>
            <div id="contents" class="goods_list">
                <main id="productsPage" class="sub_content goods_list_content invisible">
                    <div class="location_wrap">
                        <div class="location_cont">
                            <div class="navi_g">
                                <ul id="categorySelector" style="display: none;">
                                    <li><a href="/">HOME</a></li>
                                    {{#each categories}} {{#if @last}}
                                    <li>
                                        <select class="navi_g__select">
                                            {{#each children}}{{#ifEq ../selectedLabel label}}
                                            <option value="{{label}}" selected="selected" data-category-no="{{categoryNo}}">
                                                <span>{{label}}</span>
                                            </option>
                                            {{else}}
                                            <option value="{{label}}" data-category-no="{{categoryNo}}"><span>{{label}}</span> </option>
                                            {{/ifEq}} {{/each}}
                                        </select>
                                    </li>
                                    {{else}} {{#each children}} {{#ifEq ../selectedLabel label}} {{#if isParent}}
                                    <li><a href="/pages/product/list.html?categoryNo={{categoryNo}}">{{../selectedLabel}}</a></li>
                                    {{else}} {{#if @../first}}
                                    <li><span>...</span></li>
                                    {{/if}} {{/if}} {{/ifEq}} {{/each}} {{/if}} {{/each}}
                                </ul>
                            </div>
                            <div class="sub_top">
                                <div class="sub_top_left">
                                    <a id="goBack"></a>
                                </div>
                                <h2 id="selectedCategoryTit">
                                    <a href="#" class="js_page_reload">{{selectedCategoryTit}}</a>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="content_box">
                        <div class="goods_list_box">
                            <div class="goods_list_category" id="searchBoxOrCategoryBoxArea">
                                {{#if selectedChildCategories}}
                                <ul>
                                    {{#each selectedChildCategories}}
                                    <li class="on">
                                        <a href="/pages/product/list.html?depth={{depth}}&categoryNo={{categoryNo}}"
                                            >{{label}}
                                            <span>
                                                <em>({{productCount}})</em>
                                            </span>
                                        </a>
                                    </li>
                                    {{/each}}
                                </ul>
                                {{/if}}
                            </div>
                            <div class="goods_top_box" id="searchResult">
                                {{#if keyword}}
                                <div class="pick_list_num"><span>{{searchWord}}</span> 검색결과 <strong>{{totalCount}}</strong>개</div>
                                {{/if}}
                                <div>
                                    <div id="sort-ui" name="sort-ui">
                                        <div class="goods_arr_box">
                                            <div class="goods_sort">
                                                <div class="inp_sel">
                                                    <select name="goods_sort" id="productSorting">
                                                        {{#if sectionId}}
                                                        <option value="ranking">랭킹순</option
                                                        >{{/if}}
                                                        <option value="sale_cnt">판매량순</option>
                                                        <option value="price_asc">낮은가격순</option>
                                                        <option value="price_dsc">높은가격순</option>
                                                        <option value="review">상품후기순</option>
                                                        <option value="date">등록일순</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="goods_view_type">
                                                <ul>
                                                    <li>
                                                        <button type="button" id="displayType" class="on">list</button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="goods_list">
                                <div class="goods_list_cont">
                                    <div class="item_list_type">
                                        <ul class="goods_product_list" id="productList" data-template-id="product-list-type-list"></ul>
                                    </div>
                                    <div id="productsMoreButton"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <!-- 1. 갤러리형 -->
                <script id="product-list-type-gallery" type="text/x-handlebars-template">
                    <ul class="goods_product_list" id="productList">
                        {{#each productList}}
                            <li class="product_item goods_prd_item2 list_num_2" data-product-no="{{productNo}}">
                                <div class="goods_prd_item2_box">
                                    <div class="goods_prd_img">
                                        <div class="img_box">
                                            <a href="/pages/product/view.html?productNo={{productNo}}"
                                            class="{{#if adult}}item_adult{{/if}}">
                                            {{#if listImageUrls}}{{img listImageUrls '' '' productName 'middle' 'width:100%;height:auto'}}{{/if}}
                                            {{#if adult}}
                                                <strong class="adult_img" style="background-image:url(/assets/img/goods_icon/only_adult_pc.png);">19금</strong>
                                            {{/if}}
                                            {{#ifEq isSoldOut true}}
                                                <strong class="soldout_img"
                                                        style="background-image:url('/assets/img/icon/soldout.png'); display:block;"
                                                >SOLD OUT</strong>
                                            {{/ifEq}}
                                            {{#ifEq saleStatusType 'READY'}}
                                                <div class="item_sell_ing"><span>판매<br>임박</span></div>
                                            {{/ifEq}}
                                            {{#ifEq saleStatusType 'FINISHED'}}
                                                <div class="item_sell_ing"><span>판매<br>종료</span></div>
                                            {{/ifEq}}
                                            </a>
                                            <a class="goods_wish {{#if liked}}on{{/if}}" id="wishBtn" href="#"></a>
                                        </div>
                                    </div>

                                    <div class="goods_prd_content">
                                        <div class="goods_list_info">
                                            <a href="/pages/product/view.html?productNo={{productNo}}">
                                            <ul class="goods_info_list">
                                                <li class="prd_name">{{safeString productName}}</li>
                                                {{#if promotionText}}
                                                    <li class="short_des">{{promotionText}}</li>
                                                {{/if}}
                                                <li class="price">
                                                    {{toCurrencyString calculatedSalePrice}}원
                                                    {{#ifHasDiscount immediateDiscountAmt additionDiscountAmt}}
                                                        <del class="add_currency">{{toCurrencyString salePrice}}원</del>
                                                    {{/ifHasDiscount}}
                                                </li>
                                                <li class="sticker">
                                                {{#each stickerInfos}}
                                                    {{#ifEq type 'TEXT'}}{{label}}
                                                    {{else ifEq type 'IMAGE'}}{{img label '' '' name '' ''}}
                                                    {{/ifEq}}
                                                {{/each}}
                                                </li>
                                            </ul>
                                            </a>
                                        </div>
                                    </div>
                            </li>
                        {{else}}
                            {{#if message}}
                                <div class="goods_no_data"><strong>{{message}}</strong></div>
                            {{else}}
                                <div class="goods_no_data"><strong>상품이 존재하지 않습니다.</strong></div>
                            {{/if}}
                        {{/each}}
                    </ul>
                </script>

                <!-- 2. 리스트형 -->
                <script id="product-list-type-list" type="text/x-handlebars-template">
                    <ul class="goods_product_list" id="productList">
                    {{#each productList}}
                        <li class="product_item items goods_prd_item" data-product-no="{{productNo}}">
                            <div class="goods_prd_img">
                                <div class="img_box">
                                    <a href="/pages/product/view.html?productNo={{productNo}}" {{#if adult}}class="item_adult"{{/if}}>
                                    {{#if listImageUrls}}{{img listImageUrls '' '' productName 'middle' 'width:100%;height:auto'}}{{/if}}
                                    {{#if adult}}
                                        <strong class="adult_img" style="background-image:url(/assets/img/goods_icon/only_adult_pc.png);">19금</strong>
                                    {{/if}}
                                    {{#ifEq isSoldOut true}}
                                        <strong class="soldout_img" style="background-image:url('/assets/img/icon/soldout.png');">SOLD OUT</strong>
                                    {{/ifEq}}
                                    {{#ifEq saleStatusType 'READY'}}<div class="goods_selling"><span>판매<br>임박</span></div>{{/ifEq}}
                                    {{#ifEq saleStatusType 'FINISHED'}}<div class="goods_selling"><span>판매<br>종료</span></div>{{/ifEq}}
                                    </a>
                                    <a class="goods_wish {{#if liked}}on{{/if}}" id="wishBtn" href="#">찜하기</a>
                                </div>
                            </div>

                            <div class="goods_prd_content">
                                <div class="goods_list_info">
                                    <a href="/pages/product/view.html?productNo={{productNo}}">
                                    <ul class="goods_info_list">
                                        <li class="prd_name">{{safeString productName}}</li>
                                        {{#if promotionText}}
                                            <li class="short_des">{{promotionText}}</li>
                                        {{/if}}
                                        <li class="price">
                                            <span class="c_price">
                                              {{toCurrencyString calculatedSalePrice}}원
                                                {{#ifHasDiscount immediateDiscountAmt additionDiscountAmt}}
                                                    <del class="add_currency">{{toCurrencyString salePrice}}원</del>
                                                {{/ifHasDiscount}}
                                            </span>
                                        </li>
                                        <li class="sticker">
                                        {{#each stickerInfos}}
                                            {{#ifEq type 'TEXT'}}{{label}}
                                            {{else ifEq type 'IMAGE'}}{{img label '' '' name '' ''}}
                                            {{/ifEq}}
                                        {{/each}}
                                        </li>
                                    </ul>
                                    </a>
                                </div>
                            </div>
                        </li>
                    {{else}}
                        {{#if message}}
                            <div class="goods_no_data"><strong>{{message}}</strong></div>
                        {{else}}
                            <div class="goods_no_data"><strong>상품이 존재하지 않습니다.</strong></div>
                        {{/if}}
                    {{/each}}
                    </div>
                </script>
            </div>
            <footer id="footer"></footer>
            <div id="popups-area"></div>
        </div>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/product/list.js"></script>
    </body>
</html>
