<!--
  ~ © NHN Commerce Corp. All rights reserved.
  ~ NHN Corp. PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  ~
  ~ @author hyeyeon-park
  ~ @since 2021.8.10
  -->

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>Products</title>
    </head>

    <body>
        <header id="header"></header>
        <div id="wrap">
            <div id="contents">
                <main class="sub_content invisible">
                    <div id="pageTitleBox" class="sub_top">
                        <div class="sub_top_left">
                            <a id="goBack"></a>
                        </div>
                        <h2><a href="#" class="js_page_reload">상품상세</a></h2>
                    </div>

                    <div id="viewContainer" class="goods_view">
                        <div id="summary" class="cont_detail">
                            <!-- 이미지 영역 -->
                            <div class="goods_view_image_slider slider-wrap">
                                <div class="item_photo_big"></div>
                            </div>

                            <!-- 상품정보 -->
                            <div class="detail_info">
                                <div class="item_tit_detail_cont">
                                    <div class="detail_info_top">
                                        <div>
                                            <h3>{{safeString productName}}</h3>
                                            <p class="detail_short_des">{{ promotionText }}</p>
                                        </div>
                                        <div class="price_box">
                                            {{#if shouldShowContentsIfPausing}}
                                            <h3>{{contentsIfPausing}}</h3>
                                            {{else}}
                                            <h3>
                                                <strong class="price">{{ toCurrencyString salePrice }}</strong><span class="won2">원</span> {{#ifGt
                                                totalDiscount 0}}<del
                                                    ><small>{{ toCurrencyString originPrice }}<span class="won1">원</span></small></del
                                                >{{/ifGt}}
                                            </h3>
                                            {{/if}}
                                        </div>
                                    </div>
                                    <div id="purchaseInfoContent" class="detail_sub_info">
                                        {{#unless shouldShowContentsIfPausing }} {{#ifGt (sum totalDiscount accumulationAmtWhenBuyConfirm) 0}}
                                        <dl class="item_discount_mileage">
                                            <dt><span>구매혜택</span></dt>
                                            <dd>
                                                {{#ifGt totalDiscount 0}}
                                                <span class="item_discount"
                                                    >할인 : -<strong class="total_benefit_price">{{toCurrencyString totalDiscount}}</strong>원</span
                                                >
                                                {{/ifGt}}
                                                <!-- // do nothing -->
                                                {{#ifGt accumulationAmtWhenBuyConfirm 0}}
                                                <span class="item_mileage"
                                                    >적립 : +<strong class="total_benefit_mileage">{{toCurrencyString accumulationAmtWhenBuyConfirm}}</strong
                                                    >원</span
                                                >
                                                {{#ifLogined}}{{else}}(로그인 시 적립 가능){{/ifLogined}} {{/ifGt}}
                                            </dd>
                                        </dl>
                                        {{/ifGt}} {{#if hasCoupon}}
                                        <dl class="item_coupons">
                                            <dt><span>쿠폰</span></dt>
                                            <dd>
                                                <strong><span>{{toCurrencyString priceWithCoupon}}원</span> </strong>
                                                {{#if maxCouponAmt}}<span class="coupon_badge">{{ couponRate }}%</span>{{/if}}
                                                <span class="coupon_box">
                                                    <a href="" class="detail_coupon_btn" id="downloadCoupon">
                                                        쿠폰 다운받기
                                                    </a>
                                                </span>
                                            </dd>
                                        </dl>
                                        {{/if}} {{/unless}} {{#ifNe status.saleStatusType 'FINISHED'}}
                                        <dl class="item_delivery">
                                            <dt><span>배송비</span></dt>
                                            <dd id="deliveryTemplate">
                                                {{#if deliveryFeeLabel}}
                                                <div>
                                                    <strong>{{ deliveryFeeLabel }}</strong>
                                                    {{ conditionLabel }}
                                                </div>
                                                {{#if remoteDeliveryAreaFees}}
                                                <div class="btn_gray_list">
                                                    <a href="javascript:void(0)" class="detail_coupon_btn" id="additionalDeliveryFee">
                                                        추가배송비
                                                    </a>
                                                </div>
                                                {{/if}}
                                                <div>
                                                    <strong>{{ deliveryLabel }}</strong>
                                                </div>
                                                {{else}}
                                                <div>
                                                    <span style="color: #e90606;">배송 불가 상품</span>
                                                    <small>{{ deliveryFee.deliveryCustomerInfo }}</small>
                                                </div>
                                                {{/if}}
                                                <!-- // isUndeliverable -->
                                            </dd>
                                        </dl>
                                        {{/ifNe}} {{#if useLimitations }}
                                        <dl>
                                            <dt>구매수량제한</dt>
                                            <dd>
                                                {{#if limitations.minBuyCnt}}최소 {{ limitations.minBuyCnt }}개{{/if}}{{#if useLimitationsComma }}, {{/if}}
                                                {{#if limitations.maxBuyTimeCnt}} 최대 {{ limitations.maxBuyTimeCnt }}개(1회) {{else if
                                                limitations.maxBuyPersonCnt}}최대 {{limitations.maxBuyPersonCnt }}개(1인) {{else if
                                                limitations.maxBuyPeriodCnt}}최대 {{limitations.maxBuyPeriodCnt }}개 ({{ limitations.maxBuyDays }}일 동안)
                                                {{/if}}
                                            </dd>
                                        </dl>
                                        {{/if}}
                                    </div>
                                    <!-- 찜하기, 공유하기 -->
                                    <div class="share_btn_box">
                                        <ul>
                                            <li class="d_wish" data-action-type="wish">
                                                <button id="wishBtn" class="detail_wish_btn st_btn_wish {{#if liked}}on{{/if}}">찜하기</button>
                                            </li>
                                            <!--                                            이차스펙 <li class="d_share" data-action-type="share"><button class="share_btn">공유하기</button></li>-->
                                        </ul>
                                    </div>

                                    <!--todo 공유하기 href, 2차스펙 -->
                                    <div class="ly_share" style="display: none;">
                                        <div class="ly_share_bg"></div>
                                        <div class="ly_share_content">
                                            <div class="ly_share_box">
                                                <h3>공유하기</h3>
                                                <ul>
                                                    <li>
                                                        <a
                                                            href="https://www.facebook.com/sharer/sharer.php?display=popup&redirect_uri=http%3A%2F%2Fwww.facebook.com&u=https%3A%2F%2Fpro-shop.godomall.com%3A443%2Fgoods%2Fgoods_view.php%3FgoodsNo%3D1000000000%26mtn%3D1%255E%257C%255E%25EC%25B6%2594%25EC%25B2%259C%25EC%2583%2581%25ED%2592%2588%255E%257C%255En&t=%EC%8B%AC%ED%94%8C+%EC%8A%A4%ED%8A%B8%EB%9D%BC%EC%9D%B4%ED%94%84+%ED%8F%AC%EC%BC%93+%EC%85%94%EC%B8%A0"
                                                            target="_blank"
                                                            class="btn-social-popup"
                                                            ><img src="/assets/img/btn/sns-facebook.png" alt="페이스북 공유" /><br /><span>페이스북</span></a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a
                                                            href="https://twitter.com/intent/tweet?text=%EC%8B%AC%ED%94%8C+%EC%8A%A4%ED%8A%B8%EB%9D%BC%EC%9D%B4%ED%94%84+%ED%8F%AC%EC%BC%93+%EC%85%94%EC%B8%A0&url=https%3A%2F%2Fpro-shop.godomall.com%3A443%2Fgoods%2Fgoods_view.php%3FgoodsNo%3D1000000000%26mtn%3D1%255E%257C%255E%25EC%25B6%2594%25EC%25B2%259C%25EC%2583%2581%25ED%2592%2588%255E%257C%255En"
                                                            target="_blank"
                                                            class="btn-social-popup"
                                                            ><img src="/assets/img/btn/sns-twitter.png" alt="트위터 공유" /><br /><span>트위터</span></a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a
                                                            href="https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fpro-shop.godomall.com%3A443%2Fgoods%2Fgoods_view.php%3FgoodsNo%3D1000000000%26mtn%3D1%255E%257C%255E%25EC%25B6%2594%25EC%25B2%259C%25EC%2583%2581%25ED%2592%2588%255E%257C%255En&description=%5B%EA%B3%A0%EB%8F%84%3A%EC%B2%B4%ED%97%98%EC%83%B5%5D+%EC%8B%AC%ED%94%8C+%EC%8A%A4%ED%8A%B8%EB%9D%BC%EC%9D%B4%ED%94%84+%ED%8F%AC%EC%BC%93+%EC%85%94%EC%B8%A0&media=https%3A%2F%2Fpro-shop.godomall.com%3A443%2F%2Fdata%2Fgoods%2F16%2F05%2F19%2F1000000000%2F1000000000_detail_075.png"
                                                            target="_blank"
                                                            class="btn-social-popup"
                                                            ><img src="/assets/img/btn/sns-pinterest.png" alt="핀터레스트 공유" /><br /><span
                                                                >핀터레스트</span
                                                            ></a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a
                                                            ><img src="/assets/img/btn/sns-kakaostory.png" alt="카카오스토리 공유" /><br /><span
                                                                >카카오스토리</span
                                                            ></a
                                                        >
                                                    </li>
                                                </ul>
                                                <div class="copy">
                                                    <div class="input">
                                                        <input type="text" value="http://m.g5bii.godomall.com/goods/goods_view.php?goodsNo=1000438283" />
                                                    </div>

                                                    <div class="btn">
                                                        <button
                                                            type="button"
                                                            class="sns_clip_board_btn gd_clipboard"
                                                            data-clipboard-text="http://m.g5bii.godomall.com/goods/goods_view.php?goodsNo=1000438283"
                                                            title="상품주소"
                                                        >
                                                            URL복사
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="btn_box"><button class="js_lys_close lys_close1_btn">닫기</button></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="detail_buy">
                                <div class="detail_buy_top_btn">
                                    <div class="ly_buy_dn js_goods_view_buy_btn">
                                        <div id="bottomBuyBox" class="detail_prd_btn">
                                            <ul>
                                                {{#if isUnablePurchasing}}
                                                <li><a class="detail_prd_no_btn">구매불가</a></li>
                                                {{else}}
                                                <li><a class="detail_cart_btn st_btn_buy basket" data-action-type="cart">장바구니</a></li>
                                                <li><a class="detail_order_btn st_btn_buy" data-action-type="buy">바로구매</a></li>
                                                {{/if}}
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="st_buy_content hidden">
                                    <div class="layer_option js_layer_option ly_ct">
                                        <div class="js_option_scroll option_scroll">
                                            <div id="optionSelector" class="ly_buy_info">
                                                <ul class="ly_opt">
                                                    {{#if optionUsed}} {{#each options}}
                                                    <li class="js_singel_option">
                                                        <div>
                                                            <dl>
                                                                <dt>{{#ifEq ../selectType 'FLAT'}}옵션 선택{{else}}{{ safeString label }}{{/ifEq}}</dt>
                                                                <dd>
                                                                    <select class="bn_opt" name="optionSelector" data-depth="{{ depth }}">
                                                                        {{#each optionValues}} {{option @index value ../selectedIndex disabled}} {{/each}}
                                                                    </select>
                                                                </dd>
                                                            </dl>
                                                        </div>
                                                    </li>
                                                    {{/each}} {{/if}}
                                                    <li id="selectedOptions" class="option_total_display_area" data-template-id="selectedOptionsTemplate"></li>
                                                    {{#each textOptions}}
                                                    <li class="js_singel_option">
                                                        {{#ifEq inputMatchingType 'PRODUCT'}}
                                                        <dl class="goods_text_option" data-text-input-no="{{inputNo}}">
                                                            <dt>
                                                                <div class="{{#if required}}essential{{/if}}">
                                                                    {{safeString inputLabel}}{{#if required}}
                                                                    <div class="required">(필수)</div>
                                                                    {{/if}}
                                                                </div>
                                                            </dt>
                                                            <dd>
                                                                <div class="input_content">
                                                                    <input
                                                                        type="text"
                                                                        name="{{inputNo}}"
                                                                        placeholder="{{safeString inputLabel}} 을(를) 입력하세요."
                                                                        data-option-matching-type="PRODUCT"
                                                                        class="text text-input-option product"
                                                                        maxlength="101"
                                                                        value="{{value}}"
                                                                    />
                                                                </div>
                                                            </dd>
                                                        </dl>
                                                        {{/ifEq}}
                                                    </li>
                                                    {{/each}} {{#if showsTotalPriceWithSelectedOptionsArea}}
                                                    <div class="total_price_box view_end_price">
                                                        <ul>
                                                            <li class="total">
                                                                <dl>
                                                                    <dt>총 합계금액</dt>
                                                                    <dd id="totalPrice" class="total_price">{{totalPrice}}<b>원</b></dd>
                                                                </dl>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    {{/if}}
                                                </ul>
                                            </div>
                                            <script type="text/x-handlebars-template" id="selectedOptionsTemplate">
                                                <li id="selectedOptions" class="option_total_display_area">
                                                {{#each selectedOptions}}
                                                        <div class="view_order_goods">
                                                            <div class="option_selected check" data-option-no="{{optionNo}}">
                                                                <dl>
                                                                    {{#if optionUsed}}
                                                                        <dt>{{safeString label}} {{ value }}</dt>
                                                                    {{else}}
                                                                        <dt>{{safeString selectedOptionsValues}}</dt>
                                                                    {{/if}}
                                                                    <dd>
                                                                        <div class="price_info">
                                                                    <span id="orderCountBtns" class="count">
                                                                        <button
                                                                                type="button"
                                                                                class="detail_down_btn down goods_cnt"
                                                                                data-action-type="down"
                                                                                title="감소"
                                                                        >
                                                                            감소
                                                                        </button>
                                                                        <input
                                                                                type="number"
                                                                                class="text"
                                                                                title="수량"
                                                                                name="orderCnt"
                                                                                data-stock="0"
                                                                                data-value="1"
                                                                                value="{{orderCnt}}"
                                                                        />
                                                                        <button
                                                                                type="button"
                                                                                class="detail_up_btn up goods_cnt"
                                                                                data-action-type="up"
                                                                                title="증가"
                                                                        >
                                                                            증가
                                                                        </button>
                                                                    </span>
                                                                            <div class="right">
                                                                                <span class="price">{{priceWithOptions}}원</span>
                                                                                {{#if ../optionUsed}}
                                                                                    <button type="button" class="detail_apply_del" title="삭제">삭제</button>
                                                                                {{/if}}
                                                                            </div>
                                                                        </div>

                                                                        {{#each textOptions}}
                                                                            <div class="option_input">
                                                                                {{#ifEq inputMatchingType 'OPTION'}}
                                                                                    <div
                                                                                            class="option_inputs_area"
                                                                                            style="display: block;"
                                                                                            data-option-no="{{../optionNo}}"
                                                                                            data-text-input-no="{{inputNo}}"
                                                                                    >
                                                                                        <div class="label {{#if required}}essential{{/if}}">
                                                                                            {{safeString inputLabel}}{{#if required}}
                                                                                            <div class="required">(필수)</div>
                                                                                        {{/if}}
                                                                                        </div>

                                                                                        <div class="input_content">
                                                                                            <input
                                                                                                    type="text"
                                                                                                    name="{{inputNo}}"
                                                                                                    class="text-input-option option"
                                                                                                    data-option-matching-type="OPTION"
                                                                                                    placeholder="{{safeString inputLabel}} (을)를 입력하세요."
                                                                                                    value="{{value}}"
                                                                                                    maxlength="101"
                                                                                            />
                                                                                        </div>
                                                                                    </div>
                                                                                {{/ifEq}} {{#ifGt ../orderCnt 1}}
                                                                                <div
                                                                                        id="amountTextOption"
                                                                                        class="option_inputs_area {{#unless isRealAmountMode}}hide{{/unless}}"
                                                                                        style="display: block;"
                                                                                        data-option-no="{{../optionNo}}"
                                                                                        data-text-input-no="{{inputNo}}"
                                                                                >
                                                                                    {{#each amountValues}} {{#if ../isRealAmountMode}}
                                                                                        <div class="input_content">
                                                                                            <input
                                                                                                    type="text"
                                                                                                    name="{{../inputNo}}"
                                                                                                    class="text text-input-option amount"
                                                                                                    data-option-matching-type="AMOUNT"
                                                                                                    placeholder="{{safeString ../inputLabel}} (을)를 입력하세요."
                                                                                                    value="{{value}}"
                                                                                                    maxlength="101"
                                                                                                    data-index="{{@index}}"
                                                                                            />
                                                                                        </div>
                                                                                    {{/if}} {{/each}}
                                                                                </div>
                                                                                <div class="btn_area" id="btnToggleTextOptionMode">
                                                                                    <a href="javascript:;" class="btn_goods_text_option {{#if isRealAmountMode}}on{{/if}}"
                                                                                    >{{#if isRealAmountMode}}옵션별{{else}}수량별{{/if}} 입력</a
                                                                                    >
                                                                                </div>
                                                                            {{/ifGt}}
                                                                            </div>
                                                                        {{/each}}
                                                                    </dd>
                                                                </dl>
                                                            </div>
                                                        </div>
                                                {{/each}}
                                                </li>
                                            </script>
                                        </div>
                                        <div id="purchasePayment" class="pay_box">
                                            <div class="payco_pay"></div>
                                            <div class="naver_pay" id="naverPay"></div>
                                        </div>
                                        <div class="ly_buy_dn">
                                            <div class="detail_prd_btn st_btn_buy_outer">
                                                <ul id="purchaseBtns" class="js_cart_btn">
                                                    <li>
                                                        <a class="detail_cart_btn st_btn_buy basket" data-action-type="createCart">장바구니</a>
                                                    </li>
                                                    <li><a class="detail_order_btn st_btn_buy" data-action-type="createOrder">바로구매</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="detail_open_close"><a class="st_buy_close">닫기</a></div>
                                </div>
                            </div>
                        </div>

                        <!-- 탭 -->
                        <div class="detail_btm_tab_menu_box" id="tabInfo">
                            <div class="detail_btm_tab_menu">
                                <ul class="detail_sub_lst">
                                    <li id="detailTab" class="selected">
                                        <a href="#detail">상세정보</a>
                                    </li>
                                    <li id="basicTab">
                                        <a href="#basic">기본정보</a>
                                    </li>
                                    <li id="reviewTab" class="js_board_goodsreview">
                                        <a href="#review">
                                            상품후기
                                            <span class="itemnum">{{reviews.totalCount}}</span>
                                        </a>
                                    </li>
                                    <li id="inquiryTab" class="js_board_goodsqa">
                                        <a href="#inquiry">
                                            상품문의
                                            <span class="itemnum">{{inquires.totalCount}}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="detail_info_box">
                            <div id="detail" class="detail_cont" data-template-id="detailTemplate"></div>
                            <script id="detailTemplate" type="text/x-handlebars-template">
                                <div id='detail' class='view_box0 detail_cont' data-template-id='detailTemplate'>
                                    <div>
                                        {{#if showsDetailInfo}}
                                            <h3 class='content_title'>
                                                상품상세정보
                                            </h3>
                                            <div class='detail_explain_box'>
                                                <div class='txt-manual'>
                                                    {{{contentHeader}}}
                                                </div>
                                                {{#if optionImageViewable}}
                                                    <div class='image-manual'>
                                                        <p class='option-infor-txt'>
                                                            <span>
                                                                상품의 옵션이미지를 선택하시면 자세히 보실 수 있어요.
                                                            </span>
                                                        </p>
                                                        {{#each optionImages}}
                                                            <div class='option-img-area'>
                                                                <a href='' class='sb_optionImageItem' data-option-no="{{optionNo}}">
                                                                    <div class='option-tit' style='max-width:498px;'>
                                                                        <p class='sb_p_optionName'>
                                                                            {{value}}
                                                                        </p>
                                                                        <span class='icon_zoom'></span>
                                                                    </div>
                                                                    <div class='option-img'>
                                                                        {{img imageUrl}}
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        {{/each}}
                                                    </div>
                                                {{/if}}
                                                <div class='txt-manual'>
                                                    {{{content}}}
                                                </div>
                                                <div class='txt-manual'>
                                                    {{{contentFooter}}}
                                                </div>
                                            </div>
                                            <div class='btn_more_detail'>
                                                상세정보더보기
                                            </div>
                                        {{/if}}
                                        {{#if showsDutyInfo}}
                                            <div class='openblock'>
                                                <div class='openblock_header'>
                                                    <h3>
                                                        상품정보제공고시
                                                    </h3>
                                                </div>
                                                <div class='openblock_content'>
                                                    <dl>
                                                        {{#each dutyInfoContents.mappingDutyInfo}}
                                                        <dt>{{key}}</dt>
                                                        <dd>
                                                            <!-- 만약 key값이 'KC 인증정보'일 시 인증 정보가 여기에 표시됩니다.-->
                                                            {{#ifEq key 'KC 인증정보'}}
                                                                {{value}}
                                                                {{#each ../certifications}}
                                                                    <div class="product_certification_info">
                                                                        <div>{{type}} 안전확인 대상 품목으로 아래의 국가 통합인증 필함</div>
                                                                        <div>인증 번호 :
                                                                            <a href="//www.safetykorea.kr/search/searchPop?certNum={{code}}">
                                                                                {{code}}
                                                                            </a>
                                                                        </div>
                                                                        {{#ifEqOneOfThree no 8 9 10}}
                                                                            <div>인증 일자 : {{date}}</div>
                                                                        {{/ifEqOneOfThree}}
                                                                    </div>
                                                                {{/each}}
                                                            {{else}}
                                                                {{value}}
                                                            {{/ifEq}}
                                                        </dd>
                                                    {{/each}}
                                                    </dl>
                                                </div>
                                            </div>
                                        {{/if}}
                                        {{#ifNe certificationType 'NOT_TARGET'}}
                                        <!-- 만약 KC인증이 있을시(isKcCertifications === true) 인증정보는 비표시 됩니다.-->
                                        {{#if dutyInfoContents.isKcCertifications}}
                                            {{#ifEq certificationType 'DETAIL_PAGE'}}
                                            <!-- 만약 KC 인증이 있고 상세페이지 별도표이일때 -->
                                            <h3>인증정보</h3>
                                            <div class="detail_info_box">상품 상세페이지 내 별도 표기</div>
                                            {{/ifEq}}
                                        {{else}}
                                        <div class='openblock'>
                                            <div class='openblock_header'>
                                            <h3>인증정보</h3>
                                            </div>
                                            <div class="openblock_content">
                                                {{#ifEq certificationType 'DETAIL_PAGE'}}
                                                    상품 상세페이지 내 별도 표기
                                                {{else}}
                                                    <h4>KC 안전인증</h4>
                                                    {{#each certifications}}
                                                        <div class="product_certification_info">
                                                            <div>{{type}} 안전확인 대상 품목으로 아래의 국가 통합인증 필함</div>
                                                            <div>인증 번호 : <a href="//www.safetykorea.kr/search/searchPop?certNum={{code}}">{{code}}</a></div>
                                                            {{#ifEqOneOfThree no 8 9 10}}
                                                            <div>인증 일자 : {{date}}</div>
                                                            {{/ifEqOneOfThree}}
                                                        </div>
                                                    {{/each}}
                                                {{/ifEq}}
                                            </div>
                                        {{/if}}
                                        {{/ifNe}}
                                    </div>
                                </div>
                            </script>

                            <div id="basic" class="detail_cont" data-template-id="basicTemplate"></div>
                            <script id="basicTemplate" type="text/x-handlebars-template">
                                <div id='basic' class='detail_cont' data-template-id='basicTemplate'>
                                    <div>
                                        <div class='openblock'>
                                            <div class='openblock_header arrow_down'>
                                                <h3>
                                                    상품 기본 정보
                                                </h3>
                                            </div>
                                            <div class='openblock_content hidden'>
                                                <dl>
                                                    <dt class='delivery'>
                                                        배송비
                                                    </dt>
                                                    <dd>
                                                        <div>
                                                            {{deliveryFeeLabel}} {{conditionLabel}}
                                                        </div>
                                                        {{#if remoteDeliveryAreaFees}}
                                                            <div class="btn_gray_list">
                                                                <a href="javascript:void(0)" class="btn_add_delivery" id="additionalDeliveryFee">
                                                                    추가배송비
                                                                </a>
                                                            </div>
                                                        {{/if}}
                                                        <div>{{deliveryLabel}}</div>
                                                    </dd>

                                                        {{#if placeOriginLabel}}
                                                        <dt>
                                                            원산지
                                                        </dt>
                                                        <dd>
                                                            {{placeOriginLabel}} {{placeOriginEtcLabel}}
                                                        </dd>
                                                        {{/if}}
                                                        {{#if expirationYmdt}}
                                                        <dt>
                                                            유효일자
                                                        </dt>
                                                        <dd>
                                                            {{substring expirationYmdt 0 10}}
                                                        </dd>
                                                        {{/if}}
                                                        {{#if manufactureYmdt}}
                                                        <dt>
                                                            제조일자
                                                        </dt>
                                                        <dd>
                                                            {{substring manufactureYmdt 0 10}}
                                                        </dd>
                                                        {{/if}}
                                                        <dt>
                                                            상품번호
                                                        </dt>
                                                        <dd>
                                                            {{productNo}}
                                                        </dd>
                                                        </dd>
                                                    </dl>
                                                </div>
                                            </div>

                                {{#if hasGuide }}
                                        <div class='openblock'>
                                            <div class='openblock_header arrow_down'>
                                                <h3>
                                                    배송/반품/교환 안내
                                                </h3>
                                            </div>
                                            <div class='openblock_content hidden'>
                                                <dl>
                                                {{#if deliveryGuide}}
                                                <dt>
                                                    배송안내
                                                </dt>
                                                <dd>
                                                    {{{deliveryGuide}}}
                                                </dd>
                                                {{/if}}

                                                {{#if exchangeGuide}}
                                                <dt>
                                                    교환안내
                                                </dt>
                                                <dd>
                                                    {{{exchangeGuide}}}
                                                </dd>
                                                {{/if}}

                                                {{#if afterServiceGuide}}
                                                <dt>
                                                    AS 안내
                                                </dt>

                                                <dd>
                                                    {{{afterServiceGuide}}}
                                                </dd>
                                                {{/if}}

                                                {{#if refundGuide}}
                                                <dt>
                                                    환불 안내
                                                </dt>
                                                <dd>
                                                    {{{refundGuide}}}
                                                </dd>
                                                {{/if}}
                                                </dl>
                                            </div>
                                        </div>
                                    {{/if}}
                                    </div>
                                </div>
                            </script>

                            <div id="review" class="detail_cont">
                                <div id="reviewContent" class="goods_board_review_list">
                                    <header class="review-header">
                                        <h3 id="reviewTit" class="content_title">상품후기</h3>
                                        <a class="link-review-page" href="/pages/board/product-reviews.html">전체 상품후기 보기</a>
                                    </header>
                                    <div id="writeReview-wrap" class="writeReview-wrap">
                                        {{#if reviewable}}
                                        <button id="writeReview" class="detail_order_btn btn-write-review">
                                            상품후기 작성하기
                                        </button>
                                        {{/if}}
                                    </div>
                                    <!--                                    <button class="detail_order_btn btn-write-review">상품후기 작성하기</button>-->
                                    <!-- 포토 모아보기 -->
                                    <div id="photoReviews" data-template-id="photoReviewTemplate">
                                        <script id="photoReviewTemplate" type="text/x-handlebars-template">
                                            <div class='gather-photo' id='photoReviews' data-template-id='photoReviewTemplate'>
                                                {{#if expandedReviewConfig.useGatheringPhotoReview}}
                                                    <p class='gather-photo-count'>
                                                        포토 모아보기({{totalCount}})
                                                    </p>
                                                    {{#ifEq totalCount 0}}
                                                        <p class='no_data'>
                                                            {{#if expandedReviewConfig.noPhotoReviewText}}
                                                                {{expandedReviewConfig.noPhotoReviewText}}
                                                            {{else}}
                                                                등록된 포토후기가 없습니다.
                                                            {{/if}}
                                                        </p>
                                                    {{else}}
                                                        <p class='gather-photo-wrap' id='reviewThumbs'>
                                                            {{#each contents}}
                                                                <button class='img-frame' data-action-type='photoReviewDetail' data-review-no="{{reviewNo}}">
                                                                    {{img url '' '' '상품후기 이미지'}}
                                                                </button>
                                                            {{/each}}
                                                            {{#ifGt totalCount 4}}
                                                                <button class='btn-gather-photo-more' data-action-type='morePhotoReviews'>
                                                                    <img src='' alt='' />
                                                                </button>
                                                            {{/ifGt}}
                                                        </p>
                                                    {{/ifEq}}
                                                {{/if}}
                                            </div>
                                        </script>
                                    </div>
                                    <!-- // 포토 모아보기 -->
                                    <div>
                                        <div class="reviews_list">
                                            <div class="reviews_view_types">
                                                <div class="review_orderby review-orderby-select">
                                                    <select id="sortReviews" class="arrow_down" data-action-type="sortReviews">
                                                        <option data-order-by="BEST_REVIEW" selected="selected">베스트순</option>
                                                        <option data-order-by="REGISTER_YMDT">등록일순</option>
                                                        <option data-order-by="RATING" data-order-direction="DESC">평점높은순</option>
                                                        <option data-order-by="RATING" data-order-direction="ASC">평점낮은순</option>
                                                        {{#if expandedReviewConfig.useReviewRecommend}}
                                                        <option data-order-by="RECOMMEND">추천순</option>
                                                        {{/if}}
                                                    </select>
                                                </div>

                                                <button id="reviewsViewType" class="btn_review_view_type {{#if onlyPhotos}}on{{/if}}" style="border: none;">
                                                    포토후기만 보기
                                                </button>
                                            </div>
                                            <script id="reviewCommentTemplate" type="text/x-handlebars-template">
                                                <div id='reviewComments' data-template-id='reviewCommentTemplate'>
                                                    {{#each contents}}
                                                        <div class='reply'>
                                                            <p class='reply-info'>
                                                                <span class='em'>
                                                                    관리자
                                                                </span>
                                                                <span class='reply-date'>
                                                                    {{ydmt}}
                                                                </span>
                                                            </p>
                                                            <p class='reply-con'>
                                                                {{content}}
                                                            </p>
                                                        </div>
                                                    {{/each}}
                                                </div>
                                                {{#if hasMoreCommentsBtn}}
                                                    <button class='detail_write_btn' id='moreComments' data-action-type='moreComments'>
                                                        댓글 더보기
                                                    </button>
                                                {{/if}}
                                            </script>
                                            <div id="reviewList" class="item_list" data-template-id="reviewListTemplate"></div>
                                            <script id="reviewListTemplate" type="text/x-handlebars-template">
                                                <div id='reviewList'>
                                                    <div class='item_list'>
                                                        <div class='goods_board_review_list'>
                                                            <ul>
                                                                {{#each items}}
                                                                <li
                                                                  class='selected'
                                                                  data-review-no="{{reviewNo}}"
                                                                  data-product-no="{{productNo}}"
                                                                  data-given-accumulation="{{givenAccumulationYn}}"
                                                                >
                                                                    <div class='item_list_summary review-card'>
                                                                        <div class='board_left'>
                                                                            <div class='star_box'>
                                                                                <span class='star_li' style="width:calc({{rate}} * 20%);">
                                                                                    별점 {{rate}}
                                                                                </span>
                                                                            </div>
                                                                            <p class='name'>
                                                                                {{registerName}}
                                                                            </p>
                                                                            <span class='date'>
                                                                                {{substring registerYmdt 0 10}}
                                                                            </span>
                                                                            <div class='comment_options'>
                                                                                <span class='option_name_value'>
                                                                                    {{{
                                                                                    getOptionNameAndValue
                                                                                    orderedOption.optionName
                                                                                    orderedOption.optionValue
                                                                                    }}}
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        <div id='boardContent' class='goods_board_view'>
                                                                            <div class='contents_holder' data-action-type='viewMoreReviews'>
                                                                                {{#ifEq bestReviewYn 'Y'}}
                                                                                <img src='/assets/img/goods_icon/good_icon_best.png' />
                                                                                {{/ifEq}}
                                                                                <pre class='review_content'>
                                                                                    {{content}}
                                                                                </pre>
                                                                            </div>
                                                                            <!-- 파일여부 -->
                                                                            {{#if fileUrls}}
                                                                            <div class='uploadFile' data-action-type='viewAttahments'>
                                                                                {{#each fileUrls}}
                                                                                <div class='uploadFile-item' data-index="{{@index}}">
                                                                                    <div>
                                                                                        <img
                                                                                          src="{{this}}"
                                                                                          alt=''
                                                                                          class='icon-folder'
                                                                                          id='attachImage'
                                                                                        />
                                                                                    </div>
                                                                                </div>
                                                                                {{/each}}
                                                                            </div>
                                                                            {{/if}}
                                                                            {{#if myReview}}
                                                                            <div
                                                                              class='comment_bot_btn'
                                                                              style='display: flex;justify-content: space-between;'
                                                                            >
                                                                                <button
                                                                                  type='button'
                                                                                  data-action-type='deleteReview'
                                                                                  class='view_del_btn'
                                                                                  style='width:48%'
                                                                                >
                                                                                    삭제
                                                                                </button>
                                                                                <button
                                                                                  type='button'
                                                                                  data-action-type='modifyReview'
                                                                                  class='view_modify_btn'
                                                                                  style='width:48%'
                                                                                >
                                                                                    수정
                                                                                </button>
                                                                            </div>
                                                                            {{/if}}
                                                                        </div>
                                                                    </div>
                                                                    <!-- 추천해요, 댓글 -->
                                                                    <p class='field-comment'>
                                                                        {{#if ../photoReviews.expandedReviewConfig.useReviewRecommend}}
                                                                        <label class='user-trigger user-trigger--like' data-action-type="reviewRecommend">
                                                                            <input type='checkbox' />
                                                                            <span id="reviewRecommendParents" class='user-trigger__txt {{#if ../isLogin}}{{#ifEq recommendable false}}on{{/ifEq}}{{/if}}' >
                                                                                <span data-action-type="reviewRecommend">
                                                                                    추천해요 <span class="recommendCnt">{{recommendCnt}}</span>
                                                                                </span>
                                                                            </span>
                                                                        </label>
                                                                        {{/if}}
                                                                        {{#if ../photoReviews.canComment}}
                                                                        {{#ifNe commentCount 0}}
                                                                        <label class='user-trigger user-trigger--cmt'>
                                                                            <input type='checkbox' />
                                                                            <span class='user-trigger__txt' data-action-type="reviewComment">
                                                                                <span>
                                                                                    댓글 {{commentCount}}
                                                                                </span>
                                                                            </span>
                                                                        </label>
                                                                        {{/ifNe}}
                                                                        {{/if}}
                                                                    </p>
                                                                    <!-- // 추천해요, 댓글 -->
                                                                    <!-- 답글 -->
                                                                    <div data-template-id="reviewCommentTemplate" id='reviewComments' style="display: none;"></div>
                                                                    <!-- // 답글 -->
                                                                </li>
                                                                {{else}}
                                                                <li class='no_data'>
                                                                    등록된 상품후기가 없습니다.
                                                                </li>
                                                                {{/each}}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </script>
                                        </div>
                                    </div>
                                </div>
                                <div id="btnReviewsMore" class="pagination"></div>
                            </div>

                            <div id="inquiry" class="detail_cont">
                                <div>
                                    <div class="qna_cont" id="inquiryContainer">
                                        <h3 id="inquiryTit" class="content_title">상품문의</h3>

                                        <div class="item_list_head">
                                            <div class="item_list_write_box">
                                                <button class="detail_write_btn" data-action-type="writeInquiry">상품 문의하기</button>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="qna_table">
                                                <div id="inquiries" data-template-id="inquiriesTemplate"></div>
                                                <script id="inquiriesTemplate" type="text/x-handlebars-template">
                                                    <div id='inquiries' class='item_list'>
                                                        <div class='goods_board_qa_list'>
                                                            <ul>
                                                                {{#each items}}
                                                                    <div>
                                                                        <li
                                                                            class='selected'
                                                                            data-inquiry-no="{{inquiryNo}}"
                                                                            data-type="{{type}}"
                                                                            data-secreted="{{secreted}}"
                                                                            data-content="{{content}}"
                                                                            data-my-inquiry="{{myInquiry}}"
                                                                            data-replied="{{replied}}"
                                                                        >
                                                                            <div class='item_list_summary'>
                                                                                <div class='board_left'>
                                                                                    <div class='author_box'>
                                                                                        <div>
                                                                                            <strong class='type'>
                                                                                                [{{setOrderStateValue type}}]
                                                                                            </strong>
                                                                                            <span class='name'>
                                                                                                {{memberId}}
                                                                                            </span>
                                                                                            |
                                                                                            <span class='date'>
                                                                                                {{substring registerYmdt 0 10}}
                                                                                            </span>
                                                                                            <span class='ico_ans1'>
                                                                                                {{#if replied}}
                                                                                                    답변완료
                                                                                                {{else}}
                                                                                                    답변대기
                                                                                                {{/if}}
                                                                                            </span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class='board_right'>
                                                                                    <button
                                                                                        type='button'
                                                                                        class='detail_write_more_btn'
                                                                                        data-action-type='viewMore'
                                                                                    >
                                                                                        상품문의 더보기
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                            <div>
                                                                                <div id='boardContent' class='goods_board_view'>
                                                                                    <div class='contents_holder'>
                                                                                        {{#if secreted}}
                                                                                            <img src='/assets/img/icon/icon_board_secret.png' alt='비밀글' />
                                                                                        {{/if}}
                                                                                        <strong
                                                                                            class='inquiry_content'
                                                                                            data-secreted="{{secreted}}"
                                                                                            data-my="{{myInquiry}}"
                                                                                        >
                                                                                            {{#ifEq content '-'}}
                                                                                                비밀글 입니다.
                                                                                            {{else}}
                                                                                                {{{content}}}
                                                                                            {{/ifEq}}
                                                                                        </strong>
                                                                                    </div>
                                                                                    <div class='comment_box'>
                                                                                        <div class='comment_options'>
                                                                                        </div>
                                                                                        <div class='sub_info'>
                                                                                            <div id='recommendCount'>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <!-- 퍼블리싱 요청 -->
                                                                                    {{#if myInquiry}}
                                                                                        {{#ifEq replied false}}
                                                                                            <div
                                                                                                class='comment_bot_btn'
                                                                                                style='display: flex;justify-content: space-between;'
                                                                                            >
                                                                                                <button
                                                                                                    type='button'
                                                                                                    class='view_del_btn'
                                                                                                    data-action-type='deleteInquiry'
                                                                                                    style='width:48%'
                                                                                                >
                                                                                                    삭제
                                                                                                </button>
                                                                                                <button
                                                                                                    type='button'
                                                                                                    class='view_modify_btn'
                                                                                                    data-action-type='modifyInquiry'
                                                                                                    style='width:48%'
                                                                                                >
                                                                                                    수정
                                                                                                </button>
                                                                                            </div>
                                                                                        {{else}}

                                                                                        {{/ifEq}}
                                                                                    {{/if}}
                                                                                </div>
                                                                            </div>
                                                                            {{#each answers}}
                                                                                <div class='view_qa answer' style='display: none;'>
                                                                                    <div class='view_wrap'>
                                                                                        <div class='question'>
                                                                                            <div
                                                                                                class='a'
                                                                                                style='margin-top:0;border-bottom:1px solid #e4e4e4;border-top:0;'
                                                                                            >
                                                                                                <strong class='item'>
                                                                                                    A.
                                                                                                </strong>
                                                                                                <div class='admin_info'>
                                                                                                    <div class='info'>
                                                                                                        <strong>
                                                                                                            {{nickName}}<span>
                                                                                                                {{registerYmdt}}
                                                                                                            </span>
                                                                                                        </strong>
                                                                                                    </div>
                                                                                                    <div style='white-space: pre-line;'>
                                                                                                        {{content}}
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            {{/each}}
                                                                        </li>
                                                                    </div>
                                                                {{else}}
                                                                    <li class='no_data'>
                                                                        등록된 상품문의가 없습니다.
                                                                    </li>
                                                                {{/each}}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="btnInquiriesMore" class="pagination"></div>
                            </div>

                            <div>
                                <h3 id="relatedProductsTit">관련 상품</h3>
                                <div class="goods_list">
                                    <div class="goods_list_cont">
                                        <div id="relatedProducts" data-template-id="relatedProductsTemplate" class="item_swipe_type"></div>
                                        <script id="relatedProductsTemplate" type="text/x-handlebars-template">
                                            <div id="relatedProducts" data-template-id="relatedProductsTemplate" class="item_swipe_type">
                                                <ul class="slider-wrap">
                                                    {{#each relatedProducts}}
                                                        <li class="goods_prd_item4" data-product-no="{{productNo}}">
                                                            <div class="goods_prd_img" style="text-align:center;">
                                                                <div class="img_box">
                                                                    <a href="/pages/product/view.html?productNo={{productNo}}" {{#if adult}}class="item_adult"{{/if}}>
                                                                    <img src="{{imageUrl}}" width="180" alt="{{safeString productName}}" title="{{safeString productName}}" class="middle">
                                                                    {{#if adult}}
                                                                        <strong class="adult_img" style="background-image:url('/assets/img/goods_icon/only_adult_pc.png');">19금</strong>
                                                                    {{/if}}
                                                                    {{#ifLe stockCnt 0}}
                                                                        <strong class="soldout_img"
                                                                                style="background-image:url('/assets/img/icon/soldout.png'); display:block;"
                                                                        >SOLD OUT</strong>
                                                                    {{/ifLe}}
                                                                    </a>
                                                                    <a class="goods_wish {{#if liked}}on{{/if}}" id="wishBtn" href="#"></a>
                                                                </div>
                                                                <div class="goods_prd_content">
                                                                    <div class="goods_list_info">
                                                                        <a href="/pages/product/view.html?productNo={{productNo}}">
                                                                        <ul class="goods_info_list">
                                                                            <li class="prd_name">{{safeString productName}}</li>
                                                                            {{#if promotionText}}
                                                                                <li class="short_des">{{promotionText}}</li>
                                                                            {{/if}}
                                                                            <li class="price">
                                                                                {{#if immediateDiscountAmt}}
                                                                                    <del>{{toCurrencyString salePrice}}원</del>
                                                                                    <strong class="item_price">
                                                                                        <b>{{calculateSalePrice salePrice immediateDiscountAmt}}</b>원
                                                                                    </strong>
                                                                              {{else}}
                                                                                    <strong class="item_price">
                                                                                        <b>{{toCurrencyString salePrice}}</b>원
                                                                                    </strong>
                                                                              {{/if}}
                                                                            </li>
                                                                            <li class="sticker">
                                                                                {{#each stickers}}
                                                                                    {{#ifEq type 'TEXT'}}{{safeString label}}
                                                                                    {{else ifEq type 'IMAGE'}}{{img label '' '' name '' ''}}
                                                                                    {{/ifEq}}
                                                                                {{/each}}
                                                                            </li>
                                                                        </ul>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    {{/each}}
                                                </ul>
                                            </div>
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <footer id="footer"></footer>
        <div id="popups-area"></div>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/product/view.js"></script>
    </body>
</html>
