<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <link type="text/css" rel="stylesheet" href="/lib/date-picker/tui-date-picker.css" />
        <script src="/lib/date-picker/tui-date-picker.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <script src="/js/pages/my/components/mypage-components.js"></script>
        <title>취소/반품/교환 내역</title>
    </head>
    <body>
        <header id="header"></header>

        <div id="contents" style="visibility: hidden;">
            <main class="sub_content">
                <div class="content_box">
                    <div class="location_wrap">
                        <div class="location_cont">
                            <em><a href="/" class="local_home">HOME</a> &gt; 마이페이지 > 취소/반품/교환 내역</em>
                        </div>
                    </div>
                </div>

                <div id="myPageLeftMenu" class="side_cont"></div>

                <div class="content">
                    <div class="mypage_main">
                        <div id="myPageSummary"></div>
                        <div class="mypage_top_info"></div>

                        <div class="mypage_lately_info">
                            <div class="mypage_zone_tit">
                                <h3>취소/반품/교환 내역</h3>
                            </div>
                            <div id="searchDateRange"></div>
                        </div>
                        <div class="mypage_lately_info">
                            <div class="mypage_zone_tit">
                                <h3>
                                    <span>취소/반품/교환 내역 총 <span id="totalCount">0</span>건</span>
                                </h3>
                            </div>
                            <div class="mypage_table_type order_list">
                                <script id="claimsResult" type="text/x-handlebars-template">
                                    <table>
                                        <colgroup class='order_table_colgroup'>
                                            <col style='width:17%' />
                                            <col />
                                            <col style='width:8%' />
                                            <col style='width:12%' />
                                            <col style='width:10%' />
                                            <col style='width:11%' />
                                        </colgroup>
                                        <thead class='order_table_head'>
                                            <tr>
                                                <th>
                                                    주문일자(주문번호)
                                                </th>
                                                <th>
                                                    상품정보
                                                </th>
                                                <th>
                                                    수량
                                                </th>
                                                <th>
                                                    상품금액
                                                </th>
                                                <th>
                                                    진행상태
                                                </th>
                                                <th>
                                                    접수
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class='order_table_body'>
                                            {{#each this}}
                                                <tr>
                                                    {{#ifNe rowSpan 0}}
                                                        <td class='order_DayNum' rowspan="{{rowSpan}}">
                                                            <p>
                                                                {{orderYmd}}
                                                            </p>
                                                            <p>
                                                                <a href="/pages/my/order.html?orderNo={{orderNo}}">
                                                                    {{orderNo}}
                                                                </a>
                                                            </p>
                                                        </td>
                                                    {{/ifNe}}
                                                    <td class='td_left'>
                                                        <div class='pick_add_cont'>
                                                            <span class='pick_add_img'>
                                                                <div>
                                                                    <a href="/pages/product/view.html?productNo={{productNo}}">
                                                                        <img src="{{imageUrl}}" alt="{{productName}}" title="{{productName}}" class='middle' />
                                                                    </a>
                                                                </div>
                                                            </span>
                                                            <div class='pick_add_info'>
                                                                <a href="/pages/product/view.html?productNo={{productNo}}">
                                                                    <em style='display: block;'>
                                                                        {{{productName}}}
                                                                    </em>
                                                                </a>
                                                                <div class='goods_option'>
                                                                    {{#ifNe productName optionName}}
                                                                        <div class='icon_re'>
                                                                            <span>
                                                                                {{{optionTextInfo}}}
                                                                            </span>
                                                                        </div>
                                                                    {{/ifNe}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <em class='name' style='display: block;'></em>
                                                    </td>
                                                    <td class='order_Amount'>
                                                        {{toCurrencyString orderCnt}}
                                                    </td>
                                                    <td>
                                                        <strong>
                                                            {{toCurrencyString buyAmt}}
                                                        </strong>
                                                        원
                                                    </td>
                                                    <td data-claim-no="{{claimNo}}">
                                                        {{{claimStatus}}}
                                                    </td>
                                                    <td data-claim-nos="{{claimNos}}">
                                                        {{{nextAction}}}
                                                    </td>
                                                </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </script>
                            </div>
                            <div class="btn_right_box">
                                <button type="button" id="btn_write" class="btn_write">
                                    <strong>1:1문의하기</strong>
                                </button>
                            </div>
                            <div class="pagination" id="pagination"></div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <aside id="aside"></aside>
        <footer id="footer"></footer>
        <div id="popups-area"></div>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/my/claims.js"></script>
    </body>
</html>
