<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <link type="text/css" rel="stylesheet" href="/lib/date-picker/tui-date-picker.css" />
        <script src="/lib/date-picker/tui-date-picker.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>1:1 문의 리스트</title>
    </head>

    <body>
        <header id="header"></header>
        <div id="contents">
            <main class="sub_content">
                <div class="content_box">
                    <div class="location_wrap">
                        <div class="location_cont">
                            <em><a href="/" class="local_home">HOME</a> &gt; 마이페이지 &gt;<span class="inquiriesName" id="inquiriesName">{{name}}</span></em>
                        </div>
                    </div>
                </div>
                <div id="myPageLeftMenu" class="side_cont"></div>
                <div class="content">
                    <div class="board_zone_sec">
                        <div class="board_zone_tit inquiriesName">
                            <h3>{{name}}</h3>
                        </div>
                        <div class="mypage_lately_info_cont">
                            <div class="mypage_table_type">
                                <script id="myInquiries" type="text/x-handlebars-template">
                                    <table>
                                        <colgroup>
                                            <col style="width:6%">
                                            <col style="width:10%">
                                            <col>
                                            <col style="width:15%">
                                            <col style="width:10%">
                                        </colgroup>
                                        <thead>
                                        <tr>
                                            <th>번호</th>
                                            <th>문의유형</th>
                                            <th>제목</th>
                                            <th>문의일</th>
                                            <th>답변상태</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {{#each items}}
                                            <tr style="height: 50px;" data-inquiry-no="{{inquiryNo}}" data-product-name="{{productName}}">
                                                <td>{{listIndex @key ../pageNumber ../pageSize}}</td>
                                                <td class="col333">{{inquiryType.inquiryTypeName}}</td>
                                                <td class="td_left">
                                                    <div class="pick_add_cont">
                                                      <a href="/pages/my/inquiry.html?inquiryNo={{inquiryNo}}">
                                                        <span class="pick_add_img">
                                                            <div>
                                                                {{#each imageUrls}}
                                                                {{#if @first}}<img src="{{this}}" alt="{{../inquiryTitle}}이미지" style="width:100%;height:auto;">{{/if}}
                                                                {{else}}<img src="/assets/img/board/noimg.png" alt="이미지 없음">{{/each}}
                                                            </div>
                                                        </span>
                                                        <div class="pick_add_info">
                                                            <em><img src="/assets/img/icon/board/icon_board_secret.png" alt="비밀글"/>{{inquiryTitle}}</em>
                                                          {{badge 'new' registerYmdt}}
                                                          {{badge 'hot' viewCount}}
                                                        </div>
                                                    </a>
                                                </div>
                                                </td>
                                                <td>{{substring registerYmdt 0 10}}</td>
                                                <td><span class="btn_answer_comp">{{#ifEq inquiryStatus 'ANSWERED'}}답변완료{{else}}답변대기{{/ifEq}}</span></td>
                                            </tr>
                                        {{else}}
                                            <tr>
                                                <td colspan="6"><p class="no_data">게시글이 존재하지않습니다.</p></td>
                                            </tr>
                                        {{/each}}
                                        </tbody>
                                    </table>
                                </script>
                            </div>
                            <div class="btn_right_box">
                                <button type="button" id="btn_write" class="btn_write">
                                    <strong>1:1 문의하기</strong>
                                </button>
                            </div>
                        </div>
                        <div id="pagination" class="pagination"></div>
                        <div class="board_search_box">
                            <select name="searchType">
                                <option value="TITLE">제목</option>
                                <option value="CONTENT">내용</option>
                            </select>
                            <input type="text" class="text" name="keyword" id="inquiryKeyword" />
                            <button class="btn_board_search"><em>검색</em></button>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <aside id="aside"></aside>
        <footer id="footer"></footer>
        <div id="popups-area"></div>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/my/components/mypage-components.js"></script>
        <script src="/js/pages/my/inquiries.js"></script>
    </body>
</html>
