<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <link type="text/css" rel="stylesheet" href="/lib/date-picker/tui-date-picker.css" />
        <script src="/lib/date-picker/tui-date-picker.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>1:1 문의</title>
    </head>

    <body>
        <header id="header"></header>
        <div id="contents">
            <main class="sub_content">
                <div class="content_box">
                    <div class="location_wrap">
                        <div class="location_cont">
                            <em
                                ><a href="/" class="local_home">HOME</a> &gt; 마이페이지 &gt;<span class="inquiriesName invisible" id="inquiriesName"
                                    >{{name}}</span
                                ></em
                            >
                        </div>
                    </div>
                </div>
                <div id="myPageLeftMenu" class="side_cont"></div>

                <div class="content">
                    <div class="board_zone_sec">
                        <div class="board_zone_tit inquiriesName invisible">
                            <h2>{{name}}</h2>
                        </div>
                        <div class="board_zone_cont invisible" id="inquiryDetail">
                            <div class="board_zone_view">
                                <div class="board_view_tit">
                                    <h3>
                                        [{{inquiryType.inquiryTypeName}}] {{inquiryTitle}}
                                    </h3>
                                </div>
                                <div class="board_view_info">
                                    <span>
                                        <em>{{registerYmdt}}</em>
                                    </span>
                                </div>
                                <div class="board_view_content">
                                    <div class="board_view_qa">
                                        <div class="view_question_box">
                                            <strong class="view_question_tit">Q.</strong>
                                            <div class="seem_cont">
                                                <div style="margin: 10px 0 10px 0;">
                                                    {{inquiryTitle}}
                                                </div>
                                            </div>
                                            <div>{{{inquiryContent}}}</div>
                                            {{#if imageUrls}}
                                            <div class="add_file_area">
                                                <ul>
                                                    {{#each imageUrls}}
                                                    <li class="vis_mode">
                                                        <div>
                                                            {{img this '' '' '첨부파일'}}
                                                            <a class="zoom" href="javascript:void(0);"
                                                                ><img src="/assets/img/board/icon_view_add_file.png" alt="보기"
                                                            /></a>
                                                        </div>
                                                    </li>
                                                    {{/each}}
                                                </ul>
                                            </div>
                                            {{/if}}
                                        </div>
                                        {{#if answer}}
                                        <div class="view_answer_box">
                                            <strong class="view_answer_tit">A.</strong>
                                            <div class="view_answer_info">
                                                <strong></strong>
                                                <span class="view_info_idip">
                                                    <strong>운영자</strong>
                                                </span>
                                                <span class="view_info_day">
                                                    <em>{{answerRegisterYmd}}</em>
                                                </span>
                                            </div>

                                            <div class="seem_cont">
                                                <div style="margin: 10px 0 10px 0;">
                                                    {{{answer.answerContent}}}
                                                </div>
                                            </div>
                                        </div>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                            <div class="btn_right_box">
                                {{#ifEq answer null}}
                                <button type="button" class="btn_board_del" data-type="delete">
                                    <strong data-type="delete">삭제</strong>
                                </button>
                                <button type="button" class="btn_board_edit" data-type="edit">
                                    <strong data-type="edit">수정</strong>
                                </button>
                                {{/ifEq}}
                                <button type="button" class="btn_board_list" onclick="location.href='/pages/my/inquiries.html'">
                                    <strong>목록</strong>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <aside id="aside"></aside>
        <footer id="footer"></footer>
        <div id="popups-area"></div>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/my/components/mypage-components.js"></script>
        <script src="/js/pages/my/inquiry.js"></script>
    </body>
</html>
