<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <link type="text/css" rel="stylesheet" href="/lib/date-picker/tui-date-picker.css" />
        <script src="/lib/date-picker/tui-date-picker.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <script src="/js/pages/my/components/mypage-components.js"></script>
        <title>적립금 조회</title>
    </head>
    <body>
        <header id="header"></header>

        <div id="contents">
            <main class="sub_content">
                <div class="content_box">
                    <div class="location_wrap">
                        <div class="location_cont">
                            <em><a href="/" class="local_home">HOME</a> &gt; 마이페이지 > <span data-attach="title"></span></em>
                        </div>
                    </div>
                </div>

                <div id="myPageLeftMenu" class="side_cont"></div>

                <div class="content">
                    <div class="mypage_main">
                        <!-- 마이페이지 > 쇼핑정보, 혜택관리 공통으로 쓰이는 summary -->
                        <div id="myPageSummary"></div>
                        <div class="mypage_top_info"></div>

                        <div class="mypage_zone_tit">
                            <h3><em data-attach="title"></em> 조회</h3>
                        </div>

                        <div class="mypage_lately_info">
                            <div class="mypage_zone_tit"></div>
                            <div id="searchDateRange"></div>
                        </div>
                        <div class="mypage_shipping">
                            <div class="mypage_lately_info_cont">
                                <div class="mypage_table_type">
                                    <script id="mileages" type="text/x-handlebars-template">
                                        <table>
                                            <colgroup>
                                                <col style='width:20%' />
                                                <col />
                                                <col style='width:10%' />
                                                <col style='width:10%' />
                                                <col />
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th>
                                                        일시
                                                    </th>
                                                    <th>
                                                        내용
                                                    </th>
                                                    <th>
                                                        지급
                                                    </th>
                                                    <th>
                                                        차감
                                                    </th>
                                                    <th>
                                                        유효기간
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each this}}
                                                    <tr>
                                                        <td>
                                                            {{registerYmdt}}
                                                        </td>
                                                        <td class='td_left'>
                                                            {{reasonDetail}}
                                                        </td>
                                                        <td class='td_cash'>
                                                            <strong class='cash_plus'>
                                                                {{#ifNe accumulationAmt 0}}
                                                                    {{#ifEq operator '+'}}
                                                                        {{operator}}{{toCurrencyString accumulationAmt}}{{accumulationUnit}}
                                                                    {{/ifEq}}
                                                                {{/ifNe}}
                                                            </strong>
                                                        </td>
                                                        <td class='td_cash'>
                                                            <strong class='cash_minus'>
                                                                {{#ifNe deductionRestAmt 0}}
                                                                    {{#ifEq operator '-'}}
                                                                        {{operator}}{{toCurrencyString accumulationAmt}}{{accumulationUnit}}
                                                                    {{/ifEq}}
                                                                {{/ifNe}}
                                                            </strong>
                                                        </td>
                                                        <td>
                                                            <em>
                                                                {{#if isNoExpirationDate}}
                                                                    제한없음
                                                                {{else if startYmdt}}
                                                                    {{startYmdt}}<br />
                                                                    ~
                                                                    {{expireYmdt}}
                                                                {{/if}}
                                                            </em>
                                                        </td>
                                                    </tr>
                                                {{/each}}

                                                {{#ifEq length 0}}
                                                    <tr>
                                                        <td colspan='5'>
                                                            <p class='no_data'>
                                                                조회내역이 없습니다.
                                                            </p>
                                                        </td>
                                                    </tr>
                                                {{/ifEq}}
                                            </tbody>
                                        </table>
                                    </script>
                                </div>
                                <div class="pagination" id="pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <aside id="aside"></aside>
        <footer id="footer"></footer>
        <div id="popups-area"></div>

        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/my/mileages.js"></script>
    </body>
</html>
