<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>Join</title>
    </head>

    <body>
        <header id="header"></header>
        <div id="contents">
            <main class="sub_content">
                <div class="content_box">
                    <div class="location_wrap">
                        <div class="location_cont">
                            <em><a href="/" class="local_home">HOME</a> &gt; 마이페이지 &gt; 내정보수정</em>
                        </div>
                    </div>
                </div>
                <div id="myPageLeftMenu" class="side_cont"></div>

                <div class="content">
                    <div class="my_page">
                        <!-- 비밀번호 재확인 -->
                        <div id="certifyPassword" class="my_page_password invisible">
                            <div class="mypage_zone_tit">
                                <h2>회원정보 변경</h2>
                            </div>
                            <p><strong>회원님의 정보를 안전하게 보호하기 위해 다시 한번 입력해 주세요.</strong></p>
                            <div class="id_pw_cont" id="member-cont">
                                <dl>
                                    <dt>아이디</dt>
                                    <dd><strong>{{memberId}}</strong></dd>
                                </dl>
                                <dl>
                                    <dt>비밀번호</dt>
                                    <dd>
                                        <div class="member_warning">
                                            <input type="password" name="confirmPassword" id="confirmPassword" maxlength="20" value="" />
                                        </div>
                                    </dd>
                                </dl>
                                <div id="captcha"></div>
                            </div>
                            <div class="btn_center_box">
                                <a id="btnCertifyCancel" class="btn_pw_cancel js_btn_back" href="#"><em>취소</em></a>
                                <button type="button" id="btnPwCertify" class="btn_pw_certify">
                                    <em>인증하기</em>
                                </button>
                            </div>
                        </div>
                        <!-- 회원정보 변경 폼 -->
                        <script id="modifyMember" data-template-id="modifyMember" type="text/x-handlebars-template">
                            <div class="modify_member_wrap">
                                <div class="join_base_wrap">
                                    <div class="mypage_zone_tit">
                                        <h2>회원정보 변경</h2>
                                    </div>
                                    <div class="member_cont">
                                        <div class="base_info_box">
                                            <h3>기본정보</h3>
                                            <span class="important">표시는 필수입력 항목입니다.</span>
                                            <div class="base_info_sec">
                                                <input type="hidden" id="memberNo" name="memberNo" value=""/>
                                                <input type="hidden" id="ci" name="ci" value="{{kcpAuth.ci}}"/>

                                                <table style="border: 0; border-spacing: 0;" cellpadding="0">
                                                    <colgroup>
                                                        <col style="width: 25%">
                                                        <col style="width: 75%">
                                                    </colgroup>
                                                    <tbody id="memberRegisterForm">
                                                    <tr>
                                                        <th><span {{#ifEq memberJoinConfig.memberId 'REQUIRED'}}class="important"{{/ifEq}}>아이디</span></th>
                                                        <td>
                                                            <div>{{userInfo.memberId}}</div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th><span {{#ifEq memberJoinConfig.password 'REQUIRED'}}class="important"{{/ifEq}}>비밀번호</span></th>
                                                        <td>
                                                            <div class="btn_gray_list">
                                                                <button class="btn_gray_big js_password_change" id="passwordChange"><span>비밀번호 변경</span></button>
                                                            </div>

                                                            <div class="password_wrap hide" id="passwordWrap">
                                                                <div class="member_warning">
                                                                    <input type="password" id="password" name="password" {{#ifEq memberJoinConfig.password 'REQUIRED'}}class="require"{{/ifEq}}
                                                                           autocomplete="new-password" minlength="8"  maxlength="20" data-pattern="password" placeholder="영문,숫자,특수문자 중 3개 이상 조합하여 8~20자 입력"/>
                                                                    <div class="warning_message"></div>
                                                                </div>
                                                                <div class="member_warning">
                                                                    <input type="password" id="passwordChk" name="passwordChk" {{#ifEq memberJoinConfig.password 'REQUIRED'}}class="require"{{/ifEq}}
                                                                           autocomplete="off" minlength="8"  maxlength="20" placeholder="비밀번호 한 번 더 입력"/>
                                                                    <div class="warning_message"></div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th><span {{#ifEq memberJoinConfig.memberName 'REQUIRED'}}class="important"{{/ifEq}}>이름</span></th>
                                                        <td>
                                                            <div class="member_warning">
                                                                <input type="text" id="memberName" name="memberName" maxlength="30" {{#ifEq memberJoinConfig.memberName 'REQUIRED'}}class="require"{{/ifEq}}
                                                                       value="{{userInfo.memberName}}" placeholder="이름 입력" data-pattern="noSpecialSpace"
                                                                    {{#ifEq mallJoinConfig.authenticationType 'AUTHENTICATION_BY_PHONE'}}{{#ifEq userInfo.certificationType 'MOBILE'}}disabled{{/ifEq}}{{/ifEq}}
                                                                />
                                                                <div class="warning_message"></div>
                                                                <span class="auth_phone_type">
                                                                    {{#ifEq mallJoinConfig.authenticationType 'AUTHENTICATION_BY_PHONE'}}
                                                                    <button class="btn_certification" id="mobileReAuth">{{#ifEq userInfo.certificationType 'MOBILE'}}재인증{{else}}휴대폰 본인인증{{/ifEq}}</button>
                                                                    {{/ifEq}}
                                                                </span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th><span {{#ifEq memberJoinConfig.nickname 'REQUIRED'}}class="important"{{/ifEq}}>닉네임</span></th>
                                                        <td>
                                                            <div class="member_warning">
                                                                <input type="text" id="nickname" name="nickname" {{#ifEq memberJoinConfig.nickname 'REQUIRED'}}class="require"{{/ifEq}}
                                                                       maxlength="20" value="{{userInfo.nickname}}" data-user-info="{{userInfo.nickname}}" data-pattern="noSpecialSpace" />
                                                                <div class="warning_message"></div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th><span {{#ifEq memberJoinConfig.email 'REQUIRED'}}class="important"{{/ifEq}}>이메일</span></th>
                                                        <td class="member_email">
                                                            <div class="email_box">
                                                                <div class="member_warning">
                                                                    <input type="text" name="email" id="emailId" {{#ifEq memberJoinConfig.email 'REQUIRED'}}class="require"{{/ifEq}}
                                                                           data-pattern="noPartSpecial" value="{{userInfo.emailId}}" data-user-info="{{userInfo.email}}"
                                                                            {{#ifEq mallJoinConfig.authenticationType 'AUTHENTICATION_BY_EMAIL'}}{{#ifEq userInfo.certificationType 'EMAIL'}}disabled{{/ifEq}}{{/ifEq}}
                                                                    />
                                                                    @
                                                                    <input type="text" name="email" id="emailDomain" {{#ifEq memberJoinConfig.email 'REQUIRED'}}class="require"{{/ifEq}}
                                                                           data-pattern="noPartSpecial" value="{{userInfo.emailDomain}}" data-user-info="{{userInfo.email}}"
                                                                           {{#ifEq mallJoinConfig.authenticationType 'AUTHENTICATION_BY_EMAIL'}}{{#ifEq userInfo.certificationType 'EMAIL'}}disabled{{/ifEq}}{{/ifEq}}
                                                                    />
                                                                    {{#ifEq mallJoinConfig.authenticationType 'AUTHENTICATION_BY_EMAIL'}}
                                                                    <span class="btn_auth_email">
                                                                        <span class="btn_left_box">
                                                                            <button class="btn_send_email" name="sendAuth" data-auth-type="email">{{#ifEq userInfo.certificationType 'EMAIL'}}재인증{{else}}인증번호 발송{{/ifEq}}</button>
                                                                        </span>
                                                                    </span>
                                                                    {{/ifEq}}
                                                                    <div class="warning_message"></div>
                                                                </div>
                                                                <div class="auth_email hide">
                                                                    <input type="text" id="authEmail" name="auth_email" placeholder="인증번호를 입력하세요." data-pattern="notNumber"/>
                                                                    <span>유효시간 <span class="timer"></span></span>
                                                                    <button class="btn_confirm_email" name="confirmAuth" data-auth-type="email">확인</button>
                                                                    <div class="warning_message"></div>
                                                                </div>
                                                            </div>
                                                            <div id="emailCaptcha"></div>
                                                            <div class="form_element">
                                                                <input type="checkbox" name="direct-mail-agreed" id="directMailAgreed" {{#if userInfo.directMailAgreed}}checked{{/if}}>
                                                                <label for="directMailAgreed" class="check_s">메일 수신 동의</label>
                                                            </div>
                                                            <div>( {{#if userInfo.directMailAgreed}}동의 {{userInfo.directMailAgreeYmdt}}{{else}}거부 {{userInfo.directMailDisagreeYmdt}}{{/if}} ) </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th><span {{#ifEq memberJoinConfig.mobileNo 'REQUIRED'}}class="important"{{/ifEq}}>휴대폰번호</span></th>
                                                        <td class="member_mobile">
                                                            <div class="sms_box">
                                                                <div class="member_warning">
                                                                    <input type="text" id="mobileNo" name="mobileNo" maxlength="11"
                                                                           {{#ifEq memberJoinConfig.mobileNo 'REQUIRED'}}class="require"{{/ifEq}} placeholder="휴대폰번호 – 없이 입력"
                                                                            value="{{userInfo.mobileNo}}" data-pattern="notNumber"
                                                                           {{#ifEqOne mallJoinConfig.authenticationType 'SMS_AUTHENTICATION' 'AUTHENTICATION_BY_PHONE'}}{{#ifEqOne userInfo.certificationType 'SMS' 'MOBILE'}}disabled{{/ifEqOne}}{{/ifEqOne}}
                                                                    >
                                                                    {{#ifEq mallJoinConfig.authenticationType 'SMS_AUTHENTICATION'}}
                                                                    <span class="btn_auth_sms">
                                                                        <span class="btn_left_box">
                                                                            <button class="btn_send_sms" name="sendAuth" data-auth-type="sms">{{#ifEq userInfo.certificationType 'SMS'}}재인증{{else}}인증번호 발송{{/ifEq}}</button>
                                                                        </span>
                                                                    </span>
                                                                    {{/ifEq}}
                                                                    <div class="warning_message"></div>
                                                                </div>
                                                                <div class="auth_sms hide">
                                                                    <input type="text" id="authSMS" name="auth_sms" placeholder="인증번호를 입력하세요." data-pattern="notNumber"/>
                                                                    <span>유효시간 <span class="timer"></span></span>
                                                                    <button class="btn_confirm_sms" name="confirmAuth" data-auth-type="sms">확인</button>
                                                                    <div class="warning_message"></div>
                                                                </div>
                                                            </div>
                                                            <div id="smsCaptcha"></div>
                                                            <div class="form_element">
                                                                <input type="checkbox" name="direct-sms-agreed" id="smsAgreed" {{#if userInfo.smsAgreed}}checked{{/if}}>
                                                                <label for="smsAgreed" class="check_s">SMS 수신 동의</label>
                                                            </div>
                                                            <div>( {{#if userInfo.smsAgreed}}동의 {{userInfo.smsAgreeYmdt}}{{else}}거부 {{userInfo.smsDisagreeYmdt}}{{/if}} ) </div>

                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th><span {{#ifEq memberJoinConfig.phoneNo 'REQUIRED'}}class="important"{{/ifEq}}>전화번호</span></th>
                                                        <td>
                                                            <div class="member_warning">
                                                                <input type="text" id="telephoneNo" name="telephoneNo" {{#ifEq memberJoinConfig.phoneNo 'REQUIRED'}}class="require"{{/ifEq}}
                                                                       maxlength="12" placeholder="전화번호 - 없이 입력"
                                                                       value="{{userInfo.telephoneNo}}" data-pattern="notNumber"/>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th><span {{#ifEq memberJoinConfig.address 'REQUIRED'}}class="important"{{/ifEq}}>주소</span></th>
                                                        <td class="member_address" id="memberAddress">
                                                            <div class="address_postcode">
                                                                <input type="text" name="zipCd" id="zipCd" readonly="readonly" {{#ifEq memberJoinConfig.address 'REQUIRED'}}class="require"{{/ifEq}}
                                                                       value="{{userInfo.zipCd}}"/>
                                                                <button type="button" id="btnPostcode" class="btn_post_search">
                                                                    우편번호 찾기
                                                                </button>
                                                            </div>
                                                            <div class="address_input">
                                                                <div class="member_warning">
                                                                    <input type="text" name="address" id="address" readonly="readonly" disabled
                                                                           value="{{userInfo.address}}"/>
                                                                    <input type="hidden" name="jibunAddress" id="jibunAddress"
                                                                           value="{{userInfo.jibunAddress}}"/>
                                                                </div>
                                                                <div class="member_warning js_address_sub">
                                                                    <input type="text" name="detailAddress" value="{{userInfo.detailAddress}}"/>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th><span {{#ifEq memberJoinConfig.birthday 'REQUIRED'}}class="important"{{/ifEq}}>생년월일</span></th>
                                                        <td class="member_birthday">
                                                            <div class="member_warning">
                                                                <select name="birthYear" {{#ifEq mallJoinConfig.authenticationType 'AUTHENTICATION_BY_PHONE'}}{{#ifEq userInfo.certificationType 'MOBILE'}}disabled{{/ifEq}}{{/ifEq}}>
                                                                    {{#each selectOptions.yearList}}
                                                                        {{option value name ../userInfo.year}}
                                                                    {{/each}}
                                                                </select>
                                                                <select name="birthMonth" {{#ifEq mallJoinConfig.authenticationType 'AUTHENTICATION_BY_PHONE'}}{{#ifEq userInfo.certificationType 'MOBILE'}}disabled{{/ifEq}}{{/ifEq}}>
                                                                    {{#each selectOptions.monthList}}
                                                                        {{option value name ../userInfo.month}}
                                                                    {{/each}}
                                                                </select>
                                                                <select name="birthDay" {{#ifEq mallJoinConfig.authenticationType 'AUTHENTICATION_BY_PHONE'}}{{#ifEq userInfo.certificationType 'MOBILE'}}disabled{{/ifEq}}{{/ifEq}}>
                                                                    {{#each selectOptions.dayList}}
                                                                        {{option value name ../userInfo.day}}
                                                                    {{/each}}
                                                                </select>
                                                                <div class="warning_message"></div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th><span {{#ifEq memberJoinConfig.sex 'REQUIRED'}}class="important"{{/ifEq}}>성별</span></th>
                                                        <td>
                                                            <div class="member_warning">
                                                                <div class="form_element">
                                                                    <ul>
                                                                        <li class="inp_rdo">
                                                                            <input type="radio" name="sex" id="sexNon" {{{checked "X" userInfo.sex}}} {{#ifEq mallJoinConfig.authenticationType 'AUTHENTICATION_BY_PHONE'}}{{#ifEq userInfo.certificationType 'MOBILE'}}disabled{{/ifEq}}{{/ifEq}}>
                                                                            <label for="sexNon" class="choice_s">선택 안 함</label>
                                                                        </li>
                                                                        <li>
                                                                            <input type="radio" name="sex" id="sexMan" {{{checked "M" userInfo.sex}}} {{#ifEq mallJoinConfig.authenticationType 'AUTHENTICATION_BY_PHONE'}}{{#ifEq userInfo.certificationType 'MOBILE'}}disabled{{/ifEq}}{{/ifEq}}>
                                                                            <label for="sexMan" class="choice_s">남자</label>
                                                                        </li>
                                                                        <li>
                                                                            <input type="radio" name="sex" id="sexWoman" {{{checked "F" userInfo.sex}}} {{#ifEq mallJoinConfig.authenticationType 'AUTHENTICATION_BY_PHONE'}}{{#ifEq userInfo.certificationType 'MOBILE'}}disabled{{/ifEq}}{{/ifEq}}>
                                                                            <label for="sexWoman" class="choice_s">여자</label>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="join_agreement_wrap">
                                    <div class="join_agreement_cont">
                                        <h3>약관동의</h3>
                                        <div class="join_agreement_cont">
                                            <div class="join_agreement_box">
                                                <div class="form_element">
                                                    <input type="checkbox" id="allAgree" name="termAllTem" {{#if isAllChecked}}checked{{/if}} />
                                                    <label class="check" for="allAgree">
                                                        <em>{{mallName}}의 모든 약관을 확인하고 전체동의합니다.</em></label
                                                    >
                                                    <span>(전체동의, 선택항목도 포함됩니다.)</span>
                                                </div>
                                            </div>
                                            <!-- //join_agreement_box -->
                                            {{#each agreements}}
                                                <div class="join_agreement_box ">
                                                    <div class="form_element">
                                                        <input type="checkbox" id="agreeCheckbox-{{key}}" name="termItem"
                                                               class="{{#if required}}require{{else}}option{{/if}}" data-term-id="{{key}}"
                                                               {{#if checked}}checked{{/if}}
                                                               {{#if required}}disabled{{/if}}
                                                        >
                                                        <label for="agreeCheckbox-{{key}}" class="check_s">
                                                            <em><b>{{#if required}}[필수]{{else}}[선택]{{/if}}</b>{{label}}</em>
                                                        </label>
                                                        {{#if contents}}
                                                            <span class="agreement_detail" data-term-id="{{key}}">보기</span>
                                                        {{/if}}
                                                    </div>
                                                </div>
                                            {{/each}}
                                            <div class="join_agreement_box ">
                                                <div class="form_element">
                                                    <input type="checkbox" id="agreeCheckbox-JOIN_POSSIBLE_AGE" name="termItem"
                                                           class="require" data-term-id="JOIN_POSSIBLE_AGE" checked disabled>
                                                    <label class="check_s" for="agreeCheckbox-JOIN_POSSIBLE_AGE">
                                                        <em><b>[필수]</b>본인은 만 14세 이상입니다.</em>
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="important_check_box">
                                                <strong class="important_check">필수항목을 체크해주세요.</strong>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- //member_cont -->
                                </div>
                                <div class="btn_center_box">
                                    <button type="button" id="btnCancel" class="btn_member_cancel">취소</button>
                                    <button type="button" id="btnModify" class="btn_comfirm js_btn_modify" value="정보수정">
                                        정보수정
                                    </button>
                                </div>
                            </div>
                        </script>
                    </div>
                </div>
            </main>
        </div>
        <aside id="aside"></aside>
        <footer id="footer"></footer>
        <div id="popups-area"></div>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/my/components/mypage-components.js"></script>
        <script src="/js/pages/my/modify-member.js"></script>
    </body>
</html>
