<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <title>마이페이지</title>
    </head>
    <body>
        <header id="header"></header>

        <!-- @fixme: 갑자기 상품후기, 문의가 안나옴 haekyu-->
        <div id="contents" style="visibility: hidden;">
            <main class="sub_content">
                <div class="content_box">
                    <div class="location_wrap">
                        <div class="location_cont">
                            <em><a href="/" class="local_home">HOME</a> &gt; 마이페이지</em>
                        </div>
                    </div>
                </div>

                <!-- mypage 왼쪽 메뉴 -->
                <div id="myPageLeftMenu" class="side_cont"></div>

                <!-- mypage 본문 -->
                <div class="content">
                    <div class="mypage_main">
                        <!-- 마이페이지 > 쇼핑정보, 혜택관리 공통으로 쓰이는 summary -->
                        <div id="myPageSummary"></div>
                        <!-- 밑에 밑줄....-->
                        <div class="mypage_top_info"></div>

                        <!-- 나의 주문현황 summary-->
                        <div class="mypage_order_info">
                            <div class="mypage_zone_tit">
                                <h3>나의 주문현황<span>최근 6개월 기준</span></h3>
                            </div>
                            <div class="mypage_order_info_cont_new">
                                <div id="myOrderLastHalfYear" data-template-id="myOrderLastHalfYearTemplate"></div>
                            </div>
                            <script id="myOrderLastHalfYearTemplate" type="text/x-handlebars-template">
                                <ol>
                                    <li>
                                        <p>
                                            미입금
                                        </p>
                                        <p>
                                            <a href='/pages/my/orders.html?orderRequestTypes=DEPOSIT_WAIT'>
                                                {{depositWaitCnt}}
                                            </a>
                                            건
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            출고대기
                                        </p>
                                        <p>
                                            <a href='/pages/my/orders.html?orderRequestTypes=PAY_DONE,PRODUCT_PREPARE,DELIVERY_PREPARE'>
                                                {{sum payDoneCnt productPrepareCnt deliveryPrepareCnt}}
                                            </a>
                                            건
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            배송중
                                        </p>
                                        <p>
                                            <a href='/pages/my/orders.html?orderRequestTypes=DELIVERY_ING'>
                                                {{deliveryIngCnt}}
                                            </a>
                                            건
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            배송완료
                                        </p>
                                        <p>
                                            <a href='/pages/my/orders.html?orderRequestTypes=DELIVERY_DONE'>
                                                {{deliveryDoneCnt}}
                                            </a>
                                            건
                                        </p>
                                    </li>
                                </ol>
                                <div class='order_case_list'>
                                    <ul>
                                        <li>
                                            <p>
                                                취소/교환/반품
                                            </p>
                                            <p>
                                                <a href='/pages/my/claims.html'>
                                                    {{
                                                        sum
                                                        cancelDoneCnt
                                                        cancelProcessingCnt
                                                        exchangeDoneCnt
                                                        exchangeProcessingCnt
                                                        returnDoneCnt
                                                        returnProcessingCnt
                                                    }}
                                                </a>
                                                건
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </script>
                            <a href="/pages/my/orders.html" class="btn_board_more">더보기</a>
                        </div>

                        <!-- 나의 게시글 summary-->
                        <div class="mypage_order_info">
                            <div class="mypage_order_info_cont_new2">
                                <div id="myBoardSummary" data-template-id="myBoardSummaryTemplate"></div>
                            </div>
                            <script id="myBoardSummaryTemplate" type="text/x-handlebars-template">
                                {{#if inquirySummary.used}}
                                    <div class='new2_box'>
                                        <div>
                                            <p class='sb_p_inquiry_name'>
                                                {{inquirySummary.name}}
                                            </p>
                                            <a href='/pages/my/inquiries.html' class='btn_board_more'>
                                                더보기
                                            </a>
                                        </div>
                                        <div>
                                            <dl>
                                                <dt>
                                                    답변대기
                                                </dt>
                                                <dd>
                                                    <span class='sb_span_wait_answer'>
                                                        {{inquirySummary.progressCnt}}
                                                    </span>
                                                    건
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt>
                                                    답변완료
                                                </dt>
                                                <dd>
                                                    <span class='sb_span_complete_answer'>
                                                        {{inquirySummary.answeredCnt}}
                                                    </span>
                                                    건
                                                </dd>
                                            </dl>
                                            <button type='button' id='writeQuery' class='btn_new2_box_more'>
                                                1:1문의하기
                                            </button>
                                        </div>
                                    </div>
                                {{/if}}

                                {{#if productInquirySummary.used}}
                                    <div class='new2_box'>
                                        <div>
                                            <p class='sb_p_goods_inquiry_name'>
                                                {{productInquirySummary.name}}
                                            </p>
                                            <a href='/pages/my/product-inquiries.html' class='btn_board_more'>
                                                더보기
                                            </a>
                                        </div>
                                        <div>
                                            <dl>
                                                <dt>
                                                    답변대기
                                                </dt>
                                                <dd>
                                                    <span class='sb_span_wait_my_inquiry'>
                                                        {{productInquirySummary.progressCnt}}
                                                    </span>
                                                    건
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt>
                                                    답변완료
                                                </dt>
                                                <dd>
                                                    <span class='sb_span_complete_my_inquiry'>
                                                        {{productInquirySummary.answeredCnt}}
                                                    </span>
                                                    건
                                                </dd>
                                            </dl>
                                            <button type='button' id='writeInqueryPrd' class='btn_new2_box_more'>
                                                상품문의하기
                                            </button>
                                        </div>
                                    </div>
                                {{/if}}

                                {{#if productReviewSummary.used}}
                                    <div class='new2_box'>
                                        <div>
                                            <p class='sb_p_goods_review_name'>
                                                {{productReviewSummary.name}}
                                            </p>
                                            <a href='/pages/my/product-reviews.html' class='btn_board_more'>
                                                더보기
                                            </a>
                                        </div>
                                        <div>
                                            <dl>
                                                <dt>
                                                    작성가능 후기
                                                </dt>
                                                <dd>
                                                    <span class='sb_span_wait_review'>
                                                        {{productReviewSummary.availableCnt}}
                                                    </span>
                                                    건
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt>
                                                    작성완료 후기
                                                </dt>
                                                <dd>
                                                    <span class='sb_span_review'>
                                                        {{productReviewSummary.completedCnt}}
                                                    </span>
                                                    건
                                                </dd>
                                            </dl>
                                            <button type='button' class='btn_new2_box_more' id='writeReview'>
                                                후기작성하기
                                            </button>
                                        </div>
                                    </div>
                                {{/if}}
                            </script>
                        </div>

                        <!-- 최근 본 상품 -->
                        <div id="myRecentProducts" class="mypage_lately_goods" data-template-id="myRecentProductsTemplate"></div>
                        <script id="myRecentProductsTemplate" type="text/x-handlebars-template">
                            <div class='mypage_zone_tit'>
                                <h3>
                                    최근 본 상품
                                </h3>
                                <span>
                                    {{memberName}}님께서 본 최근 상품입니다.
                                </span>
                            </div>
                            <div class='goods_list_cont'>
                                <div id='recent_product_list_info'>
                                    <div class='item_slide_horizontal'>
                                        <ul id='flicking'>
                                            {{#each recentProducts}}
                                                <li style='width: 25%;'>
                                                    <div class='item_cont'>
                                                        <div class='item_photo_box'>
                                                            <a href="/pages/product/view.html?productNo={{productNo}}">
                                                                {{img listImageUrls 180 180 productName 'middle'}}
                                                            </a>
                                                        </div>
                                                        <div class='item_info_cont'>
                                                            <div class='item_tit_box'>
                                                                <a href='/'>
                                                                    <strong class='item_name'>
                                                                        {{safeString productName}}
                                                                    </strong>
                                                                </a>
                                                            </div>
                                                            <div class='item_money_box'>
                                                                <strong class='item_price'>
                                                                    <span style=''>
                                                                        {{toCurrencyString salePrice}}원
                                                                    </span>
                                                                </strong>
                                                            </div>
                                                            <div class='item_icon_box'></div>
                                                        </div>
                                                    </div>
                                                </li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </script>
                    </div>
                </div>
            </main>
        </div>
        <aside id="aside"></aside>
        <footer id="footer"></footer>
        <div id="popups-area"></div>

        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script src="/js/core/shopby.js"></script>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/my/components/mypage-components.js"></script>
        <script src="/js/pages/my/mypage.js"></script>
    </body>
</html>
