<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <script src="/js/pages/my/components/mypage-components.js"></script>
        <title>취소/반품/교환 신청</title>
    </head>

    <body>
        <header id="header"></header>

        <div id="contents">
            <main class="sub_content" id="orderClaimTemplate">
                <div class="content_box">
                    <div class="location_wrap">
                        <div class="location_cont">
                            <em><a href="/" class="local_home">HOME</a> &gt; 마이페이지 > 취소/반품/교환 신청</em>
                        </div>
                    </div>
                </div>

                <div id="myPageLeftMenu" class="side_cont"></div>

                <div class="content">
                    <div class="mypage_main">
                        <div class="mypage_lately_info order_view_info_title">
                            <div class="mypage_zone_tit">
                                <h3 id="claimTitle"></h3>
                            </div>
                        </div>

                        <div class="mypage_lately_info">
                            <div class="mypage_table_type order_list" id="order-list-table">
                                <div class="mypage_table_type">
                                    <table>
                                        <colgroup class="order_table_colgroup">
                                            <col style="width: 17%;" />
                                            <col style="width: 3%;" />
                                            <col />
                                            <col style="width: 8%;" />
                                            <col style="width: 12%;" />
                                            <col style="width: 10%;" />
                                            <col style="width: 10%;" />
                                        </colgroup>
                                        <thead class="order_table_head">
                                            <tr>
                                                <th>주문일자(주문번호)</th>
                                                <th>
                                                    <div class="form_element">
                                                        <input type="checkbox" id="allChecked" name="all" />
                                                        <label for="allChecked" class="check_s"></label>
                                                    </div>
                                                </th>
                                                <th>상품정보</th>
                                                <th>수량</th>
                                                <th>상품금액</th>
                                                <th>진행상태</th>

                                                <th>
                                                    <span class="claimType"></span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="order_table_body">
                                            <script id="orderTable" type="text/x-handlebars-template">
                                                {{#each this}}
                                                    <tr data-order-no="{{orderNo}}" data-order-option-no={{orderOptionNo}}>
                                                        {{#ifEq @index 0}}
                                                            <td class="order_DayNum" rowspan="{{../this.length}}">
                                                                <p>{{orderYmd}}</p>
                                                                <p><a href="/pages/my/order.html?orderNo={{orderNo}}">{{orderNo}}</a></p>
                                                            </td>
                                                        {{/ifEq}}
                                                        <td class="td_chk">
                                                            <div class="form_element">
                                                                <input type="checkbox" name="optionItem" id="check-{{orderOptionNo}}" {{#ifEq defaultOrderOptionNo orderOptionNo}}checked{{/ifEq}} {{#if isEscrow}}checked{{/if}} {{#if isEscrow}}disabled{{/if}}>
                                                                <label for="check-{{orderOptionNo}}" class="check_s"></label>
                                                            </div>
                                                        </td>
                                                        <td class="td_left">
                                                            <div class="pick_add_cont">
                                                                <span class="pick_add_img">
                                                                    <div>
                                                                        <a href="/pages/product/view.html?productNo={{productNo}}">
                                                                        {{img imageUrl '' '' productName 'middle'}}
                                                                        </a>
                                                                    </div>
                                                                   </span>
                                                                <div class="pick_add_info">
                                                                    <a href="/pages/product/view.html?productNo={{productNo}}">
                                                                    <em style="display: block;">{{{productName}}}</em>
                                                                    </a>
                                                                    <div class="goods_option">
                                                                        {{#ifNe productName optionName}}
                                                                            <div class="icon_re">
                                                                                  <span>
                                                                                      {{{optionTextInfo}}}
                                                                                  </span>
                                                                            </div>
                                                                        {{/ifNe}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <em class="name" style="display: block;"></em>
                                                        </td>
                                                        <td class="order_Amount">{{toCurrencyString orderCnt}}</td>
                                                        <td><strong>{{toCurrencyString buyAmt}}</strong>원</td>
                                                        <td>
                                                            {{setOrderStateValue orderStatusType}}
                                                        </td>
                                                        <td class="td_order_amount">
                                                          <span class="goods_qty">
                                                            <input type="text" name="claimCount" class="text claimCount" title="수량" value="{{orderCnt}}" {{#ifNe defaultOrderOptionNo orderOptionNo}}disabled{{/ifNe}}/>
                                                               <span>
                                                                   <button type="button" class="goods_cnt claimCount up" data-type="increase" title="증가" {{#ifNe defaultOrderOptionNo orderOptionNo}}disabled{{/ifNe}}value="up^|^0" {{#if isEscrow}}disabled{{/if}}>증가</button>
                                                                   <button type="button" class="goods_cnt claimCount down" data-type="decrease" title="감소" {{#ifNe defaultOrderOptionNo orderOptionNo}}disabled{{/ifNe}}value="dn^|^0" {{#if isEscrow}}disabled{{/if}}>감소</button>
                                                               </span>
                                                             </span>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                {{else}}
                                                    <tr>
                                                        <td colspan="7"><p class="no_data">주문 상품이 존재하지않습니다.</p></td>
                                                    </tr>
                                                {{/each}}
                                            </script>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="order_view_info_main order_view_info">
                            <script id="claimInfo" data-template-id="claimInfo" type="text/x-handlebars-template">
                                <div class='orderer_info'>
                                    <div class='mypage_zone_tit'>
                                        <h4>
                                            {{claimType}} 사유
                                        </h4>
                                    </div>
                                    <div class='mypage_table_type'>
                                        <table class='table_left'>
                                            <colgroup>
                                                <col style='width: 15%;' />
                                                <col style='width: 85%;' />
                                            </colgroup>
                                            <tbody>
                                                {{#ifNe orderStatusType 'DEPOSIT_WAIT'}}
                                                    {{#ifEq isEscrow false}}
                                                        <tr>
                                                            <th scope='row'>
                                                                <span class='important'>
                                                                    귀책 대상
                                                                </span>
                                                            </th>
                                                            <td>
                                                                <select class='chosen-select' name='responsibilityTarget'>
                                                                    <option value=''>
                                                                        선택해 주세요.
                                                                    </option>
                                                                    {{#each responsibleObjectTypes}}
                                                                        <option value="{{responsibleObjectType}}">
                                                                            {{label}}
                                                                        </option>
                                                                    {{/each}}
                                                                </select>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th scope='row'>
                                                                <span class='important'>
                                                                    사유
                                                                </span>
                                                            </th>
                                                            <td>
                                                                <select class='chosen-select' name='claimReasonType'>
                                                                    <option value=''>
                                                                        사유를 선택해 주세요.
                                                                    </option>
                                                                    {{#each claimReasonTypes}}
                                                                        <option value="{{claimReasonType}}">
                                                                            {{label}}
                                                                        </option>
                                                                    {{/each}}
                                                                </select>
                                                            </td>
                                                        </tr>
                                                    {{/ifEq}}
                                                {{/ifNe}}
                                                <tr>
                                                    <th scope='row'>
                                                        <span {{#ifEq isEscrow false}}class='important'{{/ifEq}}>
                                                        {{#ifEq isEscrow false}}
                                                            상세 사유
                                                            {{else}}
                                                            메모
                                                        {{/ifEq}}
                                                        </span>
                                                    </th>
                                                    <td>
                                                        <textarea name='claimReasonDetail'  {{#ifEq isEscrow false}} placeholder='상세 사유를 입력해 주세요.' {{/ifEq}} maxlength='160'></textarea>
                                                    </td>
                                                </tr>
                                                {{#if isAttachments}}
                                                    <tr>
                                                        <th scope='row'>
                                                            첨부파일
                                                        </th>
                                                        <td>
                                                            <div class='file_upload_sec'>
                                                                <div class='btn_upload_box'>
                                                                    <button type='button' class='btn_upload' title='찾아보기'>
                                                                        <em>
                                                                            파일찾기
                                                                        </em>
                                                                    </button>
                                                                    <input
                                                                        type='file'
                                                                        id='imageAttachments'
                                                                        name='attachments'
                                                                        class='file'
                                                                        title='파일찾기'
                                                                        accept='image/png,image/jpeg,image/gif,image/jpg,image/bmp'
                                                                        multiple
                                                                    />
                                                                </div>
                                                            </div>
                                                            <div class='add_file_area'>
                                                                <ul id='attachedImages'></ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {{/if}}
                                            </tbody>
                                        </table>
                                        <div class='chk_none'>
                                            {{#ifEq claimType '취소'}}
                                                고객님의 귀책사유로 취소처리 시 비용이 발생될 수
                                        있습니다.
                                            {{else}}
                                                고객님의 귀책사유로 상품 등이 훼손 또는 멸실 된 경우
                                        반품/교환 제한(불가) 및 비용이 발생될 수 있습니다.
                                            {{/ifEq}}
                                        </div>
                                    </div>
                                </div>
                                {{#if isAccountInfo}}
                                    <div class='orderer_info'>
                                        <div class='mypage_zone_tit'>
                                            <h4>
                                                {{claimType}} 정보
                                            </h4>
                                        </div>
                                        <div class='mypage_table_type'>
                                            <table class='table_left'>
                                                <colgroup>
                                                    <col style='width: 15%;' />
                                                    <col style='width: 85%;' />
                                                </colgroup>
                                                <tbody>
                                                    <tr>
                                                        <th scope='row'>
                                                            <span class='important'>
                                                                은행
                                                            </span>
                                                        </th>
                                                        <td>
                                                            <select class='chosen-select' name='bank'>
                                                                {{#each bankList}}
                                                                    <option value="{{bank}}" data-bank-name="{{label}}">
                                                                        {{label}}
                                                                    </option>
                                                                {{/each}}
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope='row'>
                                                            <span class='important'>
                                                                계좌번호
                                                            </span>
                                                        </th>
                                                        <td>
                                                            <input
                                                                type='text'
                                                                name='bankAccount'
                                                                value=''
                                                                maxlength='20'
                                                                placeholder='-를 제외한 숫자'
                                                                data-pattern='notNumber'
                                                                class='valueValidation'
                                                            />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope='row'>
                                                            <span class='important'>
                                                                예금주
                                                            </span>
                                                        </th>
                                                        <td>
                                                            <input
                                                                type='text'
                                                                name='bankDepositorName'
                                                                value=''
                                                                maxlength='30'
                                                                data-pattern='bankDepositorName'
                                                                class='valueValidation'
                                                            />
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class='chk_none'>
                                                결제하신 수단에 따라 취소 방법이 다를 수 있습니다.
                                            </div>
                                        </div>
                                    </div>
                                {{/if}}
                            </script>
                        </div>
                        <div class="order_view_delivery order_view_info">
                            <script id="shippingInfo" type="text/x-handlebars-template">
                                <div>
                                    <input name='exchangeType' type='hidden' value="{{orderStatusType}}" />
                                    {{#if isReturnShippingInfo}}
                                        <div class='orderer_info'>
                                            <div class='mypage_zone_tit'>
                                                <h4>
                                                    반품수거정보
                                                </h4>
                                            </div>
                                            <div class='mypage_table_type'>
                                                <table class='table_left'>
                                                    <colgroup>
                                                        <col style='width: 15%;' />
                                                        <col style='width: 85%;' />
                                                    </colgroup>
                                                    <tbody>
                                                        <tr>
                                                            <th scope='row'>
                                                                <span class='important'>
                                                                    반품수거방법
                                                                </span>
                                                            </th>
                                                            <td class='return-type-radio-group'>
                                                                <input type='radio' id='returnSeller' class='radio' name='returnType' value='SELLER_COLLECT' />
                                                                <label for='returnSeller' class='choice_s'>
                                                                    판매자 수거요청
                                                                </label>
                                                                <input
                                                                    type='radio'
                                                                    id='returnBuyer'
                                                                    class='radio'
                                                                    name='returnType'
                                                                    value='BUYER_DIRECT_RETURN'
                                                                />
                                                                <label for='returnBuyer' class='choice_s'>
                                                                    구매자 직접반품
                                                                </label>
                                                                <div>
                                                                    <strong>
                                                                        반품수거안내
                                                                    </strong>
                                                                    <ul id='pickUpGuide'>
                                                                        {{#ifEq returnType 'SELLER_COLLECT'}}
                                                                            <li>
                                                                                반품상황에 따라 (반품)택배비를 차감할 수 있습니다.
                                                                            </li>
                                                                            <li>
                                                                                반품신청이 완료되면 입력하신 수거지주소로 반품수거가 진행됩니다.
                                                                            </li>
                                                                            <li>
                                                                                {{deliveryCompanyTypeLabel}}택배기사가 1~2일 내에 직접 방문합니다.
                                                                            </li>
                                                                            <li>
                                                                                반품등록일 오후 5시까지 접수분은 익일로 반품접수 됩니다.
                                                                            </li>
                                                                            <li>
                                                                                단, 토/일/공휴일은 다음 근무일에 처리 됩니다.
                                                                            </li>
                                                                        {{else}}
                                                                            <li>
                                                                                반품상황에 따라 (반품)택배비를 차감할 수 있습니다.
                                                                            </li>
                                                                            <li>
                                                                                반품신청이 완료되면 구매자가 반품할 상품을 반품주소로 직접 보내주셔야 합니다. (착불 불가)
                                                                            </li>
                                                                            <li>
                                                                                반품주소 : {{returnWarehouse.summary}}
                                                                            </li>
                                                                        {{/ifEq}}
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        {{#ifEq returnType 'SELLER_COLLECT'}}
                                                            <tr>
                                                                <th scope='row'>
                                                                    <span class='important'>
                                                                        반품자명
                                                                    </span>
                                                                </th>
                                                                <td>
                                                                    <input type='text' name='returnReceiverName' value="{{returnAddress.receiverName}}" />
                                                                    {{#if logined}}
                                                                        <button class='openShippingAddressManager' data-type='return'>
                                                                            배송지 목록에서 수거지 선택
                                                                        </button>
                                                                    {{/if}}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope='row'>
                                                                    <span class='important'>
                                                                        수거지 주소
                                                                    </span>
                                                                </th>
                                                                <td class='member_address'>
                                                                    <div id='return_zipCd' class='address_postcode'>
                                                                        <input
                                                                            type='text'
                                                                            name='returnReceiverZipCd'
                                                                            readonly='readonly'
                                                                            value="{{returnAddress.receiverZipCd}}"
                                                                        />
                                                                        <button type='button' class='btn_post_search' data-type='return'>
                                                                            주소찾기
                                                                        </button>
                                                                    </div>
                                                                    <div id='return_address' class='address_input'>
                                                                        <input
                                                                            type='text'
                                                                            name='returnReceiverAddress'
                                                                            value="{{returnAddress.receiverAddress}}"
                                                                        />
                                                                        <input
                                                                            type='text'
                                                                            name='returnReceiverDetailAddress'
                                                                            value="{{returnAddress.receiverDetailAddress}}"
                                                                        />
                                                                        <input
                                                                            type='hidden'
                                                                            name='returnReceiverJibunAddress'
                                                                            value="{{returnAddress.receiverJibunAddress}}"
                                                                        />
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope='row'>
                                                                    <span class='important'>
                                                                        휴대폰번호
                                                                    </span>
                                                                </th>
                                                                <td>
                                                                    <input
                                                                        type='text'
                                                                        name='returnReceiverContact1'
                                                                        value="{{returnAddress.receiverContact1}}"
                                                                        placeholder='-없이 숫자만 입력'
                                                                        maxlength='11'
                                                                        data-pattern='notNumber'
                                                                        class='valueValidation'
                                                                    />
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope='row'>
                                                                    연락처
                                                                </th>
                                                                <td>
                                                                    <input
                                                                        type='text'
                                                                        name='returnReceiverContact2'
                                                                        value="{{returnAddress.receiverContact2}}"
                                                                        placeholder='-없이 숫자만 입력'
                                                                        maxlength='11'
                                                                        data-pattern='notNumber'
                                                                        class='valueValidation'
                                                                    />
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope='row'>
                                                                    수거시 참고사항
                                                                </th>
                                                                <td>
                                                                    <input type='text' name='returnDeliveryMemo' maxlength='50' />
                                                                </td>
                                                            </tr>
                                                        {{else}}
                                                            <tr>
                                                                <th scope='row'>
                                                                    반품접수정보
                                                                </th>
                                                                <td>
                                                                    <select class='chosen-select' name='deliveryCompanyType'>
                                                                        <option value=''>
                                                                            택배사 선택
                                                                        </option>
                                                                        {{#each deliveryCompanyTypeWithLabels}}
                                                                            <option value="{{deliveryCompanyType}}">
                                                                                {{label}}
                                                                            </option>
                                                                        {{/each}}
                                                                    </select>
                                                                    <input
                                                                        type='text'
                                                                        class='invoiceNo valueValidation'
                                                                        name='invoiceNo'
                                                                        maxlength='50'
                                                                        value=''
                                                                        placeholder='반품 송장번호 입력'
                                                                        data-pattern='engNumber'
                                                                    />
                                                                </td>
                                                            </tr>
                                                        {{/ifEq}}
                                                    </tbody>
                                                </table>
                                                <div class='chk_none'>
                                                    결제하신 수단에 따라 취소 방법이 다를 수 있습니다.
                                                </div>
                                            </div>
                                        </div>
                                    {{/if}}

                                    {{#if isExchangeShippingInfo}}
                                        <div class='orderer_info'>
                                            <div class='mypage_zone_tit'>
                                                <h4>
                                                    교환출고 정보
                                                </h4>
                                            </div>
                                            <div class='mypage_table_type'>
                                                <table class='table_left'>
                                                    <colgroup>
                                                        <col style='width: 15%;' />
                                                        <col style='width: 85%;' />
                                                    </colgroup>
                                                    <tbody>
                                                        <tr>
                                                            <th scope='row'>
                                                                <span class='important'>
                                                                    수령자명
                                                                </span>
                                                            </th>
                                                            <td>
                                                                <input type='text' name='exchangeReceiverName' value="{{exchangeAddress.receiverName}}" />
                                                                {{#if logined}}
                                                                    <button class='openShippingAddressManager' data-type='exchange'>
                                                                        배송지 목록에서 수거지 선택
                                                                    </button>
                                                                {{/if}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th scope='row'>
                                                                <span class='important'>
                                                                    배송지 주소
                                                                </span>
                                                            </th>
                                                            <td class='member_address'>
                                                                <div id='exchange_zipCd' class='address_postcode'>
                                                                    <input
                                                                        type='text'
                                                                        name='exchangeReceiverZipCd'
                                                                        readonly='readonly'
                                                                        value="{{exchangeAddress.receiverZipCd}}"
                                                                    />
                                                                    <button type='button' class='btn_post_search' data-type='exchange'>
                                                                        주소찾기
                                                                    </button>
                                                                </div>
                                                                <div id='exchange_address' class='address_input'>
                                                                    <input
                                                                        type='text'
                                                                        name='exchangeReceiverAddress'
                                                                        value="{{exchangeAddress.receiverAddress}}"
                                                                    />
                                                                    <input
                                                                        type='text'
                                                                        name='exchangeReceiverDetailAddress'
                                                                        value="{{exchangeAddress.receiverDetailAddress}}"
                                                                    />
                                                                    <input
                                                                        type='hidden'
                                                                        name='exchangeReceiverJibunAddress'
                                                                        value="{{exchangeAddress.receiverJibunAddress}}"
                                                                    />
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th scope='row'>
                                                                <span class='important'>
                                                                    휴대폰번호
                                                                </span>
                                                            </th>
                                                            <td>
                                                                <input
                                                                    type='text'
                                                                    name='exchangeReceiverContact1'
                                                                    value="{{exchangeAddress.receiverContact1}}"
                                                                    placeholder='-없이 숫자만 입력'
                                                                    data-pattern='notNumber'
                                                                    class='valueValidation'
                                                                />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th scope='row'>
                                                                연락처
                                                            </th>
                                                            <td>
                                                                <input
                                                                    type='text'
                                                                    name='exchangeReceiverContact2'
                                                                    value="{{exchangeAddress.receiverContact2}}"
                                                                    placeholder='-없이 숫자만 입력'
                                                                    data-pattern='notNumber'
                                                                    class='valueValidation'
                                                                />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th scope='row'>
                                                                배송 메세지
                                                            </th>
                                                            <td>
                                                                <input type='text' name='exchangeDeliveryMemo' maxlength='50' />
                                                            </td>
                                                        </tr>
                                                        {{#if customsIdNumber}}
                                                            <tr class='customsIdNumber'>
                                                                <th scope='row'>
                                                                    <span class='important'>
                                                                        개인통관고유부호
                                                                    </span>
                                                                </th>
                                                                <td>
                                                                    <input
                                                                        type='text'
                                                                        name='exchangeCustomsIdNo'
                                                                        value="{{exchangeAddress.customsIdNumber}}"
                                                                        placeholder='P로 시작하는 13자리'
                                                                        maxlength='13'
                                                                        data-pattern='customsId'
                                                                        class='valueValidation'
                                                                    />
                                                                </td>
                                                            </tr>
                                                        {{/if}}
                                                    </tbody>
                                                </table>
                                                <div class='chk_none'>
                                                    결제하신 수단에 따라 취소 방법이 다를 수 있습니다.
                                                </div>
                                            </div>
                                        </div>
                                    {{/if}}
                                </div>
                            </script>
                        </div>
                        <div class="order_view_info">
                            <div class="btn_center_box">
                                <button class="btnCancel btn_claim_cancel" id="order_buy" onclick="javascript:history.back()">
                                    <em>취소</em>
                                </button>
                                <button class="btn_claim_ok"><em>신청</em></button>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <aside id="aside"></aside>
        <footer id="footer"></footer>
        <div id="popups-area"></div>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/my/order-claim.js"></script>
    </body>
</html>
