<!--
  ~  © 2021. NHN Commerce Corp. All rights reserved.
  ~  NHN Corp. PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  ~
  ~  @author choisohyun
  ~  @since 2021.7.19
  ~
  -->

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <title>마이페이지</title>
    </head>
    <body>
        <header id="header"></header>

        <div id="contents">
            <main class="sub_content">
                <div class="content_box">
                    <div class="location_wrap">
                        <div class="location_cont">
                            <em><a href="/" class="local_home">HOME</a> &gt; 마이페이지 > 주문상세</em>
                        </div>
                    </div>
                </div>

                <!-- mypage 왼쪽 메뉴 -->
                <div id="myPageLeftMenu" class="side_cont"></div>

                <!-- mypage 본문 -->
                <div class="content">
                    <div class="mypage_main">
                        <!-- 마이페이지 > 쇼핑정보, 혜택관리 공통으로 쓰이는 summary -->
                        <div id="myPageSummary"></div>
                        <!-- 밑에 밑줄....-->
                        <div class="mypage_top_info"></div>
                        <!-- 주문/배송상세 -->
                        <div class="mypage_lately_info">
                            <div class="mypage_zone_tit">
                                <h3>
                                    주문/배송상세
                                    <strong class="order_num_view">(주문번호 : <strong class="spanOrderNo"></strong>)</strong>
                                </h3>
                            </div>
                            <div id="writeButton" data-template-id="writeButtonTemplate" class="btn_right_box">
                                <script id="writeButtonTemplate" type="text/x-handlebars-template">
                                    <button type='button' id='btn_write' class='btn_write'>
                                        <strong>
                                            1:1문의하기
                                        </strong>
                                    </button>
                                </script>
                            </div>
                        </div>
                        <div class="mypage_lately_info">
                            <div class="mypage_table_type order_list">
                                <div id="orderDetailTable" data-template-id="ordersResult">
                                    <script id="ordersResult" type="text/x-handlebars-template">
                                        <table>
                                            <colgroup class='order_table_colgroup'>
                                                <col style='width:17%' />
                                                <col />
                                                <col style='width:8%' />
                                                <col style='width:12%' />
                                                <col style='width:10%' />
                                                <col style='width:11%' />
                                            </colgroup>
                                            <thead class='order_table_head'>
                                                <tr>
                                                    <th>
                                                        주문일자(주문번호)
                                                    </th>
                                                    <th>
                                                        상품정보
                                                    </th>
                                                    <th>
                                                        수량
                                                    </th>
                                                    <th>
                                                        상품금액
                                                    </th>
                                                    <th>
                                                        진행상태
                                                    </th>
                                                    <th>
                                                        접수
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody class='order_table_body'>
                                                {{#each this}}
                                                    <tr
                                                        data-order-no="{{orderNo}}"
                                                        data-option-no="{{optionNo}}"
                                                        data-order-option-no="{{orderOptionNo}}"
                                                        data-claim-nos="{{claimNos}}"
                                                        data-order-status-type="{{orderStatusType}}"
                                                        data-pay-type="{{payType}}"
                                                        data-pg-type="{{pgType}}"
                                                    >
                                                        {{#ifNe rowSpan 0}}
                                                            <td class='order_DayNum' rowspan="{{rowSpan}}">
                                                                <p>
                                                                    {{orderYmdt}}
                                                                </p>
                                                                <p>
                                                                    <a href="/pages/my/order.html?orderNo={{orderNo}}">
                                                                        {{orderNo}}
                                                                    </a>
                                                                </p>
                                                            </td>
                                                        {{/ifNe}}
                                                        <td class='td_left'>
                                                            <div class='pick_add_cont'>
                                                                <span class='pick_add_img'>
                                                                    <div>
                                                                        <a href="/pages/product/view.html?productNo={{productNo}}">
                                                                            <img
                                                                                src="{{imageUrl}}"
                                                                                alt="{{productName}}"
                                                                                title="{{productName}}"
                                                                                class='middle'
                                                                            />
                                                                        </a>
                                                                    </div>
                                                                </span>
                                                                <div class='pick_add_info'>
                                                                    <a href="/pages/product/view.html?productNo={{productNo}}">
                                                                        <em style='display: block;'>
                                                                            {{{productName}}}
                                                                        </em>
                                                                    </a>
                                                                    <div class='goods_option'>
                                                                        {{#ifNe productName optionName}}
                                                                            <div class='icon_re'>
                                                                                <span>
                                                                                    {{{optionTextInfo}}}
                                                                                </span>
                                                                            </div>
                                                                        {{/ifNe}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <em class='name' style='display: block;'></em>
                                                        </td>
                                                        <td class='order_Amount'>
                                                            {{toCurrencyString orderCnt}}
                                                        </td>
                                                        <td>
                                                            <strong>
                                                                {{toCurrencyString buyAmt}}
                                                            </strong>
                                                            원
                                                        </td>
                                                        <td>
                                                            {{{orderStatusText}}}
                                                        </td>
                                                        <td>
                                                            {{{nextActionText}}}
                                                        </td>
                                                    </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </script>
                                </div>
                            </div>
                        </div>
                        <!-- 주문자/배송지/결제 정보 -->
                        <div class="order_view_info">
                            <div class="orderer_info">
                                <div class="mypage_zone_tit">
                                    <h4>주문자 정보</h4>
                                </div>

                                <div class="mypage_table_type">
                                    <div id="orderMemberInfo" data-template-id="orderMemberInfoTemplate">
                                        <script id="orderMemberInfoTemplate" type="text/x-handlebars-template">
                                            <table class='table_left'>
                                                <colgroup>
                                                    <col style='width: 15%;' />
                                                    <col style='width: 85%;' />
                                                </colgroup>
                                                <tbody>
                                                    <tr>
                                                        <th scope='row'>
                                                            주문자 정보
                                                        </th>
                                                        <td>
                                                            {{ordererName}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope='row'>
                                                            휴대폰 번호
                                                        </th>
                                                        <td>
                                                            {{ordererContact1}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope='row'>
                                                            전화번호
                                                        </th>
                                                        <td>
                                                            {{ordererContact2}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope='row'>
                                                            이메일
                                                        </th>
                                                        <td>
                                                            {{ordererEmail}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope='row'>
                                                            주문 메모
                                                        </th>
                                                        <td>
                                                            {{orderMemo}}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </script>
                                    </div>
                                </div>
                            </div>
                            <!-- //orderer_info -->

                            <div class="delivery_info">
                                <div class="mypage_zone_tit">
                                    <h4>배송지 정보</h4>
                                </div>

                                <div class="mypage_table_type">
                                    <div id="shippingAddressInfo" data-template-id="shippingAddressInfoTemplate">
                                        <script id="shippingAddressInfoTemplate" type="text/x-handlebars-template">
                                            <table class='table_left'>
                                                <colgroup>
                                                    <col style='width: 15%;' />
                                                    <col style='width: 85%;' />
                                                </colgroup>
                                                <tbody>
                                                    <tr>
                                                        <th scope='row'>
                                                            받으실 분
                                                        </th>
                                                        <td>
                                                            {{receiverName}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope='row'>
                                                            주소
                                                        </th>
                                                        <td>
                                                            ({{receiverZipCd}})
                                                            {{receiverAddress}}
                                                            {{receiverDetailAddress}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope='row'>
                                                            휴대폰 번호
                                                        </th>
                                                        <td>
                                                            {{receiverContact1}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope='row'>
                                                            전화번호
                                                        </th>
                                                        <td>
                                                            {{receiverContact2}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope='row'>
                                                            배송 메모
                                                        </th>
                                                        <td>
                                                            {{deliveryMemo}}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </script>
                                    </div>
                                </div>
                            </div>
                            <!-- //delivery_info -->

                            <div class="payment_info">
                                <div class="mypage_zone_tit">
                                    <h4>결제정보</h4>
                                </div>

                                <div class="mypage_table_type">
                                    <div id="paymentInfo" data-template-id="paymentInfoTemplate">
                                        <script id="paymentInfoTemplate" type="text/x-handlebars-template">
                                            <table class="table_left">
                                                <colgroup>
                                                    <col style="width: 15%;" />
                                                    <col style="width: 85%;" />
                                                </colgroup>
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">상품 합계 금액</th>
                                                        <td>{{toCurrencyString firstOrderAmount.totalProductAmt}}원</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">배송비</th>
                                                        <td>{{toCurrencyString firstOrderAmount.deliveryAmt}}원</td>
                                                    </tr>
                                                    <!--{{#if firstOrderAmount.remoteDeliveryAmt}}-->
                                                    <tr class="remoteDeliveryAmt">
                                                        <th scope="row">지역별 배송비</th>
                                                        <td>{{toCurrencyString firstOrderAmount.remoteDeliveryAmt}}원</td>
                                                    </tr>
                                                    <!--{{/if}}-->
                                                    <tr>
                                                        <th>할인혜택</th>
                                                        <td>
                                                            <div class="accumulation_list">
                                                                <ul class="benefit_list">
                                                                    <li class="benefit_sale">
                                                                        <em>할인</em
                                                                        ><strong>
                                                                            : {{toCurrencyString firstOrderAmount.totalDiscountAmt}}원</strong
                                                                        >
                                                                        (즉시할인 {{toCurrencyString
                                                                        firstOrderAmount.immediateDiscountAmt '+'
                                                                        firstOrderAmount.additionalDiscountAmt}}원 + 상품쿠폰할인
                                                                        {{toCurrencyString firstOrderAmount.productCouponDiscountAmt}}원
                                                                        + 주문쿠폰 할인 {{toCurrencyString
                                                                        firstOrderAmount.cartCouponDiscountAmt}}원)
                                                                    </li>
                                                                    {{#ifNe firstOrderAmount.subPayAmt 0}}
                                                                        <li class="benefit_mileage">
                                                                            <em>{{accumulationName}} 사용</em
                                                                            ><strong>
                                                                                : {{toCurrencyString firstOrderAmount.subPayAmt}}{{accumulationUnit}}</strong>
                                                                        </li>
                                                                    {{/ifNe}}
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">총 결제 금액</th>
                                                        <td>
                                                            <strong class="total_pay_money"
                                                                >{{toCurrencyString firstOrderAmount.chargeAmt}}원</strong
                                                            >
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">결제수단</th>
                                                        <td>
                                                            <strong class="pay_with_list">{{payInfo.payTypeLabel}}</strong>
                                                        </td>
                                                    </tr>
                                                    {{#if payInfo.bankInfo}}
                                                    {{#ifNe payInfo.payType 'NAVER_EASY_PAY'}}
                                                    <tr class="showBankInfo">
                                                        <th scope="row">입금정보 {{showBankInfo}}</th>
                                                        <td>
                                                            <div>
                                                                <ul>
                                                                    <li>입금은행 : {{payInfo.bankInfo.bankName}}</li>
                                                                    <li>입금계좌 : {{payInfo.bankInfo.account}}</li>
                                                                    <li>예금주명 : {{payInfo.bankInfo.depositorName}}</li>
                                                                    <li>
                                                                        입금금액 :
                                                                        <strong class="deposit_money"
                                                                            >{{toCurrencyString payInfo.bankInfo.bankAmt}}원</strong
                                                                        >
                                                                    </li>
                                                                    <li>입금자명 : {{payInfo.bankInfo.remitterName}}</li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    {{/ifNe}}
                                                    {{/if}}
                                                    {{#ifNe accumulationAmtWhenBuyConfirm 0}}
                                                    <tr>
                                                        <th scope="row">적립정보</th>
                                                        <td>
                                                            구매확정 시 <strong>{{toCurrencyString accumulationAmtWhenBuyConfirm}}{{accumulationUnit}}</strong> 적립
                                                        </td>
                                                    </tr>
                                                    {{/ifNe}}
                                                </tbody>
                                            </table>
                                        </script>
                                    </div>
                                </div>
                            </div>
                            <div id="claimInfo" data-template-id="claimInfoTemplate">
                                <script id="claimInfoTemplate" type="text/x-handlebars-template">
                                    {{#each additionalPayInfos}}
                                        <div class="refund_info my-refund is-active">
                                            <div class="mypage_zone_tit">
                                                <h4>추가 결제정보</h4>
                                            </div>

                                            <div class="mypage_table_type">
                                                <table class="table_left">
                                                    <colgroup>
                                                        <col style="width: 15%;" />
                                                        <col style="width: 85%;" />
                                                    </colgroup>
                                                    <tbody>
                                                    <tr class='toggle'>
                                                        <th scope="row">교환출고 상품</th>
                                                        <td>
                                                            <div class="add_file_area claim_file_area">
                                                                <ul>
                                                                    <li class="vis_mode" data-action="">
                                                                        <div style="display: flex;justify-content: center;">
                                                                            <img src="{{exchangeOrderOption.imageUrl}}"
                                                                                 style="object-fit: contain; height: 100%;"
                                                                                 alt="{{exchangeOrderOption.productName}}"
                                                                                 class="exchangeOrderImage" >
                                                                        </div>
                                                                        <div class="box_goods_option hide">
                                                                            <div>
                                                                                <p>(수량 {{exchangeOrderOption.orderCnt}}개) {{exchangeOrderOption.productName}}</p>
                                                                                <div>{{exchangeOrderOption.optionName}}: {{exchangeOrderOption.optionValue}}</div>
                                                                                <div>{{exchangeOrderOption.userInputTextStr}}</div>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class='toggle'>
                                                        <th scope="row">교환상품금액</th>
                                                        <td>{{toCurrencyString productAmtInfo.totalAmt}}원</td>
                                                    </tr>
                                                    <tr class='toggle'>
                                                        <th scope="row">반품/교환배송비</th>
                                                        <td>(+) {{toCurrencyString deliveryAmtInfo.totalAmt }}원</td>
                                                    </tr>
                                                    <tr class='toggle'>
                                                        <th scope="row">차감금액</th>
                                                        <td>{{toCurrencyString subtractionAmtInfo.totalAmt}}원</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">추가결제금액</th>
                                                        <td>{{toCurrencyString exchangePayAmt}}원</td>
                                                    </tr>
                                                    <tr class='toggle'>
                                                        <th scope="row">결제수단</th>
                                                        {{#ifEq payType 'CASH'}}
                                                            <td>무통장입금 - {{bankAccount.bankName}} / {{bankAccount.bankAccount}} / {{bankAccount.bankDepositorName}} </td>
                                                        {{else}}
                                                            <td>적립금 결제</td>
                                                        {{/ifEq}}
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <button class="my-refund__toggle"><span class="hidden">환불정보 show/hide</span></button>
                                        </div>
                                        {{#if returnAddress}}
                                            <div class="refund_info my-refund is-active">
                                                <div class="mypage_zone_tit">
                                                    <h4>반품수거정보</h4>
                                                </div>
                                                <div class="mypage_table_type">
                                                    <table class="table_left">
                                                        <colgroup>
                                                            <col style="width: 15%;" />
                                                            <col style="width: 85%;" />
                                                        </colgroup>
                                                        <tbody>
                                                        <tr>
                                                            <th scope="row">반품수거방법</th>
                                                            <td>{{returnWayLabel}}</td>
                                                        </tr>
                                                        {{#ifEq returnWayType 'SELLER_COLLECT'}}
                                                            <tr>
                                                                <th scope="row">반품자명</th>
                                                                <td>{{returnAddress.name}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">수거지주소</th>
                                                                <td>{{returnAddress.addressStr}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">휴대폰번호</th>
                                                                <td>{{returnAddress.contact1}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">전화번호</th>
                                                                <td>{{returnAddress.contact2}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">수거시참고사항</th>
                                                                <td>{{returnAddress.note}}</td>
                                                            </tr>
                                                        {{/ifEq}}
                                                        {{#ifEq returnWayType 'BUYER_DIRECT_RETURN'}}
                                                            <tr>
                                                                <th scope="row">반품접수정보</th>
                                                                <td>{{refundMethod}}</td>
                                                            </tr>
                                                        {{/ifEq}}
                                                        <tr>
                                                            <th scope="row">반품 이미지</th>
                                                            <td>
                                                                <div class="add_file_area claim_file_area">
                                                                    <ul>
                                                                        {{#each claimImageUrls}}
                                                                            <li class="vis_mode" data-claim-order="{{@../index}}">
                                                                                <div
                                                                                  style="display: flex; justify-content: center;"
                                                                                >
                                                                                    <img
                                                                                      src="{{@this}}"
                                                                                      style="object-fit: contain; height: 100%;"
                                                                                      alt="반품 이미지"
                                                                                    />
                                                                                    <a class="zoom" href="#" onclick="return false;">
                                                                                        <img src="/assets/img/board/icon_view_add_file.png" alt="보기">
                                                                                    </a>
                                                                                </div>
                                                                            </li>
                                                                        {{/each}}
                                                                    </ul>
                                                                </div>
                                                                {{#unless claimImageUrls.length}}-{{/unless}}
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <button class="my-refund__toggle"><span class="hidden">반품수거정보 show/hide</span></button>
                                            </div>
                                        {{/if}}
                                        {{#if exchangeAddress}}
                                            <div class="refund_info my-refund is-active">
                                                <div class="mypage_zone_tit">
                                                    <h4>교환출고정보</h4>
                                                </div>

                                                <div class="exchange-active mypage_table_type">
                                                    <table class="table_left">
                                                        <colgroup>
                                                            <col style="width: 15%;" />
                                                            <col style="width: 85%;" />
                                                        </colgroup>
                                                        <tbody>
                                                        <tr>
                                                            <th scope="row">교환출고 상품</th>
                                                            <td>
                                                                <div class="add_file_area claim_file_area">
                                                                    <ul>
                                                                        <li class="vis_mode" data-action="">
                                                                            <div style="display: flex;justify-content: center;">
                                                                                <img src="{{exchangeOrderOption.imageUrl}}"
                                                                                     style="object-fit: contain; height: 100%;"
                                                                                     alt="{{exchangeOrderOption.productName}}"
                                                                                     class="exchangeOrderImage" >
                                                                            </div>
                                                                            <div class="box_goods_option hide">
                                                                                <div>
                                                                                    <p>(수량 {{exchangeOrderOption.orderCnt}}개) {{exchangeOrderOption.productName}}</p>
                                                                                    <div>{{exchangeOrderOption.optionName}}: {{exchangeOrderOption.optionValue}}</div>
                                                                                    <div>{{exchangeOrderOption.userInputTextStr}}</div>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr class='toggle'>
                                                            <th scope="row">수령자명</th>
                                                            <td>{{#if exchangeAddress.name}}{{exchangeAddress.name}}{{else}}-{{/if}}</td>
                                                        </tr>
                                                        <tr class='toggle'>
                                                            <th scope="row">배송지주소</th>
                                                            <td>{{#if exchangeAddress.addressStr}}{{exchangeAddress.addressStr}}{{else}}-{{/if}}</td>
                                                        </tr>
                                                        <tr class='toggle'>
                                                            <th scope="row">휴대폰번호</th>
                                                            <td>{{#if exchangeAddress.contact1}}{{exchangeAddress.contact1}}{{else}}-{{/if}}</td>
                                                        </tr>
                                                        <tr class='toggle'>
                                                            <th scope="row">전화번호</th>
                                                            <td>{{#if exchangeAddress.contact2}}{{exchangeAddress.contact2}}{{else}}-{{/if}}</td>
                                                        </tr>
                                                        <tr class='toggle'>
                                                            <th scope="row">배송메시지</th>
                                                            <td>{{#if exchangeAddress.note}}{{exchangeAddress.note}}{{else}}-{{/if}}</td>
                                                        </tr>
                                                          <!--{{#if exchangeAddress.customsIdNumber}}-->
                                                        <tr class='toggle'>
                                                            <th scope="row">개인통관고유부호</th>
                                                            <td>{{exchangeAddress.customsIdNumber}}</td>
                                                        </tr>
                                                          <!--{{/if}}-->
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <button class="my-refund__toggle"><span class="hidden">교환출고정보 show/hide</span></button>
                                            </div>
                                        {{/if}}
                                    {{/each}}
                                    {{#each refundInfos}}
                                        {{#ifNe refundType 'ZERO_REFUND'}}
                                            <div class="refund_info my-refund is-active">
                                                <div class="mypage_zone_tit">
                                                    <h4>환불정보</h4>
                                                </div>

                                                <div class="mypage_table_type">
                                                    <table class="table_left">
                                                        <colgroup>
                                                            <col style="width: 15%;" />
                                                            <col style="width: 85%;" />
                                                        </colgroup>
                                                        <tbody>
                                                        {{#if claimClassType }}
                                                            <tr class="refund-imgs">
                                                                <th scope="row">환불상품</th>
                                                                <td>
                                                                    {{#each calloutData}}
                                                                        <div class="claimInfo__img" data-prdno="{{productNo}}" data-index="{{@index}}"data-refund-index="{{@../index}}">
                                                                            <img src="{{imageUrl}}" alt="">
                                                                        </div>
                                                                    {{/each}}
                                                                </td>
                                                            </tr>
                                                        {{/if}}
                                                        <tr>
                                                            <th scope="row">환불상품금액</th>
                                                            <td>{{toCurrencyString productAmtInfo.totalAmt}}원</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">환불배송비</th>
                                                            <td>(+) {{toCurrencyString deliveryAmtInfo.totalAmt}}원</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">환불차감금액</th>
                                                            <td>{{toCurrencyString subtractionAmtInfo.totalAmt}}원</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">환불적립금</th>
                                                            <td>{{toCurrencyString refundSubPayAmt}}원</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">환불금액</th>
                                                            <td>{{toCurrencyString refundMainPayAmt}}원</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">환불수단</th>
                                                            <td>{{refundAccountInfo}}</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <button class="my-refund__toggle"><span class="hidden">환불정보 show/hide</span></button>
                                            </div>
                                        {{/ifNe}}

                                    {{#if returnAddress}}
                                    <div class="refund_info my-refund is-active">
                                        <div class="mypage_zone_tit">
                                            <h4>반품수거정보</h4>
                                        </div>
                                        <div class="mypage_table_type">
                                            <table class="table_left">
                                                <colgroup>
                                                    <col style="width: 15%;" />
                                                    <col style="width: 85%;" />
                                                </colgroup>
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">반품수거방법</th>
                                                        <td>{{returnWayLabel}}</td>
                                                    </tr>
                                                    {{#ifEq returnWayType 'SELLER_COLLECT'}}
                                                    <tr>
                                                        <th scope="row">반품자명</th>
                                                        <td>{{returnAddress.name}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">수거지주소</th>
                                                        <td>{{returnAddress.addressStr}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">휴대폰번호</th>
                                                        <td>{{returnAddress.contact1}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">전화번호</th>
                                                        <td>{{returnAddress.contact2}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">수거시참고사항</th>
                                                        <td>{{returnAddress.note}}</td>
                                                    </tr>
                                                    {{/ifEq}}
                                                    {{#ifEq returnWayType 'BUYER_DIRECT_RETURN'}}
                                                    <tr>
                                                        <th scope="row">반품접수정보</th>
                                                        <td>{{refundMethod}}</td>
                                                    </tr>
                                                    {{/ifEq}}
                                                    <tr>
                                                        <th scope="row">반품 이미지</th>
                                                        <td>
                                                            <div class="add_file_area claim_file_area">
                                                                <ul>
                                                                    {{#each claimImageUrls}}
                                                                    <li class="vis_mode" data-claim-order="{{@../index}}">
                                                                        <div
                                                                          style="display: flex; justify-content: center;"
                                                                        >
                                                                            <img
                                                                              src="{{@this}}"
                                                                              style="object-fit: contain; height: 100%;"
                                                                              alt="반품 이미지"
                                                                            />
                                                                            <a class="zoom" href="#" onclick="return false;">
                                                                                <img src="/assets/img/board/icon_view_add_file.png" alt="보기">
                                                                            </a>
                                                                        </div>
                                                                    </li>
                                                                    {{/each}}
                                                                </ul>
                                                            </div>
                                                            {{#unless claimImageUrls.length}}-{{/unless}}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <button class="my-refund__toggle"><span class="hidden">반품수거정보 show/hide</span></button>
                                    </div>
                                    {{/if}} {{#if exchangeAddress}}
                                    <div class="refund_info my-refund is-active">
                                        <div class="mypage_zone_tit">
                                            <h4>교환출고정보</h4>
                                        </div>

                                        <div class="exchange-active mypage_table_type">
                                            <table class="table_left">
                                                <colgroup>
                                                    <col style="width: 15%;" />
                                                    <col style="width: 85%;" />
                                                </colgroup>
                                                <tbody>
                                                <tr>
                                                    <th scope="row">교환출고 상품</th>
                                                    <td>
                                                        <div class="add_file_area claim_file_area">
                                                            <ul>
                                                                <li class="vis_mode" data-action="">
                                                                    <div style="display: flex;justify-content: center;">
                                                                        <img src="{{exchangeOrderOption.imageUrl}}"
                                                                             style="object-fit: contain; height: 100%;"
                                                                             alt="{{exchangeOrderOption.productName}}"
                                                                             class="exchangeOrderImage" >
                                                                    </div>
                                                                    <div class="box_goods_option hide">
                                                                        <div>
                                                                            <p>(수량 {{exchangeOrderOption.orderCnt}}개) {{exchangeOrderOption.productName}}</p>
                                                                            <div>{{exchangeOrderOption.optionName}}: {{exchangeOrderOption.optionValue}}</div>
                                                                            <div>{{exchangeOrderOption.userInputTextStr}}</div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr class='toggle'>
                                                    <th scope="row">수령자명</th>
                                                    <td>{{#if exchangeAddress.name}}{{exchangeAddress.name}}{{else}}-{{/if}}</td>
                                                </tr>
                                                <tr class='toggle'>
                                                    <th scope="row">배송지주소</th>
                                                    <td>{{#if exchangeAddress.addressStr}}{{exchangeAddress.addressStr}}{{else}}-{{/if}}</td>
                                                </tr>
                                                <tr class='toggle'>
                                                    <th scope="row">휴대폰번호</th>
                                                    <td>{{#if exchangeAddress.contact1}}{{exchangeAddress.contact1}}{{else}}-{{/if}}</td>
                                                </tr>
                                                <tr class='toggle'>
                                                    <th scope="row">전화번호</th>
                                                    <td>{{#if exchangeAddress.contact2}}{{exchangeAddress.contact2}}{{else}}-{{/if}}</td>
                                                </tr>
                                                <tr class='toggle'>
                                                    <th scope="row">배송메시지</th>
                                                    <td>{{#if exchangeAddress.note}}{{exchangeAddress.note}}{{else}}-{{/if}}</td>
                                                </tr>
                                                  <!--{{#if exchangeAddress.customsIdNumber}}-->
                                                <tr class='toggle'>
                                                    <th scope="row">개인통관고유부호</th>
                                                    <td>{{exchangeAddress.customsIdNumber}}</td>
                                                </tr>
                                                  <!--{{/if}}-->
                                                </tbody>
                                            </table>
                                        </div>
                                        <button class="my-refund__toggle"><span class="hidden">교환출고정보 show/hide</span></button>
                                    </div>
                                    {{/if}} {{/each}}
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <aside id="aside"></aside>
        <footer id="footer"></footer>
        <div id="popups-area"></div>

        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script src="/js/core/shopby.js"></script>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/my/components/mypage-components.js"></script>
        <script src="/js/pages/my/order.js"></script>
    </body>
</html>
