<!--
  ~  © 2021. NHN Commerce Corp. All rights reserved.
  ~  NHN Corp. PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  ~
  ~  @author choisohyun
  ~  @since 2022.7
  ~
  -->

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <title>마이페이지</title>
    </head>
    <body>
        <header id="header"></header>

        <div id="contents">
            <main class="sub_content">
                <div class="content_box visible">
                    <div class="location_wrap">
                        <div class="location_cont">
                            <em><a href="/" class="local_home">HOME</a> &gt; 마이페이지 > 주문상세</em>
                        </div>
                    </div>
                </div>

                <!-- mypage 왼쪽 메뉴 -->
                <div id="myPageLeftMenu" class="side_cont visible"></div>

                <!-- mypage 본문 -->
                <div class="content visible">
                    <div class="mypage_main">
                        <!-- 주문/배송상세 -->
                        <div class="mypage_lately_info">
                            <div class="mypage_zone_tit">
                                <h3>
                                    주문/배송상세
                                    <strong class="order_num_view">(주문번호 : <strong class="spanOrderNo"></strong>)</strong>
                                </h3>
                            </div>
                            <div class="btn_right_box">
                                <button type="button" id="btn_write" class="btn_write">
                                    <strong>1:1문의하기</strong>
                                </button>
                            </div>
                        </div>
                        <div class="mypage_lately_info">
                            <div class="mypage_table_type order_list">
                                <div id="orderDetailTable" data-template-id="ordersResult">
                                    <script id="ordersResult" type="text/x-handlebars-template">
                                        <table>
                                            <colgroup class='order_table_colgroup'>
                                                <col style='width:17%' />
                                                <col />
                                                <col style='width:12%' />
                                                <col style='width:10%' />
                                                <col style='width:11%' />
                                            </colgroup>
                                            <thead class='order_table_head'>
                                                <tr>
                                                    <th>
                                                        주문일자(주문번호)
                                                    </th>
                                                    <th>
                                                        상품정보
                                                    </th>
                                                    <th>
                                                        수량
                                                    </th>
                                                    <th>
                                                        상품금액
                                                    </th>
                                                    <th>
                                                        진행상태
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody class='order_table_body'>
                                                {{#each this}}
                                                    <tr>
                                                        {{#ifNe rowSpan 0}}
                                                            {{#ifEq @index 0}}
                                                                <td class='order_DayNum' rowspan="{{rowSpan}}">
                                                                    <p>
                                                                        {{orderYmdt}}
                                                                    </p>
                                                                    <p>
                                                                        <a href="/pages/my/previous-order.html?orderNo={{orderNo}}">
                                                                            {{orderNo}}
                                                                        </a>
                                                                    </p>
                                                                </td>
                                                            {{/ifEq}}
                                                        {{/ifNe}}
                                                        <td class='td_left'>
                                                            <div class='pick_add_cont'>
                                                                <div class='pick_add_info'>
                                                                    <em style='display: block; color: #2d2d2d;'>
                                                                        {{{productName}}}
                                                                    </em>
                                                                    <div class='goods_option'>
                                                                        {{#ifNe productName optionName}}
                                                                            <div class='icon_re'>
                                                                                <span>
                                                                                    {{{optionTextInfo}}}
                                                                                </span>
                                                                            </div>
                                                                        {{/ifNe}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <em class='name' style='display: block;'></em>
                                                        </td>
                                                        <td class='order_Amount'>
                                                            {{toCurrencyString orderCnt}}
                                                        </td>
                                                        <td>
                                                            <strong>
                                                                {{toCurrencyString buyAmt}}
                                                            </strong>
                                                            원
                                                        </td>
                                                        <td>
                                                            {{orderStatusTypeLabel}}
                                                        </td>
                                                    </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </script>
                                </div>
                            </div>
                        </div>
                        <!-- 주문자/배송지/결제 정보 -->
                        <div class="order_view_info">
                            <div class="orderer_info">
                                <div class="mypage_zone_tit">
                                    <h4>주문자 정보</h4>
                                </div>

                                <div class="mypage_table_type">
                                    <div id="orderMemberInfo" data-template-id="orderMemberInfoTemplate">
                                        <script id="orderMemberInfoTemplate" type="text/x-handlebars-template">
                                            <table class='table_left'>
                                                <colgroup>
                                                    <col style='width: 15%;' />
                                                    <col style='width: 85%;' />
                                                </colgroup>
                                                <tbody>
                                                    <tr>
                                                        <th scope='row'>
                                                            주문자 정보
                                                        </th>
                                                        <td>
                                                            {{ordererName}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope='row'>
                                                            휴대폰 번호
                                                        </th>
                                                        <td>
                                                            {{ordererMobileNumber}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope='row'>
                                                            전화번호
                                                        </th>
                                                        <td>
                                                            {{ordererPhoneNumber}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope='row'>
                                                            이메일
                                                        </th>
                                                        <td>
                                                            {{ordererEmail}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope='row'>
                                                            주문 메모
                                                        </th>
                                                        <td>
                                                            {{orderMemo}}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </script>
                                    </div>
                                </div>
                            </div>
                            <!-- //orderer_info -->

                            <div class="delivery_info">
                                <div class="mypage_zone_tit">
                                    <h4>배송지 정보</h4>
                                </div>

                                <div class="mypage_table_type">
                                    <div id="shippingAddressInfo" data-template-id="shippingAddressInfoTemplate">
                                        <script id="shippingAddressInfoTemplate" type="text/x-handlebars-template">
                                            {{#each this}}
                                                <table class='table_left'>
                                                    <colgroup>
                                                        <col style='width: 15%;' />
                                                        <col style='width: 85%;' />
                                                    </colgroup>
                                                    <tbody>
                                                        <tr>
                                                            <th scope='row'>
                                                                받으실 분
                                                            </th>
                                                            <td>
                                                                {{receiverName}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th scope='row'>
                                                                주소
                                                            </th>
                                                            <td>
                                                                ({{receiverZipCd}})
                                                                {{receiverAddress}}
                                                                {{receiverDetailAddress}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th scope='row'>
                                                                휴대폰 번호
                                                            </th>
                                                            <td>
                                                                {{receiverMobileNumber}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th scope='row'>
                                                                전화번호
                                                            </th>
                                                            <td>
                                                                {{receiverPhoneNumber}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th scope='row'>
                                                                배송 메모
                                                            </th>
                                                            <td>
                                                                {{deliveryMemo}}
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            {{/each}}
                                        </script>
                                    </div>
                                </div>
                            </div>
                            <!-- //delivery_info -->

                            <div class="payment_info">
                                <div class="mypage_zone_tit">
                                    <h4>결제정보</h4>
                                </div>

                                <div class="mypage_table_type">
                                    <div id="paymentInfo" data-template-id="paymentInfoTemplate">
                                        <script id="paymentInfoTemplate" type="text/x-handlebars-template">
                                            <table class='table_left'>
                                                <colgroup>
                                                    <col style='width: 15%;' />
                                                    <col style='width: 85%;' />
                                                </colgroup>
                                                <tbody>
                                                    <tr>
                                                        <th scope='row'>
                                                            상품 합계 금액
                                                        </th>
                                                        <td>
                                                            {{toCurrencyString firstPayment.mainPayAmt}}원
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope='row'>
                                                            배송비
                                                        </th>
                                                        <td>
                                                            {{toCurrencyString firstPayment.deliveryAmt}}원
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope='row'>
                                                            지역별 배송비
                                                        </th>
                                                        <td>
                                                            {{toCurrencyString remoteDeliveryAmt}}원
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>
                                                            할인혜택
                                                        </th>
                                                        <td>
                                                            <div class='accumulation_list'>
                                                                <ul class='benefit_list'>
                                                                    <li class='benefit_sale'>
                                                                        <em>
                                                                            할인
                                                                        </em>
                                                                        <strong>
                                                                            : {{toCurrencyString firstPayment.discountAmt}}원
                                                                        </strong>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope='row'>
                                                            총 결제 금액
                                                        </th>
                                                        <td>
                                                            <strong class='total_pay_money'>
                                                                {{toCurrencyString firstPayment.payAmt}}원
                                                            </strong>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope='row'>
                                                            결제수단
                                                        </th>
                                                        <td>
                                                            <strong class='pay_with_list'>
                                                                {{paymentMethod.payTypeLabel}}
                                                            </strong>
                                                        </td>
                                                    </tr>
                                                    {{#if paymentMethod.payDetail}}
                                                        {{#ifNe paymentMethod.payType 'NAVER_EASY_PAY'}}
                                                            <tr class='showBankInfo'>
                                                                <th scope='row'>
                                                                    입금정보
                                                                </th>
                                                                <td>
                                                                    <div>
                                                                        <ul>
                                                                            <li>
                                                                                입금은행 : {{paymentMethod.payDetail.bank}}
                                                                            </li>
                                                                            <li>
                                                                                입금계좌 : {{paymentMethod.payDetail.account}}
                                                                            </li>
                                                                            <li>
                                                                                예금주명 : {{paymentMethod.payDetail.accountHolder}}
                                                                            </li>
                                                                            <li>
                                                                                입금금액 :
                                                                                <strong class='deposit_money'>
                                                                                    {{toCurrencyString paymentMethod.payDetail.discountAmt}}원
                                                                                </strong>
                                                                            </li>
                                                                            <li>
                                                                                입금자명 : {{paymentMethod.payDetail.depositor}}
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        {{/ifNe}}
                                                    {{/if}}
                                                </tbody>
                                            </table>
                                        </script>
                                    </div>
                                </div>
                            </div>
                            <div id="claimInfo" data-template-id="claimInfoTemplate">
                                <script id="claimInfoTemplate" type="text/x-handlebars-template">
                                    {{#if refund}}
                                        {{#ifNe refund.refundType 'ZERO_REFUND'}}
                                            <div class='refund_info my-refund is-active'>
                                                <div class='mypage_zone_tit'>
                                                    <h4>
                                                        환불정보
                                                    </h4>
                                                </div>

                                                <div class='mypage_table_type'>
                                                    <table class='table_left'>
                                                        <colgroup>
                                                            <col style='width: 15%;' />
                                                            <col style='width: 85%;' />
                                                        </colgroup>
                                                        <tbody>
                                                            <tr>
                                                                <th scope='row'>
                                                                    환불금액
                                                                </th>
                                                                <td>
                                                                    {{toCurrencyString refund.refundAmt}}원
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope='row'>
                                                                    환불수단
                                                                </th>
                                                                <td>
                                                                    {{refund.refundAccountInfo}}
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        {{/ifNe}}
                                    {{/if}}
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <aside id="aside"></aside>
        <footer id="footer"></footer>
        <div id="popups-area"></div>

        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script src="/js/core/shopby.js"></script>
        <script defer src="/js/pages/my/components/mypage-components.js"></script>
        <script defer src="/js/pages/my/previous-order.js"></script>
    </body>
</html>
