<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>나의 상품 후기</title>
    </head>

    <body>
        <header id="header"></header>
        <div id="contents" class="invisible">
            <main id="myProductReviewsPage" class="sub_content">
                <div class="content_box">
                    <div class="location_wrap">
                        <div id="myLocation" class="location_cont">
                            <em><a href="/" class="local_home">HOME</a> &gt; 마이페이지 &gt;{{productReviewConfig.name}}</em>
                        </div>
                    </div>
                </div>
                <div id="myPageLeftMenu" class="side_cont"></div>

                <div class="content">
                    <div class="board_zone_sec">
                        <div id="boardTitle" class="board_zone_tit">
                            <h3>{{productReviewConfig.name}}</h3>
                        </div>

                        <div class="board_zone_cont">
                            <div id="productReviews" class="board_zone_list">
                                {{#if myProductReviews}}
                                <div class="board_list_gallery">
                                    <div class="list_card_type">
                                        <ul>
                                            <!-- 카드형 -->
                                            {{#each myProductReviews.items}}
                                            <li>
                                                <div class="card_area">
                                                    <div class="card_vis">
                                                        <div>
                                                            <a href="/pages/my/product-review.html?productNo={{productNo}}&reviewNo={{reviewNo}}">
                                                                <img src="{{imageUrl}}" class="middle" alt="{{productName}}이미지" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="card_con">
                                                        <p class="card_con_goods_tit">
                                                            <a href="/pages/product/view.html?productNo={{productNo}}">{{safeString productName}}</a>
                                                            {{badge 'new' registerYmdt}} {{badge 'hot' viewCount}}
                                                        </p>
                                                        {{#if orderedOption.optionUsed}}
                                                        <p class="card_con_goods_option">
                                                            {{{getOptionNameAndValue orderedOption.optionName orderedOption.optionValue}}}
                                                        </p>
                                                        {{/if}}
                                                        <div
                                                            onclick="javascript:location.href='/pages/my/product-review.html?productNo={{productNo}}&reviewNo={{reviewNo}}'"
                                                            style="cursor: pointer;"
                                                        >
                                                            <div class="rating_star_box">
                                                                <span class="rating_star"
                                                                    ><span style="width: calc(20% * {{rate}});">별 다섯개중 {{rate}}개</span></span
                                                                >
                                                            </div>
                                                            <div class="card_con_txt">
                                                                {{#ifEq bestReviewYn 'Y'}}
                                                                <img src="/assets/img/icon/goods_icon/good_icon_best.gif" alt="best icon" />
                                                                {{/ifEq}}
                                                                <p class="ellipsis2" style="-webkit-line-clamp: {{contentLine}};">{{content}}</p>
                                                                {{#if fileUrls}}
                                                                <img class="ico_file" src="/assets/img/board/icon_board_attach_file.png" />
                                                                {{/if}}
                                                            </div>

                                                            <div class="card_con_infor">
                                                                <p>{{substring registerYmdt 0 10}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            {{else}}
                                            <li class="no_data">게시글이 존재하지 않습니다.</li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                </div>
                                {{/if}}
                            </div>
                            <div id="productReviewsPagination" class="pagination"></div>
                            <!-- //pagination -->
                            <div class="board_search_box visible">
                                <select name="searchType">
                                    <option value="CONTENT">내용</option>
                                    <option value="PRODUCT_NAME">상품명</option>
                                </select>
                                <input type="text" class="text" name="keyword" id="reviewKeyword" />
                                <button class="btn_board_search"><em>검색</em></button>
                            </div>
                        </div>
                        <!-- //board_zone_list -->
                        <div class="btn_right_box">
                            <div id="btnReviewRewardNotice-wrap">
                                {{#if reviewRewardNoticeText}}
                                <button type="button" id="btnReviewRewardNotice" class="btn_review_reward">
                                    <strong>상품후기 혜택 안내</strong>
                                </button>
                                <div id="reviewRewardPopup">
                                    <div class="review_reward_popup_top">
                                        <p>상품후기 혜택 안내</p>
                                        <a href="#" id="reviewRewardPopupCloseBtn" class="btn_layer_close"
                                            ><img src="/assets/img/mypage/icon-layer-close.png" alt="닫기"
                                        /></a>
                                    </div>
                                    <div class="review_reward_popup_bot">
                                        <p>{{reviewRewardNoticeText}}</p>
                                    </div>
                                </div>
                                {{/if}}
                            </div>
                            <button type="button" id="btnWriteReviewableProduct" class="btn_write">
                                <strong>작성 가능한 후기 {{totalCount}}건</strong>
                            </button>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <aside id="aside"></aside>
        <footer id="footer"></footer>
        <div id="popups-area"></div>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/my/components/mypage-components.js"></script>
        <script src="/js/pages/my/product-reviews.js"></script>
    </body>
</html>
