<!--
  ~  © 2021. NHN Commerce Corp. All rights reserved.
  ~  NHN Corp. PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  ~
  ~  @author hyeyeon-park
  ~  @since 2021.7.14
  -->
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>나의 상품 후기</title>
    </head>
    <body>
        <header id="header"></header>
        <div id="contents">
            <main id="myProductReviewPage" class="sub_content invisible">
                <div class="content_box">
                    <div class="location_wrap">
                        <div class="location_cont">
                            <em><a href="/" class="local_home">HOME</a> &gt; 마이페이지&gt;{{productReviewConfig.name}}</em>
                        </div>
                    </div>
                </div>
                <div id="myPageLeftMenu" class="side_cont"></div>
                <div class="content">
                    <div id="boardViewPage" class="board_zone_sec">
                        <div class="board_zone_tit">
                            <h2>{{productReviewConfig.name}}</h2>
                        </div>
                        <div class="mypage_cont">
                            <div class="board_zone_cont">
                                <div class="board_zone_view">
                                    <div class="board_view_tit">
                                        <span style="float: left;">
                                            <img
                                                src="{{myProductReview.imageUrl}}"
                                                alt="{{myProductReview.productName}}이미지"
                                                style="width: 50px; height: auto;"
                                            />
                                        </span>
                                        <span style="float: left; margin-left: 5px;">
                                            <span class="rating_star_box">
                                                <span class="rating_star">
                                                    <span style="width: calc(20% * {{myProductReview.rate}});">별 다섯개중 {{myProductReview.rate}}개</span>
                                                </span> </span
                                            ><br />
                                            <span><em>{{safeString myProductReview.productName}}</em></span
                                            ><br />
                                            {{#if myProductReview.orderedOption.optionUsed}}
                                            <span class="option_name_value"
                                                >{{{getOptionNameAndValue myProductReview.orderedOption.optionName
                                                myProductReview.orderedOption.optionValue}}}</span
                                            >
                                            {{/if}}
                                        </span>
                                    </div>
                                    <div class="board_view_info">
                                        <span>{{myProductReview.registerName}}</span>
                                        <span class="view_info_day">
                                            <em>{{ myProductReview.registerYmdt}}</em>
                                        </span>
                                    </div>
                                    <!-- //board_view_info -->

                                    <div class="board_view_content">
                                        <!-- //view_goods_select -->
                                        <div class="seem_cont">
                                            <div style="margin: 10px 0 10px 0;">
                                                <pre style="white-space: pre-wrap;">{{{myProductReview.content}}}</pre>
                                            </div>
                                        </div>
                                        {{#if myProductReview.fileUrls}}
                                        <div class="add_file_area">
                                            <ul>
                                                {{#each myProductReview.fileUrls}}
                                                <li class="vis_mode">
                                                    <div>
                                                        {{img this}}
                                                        <a class="zoom" href="javascript:void(0);"
                                                            ><img src="/assets/img/board/icon_view_add_file.png" alt="보기"
                                                        /></a>
                                                    </div>
                                                </li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                        {{/if}}
                                    </div>
                                </div>
                                <div class="btn_right_box">
                                    <button type="button" class="btn_board_del btn_board" id="reviewDel" data-mode="del">
                                        삭제
                                    </button>
                                    <button type="button" class="btn_board_edit btn_board" id="reviewEdit" data-mode="edit">
                                        수정
                                    </button>
                                    <a href="/pages/my/product-reviews.html" class="btn_board_list btn_board" id="reviewList" data-mode="list">
                                        목록
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <aside id="aside"></aside>
        <footer id="footer"></footer>
        <div id="popups-area"></div>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/my/components/mypage-components.js"></script>
        <script src="/js/pages/my/product-review.js"></script>
    </body>
</html>
