<!--
  ~  © 2021. NHN Commerce Corp. All rights reserved.
  ~  NHN Corp. PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  ~
  ~  @author hyeyeon-park
  ~  @since 2021.7.15
  -->
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>나의 상품 문의</title>
    </head>
    <body>
        <header id="header"></header>
        <div id="contents">
            <main id="myProductInquiryPage" class="sub_content invisible">
                <div class="content_box">
                    <div class="location_wrap">
                        <div class="location_cont">
                            <em><a href="/" class="local_home">HOME</a> &gt; 마이페이지&gt;{{productInquiryConfig.name}}</em>
                        </div>
                    </div>
                </div>
                <div id="myPageLeftMenu" class="side_cont"></div>
                <div class="content">
                    <div id="boardViewPage" class="board_zone_sec">
                        <div class="board_zone_tit">
                            <h2>{{productInquiryConfig.name}}</h2>
                        </div>
                        <div class="mypage_cont">
                            <div>
                                <div class="board_zone_cont">
                                    <div class="board_zone_view">
                                        <div class="view_goods_select">
                                            <div class="view_goods_select_item">
                                                <span class="view_select_item_img">
                                                    <a href="/pages/product/view.html?productNo={{myProductInquiry.productNo}}" target="_blank">
                                                        {{img myProductInquiry.imageUrl}}
                                                    </a>
                                                </span>
                                                <span class="view_select_item_info">
                                                    <em>{{safeString myProductInquiry.productName}}</em>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="board_view_info">
                                            <span>{{myProductInquiry.registerName}}</span>
                                            <span class="view_info_day">
                                                <em>{{myProductInquiry.registerYmdt}}</em>
                                            </span>
                                            <span class="inquiry_type">문의 유형 : {{setProductInquiryTypesValue myProductInquiry.type}}</span>
                                        </div>
                                        <!-- //board_view_info -->
                                        <div class="board_view_content">
                                            <div class="board_view_qa">
                                                <div class="view_question_box">
                                                    <div class="seem_cont">
                                                        <div style="margin: 10px 0 10px 0;">
                                                            <pre class="board_view_q">{{{myProductInquiry.content}}}</pre>
                                                        </div>
                                                    </div>
                                                </div>

                                                {{#if myProductInquiry.replied}} {{#each myProductInquiry.answers}}
                                                <div class="view_answer_box">
                                                    <strong class="view_answer_tit">A.</strong>

                                                    <div class="view_answer_info">
                                                        <strong></strong>
                                                        <span class="view_info_idip">
                                                            <strong>{{nickName}}</strong>
                                                        </span>
                                                        <span class="view_info_day">
                                                            <em>{{registerYmdt}}</em>
                                                        </span>
                                                    </div>

                                                    <div class="seem_cont">
                                                        <div style="margin: 10px 0 10px 0;">
                                                            {{{content}}}
                                                        </div>
                                                    </div>
                                                    <!-- //seem_cont -->
                                                </div>

                                                {{/each}} {{/if}}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="btn_right_box">
                                        {{#ifEq myProductInquiry.replied false}}
                                        <button type="button" class="btn_board_del"><strong>삭제</strong></button>
                                        {{/ifEq}}
                                        <button type="button" class="btn_board_edit" data-action-type="edit">
                                            <strong>수정</strong>
                                        </button>
                                        <button type="button" class="btn_board_list" onclick="location.href='/pages/my/product-inquiries.html'">
                                            <strong>목록</strong>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <aside id="aside"></aside>
        <footer id="footer"></footer>
        <div id="popups-area"></div>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/my/components/mypage-components.js"></script>
        <script src="/js/pages/my/product-inquiry.js"></script>
    </body>
</html>
