<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>나의 상품 문의</title>
    </head>

    <body>
        <header id="header"></header>
        <div id="contents">
            <main id="myProductReviewsPage" class="sub_content">
                <div class="content_box">
                    <div class="location_wrap">
                        <div id="myLocation" class="location_cont">
                            <em><a href="/" class="local_home">HOME</a> &gt; 마이페이지 &gt;{{productInquiryConfig.name}}</em>
                        </div>
                    </div>
                </div>
                <div id="myPageLeftMenu" class="side_cont"></div>

                <div class="content">
                    <div class="board_zone_sec">
                        <div id="boardTitle" class="board_zone_tit">
                            <h3>{{productInquiryConfig.name}}</h3>
                        </div>

                        <div class="mypage_lately_info_cont">
                            <div class="mypage_table_type">
                                <table>
                                    <colgroup>
                                        <col style="width: 6%;" />
                                        <col style="width: 10%;" />
                                        <col />
                                        <col style="width: 12%;" />
                                        <col style="width: 10%;" />
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>번호</th>
                                            <th>문의유형</th>
                                            <th>내용</th>
                                            <th>문의일</th>
                                            <th>답변상태</th>
                                        </tr>
                                    </thead>
                                    <tbody id="myProductInquiries" data-template-id="myProductInquiriesTemplate"></tbody>
                                </table>
                            </div>
                            <div class="btn_right_box">
                                <button type="button" id="btn_write" class="btn_write">
                                    <strong>상품 문의하기</strong>
                                </button>
                            </div>
                        </div>
                        <div id="myInquiryPagination" class="pagination"></div>
                        <div class="board_search_box">
                            <select name="searchType">
                                <option value="CONTENT">내용</option>
                                <option value="PRODUCT_NAME">상품명</option>
                            </select>
                            <input type="text" class="text" name="keyword" id="productInquiryKeyword" />
                            <button class="btn_board_search"><em>검색</em></button>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <aside id="aside"></aside>
        <footer id="footer"></footer>
        <div id="popups-area"></div>
        <link type="text/css" rel="stylesheet" href="/lib/date-picker/tui-date-picker.css" />
        <script src="/lib/date-picker/tui-date-picker.js"></script>
        <script src="/js/pages/my/components/mypage-components.js"></script>
        <script src="/js/pages/my/product-inquiries.js"></script>
        <script id="myProductInquiriesTemplate" type="text/x-handlebars-template">
            <tbody id="myProductInquiries" data-template-id="myProductInquiriesTemplate">
            {{#each myProductInquiries}}
            <tr style="height: 50px;" data-product-no="{{productNo}}" data-inquiry-no="{{inquiryNo}}"
                data-product-name="{{productName}}">
                <td>{{listIndex @key ../pageNumber ../pageSize}}</td>
                <td class="col333">{{setProductInquiryTypesValue type}}</td>
                <td class="td_left">
                    <div class="pick_add_cont">
                        <span class="pick_add_img">
                            <div>
                                <a href="/pages/my/product-inquiry.html?productNo={{productNo}}&inquiryNo={{inquiryNo}}">
                                    <img src="{{imageUrl}}" alt="{{productName}}"
                                         title="{{productName}}" class="middle">
                                </a>
                            </div>
                        </span>
                        <div class="pick_add_info">
                            <a href="/pages/my/product-inquiry.html?productNo={{productNo}}&inquiryNo={{inquiryNo}}">
                                <em style="display: block;" class="ellipsis2">{{#if secreted}}<img src="/assets/img/board/icon_board_secret2_on.png">{{/if}}{{content}}</em>
                          {{badge 'new' registerYmdt}}
                          {{badge 'hot' viewCount}}
                          </a>
                            <a href="/pages/product/view.html?productNo={{productNo}}"><em style="display: block;">{{safeString productName}}</em></a>
                        </div>
                        <div class="goods_qa_answer" style="background-color: #f3f3f3;display: none;">
                            {{#each answers}}
                                <div><b>A.</b>{{nickName}} | {{substring registerYmdt 0 10}}</div>
                                <div>{{content}}</div>
                            {{/each}}
                        </div>
                    </div>
                </td>
                <td>{{substring registerYmdt 0 10}}</td>
                <td><span class="btn_answer_comp">{{#if replied}}답변완료{{else}}답변대기{{/if}}</span></td>
            </tr>
            {{else}}
                <tr>
                    <td colspan="6"><p class="no_data">게시글이 존재하지않습니다.</p></td>
                </tr>
            {{/each}}
            </tbody>
        </script>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
    </body>
</html>
