<!--
  ~ © NHN Commerce Corp. All rights reserved.
  ~ NHN Corp. PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  -->

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>회원탈퇴</title>
    </head>

    <body>
        <header id="header"></header>
        <div id="contents">
            <main class="sub_content">
                <div class="content_box">
                    <div class="location_wrap">
                        <div class="location_cont">
                            <em><a href="/" class="local_home">HOME</a> &gt; 마이페이지 &gt; 회원탈퇴</em>
                        </div>
                    </div>
                </div>
                <div id="myPageLeftMenu" class="side_cont"></div>

                <div class="content">
                    <div class="mypage_cont">
                        <!-- 비밀번호 재확인 -->
                        <div id="certifyPassword" class="my_page_password hide">
                            <div class="mypage_zone_tit">
                                <h2>회원탈퇴</h2>
                            </div>
                            <p><strong>회원님의 정보를 안전하게 보호하기 위해 다시 한번 입력해 주세요.</strong></p>
                            <div class="id_pw_cont" id="member-cont">
                                <dl>
                                    <dt>아이디</dt>
                                    <dd><strong>{{memberId}}</strong></dd>
                                </dl>
                                <dl>
                                    <dt>비밀번호</dt>
                                    <dd>
                                        <div class="member_warning">
                                            <input type="password" name="confirmPassword" id="confirmPassword" maxlength="20" />
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                            <div class="btn_center_box">
                                <a id="btnCertifyCancel" class="btn_pw_cancel js_btn_back" href="#"><em>취소</em></a>
                                <button type="button" id="btnPwCertify" class="btn_pw_certify">
                                    <em>인증하기</em>
                                </button>
                            </div>

                            <div class="hide">
                                <div>자동등록방지</div>
                                <div>
                                    <div class="capcha">
                                        <div class="capcha_img">
                                            <img src="{{captchaImg.url}}" align="absmiddle" id="captchaImg" />
                                        </div>
                                        <div class="capcha_txt">
                                            <p>보이는 순서대로 숫자 및 문자를 모두 입력해 주세요.</p>
                                            <input type="text" class="text captcha" name="captchaKey" maxlength="5" label="자동등록방지문자" />
                                            <span class="btn_gray_list">
                                                <button type="button" class="btn_gray_small">
                                                    <span><img src="/assets/img/icon/etc/icon_reset.png" alt="" />이미지 새로고침</span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 간편회원 재확인 -->
                        <div id="certifyOpenId" class="my_page_password hide">
                            <div class="mypage_zone_tit">
                                <h2>회원 탈퇴</h2>
                            </div>
                            <p><strong>회원님의 정보를 안전하게 보호하기 위해 계정을 재인증 해주세요.</strong></p>
                            <div class="sns_cont member_sns_login" style="text-align: center;">
                                {{#each providerTypes}} {{#ifEq ../providerType this}}
                                <a href="#" class="btn_{{this}}_login js_btn_{{this}}_login btnLoginSns" data-provider="{{this}}">
                                    <img src="/assets/img/etc/text-{{this}}.png" alt="{{this}}" />
                                </a>
                                {{/ifEq}} {{/each}}
                            </div>
                        </div>
                        <!-- 회원탈퇴 -->
                        <div id="withdrawalForm" class="hack_out hide">
                            <div class="mypage_zone_tit">
                                <h2>회원탈퇴</h2>
                            </div>

                            <div class="mypage_unregister">
                                <div class="mypage_zone_tit">
                                    <h3>회원탈퇴 안내</h3>
                                </div>
                                {{#if withdrawalGuide.used}}
                                <div class="unregister_info">
                                    {{{withdrawalGuide.contents}}}
                                </div>
                                {{/if}}

                                <div class="mypage_table_type">
                                    <table class="table_left">
                                        <colgroup>
                                            <col style="width: 15%;" />
                                            <col style="width: 85%;" />
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <th scope="row"><span class="important">탈퇴사유</span></th>
                                                <td>
                                                    <textarea
                                                        cols="30"
                                                        rows="5"
                                                        name="reason"
                                                        id="reason"
                                                        placeholder="탈퇴 사유 입력"
                                                        maxlength="50"
                                                    ></textarea>
                                                    <span class="js_text_length">0/50</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="form_element">
                                    <input type="checkbox" name="dropoutAgree" id="dropoutAgree" />
                                    <label for="dropoutAgree">회원탈퇴 시 처리사항 안내 내용을 확인하였으며, 회원탈퇴에 동의합니다.</label>
                                </div>
                            </div>

                            <div class="btn_center_box">
                                <button type="button" id="btnCancel" class="btn_claim_cancel btn_prev">
                                    <em>취소</em>
                                </button>
                                <button type="button" id="btnWithdrawal" class="btn_claim_ok">
                                    <em>탈퇴하기</em>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <aside id="aside"></aside>
        <footer id="footer"></footer>
        <div id="popups-area"></div>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/my/components/mypage-components.js"></script>
        <script src="/js/pages/my/withdrawal.js"></script>
    </body>
</html>
