<!--
  ~  © 2021. NHN Commerce Corp. All rights reserved.
  ~  NHN Corp. PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  ~
  ~  @author hyeyeon-park
  ~  @since 2021.6.24
  -->

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>게시판 리스트</title>
    </head>
    <body>
        <header id="header"></header>
        <div id="contents">
            <main id="articlesPage" class="sub_content">
                <div class="content">
                    <div class="board_zone_sec">
                        <div class="board_zone_tit" id="boardTitle">
                            <h2>{{boardName}}</h2>
                        </div>
                        <div class="board_zone_cont">
                            <div class="board_zone_list" align="center">
                                <div id="articlesList">
                                    <table class="board_list_table" style="width: 100%;">
                                        <colgroup>
                                            <col style="width: 6%;" />
                                            <col style="width: 31%;" />
                                            <col style="width: 6%;" />
                                            <col style="width: 15%;" />
                                            <col style="width: 10%;" />
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>번호</th>
                                                <th>제목</th>
                                                <th>조회</th>
                                                <th>작성자</th>
                                                <th>날짜</th>
                                            </tr>
                                        </thead>
                                        <tbody id="boardArticles" data-template-id="boardArticlesTemplate"></tbody>
                                    </table>
                                    <div id="pagination" class="pagination"></div>
                                </div>

                                <div class="board_search_box">
                                    <select name="searchType">
                                        <option value="TITLE">제목</option>
                                        <option value="CONTENT">내용</option>
                                        <option value="WRITER">작성자</option>
                                    </select>
                                    <input type="text" id="articleKeyword" class="text" name="keyword" />
                                    <button id="btnArticleSearch" class="btn_board_search"><em>검색</em></button>
                                </div>
                            </div>

                            <div class="btn_right_box" id="btnWriteBox">
                                {{#if btnWriteUsed}}
                                <button type="button" id="btnArticleWrite" class="btn_write js_btn_write">
                                    <strong>글쓰기</strong>
                                </button>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>

                <script id="boardArticlesTemplate" type="text/x-handlebars-template">
                    <tbody id='boardArticles' data-template-id='boardArticlesTemplate'>
                        {{#each articles}}
                            <tr
                                data-article-no="{{articleNo}}"
                                data-register-type="{{registerType}}"
                                data-register-no="{{registerNo}}"
                                data-modifier-no="{{modifierNo}}"
                                data-secret="{{secreted}}"
                                style='height:10px'
                            >
                                <td>
                                    {{#ifEq notice true}}
                                        <img src='/assets/img/icon/board/icon_board_notice.png' alt='공지' />
                                    {{else}}
                                        {{displayOrder}}
                                    {{/ifEq}}
                                </td>
                                <td class='board_tit'>
                                    {{#if secreted}}
                                        <img src='/assets/img/icon/board/icon_board_secret.png' alt='비밀글' />
                                    {{/if}}
                                    <a href='javascript:void(0);'>
                                        <strong>
                                            {{#unless secreted}}
                                                {{title}}
                                            {{else}}
                                                {{IsWriter registerType registerNo modifierNo title}}
                                            {{/unless}}
                                        </strong>
                                        {{#if attachments}}
                                            <!--데이터없음-->
                                            <img src='/assets/img/icon/board/icon_board_attach_file.png' alt='파일첨부 있음' />
                                        {{/if}}
                                        {{#if imageUrl}}
                                            <img src='/assets/img/icon/board/icon_board_attach_img.png' alt='이미지첨부 있음' />
                                        {{/if}}
                                        {{#if isNew}}
                                            <!--데이터없음-->
                                            <img src='/assets/img/icon/board/icon_board_new.png' alt='신규 등록글' />
                                        {{/if}}
                                        {{badge 'new' registerYmdt}}
                                        {{badge 'hot' viewCnt}}
                                    </a>
                                </td>
                                <td>
                                    {{viewCnt}}
                                </td>
                                <td>
                                    {{registerName}}
                                </td>
                                <td>
                                    {{substring registerYmdt 0 10}}
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </script>
            </main>
        </div>
        <aside id="aside"></aside>
        <footer id="footer"></footer>
        <div id="popups-area"></div>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/board/list.js"></script>
    </body>
</html>
