<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <title>Plus review</title>
    </head>

    <body>
        <div id="wrap">
            <header id="header"></header>
            <div id="contents" style="visibility: visible;">
                <main class="sub_content">
                    <div class="content_box">
                        <div class="location_wrap">
                            <div class="location_cont">
                                <em><a href="/" class="local_home">HOME</a> &gt; 게시판</em>
                            </div>
                        </div>
                    </div>
                    <div class="content_box">
                        <div class="goods_list_item">
                            <!-- tab  -->
                            <div class="p-tabs">
                                <div id="p-tab" class="invisible">
                                    <button data-type="{{tabData.type.all}}" class="{{#ifEq tabData.nowType 'ALL'}} on {{/ifEq}}">
                                        전체 상품후기
                                    </button>
                                    <button data-type="{{tabData.type.photo}}" class="{{#ifEq tabData.nowType 'PHOTO'}} on {{/ifEq}}">
                                        포토 상품후기
                                    </button>
                                    <button data-type="{{tabData.type.reviewedProducts}}" class="{{#ifEq tabData.nowType 'REVIEWED_PRODUCTS'}} on {{/ifEq}}">
                                        상품기준 상품후기
                                    </button>
                                </div>
                                <button class="p-write-review">상품후기 작성하기</button>
                            </div>
                            <!-- // tab -->
                            <!-- order  -->
                            <div class="p-sort">
                                <div id="p-sort-btns" class="invisible">
                                    {{#ifEq sortBtnsData.currentTab 'allPhoto'}}
                                    <button data-type="{{sortBtnsData.type.bestReview}}" class="on">베스트순</button>
                                    <button data-type="{{sortBtnsData.type.registerYMDT}}">등록일순</button>
                                    <button data-type="{{sortBtnsData.type.rating}}" data-order="DESC">평점높은순</button>
                                    <button data-type="{{sortBtnsData.type.rating}}" data-order="ASC">평점낮은순</button>
                                    {{#if sortBtnsData.useRecommend}}
                                    <button data-type="{{sortBtnsData.type.recommend}}">추천순</button>
                                    {{/if}} {{else}}
                                    <button data-type="{{sortBtnsData.type.reviewCount}}" class="on">리뷰 많은 순</button>
                                    <button data-type="{{sortBtnsData.type.registerYMDT}}">등록일순</button>
                                    <button data-type="{{sortBtnsData.type.reviewRate}}" data-order="DESC">평점높은순</button>
                                    <button data-type="{{sortBtnsData.type.reviewRate}}" data-order="ASC">평점낮은순</button>
                                    {{/ifEq}}
                                </div>
                                <div id="p-search" class="invisible">
                                    {{#if categories}}
                                    <select id="p-sort-select">
                                        <option value="">전체</option>
                                        {{#each categories}}
                                        <option value="{{depth1CategoryNo}}">{{depth1Label}}</option>
                                        {{/each}}
                                    </select>
                                    {{/if}}
                                    <span class="p-search-field">
                                        <label class="hidden" for="search-category">카테고리 검색</label>
                                        <button id="p-magnet">
                                            <span class="hidden">검색</span>
                                        </button>
                                        <input type="text" id="search-category" />
                                    </span>
                                </div>
                            </div>
                            <!--  // order -->
                            <div id="plus-review-list-container" class="invisible">
                                <ul id="plusReviewList">
                                    {{#if allPhotoListItem}} {{#each allPhotoListItem}}
                                    <li>
                                        <div class="p-thumb">
                                            <a
                                                href="javascript:;"
                                                data-review-no="{{reviewNo}}"
                                                data-product-no="{{productInfo.no}}"
                                                data-type="{{#ifEq type 'ALL'}}ALL{{else}}PHOTO{{/ifEq}}"
                                                class="photo-display-popup-open"
                                            >
                                                <span class="img-frame img-frame--normal">
                                                    {{#if images.length}} {{img images.[0] productInfo.name}} {{else}} {{/if}} {{#if images.length}} {{#ifEq
                                                    images.length 1}} {{else}}
                                                    <span class="p-thumb__file-count">
                                                        {{images.length}}
                                                    </span>
                                                    {{/ifEq}} {{/if}}
                                                </span>
                                                <div class="p-thumb__desc">
                                                    <p>
                                                        <span class="collapse-2">
                                                            {{#if isBestReview}}
                                                            <em class="tag">best</em>
                                                            {{/if}} {{content}}
                                                        </span>
                                                        <span class="p-thumb__auth">{{register.name}}</span>
                                                    </p>
                                                </div>
                                            </a>
                                            <!-- 상품상세 페이지 이동 -->
                                            <a href="/pages/product/view.html?productNo={{productInfo.no}}" class="p-thumb__desc">
                                                <span class="img-frame">
                                                    {{img productInfo.thumbnailImage productInfo.name}}
                                                </span>
                                                <p>
                                                    <span class="collapse-1">{{productInfo.name}}</span>
                                                    <em class="p-thumb__comment-cnt"> 후기:<span>{{productInfo.totalReviewCount}}</span> </em>
                                                </p>
                                            </a>
                                        </div>
                                    </li>
                                    {{/each}} {{else if reviewProductItem}} {{#each reviewProductItem}}
                                    <li>
                                        <div class="p-thumb">
                                            <a href="/pages/product/view.html?productNo={{productNo}}">
                                                <span class="img-frame img-frame--normal">
                                                    {{#if mainImage}} {{img mainImage productName}} {{/if}}
                                                </span>
                                                <div class="p-thumb__desc">
                                                    <p>
                                                        <span class="collapse-1">{{productName}}</span>
                                                        <span class="p-thumb__price em"
                                                            >{{salePrice}} 원 | 즉시 할인가 {{appliedImmediateDiscountPrice}}원</span
                                                        >
                                                        <span class="p-thumb__comment">
                                                            <em class="em"> 후기: <span>{{totalReviewCount}}</span> </em>
                                                            <em class="em"> 평점: <span>{{reviewRate}}</span> </em>
                                                        </span>
                                                    </p>
                                                </div>
                                            </a>
                                            {{#if reviews}} {{#each reviews}}
                                            <a
                                                href="javascript:;"
                                                data-review-no="{{reviewNo}}"
                                                data-product-no="{{../productNo}}"
                                                data-type="REVIEWED_PRODUCTS"
                                                class="photo-display-popup-open"
                                            >
                                                <div class="p-thumb__desc">
                                                    <span class="img-frame">
                                                        {{#if attachedImage}} {{img attachedImage content}} {{/if}}
                                                    </span>
                                                    <p>
                                                        <span class="collapse-2">
                                                            {{#if isBestReview}}
                                                            <em class="tag">
                                                                best
                                                            </em>
                                                            {{/if}} {{content}}
                                                        </span>
                                                    </p>
                                                </div>
                                            </a>
                                            {{/each}} {{/if}}
                                        </div>
                                    </li>
                                    {{/each}} {{else}}
                                </ul>
                                <p class="p-empty em"><span class="p-empty-ico"></span>작성된 리뷰가 없습니다.</p>
                                {{/if}}
                            </div>
                            <div id="pagination" class="pagination"></div>
                        </div>
                    </div>
                </main>
            </div>
            <aside id="aside"></aside>
            <footer id="footer"></footer>
            <div id="popups-area"></div>
        </div>
        <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/board/product-reviews.js"></script>
    </body>
</html>
