<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>게시글 상세보기</title>
    </head>
    <body>
        <header id="header"></header>
        <div id="contents">
            <main class="sub_content">
                <div class="content">
                    <div id="boardViewPage" class="board_zone_sec">
                        <div class="board_zone_tit" id="board-title">
                            <h2>{{boardName}}</h2>
                        </div>
                        <div class="board_zone_cont">
                            <div class="board_zone_view" id="template-board-view">
                                <div class="board_view_tit">
                                    <h3>{{#if articles.notice}}<img src="/assets/img/icon/board/icon_board_notice.png" />{{/if}} {{articles.title}}</h3>
                                </div>
                                <div class="board_view_info">
                                    <span class="view_info_idip">
                                        <strong>{{articles.registerName}}</strong>
                                    </span>
                                    <span class="view_info_day">
                                        <em>{{articles.registerYmdt}}</em>
                                    </span>
                                    <span class="view_info_hits"> <strong>조회</strong> {{articles.viewCnt}} </span>
                                </div>
                                <!-- //board_view_info -->
                                <div class="board_view_content">
                                    <!-- //view_goods_select -->
                                    <div class="seem_cont">
                                        <div style="margin: 10px 0 10px 0;">
                                            <p>{{{articles.content}}}</p>
                                            {{#if articles.imageUrl}}
                                            <div style="margin: 10px 0 10px 0;">
                                                {{img articles.imageUrl '' '' '' 'max-width: 700px;'}}
                                            </div>
                                            {{/if}}
                                        </div>
                                    </div>
                                    {{#if articles.attachments}}
                                    <div class="add_file_area">
                                        <ul>
                                            {{#each articles.attachments}}
                                            <li class="vis_mode">
                                                <div>
                                                    {{img uploadedFileName '' '' fileName}}
                                                    <span class="zoom"><img src="/assets/img/board/icon_view_add_file.png" alt="보기" /></span>
                                                </div>
                                            </li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="btn_right_box">
                                <button type="button" class="btn_board_list btn_board" data-mode="view">
                                    <strong>본문으로 가기</strong>
                                </button>
                                <button type="button" class="btn_board_list btn_board" data-mode="list">
                                    <strong>목록</strong>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="boardReplyDetail" class="board_zone_sec">
                        <div class="board_zone_tit">
                            <h2>답글 보기</h2>
                        </div>
                        <div class="board_zone_cont">
                            <div class="board_zone_view template-board-view">
                                <div class="board_view_tit">
                                    <h3>{{title}}</h3>
                                </div>
                                <div class="board_view_info">
                                    <span class="view_info_idip">
                                        <strong>{{registerName}}</strong>
                                    </span>
                                    <span class="view_info_day">
                                        <em>{{registerYmdt}}</em>
                                    </span>
                                    <span class="view_info_hits"> <strong>조회</strong> {{viewCnt}} </span>
                                </div>
                                <!-- //board_view_info -->
                                <div class="board_view_content">
                                    <!-- //view_goods_select -->
                                    <div class="seem_cont">
                                        <div style="margin: 10px 0 10px 0;">
                                            <p>{{{content}}}</p>
                                            {{#if imageUrl}}
                                            <div style="margin: 10px 0 10px 0;">
                                                {{img imageUrl '' '' '' 'max-width: 700px;'}}
                                            </div>
                                            {{/if}}
                                        </div>
                                    </div>
                                    {{#if attachments}}
                                    <div class="add_file_area">
                                        <ul>
                                            {{#each attachments}}
                                            <li class="vis_mode">
                                                <div>
                                                    {{img uploadedFileName '' '' fileName}}
                                                    <span class="zoom"><img src="/assets/img/board/icon_view_add_file.png" alt="보기" /></span>
                                                </div>
                                            </li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <aside id="aside"></aside>
        <footer id="footer"></footer>
        <div id="popups-area"></div>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/board/reply.js"></script>
    </body>
</html>
