<!--
  ~  © 2021. NHN Commerce Corp. All rights reserved.
  ~  NHN Corp. PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  ~
  ~  @author hyeyeon-park
  ~  @since 2021.6.24
  -->

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>게시글 상세보기</title>
    </head>
    <body>
        <header id="header"></header>
        <div id="contents">
            <main class="sub_content">
                <div class="content">
                    <div id="boardViewPage" class="board_zone_sec">
                        <div class="board_zone_tit" id="board-title">
                            <h2>{{boardName}}</h2>
                        </div>
                        <div class="board_zone_cont">
                            <div class="board_zone_view" id="template-board-view">
                                <div class="board_view_tit">
                                    <h3>{{#if articles.notice}}<img src="/assets/img/icon/board/icon_board_notice.png" />{{/if}} {{articles.title}}</h3>
                                </div>
                                <div class="board_view_info">
                                    <span class="view_info_idip">
                                        <strong>{{articles.registerName}}</strong>
                                    </span>
                                    <span class="view_info_day">
                                        <em>{{articles.registerYmdt}}</em>
                                    </span>
                                    <span class="view_info_hits"> <strong>조회</strong> {{articles.viewCnt}} </span>
                                </div>
                                <!-- //board_view_info -->
                                <div class="board_view_content">
                                    <!-- //view_goods_select -->
                                    <div class="seem_cont">
                                        <div style="margin: 10px 0 10px 0;">
                                            <p>{{{articles.content}}}</p>
                                            {{#if articles.imageUrl}}
                                            <div style="margin: 10px 0 10px 0;">
                                                {{img articles.imageUrl '' '' '' 'max-width: 700px;'}}
                                            </div>
                                            {{/if}}
                                        </div>
                                    </div>
                                    {{#if articles.attachments}}
                                    <div class="add_file_area">
                                        <ul>
                                            {{#each articles.attachments}}
                                            <li class="vis_mode">
                                                <div>
                                                    {{img uploadedFileName '' '' fileName}}
                                                    <span class="zoom"><img src="/assets/img/board/icon_view_add_file.png" alt="보기" /></span>
                                                </div>
                                            </li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="btn_right_box">
                                {{#if articles.modifiable}}
                                <button type="button" class="btn_board_del btn_board" id="articleDel" data-mode="del">
                                    <strong>삭제</strong>
                                </button>
                                <button type="button" class="btn_board_edit btn_board" id="articleEdit" data-mode="edit">
                                    <strong>수정</strong>
                                </button>
                                {{/if}}
                                <button
                                    type="button"
                                    class="btn_board_list btn_board"
                                    id="article_list"
                                    data-mode="list"
                                    onclick="location.href='/pages/board/list.html?boardId={{boardId}}'"
                                >
                                    <strong>목록</strong>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!--답글-->
                    <div id="replies">
                        {{#if isReplyExposure}}
                        <div class="title">
                            <h3>답글보기</h3>
                        </div>
                        <div class="reply_box" id="replyBox">
                            <table class="board_list_table">
                                <colgroup>
                                    <col style="width: 100px;" />
                                    <col />
                                    <col style="width: 150px;" />
                                    <col style="width: 150px;" />
                                </colgroup>
                                <thead style="display: none;">
                                    <tr>
                                        <th>내용</th>
                                    </tr>
                                </thead>
                                <tbody id="replyArticles">
                                    <!--{{#each replyArticles}}-->
                                    <tr data-article-no="{{articleNo}}" data-index="{{@index}}" data-must-hidden="{{mustHidden}}">
                                        <td>{{displayOrder}}</td>
                                        <td class="board_tit">
                                            <div class="reply">
                                                {{#if secreted}}
                                                <span class="secret"></span>
                                                {{/if}}
                                                <!-- 가독성이 떨어지지 않도록 주석 처리 -->
                                                {{#if mustHidden}}비밀글 입니다.{{else}}{{title}}{{/if}}
                                                <!---->
                                                {{#if imageUrl}}<span class="attach_file"></span>{{/if}}
                                                <!---->
                                                {{#if new}}<span class="new"></span>{{/if}}
                                                <!---->
                                                {{#if hot}}<span class="badge">HOT</span>{{/if}}
                                            </div>
                                        </td>
                                        <td>{{registerName}}</td>
                                        <td>{{registerYmd}}</td>
                                    </tr>
                                    <!--{{/each}}-->
                                </tbody>
                            </table>
                        </div>
                        {{/if}}
                    </div>
                    <div id="pagination" class="pagination"></div>
                </div>
            </main>
        </div>
        <aside id="aside"></aside>
        <footer id="footer"></footer>
        <div id="popups-area"></div>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/board/view.js"></script>
    </body>
</html>
