<!--
  ~  © 2021. NHN Commerce Corp. All rights reserved.
  ~  NHN Corp. PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  -->

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>회원인증 인트로</title>
    </head>

    <body>
        <div id="contents" class="member">
            <div class="msg">
                <strong>회원 전용으로 운영되는 쇼핑몰입니다.</strong>
                <p>로그인 / 회원가입 후 이용 가능합니다.</p>
            </div>
            <div class="content_box">
                <div class="member_wrap">
                    <p class="tit">회원 로그인</p>
                    <div class="login_box" id="login-content">
                        <div class="member_login_box" id="member-login-container">
                            <dl>
                                <dt><label for="memberId">아이디</label></dt>
                                <dd><input type="text" id="memberId" name="memberId" placeholder="아이디" /></dd>
                            </dl>
                            <dl>
                                <dt><label for="password">비밀번호</label></dt>
                                <dd><input type="password" placeholder="비밀번호" id="password" name="password" value="" /></dd>
                            </dl>
                            <div class="inp_chk">
                                <input type="checkbox" id="saveId" name="save-id" value="y" />
                                <label for="saveId">로그인 상태 유지</label>
                            </div>
                            <div class="submit">
                                <button type="submit" class="member_login_order_intro_btn" name="member-login-btn" id="member-login-btn">로그인</button>
                            </div>
                        </div>
                        <ul class="login_find">
                            <li><a href="/pages/join/method.html">회원가입</a></li>
                            <li><a href="/pages/find-id/find-id.html">아이디찾기</a></li>
                            <li><a href="/pages/find-password/find-password.html">비밀번호찾기</a></li>
                        </ul>
                        <!-- //login_box -->
                        <div id="openIdMethod" class="sns_login invisible">
                            {{#each providers}}
                            <a href="#" class="{{provider}} js_btn_{{provider}}_login btnLoginSns" data-provider="{{provider}}">
                                {{img url '' '' title}}
                                <!--                                <img src="/assets/img/etc/txt_mo_{{this}}.png" alt="{{this}} 아이디 로그인" />-->
                            </a>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/intro/member-only.js"></script>
        <div id="popups-area"></div>
    </body>
</html>
