<!--
  ~  © 2021. NHN Commerce Corp. All rights reserved.
  ~  NHN Corp. PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  ~
  ~  @author choisohyun
  ~  @since 2021.7.5
  -->

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>비밀번호 변경</title>
    </head>

    <body>
        <header id="header"></header>
        <div id="contents">
            <main class="sub_content">
                <div class="content_box">
                    <div class="member_pwd_wrap">
                        <div class="password_change">
                            <div class="password_change_tit" id="changePasswordTitle">
                                <strong>회원님의 비밀번호를 변경해 주세요.</strong>
                                <span>회원님께서는 장기간 비밀번호를 변경하지 않고, 동일한 비밀번호를 사용 중이십니다.</span>
                                <p>
                                    {{mallName}}에서는 회원님의 소중한 개인정보를 보호하기 위하여 비밀번호 변경을 안내해드리고 있습니다.<br />
                                    정기적인 비밀번호 변경으로 회원님의 개인정보를 보호해 주세요.
                                </p>
                            </div>
                            <div class="password_change_input">
                                <input type="hidden" name="mode" id="mode" value="changePassword" aria-required="true" class="valid" />
                                <input
                                    type="password"
                                    id="oldPassword"
                                    name="oldPassword"
                                    class="text valid"
                                    placeholder="현재 비밀번호"
                                    aria-required="true"
                                />
                                <div class="new_password">
                                    <div class="member_warning">
                                        <input
                                            type="password"
                                            id="password"
                                            name="password"
                                            class="text valid"
                                            placeholder="새 비밀번호"
                                            aria-required="true"
                                            data-pattern="password"
                                        />
                                        <div class="warning_message"></div>
                                    </div>
                                    <div class="member_warning">
                                        <input type="password" id="passwordChk" name="passwordChk" class="text valid" placeholder="새 비밀번호 확인" />
                                        <div class="warning_message"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="btn_member_sec">
                                <ul>
                                    <li>
                                        <button id="btnLater" class="btn_member_white">다음에 변경</button>
                                    </li>
                                    <li>
                                        <button id="btnChange" class="btn_comfirm">비밀번호 변경</button>
                                    </li>
                                </ul>
                            </div>
                            <div class="password_change_tip">
                                <strong>비밀번호에 영문 대 소문자, 숫자, 특수문자를 조합하시면 비밀번호 안전도가 높아져 도용의 위험이 줄어듭니다.</strong>
                                <p>
                                    영문대소문자는 구분이 되며, 한가지 문자로만 입력은 위험합니다. <br />
                                    ID, 주민번호, 생년월일, 전화번호 등의 개인정보와 통상 사용 순서대로의 3자 이상 연속 사용은 피해주세요. <br />
                                    비밀번호는 주기적으로 바꾸어 사용하시는 것이 안전합니다. <br />
                                    ※ 비밀번호는 영문,숫자,특수문자 모두 조합하여 8~20자로 입력하셔야 합니다.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <aside id="aside"></aside>
        <footer id="footer"></footer>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/login/change-password.js"></script>
        <div id="popups-area"></div>
    </body>
</html>
