<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>Login</title>
    </head>

    <body>
        <header id="header"></header>
        <div id="contents" class="visible">
            <main class="sub_content">
                <div class="location_wrap">
                    <div class="location_cont">
                        <em><a href="/" class="local_home">HOME</a> &gt; 로그인</em>
                    </div>
                </div>

                <div class="content_box">
                    <div class="member_wrap">
                        <div class="member_tit">
                            <h2>로그인</h2>
                        </div>
                        <div class="member_cont" id="loginContent">
                            <div class="member_login_box" id="member-login-container">
                                <h3>회원 로그인</h3>
                                <div class="login_input_sec">
                                    <div>
                                        <label for="memberId"></label
                                        ><input type="text" id="memberId" name="member-id" value="" placeholder="아이디" required="true" />
                                        <label for="password"></label
                                        ><input type="password" id="password" name="member-password" value="" placeholder="비밀번호" required="true" />
                                    </div>
                                    <button type="button" name="member-login-btn" id="member-login-btn">
                                        로그인
                                    </button>
                                </div>
                                <div class="id_chk">
                                    <span class="form_element">
                                        <input type="checkbox" id="saveId" name="save-id" value="y" />
                                        <label for="saveId" class="">아이디 저장</label>
                                    </span>
                                </div>
                                <p class="js_caution_msg1">
                                    아이디, 비밀번호가 일치하지 않습니다. 다시 입력해 주세요.
                                </p>
                                <div id="captcha"></div>
                            </div>
                            <!-- //login_box -->
                            <div id="openIdMethod" class="member_sns_login invisible">
                                {{#each providers}}
                                <a
                                    href="#"
                                    class="btn_{{provider}}_login js_btn_{{provider}}_login btn_login_sns"
                                    data-action="oauth"
                                    data-provider="{{provider}}"
                                >
                                    {{img url '' '' title}}
                                </a>
                                {{/each}}
                            </div>
                            <div class="btn_login_box">
                                <ul>
                                    <li>
                                        <button id="btnJoinMember" class="btn_member_join" data-action="joinMethod">
                                            회원가입
                                        </button>
                                    </li>
                                    <li>
                                        <button id="btnFindId" class="btn_member_white" data-action="findId">
                                            아이디 찾기
                                        </button>
                                    </li>
                                    <li>
                                        <button id="btnFindPwd" class="btn_member_white" data-action="findPwd">
                                            비밀번호 찾기
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <!-- //btn_login_box -->
                            <!-- //nonmember_join_box -->
                            <div id="nonMemberOrder" class="invisible">
                                {{#if orderSheetNo}}
                                <div class="nonmember_join_box">
                                    <h3>비회원 주문하기</h3>
                                    <div class="btn_center_box">
                                        <button type="button" class="btn_member_black btnOrderWithGuest" id="guestOrder">
                                            비회원 주문하기
                                        </button>
                                    </div>
                                </div>
                                {{else}}
                                <input type="hidden" name="mode" value="guestOrder" />
                                <input type="hidden" name="returnUrl" value="/mypage/order.html" />

                                <div class="nonmember_order_box">
                                    <h3>비회원 주문조회 하기</h3>
                                    {{#if includesPreviousOrder}}
                                    <div class="guest_order_search_type" id="guestOrderSearchType">
                                        <button id="normalOrder" class="active" type="button" data-search-type="NORMAL">{{ mallTransferYmd }}이후 주문</button>
                                        <button id="previousOrder" type="button" data-search-type="PREVIOUS">{{ mallTransferYmd }}이전 주문</button>
                                    </div>
                                    {{/if}}
                                    <div class="order_input_sec">
                                        <div>
                                            <label>
                                                <input type="text" name="guestOrderNo" id="guestOrderNo" placeholder="주문번호 입력" />
                                            </label>
                                            <label>
                                                <input type="password" name="guestPassword" id="guestPassword" placeholder="주문 비밀번호 입력" />
                                            </label>
                                        </div>
                                        <button type="button" id="btnFindOrdersWithGuest">확인</button>
                                    </div>
                                    <p class="js_caution_msg2">
                                        주문번호와 비밀번호를 잊으신 경우, 고객센터로 문의하여 주시기 바랍니다.
                                    </p>
                                </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <aside id="aside"></aside>
        <footer id="footer"></footer>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/login/login.js"></script>
        <div id="popups-area"></div>
    </body>
</html>
