<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>Products</title>
    </head>

    <body>
        <div id="wrap">
            <header id="header"></header>
            <div id="contents">
                <main class="sub_content">
                    <div class="location_wrap">
                        <div class="location_cont">
                            <em class="visible"><a href="/" class="local_home">HOME</a> &nbsp;</em>
                            <div id="categorySelector">
                                {{#if categories}}
                                <!-- // do nothing -->
                                {{#each categories}}
                                <span>&nbsp;&gt;&nbsp;</span>
                                <div class="location_select">
                                    <div class="location_tit">
                                        <a href="#"><span>{{selectedLabel}}</span></a>
                                    </div>
                                    <ul style="display: none;">
                                        {{#each children}}
                                        <li>
                                            <a href="/pages/product/list.html?depth={{depth}}&categoryNo={{categoryNo}}"><span>{{label}}</span></a>
                                        </li>
                                        {{/each}}
                                    </ul>
                                </div>
                                {{/each}}
                                <!-- // do nothing -->
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    <div class="content_box">
                        <div class="goods_list_item">
                            <div class="goods_list_item_tit" id="selectedCategoryTit">
                                <h2>{{ selectedCategoryTit }}</h2>
                            </div>
                            <div class="list_item_category" id="searchBoxOrCategoryBoxArea">
                                {{#if selectedChildCategories}}
                                <ul>
                                    {{#each selectedChildCategories}}
                                    <li class="on">
                                        <a href="/pages/product/list.html?depth={{depth}}&categoryNo={{categoryNo}}"
                                            >{{label}}
                                            <span>
                                                <em>({{productCount}})</em>
                                            </span>
                                        </a>
                                    </li>
                                    {{/each}}
                                </ul>
                                {{/if}}
                            </div>
                            <div class="goods_pick_list" id="searchResult">
                                {{#if keyword}}
                                <span class="pick_list_num"><span>{{searchWord}}</span> 검색결과 <strong>{{totalCount}}</strong>개 </span>
                                {{else}}
                                <span class="pick_list_num">상품 <strong>{{totalCount}}</strong>개 </span>
                                {{/if}}
                                <div id="productSorting">
                                    <div id="sort-ui" name="sort-ui">
                                        <div class="pick_list_box">
                                            <ul class="pick_list">
                                                <li>
                                                    <input type="radio" id="sort-sale_cnt" class="radio" name="sort" value="sale_cnt" />
                                                    <label for="sort-sale_cnt">판매량순</label>
                                                </li>
                                                <li>
                                                    <input type="radio" id="sort-price_asc" class="radio" name="sort" value="price_asc" />
                                                    <label for="sort-price_asc">낮은가격순</label>
                                                </li>
                                                <li>
                                                    <input type="radio" id="sort-price_dsc" class="radio" name="sort" value="price_dsc" />
                                                    <label for="sort-price_dsc">높은가격순</label>
                                                </li>
                                                <li>
                                                    <input type="radio" id="sort-review" class="radio" name="sort" value="review" />
                                                    <label for="sort-review">상품후기순</label>
                                                </li>
                                                <li>
                                                    <input type="radio" id="sort-date" class="radio" name="sort" value="register" />
                                                    <label for="sort-date">등록일순</label>
                                                </li>
                                            </ul>
                                            <div class="choice_num_view">
                                                <select class="chosen-select" name="pageSize">
                                                    <option value="20">20개씩보기</option>
                                                    <option value="40">40개씩보기</option>
                                                    <option value="60">60개씩보기</option>
                                                    <option value="80">80개씩보기</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="goods_list" id="productList">
                                <div class="goods_list_cont">
                                    <div class="item_gallery_type">
                                        <ul>
                                            {{#each productList}}
                                            <li data-product-no="{{productNo}}" style="width: 25%;">
                                                <div class="item_cont">
                                                    <div class="item_photo_box">
                                                        <a href="/pages/product/view.html?productNo={{productNo}}" class="{{#if adult}}item_adult{{/if}}">
                                                            {{img listImageUrls 180 180 productName 'middle'}} {{#if adult}}
                                                            <strong
                                                                class="item_adult_bg"
                                                                style="background-image: url('/assets/img/icon/goods_icon/only_adult_pc.png'); display: block;"
                                                                >19금</strong
                                                            >
                                                            {{/if}} {{#ifEq isSoldOut true}}
                                                            <strong
                                                                class="item_soldout_bg"
                                                                style="background-image: url('/assets/img/icon/goods_icon/soldout.png'); display: block;"
                                                                >SOLD OUT</strong
                                                            >
                                                            {{/ifEq}} {{#ifEq saleStatusType 'READY'}}
                                                            <div class="item_sell_ing"><span>판매임박</span></div>
                                                            {{/ifEq}} {{#ifEq saleStatusType 'FINISHED'}}
                                                            <div class="item_sell_ing"><span>판매종료</span></div>
                                                            {{/ifEq}}
                                                        </a>
                                                        {{#ifGt stockCnt 0}}
                                                        <a class="item_wish {{#if liked}}on{{/if}}" id="wishBtn" href="#"></a>
                                                        {{/ifGt}}
                                                    </div>
                                                    <div class="item_info_cont">
                                                        <div class="item_tit_box">
                                                            {{#if brandName}}
                                                            <span class="item_brand">
                                                                <strong>{{brandName}}</strong>
                                                            </span>
                                                            {{else}}
                                                            <span class="item_brand">
                                                                <strong>{{brandNameEn}}</strong>
                                                            </span>
                                                            {{/if}}
                                                            <a href="/pages/product/view.html?productNo={{productNo}}">
                                                                <strong class="item_name">{{safeString productName}}</strong>
                                                                {{#if promotionText}}
                                                                <span class="item_name_explain">{{promotionText}}</span>
                                                                {{/if}}
                                                            </a>
                                                        </div>
                                                        <div class="item_money_box">
                                                            {{#ifHasDiscount immediateDiscountAmt additionDiscountAmt}}
                                                            <del>{{toCurrencyString salePrice}}원</del>
                                                            {{/ifHasDiscount}}
                                                            <strong class="item_price"> <b>{{toCurrencyString calculatedSalePrice}}</b>원 </strong>
                                                        </div>
                                                        <div class="item_icon_box">
                                                            {{#each stickerInfos}} {{#ifEq type 'TEXT'}}
                                                            <span>{{label}}</span>
                                                            {{else}} {{img label}} {{/ifEq}} {{/each}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            {{else}}
                                            <div class="goods_no_data"><strong>{{message}}</strong></div>
                                            {{/each}}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="pagination" class="pagination"></div>
                        </div>
                    </div>
                </main>
            </div>
            <aside id="aside"></aside>
            <footer id="footer"></footer>
            <div id="popups-area"></div>
        </div>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/product/list.js"></script>
    </body>
</html>
