<!--
  ~ © NHN Commerce Corp. All rights reserved.
  ~ NHN Corp. PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  ~
  ~ @author Bomee Yoon
  ~ @since 2021.6.24
  -->

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>Products</title>
    </head>

    <body>
        <header id="header"></header>
        <div id="wrap">
            <div id="contents">
                <main class="sub_content">
                    <div
                        id="viewContainer"
                        class="content_box"
                        data-product-name="{{ productName }}"
                        data-image-url="{{ imageUrl }}"
                        data-product-no="{{ productNo }}"
                    >
                        <div class="item_photo_info_sec">
                            <!-- 이미지 영역 -->
                            <div class="item_photo_view_box">
                                <div class="item_photo_view">
                                    <div class="item_photo_big"></div>
                                    <div class="item_photo_slide">
                                        <button type="button" class="slick_goods_prev"></button>
                                        <div class="slider_goods_nav"></div>
                                        <button type="button" class="slick_goods_next"></button>
                                    </div>
                                </div>
                            </div>

                            <div class="item_info_box">
                                <!-- 상품정보 -->
                                <div id="summary" class="item_tit_detail_cont">
                                    <div class="item_detail_tit">
                                        <div>
                                            <h3>{{safeString productName}}</h3>
                                            <div class="btn_layer btn_qa_share_box">
                                                <!--@TODO sns 공유 올 자리 2차스펙-->
                                            </div>
                                        </div>
                                        <div>
                                            <!-- 설명 및 가격 -->
                                            <p class="item_detail_promotext">{{ productDesc }}&nbsp;</p>
                                            {{#if shouldShowContentsIfPausing}}
                                            <h3>{{contentsIfPausing}}</h3>
                                            {{else}}
                                            <h3>
                                                <strong>{{ toCurrencyString salePrice }}</strong>원 {{#ifGt totalDiscount 0}}<del
                                                    ><small>{{ toCurrencyString originPrice }}원</small></del
                                                >{{/ifGt}}
                                            </h3>
                                            {{/if}}
                                        </div>
                                    </div>

                                    <div id="purchaseInfoContent" class="item_detail_list">
                                        {{#unless shouldShowContentsIfPausing }}
                                        <!-- // 구매혜택 -->
                                        {{#ifGt (sum totalDiscount accumulationAmtWhenBuyConfirm) 0}}
                                        <dl class="item_discount_mileage">
                                            <dt><span>구매혜택</span></dt>
                                            <dd>
                                                {{#ifGt totalDiscount 0}}
                                                <span class="item_discount"
                                                    >할인 : -<strong class="total_benefit_price">{{toCurrencyString totalDiscount}}</strong>원</span
                                                >
                                                {{/ifGt}}
                                                <!-- // do nothing -->
                                                {{#ifGt accumulationAmtWhenBuyConfirm 0}}
                                                <span class="item_mileage">
                                                    적립 : +<strong class="total_benefit_mileage">{{toCurrencyString accumulationAmtWhenBuyConfirm}}</strong>점
                                                    {{#ifLogined}}{{else}}(로그인 시 적립 가능){{/ifLogined}}
                                                </span>
                                                {{/ifGt}}
                                            </dd>
                                        </dl>
                                        {{/ifGt}}

                                        <!-- // 쿠폰 -->
                                        {{#if hasCoupon}}
                                        <dl class="goods_coupon">
                                            <dt><span>쿠폰</span></dt>
                                            <dd>
                                                {{#if maxCouponAmt}}<span class="coupon_badge">{{ couponRate }}%</span>{{/if}}
                                                <span>{{toCurrencyString priceWithCoupon}}</span> 원
                                                <span class="btn_gray_list">
                                                    <a href="" class="btn_gray_small" id="downloadCoupon">
                                                        <em>쿠폰다운받기</em>
                                                    </a>
                                                </span>
                                            </dd>
                                        </dl>
                                        {{/if}}
                                        <!-- // do nothing -->
                                        {{/unless}}
                                        <!-- // shouldShowContentsIfPausing -->
                                        {{#ifNe status.saleStatusType 'FINISHED'}}
                                        <dl class="item_delivery">
                                            <dt><span>배송비</span></dt>
                                            <dd id="deliveryTemplate">
                                                {{#if deliveryFeeLabel}}
                                                <div>
                                                    <strong>{{ deliveryFeeLabel }}</strong>
                                                    {{ conditionLabel }}
                                                    <!-- // do nothing -->
                                                    {{#if remoteDeliveryAreaFees}}
                                                    <span class="btn_gray_list">
                                                        <a href="" class="btn_gray_small" id="additionalDeliveryFee">
                                                            <em>추가배송비</em>
                                                        </a>
                                                    </span>
                                                    <div id="deliveryFeeArea" data-template-id="deliveryFeeAreaTemplate" class="layer_area hide"></div>
                                                    <script id="deliveryFeeAreaTemplate" type="text/x-handlebars-template">
                                                        <div id='deliveryFeeArea' data-template-id='deliveryFeeAreaTemplate' class='layer_area hide'>
                                                            <div class='ly_wrap sns_layer'>
                                                                <div class='ly_tit'>
                                                                    <strong>
                                                                        추가배송비 안내
                                                                    </strong>
                                                                </div>
                                                                <div class='ly_cont'>
                                                                    <div class='delivery_txt'>
                                                                        본 상품을 주문하실 때 아래 표기 된 지역으로배송하실 경우
                                                                        <br />
                                                                        추가 배송비가 부과됩니다.
                                                                    </div>
                                                                    <div class='delivery_list'>
                                                                        <table>
                                                                            <colgroup>
                                                                                <col style='width:75%' />
                                                                                <col style='width:25%' />
                                                                            </colgroup>
                                                                            <tbody>
                                                                                {{#each remoteDeliveryAreaFees}}
                                                                                    <tr>
                                                                                        <td>
                                                                                            {{address}}
                                                                                        </td>
                                                                                        <td>
                                                                                            {{toCurrencyString extraDeliveryAmt}}원
                                                                                        </td>
                                                                                    </tr>
                                                                                {{/each}}
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                <!-- //ly_cont -->
                                                                <button id='closeAdditionalDeliveryFeeLayer' class='ly_close'>
                                                                    <img src='/assets/img/common/layer/btn_layer_close.png' alt='닫기' />
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </script>
                                                    {{/if}}
                                                    <!-- // remoteDeliveryAreaFees -->
                                                </div>
                                                <div>
                                                    <strong>{{ deliveryLabel }}</strong>
                                                </div>
                                                {{else}}
                                                <div>
                                                    <span style="color: #e90606;">배송 불가 상품</span>
                                                    <small>{{ deliveryFee.deliveryCustomerInfo }}</small>
                                                </div>
                                                {{/if}}
                                                <!-- // isUndeliverable -->
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>상품번호</dt>
                                            <dd>{{productNo}}</dd>
                                        </dl>
                                        {{#if useLimitations }}
                                        <dl>
                                            <dt>구매수량제한</dt>
                                            <dd>
                                                {{#if limitations.minBuyCnt}}최소 {{ limitations.minBuyCnt }}개{{/if}}{{#if useLimitationsComma }}, {{/if}}
                                                {{#if limitations.maxBuyTimeCnt}} 최대 {{ limitations.maxBuyTimeCnt }}개(1회) {{else if
                                                limitations.maxBuyPersonCnt}}최대 {{limitations.maxBuyPersonCnt }}개(1인) {{else if
                                                limitations.maxBuyPeriodCnt}}최대 {{limitations.maxBuyPeriodCnt }}개 ({{ limitations.maxBuyDays }}일 동안)
                                                {{/if}}
                                            </dd>
                                        </dl>
                                        {{/if}}

                                        <!-- // option selector -->

                                        <div id="optionSelector" data-template-id="optionSelectorTemplate" class="item_add_option_box"></div>
                                        <script id="optionSelectorTemplate" type="text/x-handlebars-template">
                                            <div class="item_add_option_box" id="optionSelector" data-template-id="optionSelectorTemplate">
                                            {{#if optionUsed}}
                                                {{#each options}}
                                                        <dl>
                                                            <dt><span>{{#ifEq ../selectType 'FLAT'}}옵션 선택{{else}}{{ safeString label }}{{/ifEq}}</span></dt>
                                                            <dd>
                                                                <select
                                                                        class="optionSelector"
                                                                        name="optionSelector"
                                                                        data-depth="{{ depth }}"
                                                                >
                                                                    {{#each optionValues}}
                                                                        {{option @index value ../selectedIndex disabled}}
                                                                    {{/each}}
                                                                </select>
                                                            </dd>
                                                        </dl>
                                                {{/each}}
                                            {{/if}}
                                                <div class="item_choice_list">
                                                    <table id="selectedOptions" data-template-id="selectedOptionsTemplate" class="option_display_area"></table>
                                                </div>
                                            {{#each textOptions}}
                                                {{#ifEq inputMatchingType 'PRODUCT'}}
                                                        <dl class="goods_text_option" data-text-input-no="{{inputNo}}">
                                                            <dt>
                                                                <div class="{{#if required}}essential{{/if}}">{{safeString inputLabel}}{{#if required}}
                                                                <div class='required'>(필수){{/if}}</div>
                                                            </dt>
                                                            <dd>
                                                                <input
                                                                        type="text"
                                                                        name="{{inputNo}}"
                                                                        placeholder="{{safeString inputLabel}} 을(를) 입력하세요."
                                                                        data-reqired="{{#if required}}yes{{/if}}"
                                                                        data-option-matching-type="PRODUCT"
                                                                        class="text text-input-option product"
                                                                        maxlength="101"
                                                                        value="{{safeString value}}"
                                                                />
                                                            </dd>
                                                        </dl>
                                                {{/ifEq}}
                                            {{/each}}
                                            </div>
                                        </script>
                                        <script id="selectedOptionsTemplate" type="text/x-handlebars-template">
                                            <table id="selectedOptions" data-template-id="selectedOptionsTemplate" class="option_display_area">
                                                <colgroup>
                                                    <col width="330px" />
                                                    <col />
                                                    <col width="100px" />
                                                    <col width="20px" />
                                                </colgroup>
                                                {{#if showsTotalPriceWithSelectedOptionsArea}}
                                                    <tbody id="option_display_item_0">
                                                    {{#each selectedOptions}}
                                                        <tr class="check" data-option-no="{{optionNo}}">
                                                            <td class="cart_prdt_name">
                                                                <div class="cart_tit_box">
                                                                    <strong class="cart_tit">
                                                                        {{#if optionUsed}}
                                                                        <span>{{ safeString label }} {{ addPriceLabel }}</span>
                                                                        {{else}}
                                                                        <span>{{safeString selectedOptionsValues}}</span>
                                                                        {{/if}}
                                                                    </strong>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <span class="count">
                                                                      <span class="goods_qty">
                                                                          <input type="text" name="orderCnt" class="text" title="수량"
                                                                                 value="{{orderCnt}}" data-key="0" data-value="1" data-stock="0"/>
                                                                          <span id="orderCountBtns">
                                                                              <button type="button" class="up goods_cnt" data-action-type="up" title="증가"
                                                                                      value="up^|^0">증가</button>
                                                                              <button type="button" class="down goods_cnt" data-action-type="down" title="감소"
                                                                                      value="dn^|^0">감소</button>
                                                                          </span>
                                                                      </span>
                                                                </span>
                                                            </td>
                                                            <td class="item_choice_price">
                                                                <strong class="option_price_display_0">{{priceWithOptions}}</strong>원
                                                            </td>
                                                            <td>
                                                                {{#if ../optionUsed}}
                                                                    <button class="delete_goods" id="deleteOption">
                                                                        <img src="/assets/img/icon/goods_icon/icon-detail-option-del.png" style="vertical-align:middle" alt="삭제">
                                                                    </button>
                                                                {{/if}}
                                                            </td>
                                                        </tr>

                                                        {{#each textOptions}}
                                                            {{#ifEq inputMatchingType 'OPTION'}}
                                                                <tr data-option-no="{{ ../optionNo }}">
                                                                    <td colspan="4" class="pad_align_inte">
                                                                        <div class="item_detail_list">
                                                                            <div class="item_add_option_box">
                                                                                <dl id="amountTextOption" class="goods_text_option" data-option-no="{{../optionNo}}" data-text-input-no="{{inputNo}}">
                                                                                    <dt>
                                                                                        <div class="{{#if required}}essential{{/if}}">{{inputLabel}}{{#if required}}
                                                                                        <div class='required'>(필수){{/if}}</div>
                                                                                    </dt>
                                                                                    <dd>
                                                                                        <input type="text" name="{{inputNo}}" class="text text-input-option option" data-option-matching-type="OPTION" data-required="{{required}}" placeholder="{{safeString inputLabel}} (을)를 입력하세요." value="{{ safeString value }}" maxlength="101">
                                                                                        {{#ifGt ../orderCnt 1}}
                                                                                        <div class="amount_text_option{{#unless isRealAmountMode}}hide{{/unless}}">
                                                                                            {{#each amountValues}}
                                                                                                {{#if ../isRealAmountMode}}
                                                                                                    <input type="text" name="{{../inputNo}}" class="text text-input-option amount" data-option-matching-type="AMOUNT" data-required="{{required}}" placeholder="{{safeString ../inputLabel}} (을)를 입력하세요." value="{{ safeString value }}" maxlength="101" data-index="{{@index}}">
                                                                                                {{/if}}
                                                                                            {{/each}}
                                                                                        </div>
                                                                                        {{/ifGt}}
                                                                                    </dd>
                                                                                </dl>
                                                                                {{#ifGt ../orderCnt 1}}
                                                                                <a href="javascript:;" id="btnToggleTextOptionMode" class="btn_goods_text_option {{#if isRealAmountMode}}on{{/if}}">
                                                                                    {{#if isRealAmountMode}}옵션별{{else}}수량별{{/if}} 입력
                                                                                </a>
                                                                                {{/ifGt}}
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            {{/ifEq}}
                                                        {{/each}}
                                                    {{/each}}
                                                    </tbody>
                                                {{/if}}
                                            </table>
                                        </script>

                                        {{/ifNe}}
                                        <!-- // isOnSale -->
                                    </div>

                                    <div class="item_price_cont">
                                        <div class="end_price item_tatal_box">
                                            <dl class="total_amount">
                                                <dt>
                                                    총 합계금액
                                                </dt>
                                                <dd>
                                                    <strong><span id="totalPrice">{{totalPrice}}</span><b>원</b></strong>
                                                </dd>
                                            </dl>
                                        </div>
                                    </div>

                                    <div id="purchaseBtns" class="btn_choice_box wish_wrapper">
                                        <div>
                                            <button data-action-type="wish" id="wishBtn" type="button" class="btn_add_wish">
                                                찜하기
                                            </button>
                                            <div class="like-message-wrapper">
                                                <div class="add_wish_box hidden"></div>
                                            </div>
                                            {{#if isUnablePurchasing}}
                                            <button type="button" class="btn_add_soldout" disabled="disabled">
                                                구매 불가
                                            </button>
                                            {{else}}
                                            <button data-action-type="createCart" id="cartBtn" type="button" class="btn_add_cart">
                                                장바구니
                                            </button>
                                            <button data-action-type="createOrder" id="orderBtn" type="button" class="btn_add_order">
                                                바로 구매
                                            </button>
                                            {{/if}}
                                        </div>
                                    </div>

                                    <!-- 결제수단-->
                                    <div id="purchasePayment" class="pay_box">
                                        <div class="payco_pay"></div>
                                        <div class="naver_pay" id="naverPay"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item_goods_sec">
                            <!-- 기본정보, 정보제공고시  -->
                            <div class="item_goods_tab">
                                <ul id="detailTab"></ul>
                            </div>
                            <div class="detail_cont" id="detail" data-template-id="detailTemplate"></div>

                            <script id="detailTemplate" type="text/x-handlebars-template">
                                <div id="detail" data-template-id="detailTemplate">
                                    <div class="detail_cont">
                                    {{#if showsDetailInfo }}
                                        <h3>상품상세정보</h3>
                                        <div class="detail_explain_box">
                                            <div class="txt-manual">
                                                {{{contentHeader}}}
                                            </div>
                                            {{#if optionImageViewable}}
                                                <div class="image-manual">
                                                    <p class="option-infor-txt">
                                                        <span>상품의 옵션이미지를 선택하시면 자세히 보실 수 있어요.</span>
                                                    </p>
                                                    {{#each optionImages}}
                                                        <div class="option-img-area">
                                                            <a href="" class="sb_optionImageItem" data-option-no="{{optionNo}}">
                                                                <div class="option-tit" style="max-width:498px;">
                                                                    <p class="sb_p_optionName">{{value}}</p>
                                                                    <span class="icon_zoom"></span>
                                                                </div>
                                                                <div class="option-img">
                                                                    {{img imageUrl}}
                                                                </div>
                                                            </a>
                                                        </div>
                                                    {{/each}}
                                                </div>
                                            {{/if}}
                                            <div class="txt-manual">
                                                {{{content}}}
                                            </div>

                                            <div class="txt-manual">
                                                {{{contentFooter}}}
                                            </div>
                                        </div>
                                    {{/if}}
                                    {{#if showsBasicInfo}}
                                        <h3>상품 기본 정보</h3>
                                        <div class="detail_info_box">
                                            <div class="datail_table">
                                                <table class="left_table_type">
                                                    <colgroup>
                                                        <col style="width: 20%;" />
                                                        <col style="width: 80%;" />
                                                    </colgroup>
                                                    <tbody>
                                                    {{#if placeOriginLabel}}
                                                        <tr>
                                                            <td>원산지</td>
                                                            <td>{{placeOriginLabel}} {{placeOriginEtcLabel}}</td>
                                                        </tr>
                                                    {{/if}}
                                                    {{#if expirationYmdt}}
                                                        <tr>
                                                            <td>유효일자</td>
                                                            <td>{{substring expirationYmdt 0 10}}</td>
                                                        </tr>
                                                    {{/if}}
                                                    {{#if manufactureYmdt}}
                                                        <tr>
                                                            <td>제조일자</td>
                                                            <td>{{substring manufactureYmdt 0 10}}</td>
                                                        </tr>
                                                    {{/if}}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    {{/if}}
                                    {{#if showsDutyInfo}}
                                        <h3>상품정보제공고시</h3>
                                        <div class="detail_info_box">
                                            <div class="datail_table">
                                                <table class="left_table_type">
                                                    <colgroup>
                                                        <col style="width: 20%;" />
                                                        <col style="width: 80%;" />
                                                    </colgroup>
                                                    {{#each dutyInfoContents.mappingDutyInfo}}
                                                    <tr>
                                                        <td>{{key}}</td>
                                                        <td>
                                                            <!-- 만약 key값이 'KC 인증정보'일 시 인증 정보가 여기에 표시됩니다.-->
                                                            {{#ifEq key 'KC 인증정보'}}
                                                                {{value}}
                                                                {{#each ../certifications}}
                                                                    <div class="product_certification_info">
                                                                        <div>{{type}} 안전확인 대상 품목으로 아래의 국가 통합인증 필함</div>
                                                                        <div>인증 번호 :
                                                                            <a
                                                                             href="https://www.safetykorea.kr/search/searchPop?certNum={{code}}"
                                                                             onclick="window.open(this.href,'_blank', 'width=800, height=600'); return false;"
                                                                             >
                                                                            {{code}}
                                                                            </a>
                                                                        </div>
                                                                        {{#ifEqOneOfThree no 8 9 10}}
                                                                            <div>인증 일자 : {{date}}</div>
                                                                        {{/ifEqOneOfThree}}
                                                                    </div>
                                                                {{/each}}
                                                            {{else}}
                                                                {{value}}
                                                            {{/ifEq}}
                                                        </td>
                                                    </tr>
                                                    {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                        </div>
                                    {{/if}}
                                    {{#ifNe certificationType 'NOT_TARGET'}}
                                        <!-- 만약 KC인증이 있을시(isKcCertifications === true) 인증정보는 비표시 됩니다.-->
                                        {{#if dutyInfoContents.isKcCertifications}}
                                            {{#ifEq certificationType 'DETAIL_PAGE'}}
                                            <!-- 만약 KC 인증이 있고 상세페이지 별도표이일때 -->
                                            <h3>인증정보</h3>
                                            <div class="detail_info_box">상품 상세페이지 내 별도 표기</div>
                                            {{/ifEq}}
                                        {{else}}
                                        <h3>인증정보</h3>
                                        <div class="detail_info_box">
                                            <!-- 만약 KC 인증이 없고 상세페이지 별도표이일때 -->
                                            {{#ifEq certificationType 'DETAIL_PAGE'}}
                                                상품 상세페이지 내 별도 표기
                                            {{else}}
                                                {{#each certifications}}
                                                    <div class="product_certification_info">
                                                        <div>{{type}} 안전확인 대상 품목으로 아래의 국가 통합인증 필함</div>
                                                        <div>
                                                            인증 번호 :
                                                            <a
                                                            href="https://www.safetykorea.kr/search/searchPop?certNum={{code}}"
                                                            onclick="window.open(this.href,'_blank', 'width=800, height=600'); return false;"
                                                            >
                                                           {{code}}
                                                           </a>
                                                        </div>
                                                        {{#ifEqOneOfThree no 8 9 10}}
                                                        <div>인증 일자 : {{date}}</div>
                                                        {{/ifEqOneOfThree}}
                                                    </div>
                                                {{/each}}
                                            {{/ifEq}}
                                        </div>
                                        {{/if}}
                                    {{/ifNe}}
                                </div>
                            </script>

                            <!-- 배송/반품/교환안내 -->
                            <div class="item_goods_tab">
                                <ul id="exchangeTab"></ul>
                            </div>
                            <div class="exchange_cont" id="exchange">
                                {{#if deliveryGuide}}
                                <h3>배송안내</h3>
                                <div class="admin_msg">
                                    <p>
                                        <code>
                                            {{{deliveryGuide}}}
                                        </code>
                                    </p>
                                </div>
                                {{/if}} {{#if exchangeGuide}}
                                <h3>교환 및 반품안내</h3>
                                <div class="admin_msg" style="text-align: left;">
                                    <code>{{{exchangeGuide}}}</code>
                                </div>
                                {{/if}} {{#if afterServiceGuide}}
                                <h3>AS 안내</h3>
                                <div class="admin_msg">
                                    {{{afterServiceGuide}}}
                                </div>
                                {{/if}} {{#if refundGuide}}
                                <h3>환불 안내</h3>
                                <div class="admin_msg">
                                    {{{refundGuide}}}
                                </div>
                                {{/if}}
                            </div>

                            <!-- 상품후기 -->
                            <div class="item_goods_tab">
                                <ul id="reviewsTab"></ul>
                            </div>
                            <div class="exchange_cont" id="review">
                                <div id="reviewContent" class="review_cont">
                                    <h3 id="reviewTit">상품후기</h3>
                                    <span class="review-btns">
                                        <button id="writeReview" class="btn_reviews_write btn_AddReview">
                                            상품후기 작성하기 >
                                        </button>
                                        <a class="btn_reviews_write btn_AddReview" href="/pages/board/product-reviews.html">
                                            전체 상품후기 보기 >
                                        </a>
                                    </span>
                                    <div>
                                        <div id="photoReviews" data-template-id="photoReviewTemplate">
                                            <script id="photoReviewTemplate" type="text/x-handlebars-template">
                                                <article class='photo-review' id='photoReviews' data-template-id='photoReviewTemplate'>
                                                    {{#if expandedReviewConfig.useGatheringPhotoReview}}
                                                        <header>
                                                            <h4>
                                                                포토 모아보기
                                                            </h4>
                                                            <span class='photo-review-count'>
                                                                ({{totalCount}})
                                                            </span>
                                                        </header>
                                                        {{#ifEq totalCount 0}}
                                                            <p class='no_data'>
                                                                {{#if expandedReviewConfig.noPhotoReviewText}}
                                                                    {{expandedReviewConfig.noPhotoReviewText}}
                                                                {{else}}
                                                                    등록된 포토후기가 없습니다.
                                                                {{/if}}
                                                            </p>
                                                        {{else}}
                                                            <div class='review-thumbs' id='reviewThumbs'>
                                                                {{#each contents}}
                                                                    <button
                                                                        class='review-thumb'
                                                                        data-action-type='photoReviewDetail'
                                                                        data-review-no="{{reviewNo}}"
                                                                    >
                                                                        {{img url '' '' '상품후기 이미지'}}
                                                                    </button>
                                                                {{/each}}
                                                                {{#ifGt totalCount 7}}
                                                                    <button class='review-thumb review-thumb--more' data-action-type='morePhotoReviews'>
                                                                        <span class='hidden'>
                                                                            더보기
                                                                        </span>
                                                                    </button>
                                                                {{/ifGt}}
                                                            </div>
                                                        {{/ifEq}}
                                                    {{/if}}
                                                </article>
                                            </script>
                                        </div>
                                        <div class="reviews_list">
                                            <div class="reviews_list_tab">
                                                <div id="sortReviews" class="review_orderby" data-action-type="sortReviews">
                                                    <a
                                                        class="{{#ifEq sortType 'BEST'}}on{{/ifEq}}"
                                                        href="#review"
                                                        data-order-by="BEST_REVIEW"
                                                        data-order-direction="DESC"
                                                        data-sort-type="BEST"
                                                        >베스트순</a
                                                    >
                                                    <a
                                                        class="{{#ifEq sortType 'REGISTER'}}on{{/ifEq}}"
                                                        href="#review"
                                                        data-order-by="REGISTER_YMDT"
                                                        data-order-direction="DESC"
                                                        data-sort-type="REGISTER"
                                                        >등록일순</a
                                                    >
                                                    <a
                                                        class="{{#ifEq sortType 'DESC'}}on{{/ifEq}}"
                                                        href="#review"
                                                        data-order-by="RATING"
                                                        data-order-direction="DESC"
                                                        data-sort-type="DESC"
                                                        >평점높은순</a
                                                    >
                                                    <a
                                                        class="{{#ifEq sortType 'ASC'}}on{{/ifEq}}"
                                                        href="#review"
                                                        data-order-by="RATING"
                                                        data-order-direction="ASC"
                                                        data-sort-type="ASC"
                                                        >평점낮은순</a
                                                    >
                                                    {{#if expandedReviewConfig.useReviewRecommend}}
                                                    <a
                                                        class="{{#ifEq sortType 'RECOMMEND'}}on{{/ifEq}}"
                                                        href="#review"
                                                        data-order-by="RECOMMEND"
                                                        data-sort-type="RECOMMEND"
                                                        data-order-direction="DESC"
                                                        >추천순</a
                                                    >
                                                    {{/if}}
                                                </div>
                                                <button id="filterReviewsByViewType" class="toggle-photo {{#if onlyPhotos}}on{{/if}}">
                                                    포토후기만 보기
                                                </button>
                                            </div>
                                            <script id="reviewCommentTemplate" type="text/x-handlebars-template">
                                                <div id='reviewComments' data-template-id='reviewCommentTemplate'>
                                                    {{#each contents}}
                                                        <div class='reply'>
                                                            <p class='reply-info'>
                                                                <span class='em'>
                                                                    관리자
                                                                </span>
                                                                <span class='reply-date'>
                                                                    {{ydmt}}
                                                                </span>
                                                            </p>
                                                            <p class='reply-con'>
                                                                {{content}}
                                                            </p>
                                                        </div>
                                                    {{/each}}
                                                </div>
                                                {{#if hasMoreCommentsBtn}}
                                                    <p class='reply-more' id='moreComments'>
                                                        <button class='reply-btn' data-action-type='moreComments'>
                                                            댓글 더보기
                                                        </button>
                                                    </p>
                                                {{/if}}
                                            </script>
                                            <script id="reviewListTemplate" type="text/x-handlebars-template">
                                                <ul id="reviewList" data-template-id="reviewListTemplate">
                                                    {{#each items}}
                                                        <li data-review-no="{{reviewNo}}" data-product-no="{{productNo}}" data-given-accumulation="{{givenAccumulationYn}}">
                                                            <!-- reviews_list_con -->
                                                            <div class="reviews_list_con l-flex {{#if fileUrls}}minHeight{{/if}}">
                                                                {{#if fileUrls}}
                                                                <div class="top_add_img">
                                                                    {{img (getFirstImageWithDefault fileUrls) '' '' '상품리뷰 첨부파일'}}
                                                                    <p class="add_img_length">{{fileUrls.length}}</p>
                                                                </div>
                                                                {{/if}}
                                                                <div class="reviews_text">
                                                                    <!-- rating_star_option-->
                                                                  <div class="rating_star_option">
                                                                    <!-- rating_star-->
                                                                    <div class="rating_star"><span style="width:calc({{rate}} * 20%);">별{{rate}}개</span></div>
                                                                    {{#if orderedOption}}
                                                                        <p class="option_name_value">
                                                                            <span>{{{getOptionNameAndValue orderedOption.optionName orderedOption.optionValue}}}</span>
                                                                        </p>
                                                                    {{/if}}
                                                                    </div>
                                                                    <!-- // rating_star_option-->
                                                                    <div class="field-writer">
                                                                        <span class="writer">{{registerName}}</span>
                                                                        <span class="date">{{substring registerYmdt 0 10}}</span>
                                                                    </div>
                                                                    <!-- writer_comment_txt-->
                                                                    <div class="writer_comment_txt">
                                                                        <a href="#" data-action-type="viewMoreReviews">
                                                                            {{#ifEq bestReviewYn "Y"}}<img src="/assets/img/icon/goods_icon/good_icon_best.gif">{{/ifEq}}
                                                                            <pre>{{{content}}}</pre>
                                                                        </a>
                                                                        {{#if fileUrls}}
                                                                            <div id='attachImageBox'>
                                                                                {{#each fileUrls}}
                                                                                    <div class="writer_comment_img">
                                                                                        {{img this}}
                                                                                        <span class="zoom"
                                                                                        ><img src="/assets/img/board/icon_view_add_file.png" alt="보기"
                                                                                        /></span>
                                                                                    </div>
                                                                                {{/each}}
                                                                            </div>
                                                                        {{/if}}
                                                                    </div>
                                                                    <!-- // writer_comment_txt-->

                                                                    <!-- 추천해요, 댓글 -->
                                                                    <p class="field-comment">
                                                                        {{#if ../photoReviews.expandedReviewConfig.useReviewRecommend}}
                                                                            <label for="reviewRecommend{{reviewNo}}" class="user-trigger user-trigger--like" data-action-type="reviewRecommend">
                                                                                <input type="checkbox" id="reviewRecommend{{reviewNo}}">
                                                                                <span id="reviewRecommendParents" class="user-trigger__txt review-recommend {{#if ../isLogin}}{{#ifEq recommendable false}}on{{/ifEq}}{{/if}}">
                                                                                    <span data-action-type="reviewRecommend">추천해요 {{recommendCnt}}</span>
                                                                                </span>
                                                                            </label>
                                                                        {{/if}}
                                                                        {{#if ../photoReviews.canComment}}
                                                                        {{#ifNe commentCount 0}}
                                                                            <label class="user-trigger user-trigger--cmt" for="reviewComment{{reviewNo}}">
                                                                                <input type="checkbox" id="reviewComment{{reviewNo}}">
                                                                                <span data-action-type="reviewComment" class="user-trigger__txt"><span>댓글 {{commentCount}}</span></span>
                                                                            </label>
                                                                        {{/ifNe}}
                                                                        {{/if}}
                                                                    </p>
                                                                    <!-- // 추천해요, 댓글 -->
                                                                <!-- // reviews_list_con-->
                                                                {{#if myReview}}
                                                                <div class="comment_bot_btn">
                                                                    <a href="javascript:void(0)" class="del_reivew" data-action-type="deleteReview">삭제</a>
                                                                    <a href="javascript:void(0)" class="modify_review" data-action-type="modifyReview">수정</a>
                                                                </div>
                                                                {{/if}}
                                                             </div>
                                                            </div>

                                                            <!-- 댓글 -->
                                                            <div data-template-id="reviewCommentTemplate" id='reviewComments' style="display: none;"></div>
                                                            <!-- // 댓글 -->
                                                        </li>
                                                    {{else}}
                                                        <li class="no_data">
                                                            등록된 상품후기가 없습니다.
                                                        </li>
                                                    {{/each}}
                                                </ul>
                                            </script>
                                            <ul id="reviewList" data-template-id="reviewListTemplate"></ul>
                                        </div>
                                    </div>

                                    <div class="btn_reviews_box" id="reviewsViewType">
                                        <!-- 상품 후기 전체보기 API 는 지원하지 않습니다.-->
                                    </div>
                                </div>
                                <div id="reviewPagination" class="pagination"></div>
                            </div>

                            <!-- 상품문의 -->
                            <div class="item_goods_tab">
                                <ul id="inquiriesTab"></ul>
                            </div>
                            <div class="exchange_cont" id="inquiry">
                                <div>
                                    <div class="qna_cont" id="inquiryContainer">
                                        <h3 id="inquiryTit">상품문의</h3>
                                        <div id="ajax-goods-goodsqa-list">
                                            <div class="qna_table">
                                                <table id="inquiriesTable" data-template-id="inquiriesTableTemplate"></table>
                                                <script id="inquiriesTableTemplate" type="text/x-handlebars-template">
                                                    <table
                                                        id="inquiriesTable"
                                                        data-template-id="inquiriesTableTemplate"
                                                        class="qna_table_type"
                                                    >
                                                        <colgroup>
                                                            <col width="13%">
                                                            <col>
                                                            <col width="13%">
                                                            <col width="13%">
                                                            <col width="13%">
                                                        </colgroup>
                                                        <thead>
                                                        <tr>
                                                            <th>번호</th>
                                                            <th>제목</th>
                                                            <th>작성자</th>
                                                            <th>작성일</th>
                                                            <th>진행상황</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {{#if inquiries}}
                                                            {{#each inquiries}}
                                                                <tr class="inquiryItem" data-inquiry-no="{{inquiryNo}}" data-type="{{type}}" data-secreted="{{secreted}}" data-content="{{content}}" data-my-inquiry="{{myInquiry}}" data-replied="{{replied}}">
                                                                    <td>{{setOrderStateValue type}}</td>
                                                                    <td class="board_tit" data-action-type="viewMore" data-my="{{myInquiry}}">
                                                                        <div class="inquiry_list_con">
                                                                            {{#if secreted}}
                                                                                <img src="/assets/img/icon/board/icon_board_secret.png" alt="비밀글"/>
                                                                            {{/if}}
                                                                        <strong>
                                                                            {{#ifEq content '-'}}
                                                                                비밀글 입니다.
                                                                            {{else}}
                                                                                {{{content}}}
                                                                            </strong>
                                                                                <span class="txt_more" data-action-type="viewMore">더보기</span>
                                                                            {{/ifEq}}

                                                                            {{#if myInquiry}}
                                                                                <div class="comment_bot_btn"><a href="javascript:void(0)" data-action-type="modifyInquiry">수정</a> {{#ifEq replied false}}<a href="javascript:void(0)" data-action-type="deleteInquiry">삭제</a>{{/ifEq}}</div>
                                                                            {{/if}}

                                                                            {{#if replied}}
                                                                                <div class="answer" style="display:none;min-height: 100px;background: #eaeaea">
                                                                                    {{#if secreted}}
                                                                                        <img src="/assets/img/icon/board/icon_board_secret.png" alt="비밀글"/>
                                                                                    {{/if}}
                                                                                    {{#ifEq content '-'}}
                                                                                        비밀글 입니다.
                                                                                    {{else}}
                                                                                        {{#each answers}}
                                                                                            <div class="answer_area">
                                                                                                <img src="/assets/img/icon/board/icon_qna_a.png"> {{nickName}} 담당자
                                                                                                <span style="margin-left: 20px;">{{substring registerYmdt 0 10}}</span>
                                                                                                <div class="answer_txt">{{content}}</div>
                                                                                            </div>
                                                                                        {{/each}}
                                                                                    {{/ifEq}}
                                                                                </div>
                                                                            {{/if}}
                                                                        </div>
                                                                    </td>
                                                                    <td>{{registerName}}</td>
                                                                    <td>{{substring registerYmdt 0 10}}</td>
                                                                    <td>
                                                                        {{#if replied}}
                                                                            답변완료
                                                                        {{else}}
                                                                            답변대기
                                                                        {{/if}}
                                                                    </td>
                                                                </tr>
                                                            {{/each}}
                                                        {{else}}
                                                            <tr id="noResult">
                                                                <td colspan="100%" class="no_data">등록된 상품문의가 없습니다.</td>
                                                            </tr>
                                                        {{/if}}
                                                        </tbody>
                                                    </table>
                                                </script>
                                            </div>
                                        </div>
                                        <div class="btn_qna_box">
                                            <!--상품 문의 전체보기 API 는 지원하지 않습니다.-->
                                            <!--<a href="/board/list.html?boardId=productInquiry" class="btn_qna_more">상품문의 전체보기</a>-->
                                            <button data-action-type="writeInquiry" class="btn_qna_write">
                                                상품문의 글쓰기
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div id="inquiryPagination" class="pagination"></div>

                                <!-- 관련상품 -->
                                <div class="detail_explain_box">
                                    <h3 id="relatedProductsTit">관련 상품</h3>
                                    <div class="goods_list">
                                        <div class="goods_list_cont">
                                            <div id="relatedProducts" data-template-id="relatedProductsTemplate" class="item_slide_horizontal"></div>
                                            <script id="relatedProductsTemplate" type="text/x-handlebars-template">
                                                <div id="relatedProducts" data-template-id="relatedProductsTemplate" class="item_slide_horizontal">
                                                    <ul class="slide_horizontal_1">
                                                        {{#each relatedProducts}}
                                                            <li data-product-no="{{productNo}}">
                                                                <div class="item_cont" style="text-align:center;">
                                                                    <div class="item_photo_box">
                                                                        <a href="/pages/product/view.html?productNo={{productNo}}" {{#if adult}}class="item_adult"{{/if}}>
                                                                        <img src="{{imageUrl}}" width="180" alt="{{safeString productName}}" title="{{safeString productName}}" class="middle">
                                                                        {{#if requiresAgeVerification}}
                                                                            <strong class="item_adult_bg" style="background-image:url(/assets/img/icon/goods_icon/only_adult_pc.png); display:block;">19금</strong>
                                                                        {{/if}}
                                                                        {{#ifLe stockCnt 0}}
                                                                            <strong class="item_soldout_bg" style="background-image:url(/assets/img/icon/goods_icon/soldout.png); display:block;">SOLD OUT</strong>
                                                                        {{/ifLe}}
                                                                        </a>
                                                                    </div>
                                                                    <div class="item_info_cont" style="display:block; text-align: center;">
                                                                        <div class="item_tit_box">
                                                                            <a href="/pages/product/view.html?productNo={{productNo}}">
                                                                            <strong class="item_name">{{safeString productName}}</strong>
                                                                            </a>
                                                                        </div>
                                                                        <div class="item_money_box">
                                                                            {{#if immediateDiscountAmt}}
                                                                                <del>{{toCurrencyString salePrice}}원</del>
                                                                                <strong class="item_price">
                                                                                    <b>{{toCurrencyString immediateDiscountAmt}}</b>원
                                                                                </strong>
                                                                            {{else}}
                                                                                <strong class="item_price">
                                                                                    <b>{{toCurrencyString salePrice}}</b>원
                                                                                </strong>
                                                                            {{/if}}
                                                                        </div>
                                                                        <div class="item_icon_box">
                                                                            {{#each stickers}}
                                                                                {{#ifEq type 'TEXT'}}
                                                                                    <span>{{safeString label}}</span>
                                                                                {{else}}
                                                                                    <img src="{{label}}" alt="{{name}}아이콘">
                                                                                {{/ifEq}}
                                                                            {{/each}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        {{/each}}
                                                    </ul>
                                                </div>
                                            </script>
                                            <!-- 추천상품 -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <aside id="aside"></aside>
        <footer id="footer"></footer>
        <div id="popups-area"></div>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/product/view.js"></script>
    </body>
</html>
