<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>회사소개</title>
    </head>

    <body>
        <header id="header"></header>
        <div id="contents">
            <main class="sub_content">
                <div class="location_wrap">
                    <div class="navi_g">
                        <ul>
                            <li>HOME</li>
                            <li>회사소개</li>
                        </ul>
                    </div>
                    <div class="sub_top">
                        <div class="sub_top_left">
                            <a id="goBack"></a>
                        </div>
                        <h2><a href="#" class="js_page_reload">회사소개</a></h2>
                    </div>
                </div>

                <div class="content_box invisible">
                    <div class="agreement">
                        <h3>회사소개</h3>
                        <article>
                            {{{termsContents}}}
                        </article>
                        {{#if kakaoMap}}
                        <div class="location">
                            <div class="service_tit">
                                <h3>위치안내</h3>
                            </div>
                            <div id="map" style="width: 100%; height: 40vh;"></div>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </main>
        </div>
        <footer id="footer"></footer>
        <div id="popups-area"></div>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/service/company.js"></script>
    </body>
</html>
