<!--
  ~  © 2021. NHN Commerce Corp. All rights reserved.
  ~  NHN Corp. PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  ~
  ~  @author choisohyun
  ~  @since 2021.6.29
  ~
  -->

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>Join</title>
    </head>

    <body>
        <header id="header"></header>
        <div id="contents" class="visible">
            <main class="sub_content">
                <div class="location_wrap">
                    <div class="location_cont">
                        <em><a href="/" class="local_home">HOME</a> &gt; 회원가입 &gt; 가입완료</em>
                    </div>
                </div>
                <div class="content_box">
                    <div class="member_wrap">
                        <div class="member_tit">
                            <h2>회원가입</h2>
                        </div>
                        <div class="member_cont">
                            <div class="join_ok_box">
                                <div class="join_ok_tit">
                                    <p class="complete">회원가입이 완료되었습니다.</p>
                                    <p id="joinMemberId" class="invisible">
                                        {{memberId}}님 회원가입을 축하합니다. 알차고 실속있는 서비스로 찾아뵙겠습니다.
                                    </p>
                                </div>
                                <div class="btn_member_sec">
                                    <ul>
                                        <li>
                                            <button id="btnHome" type="button">홈으로</button>
                                        </li>
                                        <li>
                                            <button id="btnLogin" class="btn_login" type="button">로그인</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <aside id="aside"></aside>
        <footer id="footer"></footer>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/join/complete.js"></script>
    </body>
</html>
