<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>Join</title>
    </head>

    <body>
        <header id="header"></header>
        <div id="contents" class="visible">
            <main class="sub_content">
                <div class="location_wrap">
                    <div class="location_cont">
                        <em><a href="/" class="local_home">HOME</a> &gt; 회원가입 &gt; 정보입력</em>
                    </div>
                </div>
                <div class="content_box">
                    <div class="join_base_wrap">
                        <div class="member_tit">
                            <h2>회원가입</h2>
                            <ol>
                                <li>
                                    <span>01</span> 약관동의<span><img src="/assets/img/member/icon_join_step_off.png" alt="" /></span>
                                </li>
                                <li class="page_on">
                                    <span>02</span> 정보입력<span><img src="/assets/img/member/icon_join_step_on.png" alt="" /></span>
                                </li>
                                <li><span>03</span> 가입완료</li>
                            </ol>
                        </div>
                        <script id="memberRegister" data-template-id="memberRegister" type="text/x-handlebars-template">
                            <div class="member_cont">
                                <div class="base_info_box">
                                    <h3>기본정보</h3>
                                    <span class="important">표시는 필수입력 항목입니다.</span>
                                    <div class="base_info_sec">
                                        <input type="hidden" id="memberNo" name="memberNo" value=""/>
                                        <input type="hidden" id="ci" name="ci" value="{{kcpAuth.ci}}"/>

                                        <table style="border: 0; border-spacing: 0;" cellpadding="0">
                                            <colgroup>
                                                <col style="width: 25%">
                                                <col style="width: 75%">
                                            </colgroup>
                                            <tbody id="memberRegisterForm">
                                            <tr>
                                                <th><span {{#ifEq memberJoinConfig.memberId 'REQUIRED'}}class="important"{{/ifEq}}>아이디</span></th>
                                                <td>
                                                    <div class="member_warning">
                                                        <input type="text" id="memberId" name="memberId" {{#ifEq memberJoinConfig.memberId 'REQUIRED'}}class="require"{{/ifEq}} minlength="5"  maxlength="35" data-pattern="userid" placeholder="아이디 입력"/>
                                                        <div class="warning_message"></div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><span {{#ifEq memberJoinConfig.password 'REQUIRED'}}class="important"{{/ifEq}}>비밀번호</span></th>
                                                <td>
                                                    <div class="password_wrap">
                                                        <div class="member_warning">
                                                            <input type="password" id="password" name="password" {{#ifEq memberJoinConfig.password 'REQUIRED'}}class="require"{{/ifEq}}
                                                                   autocomplete="new-password" minlength="8"  maxlength="20" data-pattern="noSpace" placeholder="영문,숫자,특수문자 중 3개 이상 조합하여 8~20자 입력"/>
                                                            <div class="warning_message"></div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><span {{#ifEq memberJoinConfig.password 'REQUIRED'}}class="important"{{/ifEq}}>비밀번호 확인</span></th>
                                                <td>
                                                    <div class="member_warning">
                                                        <input type="password" id="passwordChk" name="passwordChk" {{#ifEq memberJoinConfig.password 'REQUIRED'}}class="require"{{/ifEq}}
                                                               autocomplete="off"  value=""  minlength="8"  maxlength="20" data-pattern="noSpace" placeholder="비밀번호 한 번 더 입력"/>
                                                        <div class="warning_message"></div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><span {{#ifEq memberJoinConfig.memberName 'REQUIRED'}}class="important"{{/ifEq}}>이름</span></th>
                                                <td>
                                                    <div class="member_warning">
                                                        {{#if kcpAuth}}
                                                            <input type="text" id="memberName" name="memberName" maxlength="30" {{#ifEq memberJoinConfig.memberName 'REQUIRED'}}class="require"{{/ifEq}}
                                                                   value="{{kcpAuth.name}}" disabled/>
                                                        {{else}}
                                                            <input type="text" id="memberName" name="memberName" maxlength="30" {{#ifEq memberJoinConfig.memberName 'REQUIRED'}}class="require"{{/ifEq}}
                                                                   value="" placeholder="이름 입력" data-pattern="noSpecialSpace" />
                                                            <div class="warning_message"></div>
                                                        {{/if}}
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><span {{#ifEq memberJoinConfig.nickname 'REQUIRED'}}class="important"{{/ifEq}}>닉네임</span></th>
                                                <td>
                                                    <div class="member_warning">
                                                        <input type="text" id="nickname" name="nickname" {{#ifEq memberJoinConfig.nickname 'REQUIRED'}}class="require"{{/ifEq}} maxlength="20" value="" data-pattern="noSpecialSpace" />
                                                        <div class="warning_message"></div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><span {{#ifEq memberJoinConfig.email 'REQUIRED'}}class="important"{{/ifEq}}>이메일</span></th>
                                                <td class="member_email">
                                                    <div class="email_box">
                                                        <div class="member_warning">
                                                            <input type="text" name="email" id="emailId" {{#ifEq memberJoinConfig.email 'REQUIRED'}}class="require"{{/ifEq}}
                                                                   data-pattern="noPartSpecial"/>
                                                            @
                                                            <input type="text" name="email" id="emailDomain" {{#ifEq memberJoinConfig.email 'REQUIRED'}}class="require"{{/ifEq}}
                                                                   data-pattern="noPartSpecial"/>
                                                            {{#if needsEmailAuth}}
                                                            <span class="btn_auth_email">
                                                                <span class="btn_left_box"><button class="btn_send_email" name="sendAuth" data-auth-type="email">인증번호 발송</button></span>
                                                            </span>
                                                            {{/if}}
                                                            <div class="warning_message"></div>
                                                        </div>
                                                        <div class="auth_email hide">
                                                            <input type="text" id="authEmail" name="auth_email" placeholder="인증번호를 입력하세요." data-pattern="notNumber"/>
                                                            <span>유효시간 <span class="timer"></span></span>
                                                            <button class="btn_confirm_email" name="confirmAuth" data-auth-type="email">확인</button>
                                                            <div class="warning_message"></div>
                                                        </div>
                                                    </div>
                                                    <div id="emailCaptcha"></div>
                                                    <div class="form_element">
                                                        <input type="checkbox" name="direct-mail-agreed" id="directMailAgreed">
                                                        <label for="directMailAgreed" class="check_s">메일 수신 동의</label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><span {{#ifEq memberJoinConfig.mobileNo 'REQUIRED'}}class="important"{{/ifEq}}>휴대폰번호</span></th>
                                                <td class="member_mobile">
                                                    <div class="sms_box">
                                                        <div class="member_warning">
                                                            {{#if kcpAuth}}
                                                                <input type="text" id="mobileNo" name="mobileNo" maxlength="11"
                                                                       {{#ifEq memberJoinConfig.mobileNo 'REQUIRED'}}class="require"{{/ifEq}}
                                                                       value="{{kcpAuth.phone}}" disabled />
                                                            {{else}}
                                                                <input type="text" id="mobileNo" name="mobileNo" maxlength="11"
                                                                       {{#ifEq memberJoinConfig.mobileNo 'REQUIRED'}}class="require"{{/ifEq}}
                                                                       placeholder="휴대폰번호 – 없이 입력" data-pattern="notNumber"/>
                                                            {{/if}}
                                                            {{#if needsSmsAuth}}
                                                            <span class="btn_auth_sms">
                                                                <span class="btn_left_box">
                                                                    <button
                                                                      class="btn_send_sms" name="sendAuth" data-auth-type="sms">인증번호 발송</button>
                                                                </span>
                                                            </span>
                                                            {{/if}}
                                                            <div class="warning_message"></div>
                                                        </div>
                                                        <div class="auth_sms hide">
                                                            <input type="text" id="authSMS" name="auth_sms" placeholder="인증번호를 입력하세요." data-pattern="notNumber"/>
                                                            <span>유효시간 <span class="timer"></span></span>
                                                            <button class="btn_confirm_sms" name="confirmAuth" data-auth-type="sms">확인</button>
                                                            <div class="warning_message"></div>
                                                        </div>
                                                    </div>
                                                    <div id="smsCaptcha"></div>
                                                    <div class="form_element">
                                                        <input type="checkbox" name="direct-sms-agreed" id="smsAgreed">
                                                        <label for="smsAgreed" class="check_s">SMS 수신 동의</label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><span {{#ifEq memberJoinConfig.phoneNo 'REQUIRED'}}class="important"{{/ifEq}}>전화번호</span></th>
                                                <td>
                                                    <div class="member_warning">
                                                        <input type="text" id="telephoneNo" name="telephoneNo" {{#ifEq memberJoinConfig.phoneNo 'REQUIRED'}}class="require"{{/ifEq}}
                                                               maxlength="12" placeholder="전화번호 - 없이 입력"
                                                               value="" data-pattern="notNumber"/>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><span {{#ifEq memberJoinConfig.address 'REQUIRED'}}class="important"{{/ifEq}}>주소</span></th>
                                                <td class="member_address" id="memberAddress">
                                                    <div class="address_postcode">
                                                        <input type="text" name="zipCd" id="zipCd" readonly="readonly" {{#ifEq memberJoinConfig.address 'REQUIRED'}}class="require"{{/ifEq}}
                                                               value="{{memberAddress.zipCode}}"/>
                                                        <button type="button" id="btnPostcode" class="btn_post_search">
                                                            우편번호 찾기
                                                        </button>
                                                    </div>
                                                    <div class="address_input">
                                                        <div class="member_warning">
                                                            <input type="text" name="address" id="address" readonly="readonly" disabled
                                                                   value="{{memberAddress.address}}"/>
                                                            <input type="hidden" name="jibunAddress" id="jibunAddress"
                                                                   value="{{memberAddress.jibunAddress}}"/>
                                                        </div>
                                                        <div class="member_warning js_address_sub">
                                                            <input type="text" name="detailAddress"/>
                                                            <input type="hidden" name="jibunDetailAddress"
                                                                   value=""/>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><span {{#ifEq memberJoinConfig.birthday 'REQUIRED'}}class="important"{{/ifEq}}>생년월일</span></th>
                                                <td class="member_birthday">
                                                    <div class="member_warning">
                                                        <select name="birthYear" {{#ifNe kcpAuth null}}disabled{{/ifNe}}>
                                                            {{#each selectOptions.yearList}}
                                                                {{option value name ../year}}
                                                            {{/each}}
                                                        </select>
                                                        <select name="birthMonth" {{#ifNe kcpAuth null}}disabled{{/ifNe}}>
                                                            {{#each selectOptions.monthList}}
                                                                {{option value name ../month}}
                                                            {{/each}}
                                                        </select>
                                                        <select name="birthDay" {{#ifNe kcpAuth null}}disabled{{/ifNe}}>
                                                            {{#each selectOptions.dayList}}
                                                                {{option value name ../day}}
                                                            {{/each}}
                                                        </select>
                                                        <div class="warning_message"></div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><span {{#ifEq memberJoinConfig.sex 'REQUIRED'}}class="important"{{/ifEq}}>성별</span></th>
                                                <td>
                                                    <div class="member_warning">
                                                        <div class="form_element">
                                                            <ul>
                                                                {{#if kcpAuth}}
                                                                    <li class="inp_rdo">
                                                                        <input type="radio" name="sex" id="sexNon" disabled {{{checked null kcpAuth.sexCode}}}>
                                                                        <label for="sexNon" class="choice_s">선택 안 함</label>
                                                                    </li>
                                                                    <li>
                                                                        <input type="radio" name="sex" id="sexMan" disabled {{{checked "01" kcpAuth.sexCode "M"}}}>
                                                                        <label for="sexMan" class="choice_s">남자</label>
                                                                    </li>
                                                                    <li>
                                                                        <input type="radio" name="sex" id="sexWoman" disabled {{{checked "02" kcpAuth.sexCode "F"}}}>
                                                                        <label for="sexWoman" class="choice_s">여자</label>
                                                                    </li>
                                                                {{else}}
                                                                    <li class="inp_rdo">
                                                                        <input type="radio" name="sex" id="sexNon" value="null" checked>
                                                                        <label for="sexNon" class="choice_s">선택 안 함</label>
                                                                    </li>
                                                                    <li>
                                                                        <input type="radio" name="sex" id="sexMan" value="M">
                                                                        <label for="sexMan" class="choice_s">남자</label>
                                                                    </li>
                                                                    <li>
                                                                        <input type="radio" name="sex" id="sexWoman" value="F">
                                                                        <label for="sexWoman" class="choice_s">여자</label>
                                                                    </li>
                                                                {{/if}}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </script>
                        <div class="btn_center_box">
                            <button type="button" id="btnCancel" class="btn_member_cancel">이전단계</button>
                            <button type="button" class="btn_comfirm js_btn_join" value="가입완료">
                                가입완료
                            </button>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <aside id="aside"></aside>
        <footer id="footer"></footer>
        <div id="popups-area"></div>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/join/join.js"></script>
    </body>
</html>
