<div id="navigation" class="wrap">
    <div class="header_wrap">
        <header>
            <div class="header_box">
                <!-- 좌측 메뉴 -->
                <ul class="left_menu invisible" id="logo">
                    <li>
                        <a href="#" class="side_menu btnOpenSideMenu"><span>메뉴</span></a>
                    </li>
                    <a href="{{landingUrl}}" class="h_logo" id="banner-logo">
                        {{img imageUrl}}
                    </a>
                </ul>
                <!-- 우측 메뉴 -->
                <ul class="right_menu invisible" id="headerTop">
                    <li>
                        <button class="top_search bn_srch btnSearchGlobal"><span>검색</span></button>
                    </li>
                    <li>
                        <a href="/pages/order/cart.html" class="cart"><span>장바구니</span><span class="cart_count" id="js_cart_length">0</span></a>
                    </li>
                </ul>
            </div>
        </header>
    </div>
    <nav>
        <div class="bg"></div>
        <div class="nav_bg_box">
            <div class="nav_box">
                <div class="nav_iscroll_box">
                    <div class="nav_content_box">
                        <div class="nav_banner">
                            <div class="nav_login" id="naviLogin">
                                <ul>
                                    {{#if logined}}
                                    <li><a href="/pages/my/mypage.html">MY PAGE </a></li>
                                    <li><a href="/" id="logout">LOG OUT</a></li>
                                    {{else}}
                                    <li><a href="/pages/login/login.html">LOG IN</a></li>
                                    <li><a href="/pages/join/method.html" class="btnJoin">JOIN</a></li>
                                    {{/if}}
                                </ul>
                            </div>
                            <!--{ / }-->
                            <a href="#" class="left_close btnCloseSideMenu"></a>
                        </div>
                        <!-- //nav_banner -->
                        <div class="nav_category">
                            <div class="nav_tabmenu_box">
                                <div class="tab_menu0">
                                    <p class="prd_tit">CATEGORY</p>
                                    <div class="prd_cate" id="category-navigation">
                                        {{#if multiLevelCategories}}
                                        <ul class="category_side">
                                            {{#each multiLevelCategories}}
                                            <li>
                                                {{#if children}}
                                                <a href="#">{{label}}<span class="icon_plus">ICON</span></a>
                                                <ul>
                                                    <li>
                                                        <a href="/pages/product/list.html?categoryNo={{categoryNo}}" class="icon_arrow">ALL</a>
                                                    </li>
                                                    {{#each children}}
                                                    <li>
                                                        {{#if children}}
                                                        <a href="#">{{label}}<span class="icon_plus">ICON</span></a>
                                                        <ul>
                                                            <li>
                                                                <a href="/pages/product/list.html?categoryNo={{categoryNo}}" class="icon_arrow">ALL</a>
                                                            </li>
                                                            {{#each children}}
                                                            <li>
                                                                <a href="/pages/product/list.html?categoryNo={{categoryNo}}">{{label}}</a>
                                                            </li>
                                                            {{/each}}
                                                        </ul>
                                                        {{else}}
                                                        <a href="/pages/product/list.html?categoryNo={{categoryNo}}">{{label}}</a>
                                                        {{/if}}
                                                    </li>
                                                    {{/each}}
                                                </ul>
                                                {{else}}
                                                <a href="/pages/product/list.html?categoryNo={{categoryNo}}">{{label}}</a>
                                                {{/if}}
                                            </li>
                                            {{/each}}
                                        </ul>
                                        {{/if}}
                                    </div>
                                    <!-- //prd_cate -->
                                </div>
                                <!-- //tab_menu0 -->

                                <div class="tab_menu0">
                                    <p class="prd_tit">COMMUNITY</p>
                                    <div class="prd_cate">
                                        <ul class="category_side" id="board-navigation">
                                            <!--  is updated? -->
                                            {{#if inquiryConfig.used}}
                                            <li>
                                                <a href="/pages/my/inquiries.html">{{inquiryConfig.name}}</a>
                                            </li>
                                            {{/if}} {{#if productReviewConfig.used}}
                                            <li>
                                                <a href="/pages/my/product-reviews.html">{{productReviewConfig.name}}</a>
                                            </li>
                                            {{/if}} {{#if productInquiryConfig.used}}
                                            <li>
                                                <a href="/pages/my/product-inquiries.html">{{productInquiryConfig.name}}</a>
                                            </li>
                                            {{/if}} {{#each boardConfigs}} {{#if used}}
                                            <li>
                                                <a href="/pages/board/list.html?boardId={{boardId}}">{{name}}</a>
                                            </li>
                                            {{/if}} {{/each}}
                                        </ul>
                                    </div>
                                    <!-- //prd_cate -->
                                </div>
                            </div>
                            <p class="nav_footer">© Another</p>
                        </div>
                    </div>
                    <!-- //nav_content_box -->
                </div>
            </div>
            <!-- //nav_box -->
        </div>
        <!-- //nav_bg_box -->
    </nav>
</div>

<script type="text/javascript" src="/js/components/header.js"></script>
