<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <meta name="author" content="쇼핑몰명" />
        <meta name="description" content="쇼핑몰명" />
        <meta name="keywords" content="쇼핑몰명" />

        <meta property="og:type" content="website" />
        <meta property="og:title" content="쇼핑몰명" />
        <!--배너관리에 사용중인 스킨의 노출중인 로고 url-->
        <!--*현재 로고이미지를 쇼핑몰 대표 이미지로 별도 저장하고 있어 로고이미지 변경 시 쇼핑몰 대표 이미지도 변경처리되며 추후 쇼핑몰 대표 이미지 항목 추가 시 해당 항목으로 마이그레이션 예정-->
        <meta property="og:image" content="/assets/img/banner/top-logo.png" />
        <meta property="og:url" content="" />
        <!--*추후 쇼핑몰 설명 항목으로 대체-->
        <meta property="og:description" content="여기를 눌러 링크를 확인하세요." />

        <meta property="og:image:width" content="width" />
        <meta property="og:image:height" content="height" />

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="쇼핑몰명" />
        <!--*추후 쇼핑몰 설명 항목으로 대체-->
        <meta name="twitter:description" content="여기를 눌러 링크를 확인하세요." />
        <meta name="twitter:image" content="/assets/img/banner/top-logo.png" />

        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/js/pages/ie-support-end/browser.js"></script>
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>쇼핑몰명</title>
    </head>
    <body>
        <header id="header"></header>
        <div id="contents">
            <main id="promotionBanner" class="sub_content main">
                {{#if BANNER01}}
                <div class="main_visual">
                    <div class="slider-wrap slider-banner" id="banner-BANNER01">
                        {{#each BANNER01.bannerImages}}
                        <div>
                            <a href="{{landingUrl}}" target="{{#ifEq openLocationType 'NEW'}}_blank{{/ifEq}}">
                                {{img imageUrl '' '' '슬라이드 배너' '' 'max-width:100%'}}
                            </a>
                        </div>
                        {{/each}}
                    </div>
                </div>
                {{/if}}

                <div class="main_content main_banner_row">
                    <div class="main_left_banner">
                        {{#each BANNER10.bannerImages}}
                        <div class="main_left_banner">
                            <div>
                                <a href="{{landingUrl}}" target="{{#ifEq openLocationType 'NEW'}}_blank{{/ifEq}}" id="banner-BANNER10">
                                    {{img imageUrl}}
                                </a>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="main_right_goods">
                        <!-- 메인 상품 노출 -->
                        <div class="goods_list main_wrap_1 main_goods_cont" id="goodsList-SCPC0001" style="display: none;"></div>
                    </div>
                </div>
                <div class="main_content">
                    <!-- 배너 2단 -->
                    <div class="main_banner_row">
                        {{#each BANNER02.bannerImages}}
                        <div class="main_banner_column">
                            <div>
                                <a href="{{landingUrl}}" target="{{#ifEq openLocationType 'NEW'}}_blank{{/ifEq}}" id="banner-BANNER02">
                                    {{img imageUrl}}
                                </a>
                            </div>
                        </div>
                        {{/each}} {{#each BANNER03.bannerImages}}
                        <div class="main_banner_column">
                            <div>
                                <a href="{{landingUrl}}" target="{{#ifEq openLocationType 'NEW'}}_blank{{/ifEq}}" id="banner-BANNER03">
                                    {{img imageUrl}}
                                </a>
                            </div>
                        </div>
                        {{/each}}
                    </div>

                    <!-- 메인 상품 노출 -->
                    <div class="goods_list main_wrap_1 main_goods_cont" id="goodsList-SCPC0002" style="display: none;"></div>
                    <!-- 배너 2단 복합 -->
                    <div class="main_banner_2">
                        {{#each BANNER04.bannerImages}}
                        <div class="main_banner_2_left">
                            <a href="{{landingUrl}}" id="banner-BANNER04">{{img imageUrl}}</a>
                        </div>
                        {{/each}}
                        <div class="main_banner_2_right">
                            {{#each BANNER05.bannerImages}}
                            <a href="{{landingUrl}}" id="banner-BANNER05">{{img imageUrl}}</a>
                            {{/each}} {{#each BANNER06.bannerImages}}
                            <div>
                                <a href="{{landingUrl}}" id="banner-BANNER06">{{img imageUrl}}</a>
                            </div>
                            {{/each}}
                        </div>
                    </div>

                    <!--배너 1단 : 하단 -->
                    {{#if BANNER07}}
                    <div class="main_cont_slide_ban">
                        <div class="main_cont_slide">
                            {{#each BANNER07.bannerImages}}
                            <div>
                                <a href="{{landingUrl}}" target="{{#ifEq openLocationType 'NEW'}}_blank{{/ifEq}}" id="banner-BANNER07">{{img imageUrl}}</a>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    {{/if}}
                    <!-- 메인 상품 노출 -->
                    <div class="goods_list main_wrap_1 main_goods_cont" id="goodsList-SCPC0003" style="display: none;"></div>
                    <div class="goods_list main_wrap_1 main_goods_cont" id="goodsList-SCPC0004" style="display: none;"></div>
                    <div class="goods_list main_wrap_1 main_goods_cont" id="goodsList-SCPC0005" style="display: none;"></div>

                    <!-- 플러스 리뷰 위젯 -->
                    <div class="plus-review_widget" id="plus-review-widget">
                        <div class="main_goods_cont" id="all-review"></div>
                        <div class="main_goods_cont" id="photo-review"></div>
                        <div class="main_goods_cont" id="product-review"></div>
                    </div>

                    <!-- 인스타그램 위젯 -->
                    <div class="instagram_widget" id="instagram-widget" style="display: none;"></div>
                </div>
            </main>
        </div>
        <aside id="aside"></aside>
        <footer id="footer"></footer>
        <div id="popups-area"></div>

        <!-- 1. 갤러리형 -->
        <!-- 핸들바 기본 방식 -->
        <script id="product-list-type-gallery" type="text/x-handlebars-template">
                <div class="item_gallery_type">
                <ul>
                    {{#each productList}}
                    <li data-product-no="{{productNo}}" style="width:25%">
                        <div class="item_cont">
                            <div class="item_photo_box">
                                <a
                                  href="/pages/product/view.html?productNo={{productNo}}"
                                  class="{{#if adult}}item_adult{{/if}}"
                                >
                                    {{img listImageUrls 180 180 productName 'middle'}} {{#if
                                    adult}}
                                    <strong
                                      class="item_adult_bg"
                                      style="background-image:url('/assets/img/icon/goods_icon/only_adult_pc.png'); display:block;"
                                    >19금</strong
                                    >
                                    {{/if}} {{#if isSoldOut}}
                                    <strong
                                      class="item_soldout_bg"
                                      style="background-image:url('/assets/img/icon/goods_icon/soldout.png'); display:block;"
                                    >SOLD OUT</strong
                                    >
                                    {{/if}} {{#ifEq saleStatusType 'READY'}}
                                    <div class="item_sell_ing"><span>판매임박</span></div>
                                    {{/ifEq}} {{#ifEq saleStatusType 'FINISHED'}}
                                    <div class="item_sell_ing"><span>판매종료</span></div>
                                    {{/ifEq}}
                                </a>
                                <a
                                  class="item_wish {{#if liked}}on{{/if}}"
                                  id="wishBtn"
                                  href="#"
                                ></a >
                            </div>
                            <div class="item_info_cont">
                                <div class="item_tit_box">
                                    {{#if brandName}}
                                    <span class="item_brand">
                                     <strong>{{brandName}}</strong>
                                    </span>
                                    {{else}}
                                    <span class="item_brand">
                                     <strong>{{brandNameEn}}</strong>
                                    </span>
                                    {{/if}}
                                    <a href="/pages/product/view.html?productNo={{productNo}}">
                                        <strong class="item_name">{{safeString productName}}</strong>
                                        {{#if promotionText}}
                                        <span class="item_name_explain">{{promotionText}}</span>
                                        {{/if}}
                                    </a>
                                </div>
                                <div class="item_money_box">
                                    {{#ifHasDiscount immediateDiscountAmt additionDiscountAmt}}
                                    <del>{{toCurrencyString salePrice}}원</del>
                                    {{/ifHasDiscount}}
                                    <strong class="item_price">
                                        <b>{{toCurrencyString calculatedSalePrice}}</b>원
                                    </strong>
                                </div>
                                <div class="item_icon_box">
                                    {{#each stickerInfos}} {{#ifEq type 'TEXT'}}
                                    <span>{{label}}</span>
                                    {{else}} {{img label}} {{/ifEq}} {{/each}}
                                </div>
                            </div>
                        </div>
                    </li>
                    {{else}}
                    <div class="goods_no_data"><strong>상품이 존재하지 않습니다.</strong></div>
                    {{/each}}
                </ul>
            </div>
        </script>

        <!-- 2. 리스트형 -->
        <script id="product-list-type-list" type="text/x-handlebars-template">
            <div class="item_list_type">
                <ul>
                    {{#each productList}}
                        <li data-product-no="{{productNo}}">
                            <div class="item_cont">
                                <div class="item_photo_box">
                                    <a href="/pages/product/view.html?productNo={{productNo}}" {{#if adult}}class="item_adult"{{/if}}>
                                    {{img listImageUrls 180 180 productName 'middle'}}
                                    {{#if adult}}
                                        <strong class="item_adult_bg" style="background-image:url(/assets/img/icon/goods_icon/only_adult_pc.png); display:block;">19금</strong>
                                    {{/if}}
                                    {{#if isSoldOut}}
                                        <strong
                                                class="item_soldout_bg"
                                                style="background-image:url('/assets/img/icon/goods_icon/soldout.png'); display:block;"
                                        >SOLD OUT</strong
                                        >
                                    {{/if}}
                                    {{#ifEq saleStatusType 'READY'}}<div class="item_sell_ing"><span>판매임박</span></div>{{/ifEq}}
                                    {{#ifEq saleStatusType 'FINISHED'}}<div class="item_sell_ing"><span>판매종료</span></div>{{/ifEq}}
                                    </a>
                                </div>
                                <div class="item_info_cont">
                                    <div class="item_info_list">
                                        <div class="item_tit_box">
                                            {{#if brandName}}
                                            <span class="item_brand">
                                        <strong>{{brandName}}</strong>
                                            </span>
                                            {{else}}
                                            <span class="item_brand">
                                             <strong>{{brandNameEn}}</strong>
                                            </span>
                                            {{/if}}
                                            <a href="/pages/product/view.html?productNo={{productNo}}">
                                            <strong class="item_name">{{safeString productName}}</strong>
                                            {{#if promotionText}}
                                                <span class="item_name_explain">{{promotionText}}</span>
                                            {{/if}}
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item_money_box">
                                        <strong class="item_price">
                                            <b>{{toCurrencyString calculatedSalePrice}}</b>원
                                        </strong>
                                        {{#ifHasDiscount immediateDiscountAmt additionDiscountAmt}}
                                            <del>{{toCurrencyString salePrice}}원</del>
                                        {{/ifHasDiscount}}
                                    </div>
                                    <div class="item_icon_box">
                                        {{#each stickerInfos}}
                                            {{#ifEq type 'TEXT'}}
                                                <span>{{label}}</span>
                                            {{else}}
                                                {{img label}}
                                            {{/ifEq}}
                                        {{/each}}
                                    </div>
                                </div>
                                <div class="item_btn_box">
                                    <button class="btn_list_cart btn_add_cart" id="cartBtn" {{#if isUnablePurchasing}}disabled{{/if}}><span>장바구니</span></button><!-- 비활성화 시 button 에 disabled 추가 -->                                    <button class="btn_list_get btn_add_wish {{#if liked}}on{{/if}}" id="wishBtn"><span>찜하기</span></button><!-- 찜하기 선택 시 button 에 on 추가 -->
                                </div>
                            </div>
                        </li>
                    {{else}}
                        <div class="goods_no_data"><strong>상품이 존재하지 않습니다.</strong></div>
                    {{/each}}
                </ul>
            </div>
        </script>

        <!-- 3. 장바구니 -->
        <script id="product-list-type-basket" type="text/x-handlebars-template">
            <div class="item_basket_type">
                <ul>
                    {{#each productList}}
                        <li data-product-no="{{productNo}}" style="width:25%">
                            <div class="item_cont">
                                <div class="item_photo_box">
                                    <a href="/pages/product/view.html?productNo={{productNo}}" {{#if adult}}class="item_adult"{{/if}}>
                                    {{img listImageUrls 180 180 productName 'middle'}}
                                     {{#if adult}}
                                        <strong class="item_adult_bg" style="background-image:url(/assets/img/icon/goods_icon/only_adult_pc.png); display:block;">19금</strong>
                                    {{/if}}
                                    {{#if isSoldOut}}
                                        <strong
                                                class="item_soldout_bg"
                                                style="background-image:url('/assets/img/icon/goods_icon/soldout.png'); display:block;"
                                        >SOLD OUT</strong
                                        >
                                    {{/if}}
                                    {{#ifEq saleStatusType 'READY'}}<div class="item_sell_ing"><span>판매임박</span></div>{{/ifEq}}
                                    {{#ifEq saleStatusType 'FINISHED'}}<div class="item_sell_ing"><span>판매종료</span></div>{{/ifEq}}
                                    </a>
                                    <div class="item_link">
                                        <button type="button" class="btn_basket_get btn_add_wish {{#if liked}}on{{/if}}"  id="wishBtn"><span>찜하기</span></button>
                                        <button type="button" class="btn_basket_cart btn_add_cart" id="cartBtn" {{#if isUnablePurchasing}}disabled{{/if}}><span>장바구니</span></button><!-- 비활성화 시 button 에 disabled 추가 -->                                    </div>
                                </div>
                                <div class="item_info_cont">
                                    <div class="item_tit_box">
                                        {{#if brandName}}
                                        <span class="item_brand">
                                           <strong>{{brandName}}</strong>
                                        </span>
                                        {{else}}
                                         <span class="item_brand">
                                            <strong>{{brandNameEn}}</strong>
                                        </span>
                                        {{/if}}
                                        <a href="/pages/product/view.html?productNo={{productNo}}">
                                        <strong class="item_name">{{safeString productName}}</strong>
                                        {{#if promotionText}}
                                            <span class="item_name_explain">{{promotionText}}</span>
                                        {{/if}}
                                        </a>
                                    </div>
                                    <div class="item_money_box">
                                        {{#ifHasDiscount immediateDiscountAmt additionDiscountAmt}}
                                            <del>{{toCurrencyString salePrice}}원</del>
                                        {{/ifHasDiscount}}
                                        <strong class="item_price">
                                            <b>{{toCurrencyString calculatedSalePrice}}</b>원
                                        </strong>
                                    </div>

                                    <div class="item_icon_box">
                                        {{#each stickerInfos}}
                                            {{#ifEq type 'TEXT'}}
                                                <span>{{label}}</span>
                                            {{else}}
                                                {{img label}}
                                            {{/ifEq}}
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </li>
                    {{else}}
                        <div class="goods_no_data"><strong>{=__('상품이 존재하지 않습니다.')}</strong></div>
                    {{/each}}
                </ul>
            </div>
        </script>

        <!-- 4. 심플이미지 -->
        <script id="product-list-type-simple" type="text/x-handlebars-template">
            <div class="item_simple_type">
                <ul>
                    {{#each productList}}
                        <li data-product-no="{{productNo}}" style="width:25%">
                            <div class="item_cont">
                                <div class="item_photo_box">
                                    <a class="item_wish {{#if liked}}on{{/if}}" href="#"  id="wishBtn"></a>
                                    <a href="/pages/product/view.html?productNo={{productNo}}" {{#if adult}}class="item_adult"{{/if}}>
                                    {{img listImageUrls 180 180 productName 'middle'}}
                                    {{#if adult}}
                                        <strong class="item_adult_bg" style="background-image:url(/assets/img/icon/goods_icon/only_adult_pc.png); display:block;">19금</strong>
                                    {{/if}}
                                    {{#if isSoldOut}}
                                        <strong
                                                class="item_soldout_bg"
                                                style="background-image:url('/assets/img/icon/goods_icon/soldout.png'); display:block;"
                                        >SOLD OUT</strong
                                        >
                                    {{/if}}
                                    {{#ifEq saleStatusType 'READY'}}<div class="item_sell_ing"><span>판매임박</span></div>{{/ifEq}}
                                    {{#ifEq saleStatusType 'FINISHED'}}<div class="item_sell_ing"><span>판매종료</span></div>{{/ifEq}}
                                    <div class="item_simple_over">
                                        <div class="item_simple_info">
                                            <div class="item_info_cont">
                                                <div class="item_tit_box">
                                                    {{#if brandName}}
                                                        <span class="item_brand">
                                                <strong>{{brandName}}</strong>
                                            </span>
                                                    {{else}}
                                                        <span class="item_brand">
                                                    <strong>{{brandNameEn}}</strong>
                                                </span>
                                                    {{/if}}
                                                    <strong class="item_name">{{safeString productName}}</strong>
                                                    {{#if promotionText}}
                                                        <span class="item_name_explain">{{promotionText}}</span>
                                                    {{/if}}
                                                </div>
                                                <div class="item_money_box">
                                                    {{#ifHasDiscount immediateDiscountAmt additionDiscountAmt}}
                                                        <del>{{toCurrencyString salePrice}}원</del>
                                                    {{/ifHasDiscount}}
                                                    <strong class="item_price">
                                                        <b>{{toCurrencyString calculatedSalePrice}}</b>원
                                                    </strong>
                                                </div>
                                                <div class="item_icon_box">
                                                    {{#each stickerInfos}}
                                                        {{#ifEq type 'TEXT'}}
                                                            <span>{{label}}</span>
                                                        {{else}}
                                                            {{img label}}
                                                        {{/ifEq}}
                                                    {{/each}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                    {{else}}
                        <div class="goods_no_data"><strong>상품이 존재하지 않습니다.</strong></div>
                    {{/each}}
                </ul>
            </div>
        </script>

        <!-- 5. 상품이동 -->
        <script id="product-list-type-slide" type="text/x-handlebars-template">
            <div class="item_slide_horizontal">
                <ul class="slide_horizontal_1">
                    {{#each productList}}
                        <li data-product-no="{{productNo}}">
                            <div class="item_cont" style="text-align:center;">
                                <div class="item_photo_box">
                                    <a href="/pages/product/view.html?productNo={{productNo}}" {{#if adult}}class="item_adult"{{/if}}>
                                    {{img listImageUrls 180 180 productName 'middle'}}
                                    {{#if adult}}
                                        <strong class="item_adult_bg" style="background-image:url(/assets/img/icon/goods_icon/only_adult_pc.png); display:block;">19금</strong>
                                    {{/if}}
                                    {{#if isSoldOut}}
                                        <strong
                                                class="item_soldout_bg"
                                                style="background-image:url('/assets/img/icon/goods_icon/soldout.png'); display:block;"
                                        >SOLD OUT</strong
                                        >
                                    {{/if}}
                                    {{#ifEq saleStatusType 'READY'}}<div class="item_sell_ing"><span>판매임박</span></div>{{/ifEq}}
                                    {{#ifEq saleStatusType 'FINISHED'}}<div class="item_sell_ing"><span>판매종료</span></div>{{/ifEq}}

                                    </a>
                                    <a class="item_wish {{#if liked}}on{{/if}}" href="#"  id="wishBtn"></a>
                                </div>
                                <div class="item_info_cont" style="display:block; text-align: center;">
                                    <div class="item_tit_box">
                                        {{#if brandName}}
                                        <span class="item_brand">
                                         <strong>{{brandName}}</strong>
                                         </span>
                                        {{else}}
                                        <span class="item_brand">
                                         <strong>{{brandNameEn}}</strong>
                                       </span>
                                        {{/if}}
                                        <a href="/pages/product/view.html?productNo={{productNo}}">
                                        <strong class="item_name">{{safeString productName}}</strong>
                                        {{#if promotionText}}
                                            <span class="item_name_explain">{{promotionText}}</span>
                                        {{/if}}
                                        </a>
                                    </div>
                                    <div class="item_money_box">
                                        {{#ifHasDiscount immediateDiscountAmt additionDiscountAmt}}
                                            <del>{{toCurrencyString salePrice}}원</del>
                                        {{/ifHasDiscount}}
                                        <strong class="item_price">
                                            <b>{{toCurrencyString calculatedSalePrice}}</b>원
                                        </strong>
                                    </div>
                                    <div class="item_icon_box">
                                        {{#each stickerInfos}}
                                            {{#ifEq type 'TEXT'}}
                                                <span>{{label}}</span>
                                            {{else}}
                                                {{img label}}
                                            {{/ifEq}}
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </li>
                    {{else}}
                        <div class="goods_no_data"><strong>상품이 존재하지 않습니다.</strong></div>
                    {{/each}}
                </ul>
            </div>
        </script>

        <!-- 위젯(전체, 포토) -->
        <script id="widget-list-allPhoto-template" type="text/x-handlebars-template">
            <div class="widget-head">
                <h3 class="widget-tit">{{#ifEq type 'ALL'}}상품후기{{else}}포토후기{{/ifEq}}</h3>
                <a href="/pages/board/product-reviews.html?boardType={{#ifEq type 'ALL'}}ALL{{else}}PHOTO{{/ifEq}}" class="widget-btn">
                    {{#ifEq type 'ALL'}}전체 상품후기 보기{{else}}포토 상품후기 보기{{/ifEq}}
                </a>
            </div>
            {{#if widgetList}}
            <ul class="plusReviewList">
                {{#each widgetList}}
                <li>
                    <div class="p-thumb">
                        <a
                        href="javascript:;"
                        data-review-no="{{reviewNo}}"
                        data-product-no="{{productInfo.no}}"
                        data-type="{{#ifEq type 'ALL'}}ALL{{else}}PHOTO{{/ifEq}}"
                        class="photo-display-popup-open"
                        >
                            <span class="img-frame img-frame--normal">
                                {{#if images.length}}
                                {{img images.[0] productInfo.name}}
                                {{/if}} {{#if images.length}} {{#ifEq images.length 1}} {{else}}
                                <span class="p-thumb__file-count">
                                    {{images.length}}
                                </span>
                                {{/ifEq}} {{/if}}
                            </span>
                            <div class="p-thumb__desc">
                                <p>
                                    <span class="collapse-2">
                                        {{#if isBestReview}}
                                        <em class="tag">best</em>
                                        {{/if}} {{content}}
                                    </span>
                                    <span class="p-thumb__auth">{{register.name}}</span>
                                </p>
                            </div>
                        </a>
                        <a href="/pages/product/view.html?productNo={{productInfo.no}}" class="p-thumb__desc">
                            <span class="img-frame">
                                <img src="{{productInfo.thumbnailImage}}" alt="{{productInfo.name}}" />
                            </span>
                            <p>
                                <span class="collapse-1">{{productInfo.name}}</span>
                                <em class="p-thumb__comment-cnt"> 후기:<span>{{productInfo.totalReviewCount}}</span> </em>
                            </p>
                        </a>
                    </div>
                </li>
                {{/each}}
            </ul>
            {{else}}
            <p class="p-empty em">
                <span class="p-empty-ico"></span>
                게시글이 존재하지 않습니다.
            </p>
            {{/if}}
        </script>

        <!-- 위젯(상품 후기) -->
        <script id="widget-list-reviewedProducts-template" type="text/x-handlebars-template">
            <div class='main_goods_cont' id='plus-review-widget-container'>
                <div class='widget-head'>
                    <h3 class='widget-tit'>
                        상품별 후기
                    </h3>
                    <a href='/pages/board/product-reviews.html?boardType=REVIEWED_PRODUCTS' class='widget-btn'>
                        전체 상품후기 보기
                    </a>
                </div>
                {{#if widgetList}}
                <ul class='plusReviewList'>
                    {{#each widgetList}}
                    <li>
                        <div class='p-thumb'>
                            <a href="/pages/product/view.html?productNo={{productNo}}">
                                <span class='img-frame img-frame--normal'>
                                    {{#if mainImage}}
                                    {{img mainImage productName}}
                                    {{/if}}
                                </span>
                                <div class='p-thumb__desc'>
                                    <p>
                                        <span class='collapse-1'>
                                            {{productName}}
                                        </span>
                                        <span class='p-thumb__price em'>
                                            {{toCurrencyString salePrice}} 원 | 즉시 할인가 {{toCurrencyString appliedImmediateDiscountPrice}}원
                                        </span>
                                        <span class='p-thumb__comment'>
                                            <em class='em'>
                                                후기:
                                                <span>
                                                    {{totalReviewCount}}
                                                </span>
                                            </em>
                                            <em class='em'>
                                                평점:
                                                <span>
                                                    {{reviewRate}}
                                                </span>
                                            </em>
                                        </span>
                                    </p>
                                </div>
                            </a>
                            {{#if reviews}}
                                {{#each reviews}}
                                <a
                                        href="javascript:;"
                                        data-review-no="{{reviewNo}}"
                                        data-product-no="{{../productNo}}"
                                        data-type="REVIEWED_PRODUCTS"
                                        class="photo-display-popup-open"
                                        >
                                    <div class='p-thumb__desc'>

                                            <span class='img-frame'>
                                                {{#if attachedImage}}
                                                {{img attachedImage content}}
                                                {{/if}}
                                            </span>
                                            <p>
                                                <span class='collapse-2'>
                                                    {{#if isBestReview}}
                                                        <em class='tag'>
                                                            best
                                                        </em>
                                                    {{/if}}
                                                    {{content}}
                                                </span>
                                            </p>

                                    </div>
                                </a>
                                {{/each}}
                            {{/if}}
                        </div>
                    </li>
                    {{/each}}
                </ul>
                {{else}}
                <p class='p-empty em'>
                    <span class='p-empty-ico'></span>
                    게시글이 존재하지 않습니다.
                </p>
                {{/if}}
            </div>
        </script>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/index.js"></script>
    </body>
</html>
