<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>Cart</title>
    </head>

    <body>
        <script id="cartOptionsTemplate" type="text/x-handlebars-template">
            {{#each options}}
            <dl data-depth="{{@index}}" name="optionSelectBox">
                <dt>{{safeString label}}</dt>
                <dd>
                    <select can-change-option="true" data-selected-index="{{selectedIndex}}">
                        {{#each optionValues}}
                            <option value="{{value}}" {{#ifEq ../selectedIndex @index}}selected{{/ifEq}} {{disabled}}>{{safeString value}}</option>
                        {{/each}}
                    </select>
                </dd>
            </dl>
            {{/each}}
        </script>
        <script id="cartTextOptionsTemplate" type="text/x-handlebars-template">
            {{#each textOptions}}
                {{#ifEq inputMatchingType 'PRODUCT'}}
                <dl>
                    <dt>{{safeString inputLabel}}</dt>
                    <dd>
                        <input type="text" can-change-option="true" name="textOptionItem" data-text-input-no="{{inputNo}}"  data-label="{{inputLabel}}" data-reqired="{{#if required}}yes{{/if}}"  maxlength="101" value="{{safeString value}}" />
                    </dd>
                </dl>
                {{/ifEq}}
            {{/each}}
            {{#each optionalTextOptions}}
                <dl>
                    <dt>{{safeString inputLabel}}</dt>
                    <dd>
                        <input type="text" can-change-option="true" name="textOptionItem" data-text-input-no="{{inputNo}}"  data-label="{{inputLabel}}" data-reqired="{{#if required}}yes{{/if}}"  maxlength="101" value="{{safeString value}}" />
                    </dd>
                </dl>
            {{/each}}
        </script>
        <script id="cartContentsTemplate" type="text/x-handlebars-template">
            <div class="order_cart_tit"></div>
            {{#if carts}}
                <div class="order_table_type">
                    <table>
                        <colgroup>
                            <col style="width:3%">
                            <!-- 체크박스 -->
                            <col>
                            <!-- 상품명/옵션 -->
                            <col style="width:10%">
                            <!-- 수량 -->
                            <col style="width:10%">
                            <!-- 상품금액 -->
                            <col style="width:13%">
                            <!-- 할인/적립 -->
                            <col style="width:10%">
                            <!-- 합계금액 -->
                            <col style="width:10%">
                            <!-- 배송비 -->
                        </colgroup>
                        <thead>
                        <tr>
                            <th>
                                <div class="form_element">
                                    <input type="checkbox" id="allChecked" name="all" checked>
                                    <label for="allChecked" class="check_s"></label>
                                </div>
                            </th>
                            <th>
                                상품/옵션 정보
                            </th>
                            <th>
                                수량
                            </th>
                            <th>
                                상품금액
                            </th>
                            <th>
                                할인/적립
                            </th>
                            <th>
                                합계금액
                            </th>
                            <th>
                                배송비
                            </th>
                        </tr>
                        </thead>
                        <tbody >
                        {{#each carts}}
                            <tr data-product-no="{{product.productNo}}" data-cart-no="{{option.cartNo}}" data-option-no="{{option.optionNo}}" data-option-used={{product.optionUsed}} data-order-cnt="{{option.orderCnt}}" data-stock-cnt="{{option.stockCnt}}" style="height: 79px;">
                                <td class="td_chk">
                                    <div class="form_element">
                                        <input type="checkbox" name="checked" id="check-{{option.cartNo}}" checked>
                                        <label for="check-{{option.cartNo}}" class="check_s"></label>
                                    </div>
                                </td>
                                <td class="td_left">
                                    <div class="pick_add_cont">
                                                <span class="pick_add_img">
                                                    <a href="/pages/product/view.html?productNo={{product.productNo}}">
                                                        <img src="{{product.imageUrl}}" alt="{{product.productName}}" title="{{product.productName}}" class="middle">
                                                    </a>
                                                    {{#if valid}}
                                                        <div>
                                                       <span class="btn_left_box">
                                                           <button type="button" class="btnChangeOption" data-edit-status="complete">옵션/수량 변경</button>
                                                       </span>
                                                    </div>
                                                    {{/if}}
                                                </span>
                                        <div class="pick_add_info">
                                            {{#if valid}}
                                                {{#if isLimitations}}
                                                    <div class="icon_exclamationmark">구매수량 제한 상품</div>
                                                {{else if isDuplicateCart}}
                                                    <div class="icon_exclamationmark">중복상품</div>
                                                {{/if}}
                                            {{else}}
                                                <div class="icon_exclamationmark">구매제한 상품</div>
                                            {{/if}}

                                            <em><a class="cart_type" href="/pages/product/view.html?productNo={{product.productNo}}">{{safeString product.productName}}</a></em>

                                            {{#if product.optionUsed}}
                                                {{#ifEq product.selectType 'MULTI'}}
                                                {{#each option.options}}
                                                    <dl data-depth="{{@index}}" name="optionSelectBox" origin="true">
                                                        <dt>{{safeString name}}</dt>
                                                        <dd>
                                                            <select can-change-option="true" disabled data-selected-value="{{value}}">
                                                                {{#if @last}}
                                                                    <option value="{{value}}" selected>{{safeString value}} (+{{toCurrencyString ../option.price.addPrice}} 원){{#ifEq ../../displayStock true }} / 재고 : {{../option.stockCnt}}개{{/ifEq}}</option>
                                                                {{else}}
                                                                    <option value="{{value}}" selected>{{safeString value}}</option>
                                                                {{/if}}
                                                            </select>
                                                        </dd>
                                                    </dl>
                                                {{/each}}
                                                {{/ifEq}}
                                                {{#ifEq product.selectType 'FLAT'}}
                                                    <dl data-depth="0" name="optionSelectBox" origin="true">
                                                        <dt>{{safeString option.optionName}}</dt>
                                                        <dd>
                                                            <select can-change-option="true" disabled data-selected-value="{{option.optionValue}}">
                                                                <option value="{{option.optionValue}}" selected>{{safeString option.optionValue}} (+{{toCurrencyString option.price.addPrice}} 원){{#ifEq ../../displayStock true }} / 재고 : {{../option.stockCnt}}개{{/ifEq}}</option>
                                                            </select>
                                                        </dd>
                                                    </dl>
                                                {{/ifEq}}
                                                {{/if}}
                                            {{#each option.optionInputs}}
                                                <dl>
                                                    <dt>{{safeString inputLabel}}</dt>
                                                    <dd>
                                                        <input type="text" can-change-option="true" name="textOptionItem" data-label="{{inputLabel}}" data-reqired="{{#if required}}yes{{/if}}" value="{{safeString inputValue}}" disabled />
                                                    </dd>
                                                </dl>
                                            {{/each}}

                                        </div>
                                    </div>
                                </td>
                                <td class="td_order_amount">
                                            <span class="count">
                                                <span class="goods_qty">
                                                    <input type="text" can-change-option="true" name="orderCnt" class="text" title="수량" disabled value="{{option.orderCnt}}"/>
                                                        <span>
                                                            <button type="button" class="goods_cnt up" data-type="increase" title="증가" can-change-option="true" disabled value="up^|^0">증가</button>
                                                            <button type="button" class="goods_cnt down" data-type="decrease" title="감소" can-change-option="true" disabled value="dn^|^0">감소</button>
                                                        </span>
                                                </span>
                                            </span>
                                </td>
                                <td>
                                    <strong class="order_sum_txt price">{{{priceHtml}}}</strong>
                                    <p class="add_currency"></p>
                                </td>
                                <td class="td_benefit">
                                    <ul class="benefit_list">
                                        {{#if discountHtml}}
                                            <li class="benefit_sale">
                                                <em>할인</em><strong> : {{discountHtml}}</strong>
                                            </li>
                                        {{/if}}
                                        {{#if accumulationAmtHtml}}
                                            <li class="benefit_mileage">
                                                <em>적립</em><strong> : {{accumulationAmtHtml}}</strong><br>
                                                {{#ifLogined}}{{else}}(로그인 시 적립 가능){{/ifLogined}}
                                            </li>
                                        {{/if}}
                                    </ul>
                                </td>
                                <td>
                                    <strong class="order_sum_txt">{{{totalPriceHtml}}}</strong>
                                    <p class="add_currency"></p>
                                </td>
                                {{#if deliveryRowSpan}}
                                    <td class="td_delivery" rowspan="{{deliveryRowSpan}}">
                                        {{{deliveryHtml}}}
                                    </td>
                                {{/if}}
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            {{else}}
                <p class="no_data">장바구니에 담겨있는 상품이 없습니다.</p>
            {{/if}}
        </script>

        <header id="header"></header>
        <div id="contents" class="visible">
            <main class="sub_content">
                <div class="location_wrap">
                    <div class="location_cont">
                        <em><a href="/" class="local_home">HOME</a> &gt; 장바구니</em>
                    </div>
                </div>
                <div class="content_box">
                    <div class="order_wrap">
                        <div class="order_tit">
                            <h2>장바구니</h2>
                            <ol>
                                <li class="page_on">
                                    <span>01</span> 장바구니
                                    <span><img src="/assets/img/member/icon_join_step_on.png" alt="" /></span>
                                </li>
                                <li>
                                    <span>02</span> 주문서작성/결제<span><img src="/assets/img/member/icon_join_step_off.png" alt="" /></span>
                                </li>
                                <li><span>03</span> 주문완료</li>
                            </ol>
                        </div>

                        <div class="cart_cont">
                            <div class="cart_cont_list">
                                <div id="cartContents" data-template-id="cartContentsTemplate"></div>
                            </div>

                            <div class="btn_left_box" id="removeButtonArea">
                                {{#if hasProducts}}
                                <button type="button" class="btn_order_choice_del">선택 삭제</button>
                                {{/if}}
                            </div>
                            <div class="price_sum invisible" id="cartPriceArea">
                                <div class="price_sum_cont">
                                    <div class="price_sum_list">
                                        <dl>
                                            <dt>총 <strong>{{checkedCount}}</strong> 개의 상품금액</dt>
                                            <dd><strong>{{toCurrencyString price.standardAmt}}</strong>원</dd>
                                        </dl>
                                        <span><img src="/assets/img/order/order_price_minus.png" alt="뺀다" /></span>
                                        <dl>
                                            <dt>총 할인금액</dt>
                                            <dd><strong>{{toCurrencyString price.discountAmt}}</strong>원</dd>
                                        </dl>
                                        <span><img src="/assets/img/order/order_price_plus.png" alt="더하기" /></span>
                                        <dl>
                                            <dt>배송비</dt>
                                            <dd><strong>{{toCurrencyString price.totalPrePaidDeliveryAmt}}</strong>원</dd>
                                        </dl>
                                        <span><img src="/assets/img/order/order_price_total.png" alt="합계" /></span>
                                        <dl class="price_total">
                                            <dt>합계</dt>
                                            <dd><strong>{{toCurrencyString price.totalAmt}}</strong>원</dd>
                                        </dl>
                                    </div>
                                    {{#ifGt price.accumulationAmtWhenBuyConfirm 0}}
                                    <em class="tobe_mileage"><strong>예상 적립금</strong> : {{toCurrencyString price.accumulationAmtWhenBuyConfirm}}원</em>
                                    {{/ifGt}}
                                    <em class="tobe_mileage"></em>
                                </div>
                            </div>
                            <div class="order_box_area" id="orderBoxArea">
                                {{#if hasProducts}}
                                <div class="btn_order_box">
                                    <span class="btn_right_box">
                                        <button type="button" class="btn_order btn_order_choice_buy" data-order-type="part">
                                            선택 상품 주문
                                        </button>
                                        <button type="button" class="btn_order btn_order_whole_buy" data-order-type="all">
                                            전체 상품 주문
                                        </button>
                                    </span>
                                    <!-- 결제수단-->
                                    <div id="purchasePayment" class="pay_box">
                                        <div class="payco_pay"></div>
                                        <div class="naver_pay" id="naverPay"></div>
                                    </div>
                                </div>
                                <em class="chk_none">주문서 작성단계에서 할인/마일리지 적용을 하실 수 있습니다.</em>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <aside id="aside"></aside>
        <footer id="footer"></footer>
        <div id="popups-area"></div>

        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <script src="/js/pages/order/cart.js"></script>
    </body>
</html>
