<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
        <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="/lib/handlebar/handlebars.min-v4.7.6.js"></script>
        <script src="/lib/dayjs/dayjs.min-v1.10.5.js"></script>
        <script src="/lib/slick/slick.min.js"></script>
        <script src="https://fe-sdk.cdn-nhncommerce.com/another-skin/shopby-shop-sdk.js"></script>
        <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
        <script src="/js/core/shopby.js"></script>
        <title>비밀번호 찾기</title>
    </head>

    <body>
        <header id="header"></header>
        <div id="contents" class="visible">
            <div class="location_wrap">
                <div class="location_cont">
                    <em><a href="/" class="local_home">HOME</a> &gt; 비밀번호 찾기</em>
                </div>
            </div>
            <div class="content_box">
                <div class="member_wrap">
                    <div class="member_tit">
                        <h2>비밀번호 찾기</h2>
                    </div>
                    <!-- 1단계: 아이디 입력 -->
                    <div class="member_cont" id="userIdForm">
                        <div class="find_password_box">
                            <h3>아이디 입력</h3>
                            <p>비밀번호를 찾고자 하는 아이디를 입력해 주세요.</p>
                            <div class="login_input">
                                <div class="member_warning">
                                    <input type="text" id="memberId" name="memberId" placeholder="아이디" aria-required="true" class="valid" />
                                    <p class="info_again">
                                        아이디를 모르시나요?
                                        <a href="/pages/find-id/find-id.html" class="js_btn_find_id">아이디 찾기</a>
                                    </p>
                                    <div class="warning_message"></div>
                                </div>
                                <div class="btn_center_box">
                                    <button type="button" class="btn_member_next" id="btnMemberCertify">다음</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 2단계: 인증수단 선택 -->
                    <div class="member_cont hide" id="userCertification">
                        <div class="user_certify_box">
                            <div class="user_certify_tit">
                                <h3>인증수단 선택</h3>
                                <p>본인인증 방법을 선택해 주세요. <br />가입 시 등록한 정보로 인증번호가 발송됩니다.</p>
                            </div>
                            <div class="login_input">
                                <div class="form_element">
                                    {{#if isCertification}}
                                    <ul class="user_certify_list">
                                        {{#ifNe email ""}}
                                        <li>
                                            <input type="radio" id="authEmail" name="authType" value="EMAIL" checked />
                                            <label class="choice" for="authEmail">등록된 이메일로 찾기</label>
                                        </li>
                                        {{/ifNe}} {{#ifNe mobileNo ""}}
                                        <li>
                                            <input type="radio" id="authSms" name="authType" value="SMS" />
                                            <label class="choice" for="authSms">등록된 휴대폰번호로 찾기</label>
                                        </li>
                                        {{/ifNe}} {{#if isAuthPhoneConfig}}
                                        <li>
                                            <input type="radio" id="authPhone" name="authType" value="MOBILE" />
                                            <label class="choice" for="authPhone">본인인증하여 찾기</label>
                                        </li>
                                        {{/if}}
                                    </ul>
                                    {{else}}
                                    <div>
                                        인증 가능한 수단이 존재하지 않습니다. <br />
                                        비밀번호 찾기는 고객센터로 문의해주세요
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="btn_member_sec">
                                <ul>
                                    <li>
                                        <button type="button" id="btnMemberCertifyConfirm">다음</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- 3단계: 인증번호 입력 -->
                    <div class="member_cont hide" id="userCertificationConfirm">
                        <div class="find_password_box">
                            <h3>인증번호 입력</h3>
                            <p class="guide">수신된 {{authTypeText}}의 인증번호를 입력해 주세요.</p>
                            <div class="login_input">
                                <div class="member_warning">
                                    <input type="text" id="inputCertify" name="inputCertify" class="text" placeholder="인증번호 입력" />
                                    <span>유효시간 <span class="timer"></span></span>
                                    <div id="guideMsg" class="hide">
                                        <p class="info_again">
                                            인증번호가 도착하지 않았나요?
                                            <a href="#" class="btnAgain" id="btnCertifyAgain">인증번호 다시받기</a>
                                        </p>
                                    </div>
                                </div>
                                <div id="captcha"></div>

                                <div class="btn_center_box">
                                    <button type="button" id="btnCancel" class="btn_member_prev">이전</button>
                                    <button type="submit" class="btn_member_next" id="btnPasswordReset">확인</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 4단계: 비밀번호 변경 -->
                    <div class="member_cont hide" id="userPasswordChange">
                        <div class="find_password_reset_box">
                            <h3>비밀번호 변경</h3>
                            <p>새로운 비밀번호를 등록해 주세요.</p>
                            <div class="login_input" id="passwordForm">
                                <div class="js_input_pw">
                                    <div class="member_warning">
                                        <input
                                            type="password"
                                            id="password"
                                            name="password"
                                            class="require"
                                            autocomplete="new-password"
                                            minlength="8"
                                            maxlength="20"
                                            data-pattern="password"
                                            placeholder="영문,숫자,특수문자 모두 조합 8~20자"
                                        />
                                        <div class="warning_message"></div>
                                    </div>
                                </div>
                                <div class="js_input_pw">
                                    <div class="member_warning">
                                        <input
                                            type="password"
                                            id="passwordChk"
                                            name="passwordChk"
                                            class="require"
                                            autocomplete="off"
                                            minlength="8"
                                            maxlength="20"
                                            placeholder="새 비밀번호 확인"
                                        />
                                        <div class="warning_message"></div>
                                    </div>
                                </div>
                                <div class="btn_center_box">
                                    <button type="button" id="btnChangePassword" class="btn_member_ok">확인</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 5단계: 완료 -->
                    <div class="member_cont hide" id="completeFindPassword">
                        <div class="find_password_complete_box">
                            <p>비밀번호가 정상적으로 변경되었습니다.</p>
                            <div class="btn_center_box">
                                <button class="btn_comfirm js_btn_login" id="goLogin">로그인</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <aside id="aside"></aside>
        <footer id="footer"></footer>
        <script src="/js/pages/find-password/find-password.js"></script>
        <script type="text/javascript" src="/js/pages/naver-inflow/naverInflow.js"></script>
        <div id="popups-area"></div>
    </body>
</html>
